
/**
 * GLOBAL STYLE
 * 62HallFamily Version 2
 *
 * 1.0 - HELPER
**/



html, body {
    width: 100%;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/*HELPER*/
.inline-block {
    display: inline-block !important;
}
.div-table {
    display: table;
}
.div-table-cell {
    display: table-cell;
}
.full-width {
    width: 100%;
}
.valign-top {
    vertical-align: top;
}
.valign-middle {
    vertical-align: middle;
}
.valign-bottom {
    vertical-align: bottom;
}
.p-5 {
    padding: 5px;
}



/*TOP MENU*/
.navbar-top-menu.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.shopping-cart {
    padding-top: 0px;
    padding-bottom: 0px;
    top: 28px;
    padding-right: 0px !important;
}

.small-deal-menu {
    margin-top: 16px;
    margin-bottom: 16px;
}

.small-deal-container {

}
    .small-deal-container .small-deal-container-title {
        padding: 5px;
        background-color: #fff;
        color: #6D6D6D;
        font-weight: bold;
        text-transform: uppercase;
        border-top: 1px solid #6D6D6D;
        border-left: 1px solid #6D6D6D;
        border-right: 1px solid #6D6D6D;
    }

    .small-deal-menu .small-deal:nth-last-of-type(1) .small-deal-container .small-deal-container-title {
        border-bottom: 1px solid #6D6D6D;
    }

        .small-deal-container .small-deal-container-title.active {
            background-color: red;
            color: #fff;
            border-bottom: 1px solid #6D6D6D;
        }
    .small-deal-container .small-deal-container-content {
        padding: 16px 10px 16px 10px;
        display: none;
        min-height: 200px;
    }


    @media (max-width: 767px) {
        .no-padding-side-sm {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

/*css for owl carousel */
.owl-theme .owl-controls{
    margin-top:10px;
    text-align:center;
    -webkit-tap-highlight-color:transparent;
}
    .owl-theme .owl-controls .owl-nav [class*=owl-]{
        color:#fff;
        font-size:14px;
        margin:5px;
        padding:4px 7px;
        background:#d6d6d6;
        display:inline-block;
        cursor:pointer;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
    }
        .owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
            background:#869791;color:#fff;text-decoration:none;
        }
        .owl-theme .owl-controls .owl-nav .disabled{
            opacity:.5;cursor:default;
        }
        .owl-theme .owl-dots .owl-dot{
            display:inline-block;
            zoom:1;
            *display:inline;
        }.owl-theme .owl-dots .owl-dot span{
            width:10px;
            height:10px;
            margin:5px 7px;
            background:#d6d6d6;
            display:block;
            -webkit-backface-visibility:visible;
            -webkit-transition:opacity 200ms ease;
            -moz-transition:opacity 200ms ease;
            -ms-transition:opacity 200ms ease;
            -o-transition:opacity 200ms ease;
            transition:opacity 200ms ease;
            -webkit-border-radius:30px;
            -moz-border-radius:30px;
            border-radius:30px;
        }
        .owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
            background:#869791
        }

.product img {
    width: 165px !important;
    max-width: 100% !important;
    display: inline-block !important;
}

.owl-carousel .owl-item {
    display: inline-block !important;
    /* float: none !important; */
}
    .owl-carousel .owl-item .owl-item {
        width: 100%;
    }

.box-product {
    height: 290px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.menu-sm-wrapper {
    border: 1px solid #D5D5D5;
    margin-top: 30px;
    padding: 15px;
}

.owl-controls {
    display:none;
}

@media (max-width: 770px) {
    #menuimage-line1-container {
		display:none;
	}
    #menuimage-line2-container {
		display:none;
	}
    .owl-controls {
        display:block;
    }

}
@media (max-width: 400px) {
    #menuimage-line1-container {
        width: 100%;
        text-align: center;
        padding-right: 15px !important;
    }
    .menu-product img {
        width: 165px !important;
    }
    #product-line1-container {
        width: 100%;
    }
    #menuimage-line2-container {
        width: 100%;
        text-align: center;
        padding-right: 15px !important;
    }
    #product-line2-container {
        width: 100%;
    }
}