
/**
 * GLOBAL STYLE GOLD
 * 62HallFamily
 *
 * 1.0 - SIDEBAR
 * 
 */

/**
 * 1.0 - SIDEBAR
 */
.sidebar{
    border: 2px solid #dddddd;
    border-radius: 3px;
    padding: 2px;
}

    .sidebar .header{
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
    }
    
    .sidebar table{
        border: 2px solid #ffffff !important;
    }
    
    .sidebar th{
        background: #f5f5f5;
        height: 30px;
        text-align:center;
        text-transform: uppercase;
        border: 2px solid #ffffff !important;
    }
    
    .sidebar td{
        padding: 3px !important;
        border: 2px solid #ffffff !important;
    }
    
    .sidebar .label{
        padding: 5px;
    }
    
    .sidebar table .bg-red{
        background: #c60f13;
    }
    
    .sidebar contact-title{
        font-size: 18px;
    }
    
   