/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 2, 2016, 11:33:50 AM
    Author     : ITtron-User
*/
.box-in{
        margin-top : -99px;
    }
    
.box-pulsa{
   background: url("/application/62hallfamily/default/media/img/pulsa/box.jpg");
    width: 695px;
    height: 404px;
    display: inline-block;
    background-repeat: repeat;
    background-size: 100%;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.34);
}
@media (max-width:758px){
    .box-pulsa{
        width: 100%;
        
    }
   
}
@media (max-width:980px){
     #logo-provider{
        position: absolute;
        top: 106px;
        right: -279px;
    }
}
@media (max-width:768px){
     .box-in{
        margin-top: 0px;
    }
}
.box-pulsa > .nav-tabs{
        height: 104px;
        border-bottom: transparent;
}
.box-pulsa > .nav-tabs > li{
        width: 50%;
        height: 100%;
        /*background: white;*/
}
.box-pulsa > .nav-tabs > li > a {
        width: 100%;
        height: 100%;
        background-color: #eee;
        padding: 7px;
        text-decoration: none;
        font-weight: bold;
        color: #bcbec0;
}

.box-pulsa > .nav-tabs>li.active>a, 
.box-pulsa > .nav-tabs>li.active>a:focus, 
.box-pulsa > .nav-tabs>li.active>a:hover {
    color: #20bc59;
    cursor: default;
    background-color: transparent;
    border: transparent;
    border-bottom-color: transparent;
    padding: 7px;
    font-weight: bold;
}
.box-pulsa > .nav-tabs>li.active > a ,
.box-pulsa > .nav-tabs>li.active > a > .icon-pulsa{
    background-position: -318px -617px;
    display: inline-block;
        
   }
.box-pulsa > .nav-tabs>li.active > a ,
.box-pulsa > .nav-tabs>li.active > a > .icon-game{
    background-position: -188px -617px;
    display: inline-block;
        
   }
.input-box{
    margin: 35px;
    position: relative;
    width: auto;
}
.input-box > .form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 5px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-box > .form-control:focus {
    color:black;
    border-color: rgb(32, 188, 89);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 8px rgba(254, 254, 254, 0);
}
/*.pulsa-input-text{
    font-size: 16px;
    height: 36px;
    color: rgb(81, 81, 81);
    width: 100%;
    background-color: transparent;
    display: block;
    padding: 17px 6px;
    border-width: 0px 0px 1px;
    border-bottom: 1px solid rgb(211, 211, 211);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pulsa-input-text:focus{
    outline: none;
    font-size: 16px;
    height: 36px;
    color: rgb(81, 81, 81);
    width: 100%;
    background-color: transparent;
    display: block;
    padding: 17px 6px;
    border-width: 0px 0px 1px;
    border-bottom: 2px solid rgb(32, 188, 89);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/
.icon-pulsa{
    background: url("../../img/pulsa/sprite-pulsa.png") -9px -617px;
    width: 50px;
    height: 58px;
    display: inline-block;
}
.icon-game{
    background: url("../../img/pulsa/sprite-pulsa.png") -101px -617px;
    width: 69px;
    height: 58px;
    display: inline-block;
}
.prov-telkomsel{
    background: url("../../img/pulsa/sprite-provider.png") -415px -127px;
    width: 175px;
    height: 53px;
    display: inline-block;
}
.prov-xl{
    background: url("../../img/pulsa/sprite-provider.png") -642px -41px;
    width: 71px;
    height: 53px;
    display: inline-block;
}
.prov-kartu3{
    background: url("../../img/pulsa/sprite-provider.png") -884px -41px;
    width: 71px;
    height: 53px;
    display: inline-block;
}
.prov-isat{
    background: url(../../img/pulsa/sprite-provider.png) -1786px -41px;
    width: 95px;
    height: 53px;
    display: inline-block;
}
.prov-axis{
    background: url(../../img/pulsa/sprite-provider.png) -60px -127px;
    width: 95px;
    height: 53px;
    display: inline-block;
}.prov-ceria{
    background: url(../../img/pulsa/pulsa-ceria.png) -36px 396px;
    width: 146px;
    height: 54px;
    display: inline-block;
}

.input-box > .select-pulsa{
    font-size: 16px;
    height: 36px;
    padding: 1px;
    color: rgb(81, 81, 81);
    width: 100%;
    background-color: transparent;
    border-width: 0px 0px 1px;
    border-bottom: 1px solid rgb(211, 211, 211);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-box > .select-pulsa:focus{
    font-size: 16px;
    height: 36px;
    color: rgb(81, 81, 81);
    width: 100%;
    border-bottom: 2px solid rgb(32, 188, 89);
    background-color: transparent;
    border-width: 0px 0px 1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-paynow{
    color: #fff;
    background-color: #20bc59;
    border: 3px solid #20bc59;
    padding: 0px 47px 0px;
}
.btn-paynow:hover {
    background-color: #fff;
    color: #20bc59;
}

.provider-logo {
    bottom: 15px;
    max-height: 35px;
    position: absolute;
    right: 0;
}
.provider-logo > .img-logo{
/*        display: inline;
    position: absolute;
    top: 25px;
    right: 289px;
    max-height: 35px;*/
}
.title-logo{
    font-size: 32px;
    color: #59595b;
}

.box-pulsa > .tab-list > .col-md-12 > .row {
    padding: 0 15px;
}
.box-pulsa ul.nav-pills {
    display: flex;
}
    /* one item */
    .box-pulsa ul.nav-pills > li:first-child:nth-last-child(1) {
        width: 100%;
    }
    /* two items */
    .box-pulsa ul.nav-pills > li:first-child:nth-last-child(2),
    .box-pulsa ul.nav-pills > li:first-child:nth-last-child(2) ~ li {
        width: calc(100% / 2);
    }
    /* three items */
    .box-pulsa ul.nav-pills > li:first-child:nth-last-child(3),
    .box-pulsa ul.nav-pills > li:first-child:nth-last-child(3) ~ li {
        width: calc(100% / 3);
    }

    /* four items */
    .box-pulsa ul.nav-pills > li:first-child:nth-last-child(4),
    .box-pulsa ul.nav-pills > li:first-child:nth-last-child(4) ~ li {
        width: calc(100% / 2);
    }
    .box-pulsa ul.nav-pills > li {
        display: block;
        margin: 0;
        padding: 0;
        /*width: 50%;*/
    }
    
    .box-pulsa ul.nav-pills > li > a {
        background: #eee;
        font-weight: bold;
        color: #BCBEC0;
    }
    .box-pulsa ul.nav-pills > li.active > a,
    .box-pulsa ul.nav-pills > li > a:hover {
        color: #20bc59;
    }
    .box-pulsa ul.nav-pills > li.active > a {
        background: unset;
    }
    
    .box-pulsa ul.nav-pills > li.active > a ,
    .box-pulsa ul.nav-pills > li.active > a > .icon-pulsa{
        background-position: -318px -617px;
        /*display: inline-block;*/
    }
    .box-pulsa ul.nav-pills > li.active > a ,
    .box-pulsa ul.nav-pills > li.active > a > .icon-game{
        background-position: -188px -617px;
        /*display: inline-block;*/
    }
