
/**
 * GLOBAL STYLE PRODUCT
 * 62HallFamily
 *
 * 1.0 - MENU PRODUCT
 * 2.0 - DEAL PRODUCT
 * 3.0 - PRODUCT
 * 4.0 - BANNER / ADVERTISE
 * 5.0 - PICKED FOR YOU
 * 6.0 - GALLERY PRODUCT
 * 7.0 - CATEGORY MENU
 * 8.0 - PRODUCT GALERY
 * 9.0 - CATEGORY ADVERTISE
 * 10.0 - DETAIL INFO
 * 11.0 - DETAIL PRODUCT
 * 
 */

/**
 * 1.0 - MENU PRODUCT
 */    

@media (max-width: 767px){
    /*#menuimage-line2-container {
        display:none;
    }
    #menuimage-line1-container {
        display:none;
    }*/
}
@media (max-width: 991px){
    .menu-product .bold.font-red.font-big.d-pull-right {
        float:none;
        display:block;
        white-space:nowrap;
    }
    .menu-product .d-pull-right {
        float:none;
        display:none;
    }
    .menu-product .d-text-right {
        text-align:left;
       
    }
    .menu-product .select-category-menu {
        display:block;
        margin-bottom: 5px;
    }   
}
@media (min-width: 992px){
.menu-product{
    min-height:536px;
}
.menu-product .bold.font-red.font-big.d-pull-right {
        float:right;
        display:block;
    }
    
    .menu-product .d-pull-right {
        float:right;
        display:block;
    }
    .menu-product .d-text-right {
        text-align:right;
       
    }
    
    .menu-product .select-category-menu {
        display:none;
    }
}

    .menu-product .menu-link:hover span {
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
    }

    .menu-product .active span{
        font-weight: bold;
        text-decoration: underline;
    }

    .menu-product .menu-link:active{
        color: #ff8f02;
        text-decoration: none;
    }

    .menu-product img{
        width: 100%;
    }


    
/**
 * 2.0 - DEAL PRODUCT
 */
#product-deal {
    min-height:310px;
}
#product-deal.loading  {
    min-height:310px;
    position:relative;
}
#product-deal .carousel-indicators{
    display:none;
}
.deal{
    
}
    .deal .deal-menu{
        height: 20px;
    }

    .deal .deal-menu a{
        text-decoration: none;
    }

    .deal .font-gray{
        color: #707070;
    }

    .deal .active{
        color: #fe0100 !important;
        font-weight: bold !important;
    }

    .deal-border{
        border-top: 4px solid #fe0000;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 10px;
    }

    .deal-product-border{
        border-top: 2px solid #dddddd;
        padding-top: 20px;
    }
    
    .deal .product .promo{
        position :absolute;
        width: 45px;
        height: 45px;
        background: url(../../img/62hallfamily/sprite_icon.png) -8px -134px;
        top: 0px;
        right: 16px;
    }
     
/**
 * 3.0 - PRODUCT
 */

.product{
}
    .product .padding{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .product .font-gray{
        color : #707070;
    }
    
    .product .promo{
        position :absolute;
        width: 45px;
        height: 45px;
        background: url(../../img/62hallfamily/sprite_icon.png) -8px -134px;
        top: 0px;
        right: 10px;
    }
    
    .product .remain{
        position :absolute;
        width: 60px;
        height: 20px;
        bottom: 55px;
        left: 15px;
        background: #6d6e72;
        padding: 3px;
    }

    .product .promo .promo-text{
        top: 5px;
        margin-right: 2px;
        text-align: right;
        font-size: 10px;
    }
    
    .product img{
        width: 165px;
        height: 213px;
        /* border: 1px solid #929292; */
        padding: 0px;
    }
    
    .product .name{
        /*display: inline-block;*/
        display: table;
        width: 100%;
        height: 35px;
        vertical-align: bottom !important;
        border-bottom: 1px solid #929292;
    }
        .product .name > div {
            display: table-cell;
            vertical-align: bottom;
        }
    
    .product .flag-red{
        width: 28px;
        height: 25px;
        float: left;
        padding-left: 0px;
        background: url(../../img/62hallfamily/sprite_icon.png) -39px -35px;
    }
    
    .product .flag-yellow{
        width: 28px;
        height: 25px;
        float: left;
        padding-left: 0px;
        background: url(../../img/62hallfamily/sprite_icon.png) -8px -35px;
    }
    
    .product .flag-label{
        top: 10px;
        left: 3px;
        font-size: 10px;
    }
    
    .product .price{
        float: right;
        text-align: right;
    }

    #page-product-category .product .promo{
        position :absolute;
        width: 45px;
        height: 45px;
        background: url(../../img/62hallfamily/sprite_icon.png) -8px -134px;
        top: 0px;
        right: 18px;
    }
@media (max-width: 375px){
    /*.product img{
        width: 100px;
        height: 123px;
    }*/
}
@media (max-width: 359px){
    .product img{
        width: 165px;
        height: 213px;
    }
    .product-container.col-xs-6 {
        width: 100%;
    }
}

    
.colour{
    display: inline-block;
    width : 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

    
.title-slide-product{
    
}

.title-slide-product a:hover{
    text-decoration: none;
    color: #fe0100;
}

/**
 * 4.0 - BANNER/ ADEVERTISE
 */
.banner{
    
}

    .banner img{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
.banner{
    
}

    .banner img{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

/**
 * 5.0 - PICKED FOR YOU
 */

.picked-for-you{
    
}

#picked-for-you .carousel-indicators {
    display:none;
}


.picked-for-you .right .carousel-control{
    background: none;
}

.picked-for-you .left .carousel-control{
    background: none;
}

/**
 * 6.0 - GALERY PRODUCT
 */

#product-carousel img{
	height:80px;
	background:#fff;
	cursor:pointer;
	opacity:0.5;
	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	-ms-opacity:0.5;
	-o-opacity:0.5;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
}

#product-carousel li{
    margin-right: 10px;
}

#product-carousel img.active-item, #product-carousel img:hover{
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
        border:1px solid #dedede;
}

#product-carousel{
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	position:relative;
}

.product-arrows>div{
	display:inline-block;
	width:40px;
	height:40px; 
	background:#fff;
	padding-top:10px;
	text-align:center;
	position:absolute;
	top:0;
	right:0;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
	cursor:pointer;
}

.product-arrows>div:hover{
	color: #fe0100 !important;
}

.product-arrows .left-arrow{
	top:30px;
        left:-10px;
}

.product-arrows .right-arrow{
	top:30px;
	right:-10px;
}

/**
 * 7.0 - CATEGORY MENU
 */

.category-menu{
    
}

    .category-menu .header{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .category-menu .menu-category{
        margin-top: 10px;
    }
    
    .category-menu .head-menu-category{
        cursor: pointer;
    }
    
    .category-menu .submenu-category{
        font-weight: normal ;
    }
    
    .menu-category a{
        color: #656565;
    }
    
    .menu-category a:hover{
        color: black;
    }
    
    .menu-category .active{
        color: #000;
        text-decoration: underline;
    }
    
    .submenu-category .active{
        text-decoration: none;
        color: #fe0100;
    }
    
/**
 * 8.0 - PRODUCT GALERY
 */

.product-gallery{
    
}

    .product-gallery img{
        width: 63px;
        height: 105px;
    }
    
     
/**
 * 9.0 - CATEGORY ADVERTISE
 */

.category-advertise{
    width: 99%;
}

.category-advertise img{
    width: 33%;
}


/**
 * 10.0 - DETAIL INFO
 */
.detail-info{
    width: 100%;
}

    .detail-info .tombol{
        padding: 5px 10px;
        color: #fff;
    }
    
    .detail-info .container-detail{
        padding:10px;
    }
    
    
/**
 * 11.0 - DETAIL PRODUCT
 */
.detail-product{
}

    .colors .active{
        border: 2px solid #f60100;
    }
    
    @media (min-width: 641px){
    #product-line2-container,#menuimage-line2-container {
        min-height:532px;
    }
    
    #product-line1-container, #menuimage-line1-container {
        min-height:532px;
    }
    
    }