@import 'https://fonts.googleapis.com/css?family=Arima+Madurai';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face {
    font-family: Caviar Dream Bold;
    src: url('../../font/caviar/CaviarDreamsBold.ttf');
}
@font-face {
    font-family: Karla Regular;
    src: url('../../font/caviar/Karla-Regular.ttf');
}
@font-face {
    font-family: Karla Bold;
    src: url('../../font/caviar/Karla-Bold.ttf');
}
@font-face {
    font-family: Prelove;
    src: url('../../font/Font-Prelove.ttf');
}
//font-family: 'Arima Madurai', cursive;
/**
 * GLOBAL STYLE
 * 62HallFamily
 *
 * 1.0 - BASE STYLE
 * 2.0 - HEADER
 *      2.1 - GREEN CATEGORY
 * 3.0 - HELPER
 *      3.1 - NAVIGATION BAR
 *      3.2 - DROPDOWN
 * 4.0 - ELEMENT
 *      4.1 - FONTS
 *      4.2 - BORDER
 *      4.3 - MARGIN - PADDING
 *      4.4 - ICON
 *      4.5 - OVERVIEW
 *      4.6 - FORM REQUEST
 *      4.7 - PRODUCT LOCAL
 *			4.7.1 - DETAIL PRODUK LOKAL
 *      4.8 - PRODUCT GROSIR
 *			4.8.1 - DETAIL PRODUK GROSIR
 *      4.9 - HOME DEAL
 *      4.10 - PRODUCT VOUCHER
 *      4.11 - PRODUCT EVENT
 * 5.0 - FORM
 * 6.0 - TABLES
 * 7.0 - BUTTONS
 * 8.0 - MODAL
 * 9.0 - FOOTER
 * 10.0 - SPESIFIC
 *      10.1 - MENU
 *      10.2 - AUTH /LOGIN /REGISTER /MEMBER
 *      10.3 - TABS
 *      10.4 - MESSAGE
 *      10.5 - SHOPPING CART
 *      10.6 - SLIDESHOW
 *      10.7 - PUBLICATION
 *      10.8 - TESTIMONIAL
 *      10.9 - PRODUCT INFORMATION
 * 11.0 - WIDTH
 * 12.0 - ALIGN
 * 13.0 - FILTER
 *		13.1 - FILTER FORM
 *			13.1.1 - FILTER TEXTFIELD
 * 14.0 - SCROLL
 * 15.0 - RESPONSIVE MOBILE
 * 16.0 - DISPLAY
 */
/**
 * 1.0 - BASE STYLE
 */

.bg-gray{
    background: #f8f8f8 !important;
}

.bg-gray-dark{
    background: #dddddd;
}

.bg-gray-dark-young{
    background: #f0f0f0;
}

.bg-white{
    background: #fff;
}

.bg-black{
    background-color: black !important;
}

.bg-red{
    background: #f60100 !important;
}

.bg-yellow{
    background: #ff9002;
}

.bg-green{
    background: #5da424;
}

.bg-blue{
    background: #00adef;
}


red{
    color: #fe0100;
}

.link{
    cursor: pointer;
}

.margin-top-nospace{
    margin-top: 0cm;
}
.margin-bottom-nospace{
    margin-bottom: 0cm;
}

.clear-both {
    clear:both;
}

.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0.2; }
}

p {
    word-wrap: break-word;
}
/**
 * 2.0 - HEADER
 */
header{

}

    header .navbar-toggle{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 5px;
        font-size: 18px;
    }

    header .sosial-media{
        width : 25px;
        height : 25px;
        padding : 5px;
        text-align: center;
        margin : 3px;
        background: #fff;
        color : #000;
        border-radius : 50%;
    }

    img.logo.brand {
        width:250px;
        height:90px;
    }

    img.logo.brand {
        width:250px;
        height:90px;
    }
    #logo {
        min-height: 90px;
    }

    .search-box {
        display: none;
    }

    .search-box .search-box-style {
        background-color: #615E5E;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .search-box .search-box-btn-submit {
        width: 25px;
    }

    @media (max-width:440px) {
        img.logo.brand {
            width:160px;
            height:58px;
            margin-top:15px;
        }
    }

    @media (max-width:250px) {
        img.logo.brand {
            width:150px;
            height:50px;
            margin-top:23px;
        }
    }

    .bgmall-div-login {
        text-align: right;
        margin-top: 28px;
    }
        .bgmall-div-login .bgmall-btn-login {
            color: #fff;
            background-color: #f60100;
            display: inline-block;
            padding: 5px 15px;
            border: 3px solid #f60100;
        }
        .bgmall-div-login .bgmall-btn-login:hover {
            background-color: #fff;
            color: #f60100;
        }

    /*2.0 - HEADER
        2.1 - GREEN CATEGORY*/
        .green-category-wrapper{
            width:100%;
            background: #20bc59;
        }
        .container-filter-category.green{
                font-family:'Karla Regular';
        }
        .green-category-wrapper .ul-green-category{
            list-style: none;
            text-align: center;
        }
        .green-category-wrapper .ul-green-category li{
            display: inline-block;
        }
        .green-category-wrapper .ul-green-category li.active{
            background:#fff;
        }
        .green-category-wrapper .ul-green-category li.active a{
            color:#20bc59;
            font-weight: bold;
        }
        .green-category-wrapper .ul-green-category li a{
            text-decoration: none;
            color:#ffffff;
            display: block;
            padding:10px 15px;
            font-size: 14px;
        }
/**
 * 3.0 - HELPER
 */


/**
 * 3.1 - NAVIGATION BAR
 */
.nav .navbar-nav{
    height: 20px;
}

.navbar-collapse .dropdown a{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-collapse .dropdown a:hover{
    background: #f60100;
    color: #fff;
}

.navbar-collapse .navbar-nav .dropdown .dropdown-menu{
    background: #fff;
    border-top: 4px solid #f60100;
    border-bottom: 4px solid #f60100;
    border-radius: 0px;
}

.navbar-collapse .dropdown .dropdown-menu a:hover{
    background: none;
    text-decoration: none;
    color: #f60100;
}

.navbar-collapse .navbar-nav .dropdown .status-pesanan{
    min-width: 250px;
    padding: 10px;
    position: absolute;
    left: auto;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    z-index: 10000;
}

.nav > .dropdown > a:focus {
    background: #000 !important;
}

.nav > .dropdown > a:hover, .dropdown-toggle:active, .open .dropdown-toggle, .dropdown-toggle:after, .dropdown-toggle:visited {
    background: #f60100 !important;
}

.menu > .container > .row-fluid > .nav > .dropdown > a:focus {
    background: #f60100 !important;
}
/**
 * 3.2 - DROPDOWN
 */
.dropdown a:hover{
    background: #f60100;
    color: #fff;
}

/*.dropdown-toggle:active, .open .dropdown-toggle, .dropdown-toggle:after, .dropdown-toggle:visited
{
    background:#f60100 !important;
    color: #fff !important;
}*/

.dropdown-submenu {
    position: relative;
}


.dropdown-submenu>.dropdown-menu {
    left: 100%;
    margin-top: 0px !important;
    margin-left: 0px !important;
    border: none !important;
}

.dropdown-submenu.dropdown-submenu-click:hover > .dropdown-menu {
    display:none;
}

.dropdown-submenu.dropdown-submenu-click.open > .dropdown-menu {
    display:block !important;
}

/**
 * 4.0 - ELEMENT
 */
/**
 * 4.1 - FONTS
 */
.font-small{
    font-size: 11px;
}

.font-big{
    font-size: 16px;
}

.font-size10{
    font-size: 10px;
}

.font-size11{
    font-size: 11px !important;
}

.font-size12{
    font-size: 12px !important;
}

.font-size14{
    font-size: 14px !important;
}

.font-size18{
    font-size: 18px !important;
}

.font-size20{
    font-size: 20px !important;
}

.font-size23{
    font-size: 23px !important;
}

.font-size22{
    font-size: 22px !important;
}

.font-size24{
    font-size: 24px !important;
}

.font-size32{
    font-size: 32px !important;
}



.font-gray{
    color : #b5b5b5;
}

.font-white{
    color : #fff !important;
}

.font-black{
    color: #59595b !important;
}

.font-yellow{
    color : yellow;
}

.font-red{
    color: #fe0100 !important;
}

.font-green{
    color: #61c36c;
}

.font-gray-dark{
    color: #656565;
}

.font-gray-soft{
    color : #ccc;
}

.normal{
    font-weight: normal !important;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.upper{
    text-transform: uppercase;
}

/**
 * 4.2 - BORDER
 */
.border-top-red{
    border-top: 4px solid #fe0000;
}

.border-bootom-red{
    border-bottom: 4px solid #fe0000;
}

.border-top-gray{
    border-top: 2px solid #dddddd;
}

.border-bottom-gray{
    border-bottom: 2px solid #dddddd;
}

.border-left-gray{
    border-left: 2px solid #dddddd;
}

.border-right-gray{
    border-right: 2px solid #dddddd;
}

.border-1{
    border: 1px solid #d5d5d5;
}

.border-3-red{
    border: 3px solid #fe0100 !important;
}

.border-3-blue{
    border: 3px solid #00aeef !important;
}

.border-3-green{
    border: 3px solid #5da424 !important;
}

.border-gray-dark-1{
    border: 1px solid #929292 !important;
}

.border-top{
    border-top: 1px solid #d5d5d5;
}

.border-bottom{
    border-bottom: 1px solid #d5d5d5;
}

.border-left{
    border-left: 1px solid #d5d5d5;
}

.border-right{
    border-right: 1px solid #d5d5d5;
}

.border-none{
    border: none !important;
}

/**
 * 4.3 - MARGIN - PADDING
 */
.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-20{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.padding-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-40{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.padding-50{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.padding-left-right0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.padding-left-right10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-left30{
    padding-left: 30px !important;
}

.padding-right0{
    padding-right: 0px !important;
}

.padding-right-0{
    padding-right: 0px !important;
}

.padding-left-0{
    padding-left: 0px !important;
}

.padding-left-10{
    padding-left: 10px !important;
}

.padding-right-10{
    padding-right: 10px !important;
}

.padding-right-30{
    padding-right: 30px !important;
}

.padding-left-right{
    padding-left: 10px;
    padding-right: 10px;
}

.padding-left-right15{
    padding-left: 15px;
    padding-right: 15px;
}

.padding-left-right20{
    padding-left: 20px;
    padding-right: 20px;
}

.padding-left-right30{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.padding-top-10{
    padding-top: 10px !important;
}

.padding-top-20{
    padding-top: 20px !important;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-0{
    padding: 0px !important;
}

.padding10{
    padding: 10px;
}


.margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-0{
    margin: 0px !important;
}

.margin-left-0{
    margin-left: 0px !important;
}

.margin-left-30{
    margin-left: 30px !important;
}

.margin-top-bottom-0{
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-top-bottom-0-i{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

margin-all-10{
    margin: 10px;
}

.margin-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-right-30{
    margin-right: 30px;
}

.margin-top-3-{
    margin-top: -3px !important;
}

.margin-top-10-{
    margin-top: -10px !important;
}

.margin-top-15-{
    margin-top: -15px !important;
}

.margin-left-15-{
    margin-left: -15px !important;
}

.margin-left-90-{
    margin-left: -90px !important;
}

.margin-right-90-{
    margin-right: -90px !important;
}

.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}

.text-top{
    vertical-align: top;
}

/**
 * 4.4 - ICON
 */

.icon-shopping-cart{
    width: 45px;
    height: 35px;
    background : url(../../img/62hallfamily/sprite_icon.png) -8px -74px;
}

.icon-tablet{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -106px -4px;
}

.icon-camera{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -137px -4px;
}

.icon-shirt{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -168px -4px;
}


.icon-toys{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -202px -4px;
}

.icon-clock{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -234px -4px;
}

.icon-tv{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -264px -4px;
}

.icon-car{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -298px -4px;
}

.icon-dompet{
    width: 48px;
    height: 48px;
    background : url(../../img/62hallfamily/cod.png) no-repeat;
	margin:auto;
}

.icon-gedung-gray{
    width: 48px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -159px -132px;
	margin:auto;
}

.icon-cicilan{
    width: 48px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -232px -132px;
	margin:auto;
}

.icon-visa-mastercard{
    width: 120px;
    height: 48px;
    background : url(../../img/62hallfamily/visa-master-card.png) no-repeat;
}

.icon-visa{
    width: 72px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -164px -616px;
}

.icon-mastercard{
    width: 78px;
    height: 46px;
    background : url(../../img/62hallfamily/sprite_icon.png) -242px -616px;
}

.icon-bca-klikpay{
    width: 222px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -22px -487px;
}

.icon-mandiri{
    width: 148px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -176px -298px;
}

.icon-bca{
    width: 140px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -22px -298px;
}

.icon-kinerjawallet{
    width: 120px;
    height: 48px;
    background: url(../../img/62hallfamily/kinerjawallet.png) no-repeat;
}

.icon-permata-va{
    width: 120px;
    height: 48px;
    background: url(../../img/62hallfamily/permatabank.jpg) no-repeat;
}

.icon-permata{
    width: 150px;
    height: 48px;
    background: url(../../img/62hallfamily/permatabankico.png) no-repeat;
}

.icon-bukopin{
    width: 148px;
    height: 48px;
    background: url(../../img/62hallfamily/bukopin.png) no-repeat;
}

.icon-danamon{
    width: 148px;
    height: 48px;
    background: url(../../img/62hallfamily/danamon.png) no-repeat;
}

.icon-cimb-niaga{
    width: 148px;
    height: 48px;
    background: url(../../img/62hallfamily/cimb_niaga.png) no-repeat;
}

.icon-bii{
    width: 148px;
    height: 48px;
    background: url(../../img/62hallfamily/bii.png) no-repeat;
}

.icon-bri{
    width: 150px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -274px -425px;
}

.icon-uob{
    width: 148px;
    height: 48px;
    background : url(../../img/62hallfamily/uob.png) no-repeat;
}


.icon-verified-visa{
    width: 98px;
    height: 43px;
    background : url(../../img/62hallfamily/sprite_icon.png) -22px -425px;
}

.icon-mastercard-securecode{
    width: 112px;
    height: 43px;
    background : url(../../img/62hallfamily/sprite_icon.png) -126px -425px;
}

.icon-mandiri-ib{
    width: 120px;
    height: 48px;
    background: url(../../img/62hallfamily/mandiri_ib.png) no-repeat;
}

.icon-paypal{
    width: 120px;
    height: 48px;
    background: url(../../img/62hallfamily/paypal.png) no-repeat;
}

.icon-speedcash{
    width: 120px;
    height: 48px;
    background: url(../../img/62hallfamily/speedcash.png) no-repeat;
}

.icon-deposit{
    width: 120px;
    height: 48px;
    background: url(../../img/62hallfamily/deposit.png) no-repeat;
}

.icon-deposit-lucky{
    width: 120px;
    height: 48px;
    background: url(../../img/62hallfamily/deposit_lucky.png) no-repeat;
}

/* icon red*/
.icon-red{
}

.icon-company-red{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -331px -5px;
}

.icon-phone-red{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -363px -5px;
}

.icon-bbm-red{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -395px -5px;
}

.icon-wa-red{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -428px -5px;
}

.icon-email-red{
    width: 20px;
    height: 20px;
    background : url(../../img/62hallfamily/sprite_icon.png) -460px -5px;
}

.icon-trash-red{
    width: 25px;
    height: 25px;
    background : url(../../img/62hallfamily/sprite_icon.png) -21px -255px;
}

.icon-facebook-red{
    width: 48px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -311px -132px;
}

.icon-twitter-red{
    width: 48px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -386px -132px;
}

.icon-instagram-red{
    width: 48px;
    height: 48px;
    background : url(../../img/62hallfamily/sprite_icon.png) -462px -132px;
}
.icon-google-red{
    width: 48px;
    height: 48px;
    background : url(../../img/social-media/google_plus.png);
}

/**
 * 4.5 - OVERVIEW
 */

.horizontal-overflow{
    overflow-y: scroll !important;
}

.vertical-overflow{
    overflow-x: scroll !important;
}

/**
* 4.6 - FORM REQUEST
*/
.form-request {
    text-align: center;
    background-color: #f5f5f5;
    padding: 15px 25px;
}
.form-request  input[type="text"] {
    margin: 5px 0px;
    border-radius: 0px;
}
    .form-request input[type="text"]:focus {
        border: 1px solid red;
        box-shadow: none;
    }

.wrapper-request-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper-request-form .img-request-form {
    width: 350px;
}
.wrapper-request-form .left-container {
    text-align: center;
    padding-top: 20px;
}

/*4.7 - PRODUCT LOCAL*/
.produk-lokal{
	font-family:'Karla Regular';
	margin-top:30px;
}
	.produk-lokal .lokal-prod-card-wrapper > a{
		text-decoration:none;
		outline:none;
	}
	.produk-lokal .home-deal-lokal .deal-title{
		font-family:'Caviar Dream Bold';
		font-size:24px;
		text-align:center;
		margin:20px 0px;
	}
	.produk-lokal .lokal-prod-card-wrapper:focus,
	.produk-lokal .lokal-prod-card-wrapper:hover{
		border:solid 1px #32D6BC;
		text-decoration:none;
	}
	.produk-lokal .lokal-prod-card-wrapper{
		margin: 0px 10px;
		border:solid 1px #dedede;
	}
	.produk-lokal .lokal-prod-card-wrapper .prod-info{
		text-align:center;
		padding:10px 0px;
		text-decoration:none;
	}
	.produk-lokal .lokal-prod-card-wrapper .prod-name{
		font-size:14px;
		color:#333;
		margin-bottom:5px;
		height:60px;
		padding:0px 8px;
	}
	.produk-lokal .lokal-prod-card-wrapper .prod-price-lbl{
		color:#888;
	}
	.produk-lokal .lokal-prod-card-wrapper .prod-price{
		color:#EC1E27;
		font-weight:bold;
		font-size:24px;
	}
	.produk-lokal .slick-prev:before, .produk-lokal .slick-next:before {
        font-family: Prelove;
        color: #888 !important;
        font-size: 21px;
		opacity:1;
    }
    .produk-lokal .slick-prev.slick-disabled:before, .produk-lokal .slick-next.slick-disabled:before {
        color: #DEDEDE !important;
		opacity:1;
    }
    .produk-lokal .slick-prev:before {
        content: "\61";
    }
    .produk-lokal .slick-next:before {
        content: "\62";
    }
    .produk-lokal .slick-prev {
        top: -35px;
		left: 300px !important;
    }
    .produk-lokal .slick-next {
        top: -35px;
		right: 300px !important;
    }
.lokal-result{
	padding:0 29px;
}
.lokal-result .row > div{
	padding:0px;
}

/*4.8 - PRODUCT GROSIR*/
.product-grosir{
    font-family: 'Karla Regular';
}

/*4.9 - HOME DEAL*/
.home-deal {
	margin-bottom:40px;
}
	.home-deal .deal-title{
		text-align:center;
		font-size:25px;
		margin-bottom:21px;
	}
	.home-deal .deal-title:after{
		content : '';
		display:block;
		width:100px;
		border-bottom: solid 2px #20bc59;
		margin:0 auto;
		margin-top:5px;
	}
	/*grosir terbaru*/
	.home-deal.grosir-terbaru .slick-next{
		right:420px !important;
		top:-42px
	}
	.home-deal.grosir-terbaru .slick-prev{
		left:420px !important;
		top:-42px;
	}
	/*grosir terlaris*/
	.home-deal.grosir-terlaris .slick-next{
		right:420px !important;
		top:-42px
	}
	.home-deal.grosir-terlaris .slick-prev{
		left:420px !important;
		top:-42px;
	}
	/*grosir termurah*/
    .home-deal.grosir-termurah .slick-next{
        right:420px !important;
        top:-42px
    }
    .home-deal.grosir-termurah .slick-prev{
        left:420px !important;
        top:-42px;
    }
    /*lokal terbaru*/
	.home-deal.lokal-terbaru .slick-next{
		right:260px !important;
		top:-42px
	}
	.home-deal.lokal-terbaru .slick-prev{
		left:260px !important;
		top:-42px;
	}

    /*4.10 PRODUCT VOUCHER*/
    .produk-voucher{
        font-family: 'Open Sans',sans-serif;
    }
    .produk-voucher .product-title-detail{
        font-size:26px;
        font-weight:700;
    }
    .produk-voucher .detail-price{
        font-size:26px;
        color:#ED1C22;
        font-weight:700;
    }
    .produk-voucher .btn-buy-now{
        background:#20bc59;
        color:#ffffff;
        border:solid 4px #20bc59;
        border-radius:0px;
        padding:8px 20px;
        font-weight:bold;
    }
    .produk-voucher .btn-buy-now:hover{
        background:#ffffff;
        color:#20bc59;
    }
    .produk-voucher .sold{
        font-size:20px;
        font-weight: bold;
        margin: 15px 0px;
    }
    .produk-voucher .tabs-overview-product{
        margin-left:0px;
        margin-right:0px;
    }
    .produk-voucher .detail_product{
        border:solid 1px #ccc;
        padding:18px;
        min-height:300px;
        margin:20px auto;
    }
    .produk-voucher .desc_title{
        font-size:20px;
        color:#20bc59;
        font-weight: bold;
        margin:0;
    }
    .produk-voucher .box-seller{
        text-align:center;
        border:solid 1px #20bc59;
        margin:20px auto;
        height: 300px;
    }
    .produk-voucher .box-seller .title{
        padding:10px;
        background:#20bc59;
        color:#ffffff;
        font-weight:bold;
        font-size:16px;
    }
    .produk-voucher .box-seller .content{
        padding:10px;
    }
    .produk-voucher .box-seller img{
        width: 100px;
    }
    .produk-voucher .box-seller .seller_name{
        color:#20bc59;
        font-weight:bold;
        font-size:20px;
    }
    .produk-voucher .time_wrapper {
        margin:10px auto;
        text-align: left;
    }
    .produk-voucher .time_wrapper .time-left{
        display:inline-block;
        margin-right: 10px;
        text-align: center;
        background: #20bc59;
        padding:4px 10px;
        color:#fff;
        font-weight: bold;
    }
    /*4.11 PRODUCT EVENT*/
    .produk-event{
        font-family: 'Open Sans',sans-serif;
    }
        .produk-event .event-prod-card-wrapper{
            border:solid 1px #dedede;
        }
        .produk-event .title-filter{
            background: #20bc59;
            padding:15px;
        }
        .produk-event .price-wrapper:before{
            content: '';
            display: block;
            width: 0px;
            height: 0px;
            border-bottom: solid 50px #20bc59;
            border-right: solid 0px transparent;
            position: absolute;
            margin-left: -35px;
            margin-top: -3px;
            border-left: solid 25px transparent;
        }
        .produk-event .price-wrapper .price{
            font-size:16px;
        }
        .produk-event .price-wrapper .quota{
            font-size:14px;
        }
        .produk-event .price-wrapper{
            background: #20bc59;
            width: 250px;
            color: #fff;
            font-weight: bold;
            text-align: right;
            position: absolute;
            right: 15px;
            height: 50px;
            top: 155px;
            padding: 3px 10px;
        }
        .produk-event .box-bottom-wrapper{
            margin-top: -120px;
            height: 120px;
            padding: 5px 15px;
            background: rgba(0,0,0,0.6);
        }
        .produk-event a:hover,
        .produk-event a{
            text-decoration: none;
        }
       .produk-event .box-bottom-wrapper .event-title{
            font-weight: normal;
            letter-spacing: 1px;
            color:#fff;
        }
        .produk-event .box-bottom-wrapper .event-description{
            font-weight: normal;
            font-size:13px;
            color:#fff;
        }

        /*detail event*/
        .produk-event .detail-title{
            font-size:20px;
            font-weight: bold;
            margin-top:0px;
        }
        .produk-event .detail-title.green{
            color:#20bc59;
        }
        .produk-event .img-wrapper img{
            width: 100%;
        }
        .produk-event .time_wrapper {
            text-align: right;
        }
        .produk-event .time_wrapper .time-left{
            display:inline-block;
            margin-left: 10px;
            text-align: center;
            background: #20bc59;
            padding:4px 10px;
            color:#fff;
            font-weight: bold;
        }
        .produk-event .event-info{
            max-width: 200px;
            font-size: 12px;
            padding-left: 10px;
            text-align: left;
        }
        .produk-event .materi_wrapper{
            padding:20px;
            border:solid 1px #dedede;
        }

/**
 * 5.0 - FORM
 */

.form-62hallfamily {}
.form-62hallfamily label.control-label {
        color: #000;
        font-weight: normal;
    }
    .form-62hallfamily input[type="text"],
    .form-62hallfamily input[type="password"],
    .form-62hallfamily textarea,
    .form-62hallfamily select
    {
        border-radius: 0px;
        border: 1px solid #ccc;
        padding: 3px;
        font-size: 15px;
        height: 35px;
    }
    .form-62hallfamily input:focus,
    .form-62hallfamily textarea:focus,
    .form-62hallfamily select:focus {
    }

    .form-62hallfamily textarea {
        height: auto;
        padding: 5px 10px !important;
    }

/*    .form-62hallfamily label.checkbox {
        padding: 0;
        margin: 0;
    }*/

/*    .form-62hallfamily label.checkbox > input[type="checkbox"] {
        display: none;
    }
    .form-62hallfamily label.checkbox > input[type="checkbox"] + label span {
        background-image: url("/application/torsb2c/default/media/img/app-icon.png");
        background-repeat: no-repeat;
        background-position: -284px -37px;
        display: inline-block;
        text-indent: -1000px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 0px 0px 0 -15px;
        vertical-align: middle;
    }
    .form-62hallfamily label.checkbox > input[type="checkbox"]:checked + label span {
        background-position: -316px -37px;
    }*/

    .form-62hallfamily input[type="radio"], .form-62hallfamily input[type="radio"].form-control {
        margin-top: -2px;
        vertical-align: middle;
    }

    .form-62hallfamily input[type="checkbox"], .form-62hallfamily input[type="checkbox"].form-control {
        margin-left: 0px;
    }

    /*
    .form-62hallfamily input[type="checkbox"], .form-62hallfamily input[type="checkbox"].form-control {
        height:5px;;
    }
	*/
    .form-62hallfamily .input-select {}
    .form-62hallfamily .input-select-btn {
        background-color: rgba(181, 181, 181, 0.25) !important;
        border-radius: 0px;
        border-color: #b5b5b5;
    }

    .form-62hallfamily .form-group{
        margin-top: 5px !important;
        margin-bottom: 0px !important;
    }

    .form-62hallfamily .form-group a{
        padding:0px;
    }

    .row.row-update-contact {

    }
    #div_item_detail.col-md-12 {
        padding-left:30px!important;
        padding-right:30px!important;
    }
    .row.row-container-payment .col-payment-nav {
        padding-left:30px!important;
        padding-right:30px!important;
    }
    .row.row-container-payment .col-payment-info {
        padding-left:30px!important;
        padding-right:30px!important;
    }

	.form-62hallfamily.form-horizontal.form-gold-contact {
		padding:10px 5px 20px 20px;
	}
	.form-62hallfamily.form-horizontal.form-gold-contact .control-label{
		width:21%;
		float:left;
		padding-right:10px;
		text-align:left;
	}
    .form-62hallfamily.form-horizontal.form-gold-contact .form-control{

		width: 78%;
		float:left;
	}
.form-62hallfamily.form-horizontal.form-account .control-label{
		width:21%;
		float:left;
		padding-right:10px;
		text-align:left;
	}

	.form-62hallfamily.form-horizontal.form-account .form-control{
		width: 78%;
		float:left;
	}
	.form-62hallfamily.form-horizontal.form-account .form-control.control-phone-area{
		width: 10%;
		float:left;
	}
	.form-62hallfamily.form-horizontal.form-account .form-control.control-phone-number{
		width: 68%;
		float:left;
	}
	.form-62hallfamily.form-horizontal.form-account .form-control.control-day{
		width: 10%;
		float:left;
	}
	.form-62hallfamily.form-horizontal.form-account .form-control.control-month{
		width: 28%;
		float:left;
		margin-left:25px;
	}
	.form-62hallfamily.form-horizontal.form-account .form-control.control-year{
		width: 30%;
		float:left;
		margin-left:30px;
	}
	.form-62hallfamily.form-horizontal.form-account .form-control.control-radio{
		width: 10%;
		float:left;
	}


	.my-downline-container {
		margin-top: 10px;
	}


	.downline-wrapper {

	}



	.downline-container {
		margin-bottom:10px;
		display:inline-block;
		background:transparent !important;
	}

	.downline-container .downline-div {

		float:left;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:15px;
		padding-right:15px;
	}

	.downline-container .downline-div-front {

		float:left;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:5px;
		padding-right:5px;
	}
	.downline-depth-0 {
		background-color:#ff3300;
	}
	.downline-depth-1 {
		background-color:#66ff33;
	}
	.downline-depth-2 {
		background-color:#0099ff;
	}
	.downline-depth-3 {
		background-color:#ffff00;
	}
	.downline-depth-4 {
		background-color:#ff9900;
	}
	.downline-depth-5 {
		background-color:#ff99cc;
	}
	.downline-depth-6 {
		background-color:#ccffff;
	}
	.downline-depth-7 {
		background-color:#ffcc66;
	}


	.downline-container.downline-depth-0 {
		margin-left:0px;
	}
	.downline-container.downline-depth-1 {
		margin-left:50px;
	}
	.downline-container.downline-depth-2 {
		margin-left:100px;
	}
	.downline-container.downline-depth-3 {
		margin-left:150px;
	}
	.downline-container.downline-depth-4 {
		margin-left:200px;
	}
	.downline-container.downline-depth-5 {
		margin-left:250px;
	}
	.downline-container.downline-depth-6 {
		margin-left:300px;
	}
	.downline-container.downline-depth-7 {
		margin-left:350px;
	}
	.downline-div-arrow-right {
		float:left;
		height:0px;
		width:0px;
		background:transparent;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
	}

	.downline-div-arrow-right-white {
		float:left;
		height:0px;
		width:0px;
		background:transparent;
		border-left: 20px solid transparent;
		margin-left:-10px;
	}
	.downline-div-arrow-right-white.downline-depth-0 {
		border-top: 20px solid #ff3300;
		border-bottom: 20px solid #ff3300;
	}

	.downline-div-arrow-right-white.downline-depth-1 {
		border-top: 20px solid #66ff33;
		border-bottom: 20px solid #66ff33;
	}

	.downline-div-arrow-right-white.downline-depth-2 {
		border-top: 20px solid #0099ff;
		border-bottom: 20px solid #0099ff;
	}

	.downline-div-arrow-right-white.downline-depth-3 {
		border-top: 20px solid #ffff00;
		border-bottom: 20px solid #ffff00;
	}

	.downline-div-arrow-right-white.downline-depth-4 {
		border-top: 20px solid #ff9900;
		border-bottom: 20px solid #ff9900;
	}

	.downline-div-arrow-right-white.downline-depth-5 {
		border-top: 20px solid #ff99cc;
		border-bottom: 20px solid #ff99cc;
	}

	.downline-div-arrow-right-white.downline-depth-6 {
		border-top: 20px solid #ccffff;
		border-bottom: 20px solid #ccffff;
	}

	.downline-div-arrow-right-white.downline-depth-7 {
		border-top: 20px solid #ffcc66;
		border-bottom: 20px solid #ffcc66;
	}



	.downline-div-arrow-right.downline-depth-0 {
		border-left: 20px solid #ff3300;
	}
	.downline-div-arrow-right.downline-depth-1 {
		border-left: 20px solid #66ff33;
	}
	.downline-div-arrow-right.downline-depth-2 {
		border-left: 20px solid #0099ff;
	}
	.downline-div-arrow-right.downline-depth-3 {
		border-left: 20px solid #ffff00;
	}
	.downline-div-arrow-right.downline-depth-4 {
		border-left: 20px solid #ff9900;
	}
	.downline-div-arrow-right.downline-depth-5 {
		border-left: 20px solid #ff99cc;
	}
	.downline-div-arrow-right.downline-depth-6 {
		border-left: 20px solid #ccffff;
	}
	.downline-div-arrow-right.downline-depth-7 {
		border-left: 20px solid #ffcc66;

	}




/**
 * 6.0 - TABLES
 */
.invoice-action-row {}
.invoice-action-row a.btn-62hallfamily {
    margin-left: 10px;
}
.invoice-action-row a.btn-62hallfamily:first-child {
    margin-left: 0px;
}

.table-62hallfamily{
    width:100%;

}

    .table-62hallfamily th{
        padding: 10px 15px;
        background: #f60100;
        color: white;
        text-align: center;
        border: 1px solid #929292;
    }

    .table-62hallfamily td{
        padding: 10px 15px;
        border: 1px solid #929292;
    }

.table-62hallfamily-gray{
    width:100%;

}

    .table-62hallfamily-gray th{
        padding: 10px 15px;
        background: #929292 !important;
        color: white;
        text-align: center;
        border: 1px solid #929292 !important;
    }

    .table-62hallfamily-gray td{
        padding: 10px 15px;
        border: 1px solid #929292 !important;
        /* background: #000000 !important; */
    }

    .table-62hallfamily-gray td.horizontal-align-center{
        text-align: center !important;
    }

/**
 * 7.0 - BUTTONS
 */
.btn-62hallfamily{
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px !important;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold !important;
}

.btn-62hallfamily:hover{
    border: 3px solid #fe0100 !important;
    background: #fff !important;
    color: #fe0100 !important;
    text-decoration: none;
}


.btn-62hallfamily-small{
    margin-top: 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px !important;
    color: #fff;
    font-weight: bold !important;
    height: 25px;
}


.btn-62hallfamily-small:hover{
    border: 3px solid #fe0100 !important;
    background: #fff !important;
    color: #fe0100 !important;
    text-decoration: none;
}

.btn-62hallfamily-small .bg-blue :hover{
    border: 3px solid #00adef !important;
    background: #fff !important;
    color: #00adef !important;
    text-decoration: none;
}

.btn-62hallfamily-small-green{
    margin-top: 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px !important;
    background: #5da424 !important;
    color: #fff;
    font-weight: bold !important;
    height: 25px;
}

.btn-62hallfamily-small-green:hover{
    border: 3px solid #5da424 !important;
    background: #fff !important;
    color: #5da424 !important;
    text-decoration: none;
}


.btn-62hallfamily-medium{
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px !important;
    color: #fff;
    font-weight: bold !important;
    height:30px;
	width : 100px;
}

.btn-62hallfamily-medium:hover{
    border: 3px solid #fe0100 !important;
    background: #fff !important;
    color: #fe0100 !important;
    text-decoration: none;
}

.btn-shopping-cart{
    border : 2px solid #dddddd;
    padding: 10px;
    width: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}


.select-62hallfamily, .select-62hallfamily.form-control{
    color: #818286;
    border: 0px;
    border: 1px solid #bfc0c2;
    padding: 4px;
    height: 33px;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(../../img/62hallfamily/arrow_down.png) right no-repeat #fff;
   width: 100%;
}


.select-62hallfamily-small, .select-62hallfamily-small.form-control {
    color: #818286;
    border: 0px;
    border: 1px solid #bfc0c2;
    padding: 4px;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(../../img/62hallfamily/arrow_down.png) right no-repeat #fff;
}


.btn-pagination{
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border : none;
    border-radius: 50% !important;
}


.number-62hallfamily{
    margin-top: 10px;
    width: 80px;
    border: 1px solid #bfc0c2;
    height: 33px;
}

.number-62hallfamily .arrow_up{

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}

.search{
    margin-top: 30px;
}

    .search .keyword{
        border: 2px solid #d9d9d9;
        padding: 0px;
        padding-left: 5px;
    }

    .search .input-noborder{
        margin-left: 0px;
        padding-left: 0px;
        border: none !important;
        color: #898686;
    }

    .search .categories{
        border-left: 1px solid #d9d9d9 !important;
        margin-top: 5px;
        margin-left: 0px;
        padding-left: 10px;
        border: none;
        -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       width:100%;
       color: #b1b1b1;
    }



    .search button{
        height: 34px;
    }

.btn-flex {
    border-radius: 0px !important;
}
.btn-lokal{
	background:#20bc59;
	border-radius: 0px !important;
	text-decoration:none;
	color:#ffffff;
	padding:8px 30px !important;
	font-size:16px !important;
}
.btn-lokal:hover{
	color:#ffffff !important;
}
/**
 * 8.0 - MODAL
 */

/* CUSTOM MODAL */
/* USE FOR GLOBAL MODAL */

    /* Modal default state  */
    .modal-dialog {}
    .modal-dialog .modal-content {
        border-radius: 0;
        border-bottom: 25px solid #fe0000;
        border-top: none;
        border-left: none;
        border-right: none;
    }
        .modal-dialog .modal-content .modal-header {
            background: #fff;
            padding: 10px 25px;
            height: auto;
            border-bottom: none;
            border-top: 25px solid #fe0000;
        }
            .modal-dialog .modal-content .modal-header .modal-title {
                color: #fe0000;
                font-size: 28px;
                font-weight: bold;
            }
            .modal-dialog .modal-header button.close {
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                color: #fff;
                font-size: 24px;
                opacity: 1;
                position: absolute;
                right: 4px;
                top: 2px;
            }
        .modal-dialog .modal-content .modal-body {
            padding : 5px 25px 10px 25px;
        }
    /*  Modal other state */
    .modal-dialog .modal-content.modal-error {
        border-bottom: 25px solid #C4151C;
    }
        .modal-dialog .modal-content.modal-error .modal-header {
            border-top: 25px solid #C4151C;
        }
            .modal-dialog .modal-content.modal-error .modal-header .modal-title {
                color: #C4151C;
            }

    .modal-title{
        text-align: left;
    }

    .modal-body{
        text-align: left;
    }

    .popup-promo .modal-dialog .modal-content {
        border-radius: 0;
        border-bottom: none;
        border-top: none;
        border-left: none;
        border-right: none;
        max-height: 500px;
    }
        .popup-promo .modal-dialog .modal-content .modal-header {
            position:relative;
            z-index:2;
            background: transparent;
            padding:  0px 0px;
            height: 0px;
            border-bottom: none;
            border-top: none;
        }
            .popup-promo .modal-dialog .modal-content .modal-header .modal-title {
                color: #fe0000;
                font-size: 28px;
                font-weight: bold;
            }
            .popup-promo .modal-dialog .modal-header button.close {
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                color: #000;
                font-size: 24px;
                opacity: 1;
                position: absolute;
                right: 4px;
                top: 2px;
            }
        .popup-promo .modal-dialog .modal-content .modal-body {
            position:relative;
            z-index: 1;
            margin-top:-16px;
            padding : 0px 0px 0px 0px;
        }

            .popup-promo .modal-dialog .modal-content .modal-body .modal-content-background{
                height:500px;
                width:auto;
            }


/**
 * 9.0 - FOOTER
 */
footer {
    min-height: 50px;
}

    footer .bg-gray{
        background: #eeeeee;
    }

    footer .font-gray{
        color: #808185;
    }


    footer .font-black{
        color: #414141;
    }

    footer ul{
        padding-left: 0px;
    }

    footer li{
        margin-top: 5px;
        list-style: none;
    }

    footer ul li a{
        color: #808185;
        text-decoration: none;
    }

    footer ul li a:hover{
        color: #fe0100;
        text-decoration: none;
    }

    footer .copyright{
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer .copyright a{
        color: #fff;
        font-weight: bold;
    }

/**
 * 10.0 - SPESIFIC
 */
/**
 * 10.1 - MENU
 */
.menu{

}

    .menu .padding{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .menu ul{
        margin: 0px;
        text-align: left;
    }
    @media (min-width: 768px){
        .menu ul.bigmall-left{
            margin-left: 370px;
        }
        .menu ul.bigmall-right{
            margin-right: 370px;
        }
    }

    .menu li{
        list-style: none;
    }

    .menu .categories{
        width: 350px;
    }


    .categories{
        width: 350px;
    }

     @media (max-width: 1199px) {
        .categories{
            width: 91.1%;
        }
    }

    @media (max-width: 991px) {
        .categories{
            width: 100%;
        }

    }


    @media (max-width: 991px) {
        footer .row.margin-30 > .col-md-3 {
            padding-bottom:20px;
        }
    }

    .categories-absolute{
        width: 467px;
    }

    .menu .categories a{
        color: #fff;
        text-align: left;
    }

    .menu .categories a:hover{
        color: #fff;
    }

    .menu li.categories ul.dropdown-menu{
        min-width: 290px;
        border-radius: 0px !important;
        text-align: left;
        min-height: 450px;
        background-color: rgba(0, 0, 0, 0.7) !important;
        border: none;
        box-shadow: none;
    }

    /* level 2*/
    li.categories ul.dropdown-menu .bg-gray{
        min-width: 250px;
        background-color: rgba(242, 242, 242, 1) !important;
    }

    /* level 3*/
    li.categories ul.dropdown-menu .bg-white{
        min-width: 200px;
        background-color: rgba(255, 255, 255, 1) !important;
    }

    /* child */
    .child-1 a:hover, .child-2 a:hover{
        font-weight: bold;
        color: #f60100 !important;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,.dropdown-submenu.open > a {
        background:#f60100 !important;
    }

    .child-1 > li > a:hover, .child-1 > li > a:focus, .child-1 .dropdown-submenu:hover > a, .child-1 .dropdown-submenu:focus > a, .child-1 .dropdown-submenu.open > a {
        background:#fff !important;
    }

    .child-2 > li > a:hover, .child-2 > li > a:focus, .child-2 .dropdown-submenu:hover > a, .child-2 .dropdown-submenu:focus > a, .child-2 .dropdown-submenu.open > a {
        background:none !important;
    }

    .menu .link-submenu-all {
        font-weight:bold;
    }

    .menu li.categories ul.dropdown-menu a{
        padding-top: 10px;
        height: 40px;
    }

    li.dropdown-submenu.categories-submenu, li.dropdown-menu.categories-submenu {
        position: static;
    }
    .menu .dropdown-menu a:hover{
       background: #0081C2;
    }

    .menu ul li a{
        cursor: pointer;
        color: #59595b;
        background: none;
    }

    .menu ul li a:hover{
        text-decoration: none;
        color: #f60100;
        background: none;
    }

    .menu ul li a:active{
        text-decoration: none;
        color: #f60100;
        background: none;
    }


    .menu .absolute-menu{
        position: absolute;
        width: 467px;
        min-height: 450px;
    }

    .menu .absolute-right{
        right: 15px;
        z-index: 1;
    }

    .menu .absolute-left{
        left: 15px;
        z-index: 1;
    }

    .caret{
        display:none !important;
    }



    #nav-side-bar i {
        font-size:36px;

    }
#nav-side-bar {
    display:none;
    float:left;

    margin-right:10px;
    cursor:pointer;
    transition: all 0.6s linear;
    font-size: 24px;
    margin-top:0px;
    background-color: #E8E3E3;
    padding-left: 10px;
    padding-right: 10px;
}

#nav-side-bar .bar {
    border-top:5px solid #f0f0f0;
    width:60px;
    margin:auto;
    margin-top:15px;
    transition: all 0.6s linear;
}

/*
#nav-side-bar:hover {
    border:3px solid #f00;

}*/

#nav-side-bar:hover .bar {
    border-top:5px solid #f00;
}


ul.categories {
    transition: all 0.6s linear;
}

.navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}


@media (max-width: 991px) {

    .nav>li.categories {
        display:none;
        /*width: 0px;*/
    }

    .category-menu {
        width:0px !important;
    }
    .category-menu > a {
        /*text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;*/
        display: none !important;
    }

    #nav-side-bar {
        display:inline-block;
    }

    #logo img {
        margin-left:10px;
    }

    a.icon-shopping-cart {
        position:absolute;
        top:-90px;
        right:15px;
    }

    .shopping-cart div.count{
            top: -75px;
            right: 48px;
    }
    ul.dropdown-menu.container-cart {
        position: absolute;
        top: -43px;
        right: 0px;
        left: auto;
    }

    ul.categories {
      display:block !important;
      position:fixed;
      left:-400px;
      top:0px;
      height:100%;
      width:250px !important;
    }

    ul.categories li a::after {
      display:none !important;
      content:"";
    }

    ul.categories li > ul {
      display:none !important;
    }

    li.categories.show {
      display:block;

    }
    ul.categories.show {
      left:0px !important;
    }

}

/**
 * 10.2 - TABS
 */

#tabs-horizontal{
    margin-top: 60px;
    border: 1px solid #ccc;
    -webkit-transition:all 1s linear;
    transition: all 1s linear;
    min-height:62px;
}


    #tabs-horizontal ul {
        border: none;
    }

    #tabs-horizontal .nav > li{
        position: relative;
        display: inline !important;
        top: -29px;
        left: -1px;
    }

        #tabs-horizontal .nav > li > a{
            position: relative;
            display: inline !important;
        }

    #tabs-horizontal .nav a{
        color: #211f20;
        border:1px solid #fff;
        border-bottom:1px solid #ccc;
    }

    #tabs-horizontal .nav .active a{
        color: #fe0100;
        border-radius: 0px;
        font-weight: bold;
        background-color:#fff;
        border:1px solid #ccc;
        border-bottom:1px solid #fff;
    }

    #tabs-horizontal .nav a:hover{
        color: red;
        border-radius: 0px;
        font-weight: bold;
    }

    #tabs-horizontal-tab-widget{
        padding: 20px;
        margin-top: -30px !important;
    }

    #tabs-horizontal-tab-widget .widget-title{
        display: none;
    }

    #tabs-horizontal .col-md-2 {
        width:100%;
    }
    #tabs-horizontal .col-md-10 {
        width:100%;

    }

    #tabs-horizontal-ajax-tab-content {
        padding-top:10px;
        -webkit-transition:all 1s linear;
        transition: all 1s linear;

    }



    #tabs-horizontal-ajax-tab-content.loading div {
       display:none;

    }

    #tabs-horizontal table  {
        width:100%;

    }
    #tabs-horizontal table td {
        border:1px solid #fe0100;
        padding:3px;


    }

    #tabs-horizontal table tr > td:first-child, #tabs-horizontal table tr > th {
        width:220px;
        color:white;
        font-weight:bold;
        background-color:#fe0100;
    }

	#tabs-horizontal table.table-62hallfamily-default tr.table-header > th {
	  background:#f1f1f1;
	  padding:15px 4px;
	  border:solid 1px #cccccc;
	  border-right:none;
	  border-left:none;
	  font-size:13px;
	  text-align:center;
	  color:#333;
	}
	#tabs-horizontal table.table-62hallfamily-default tr > td {
	  border:solid 1px #cccccc;
	  border-right:none;
	  border-left:none;
	}
	#tabs-horizontal table.table-62hallfamily-default tr > th:first-child{
	  border-left:solid 1px #cccccc;
	}
	#tabs-horizontal table.table-62hallfamily-default tr > td:first-child{
	  background:white;
	  text-align:center;
	  color:#333;
	  border-left:solid 1px #cccccc;
	}
	#tabs-horizontal table.table-62hallfamily-default tr > td:last-child,#tabs-horizontal table.table-62hallfamily-default tr > th:last-child {
	  text-align:center;
	  color:#333;
	  border-right:solid 1px #cccccc;
	}

	#tabs-horizontal table.table-62hallfamily-default div.btn-group > a{
	  background:transparent;
	  color:#fe0100;
	  border:solid 1px #fe0100;
	  text-align:center;
	  border-radius:0px;
	}
	#tabs-horizontal table.table-62hallfamily-default div.btn-group.open > a{
	  color:#fff;
	}

	#tabs-horizontal table.table-62hallfamily-default div.btn-group > a:hover{
	  background:#fe0100;
	  color:#fff !important;
	  border:solid 1px rgba(0,0,0,0.1);
	}
	#tabs-horizontal table.table-62hallfamily-default div.btn-group.open .dropdown-menu{
	 padding:0px;
	 border-radius:0px;
	 min-width:60px;
	 margin-top:0px;
	 background:#fe0100;
	}
	#tabs-horizontal table.table-62hallfamily-default div.btn-group.open .dropdown-menu a{
	 padding:6px 10px;
	 color:#fff;
	 font-size:13px;
	 background:rgba(0,0,0,0.2);
	}
	#tabs-horizontal table.table-62hallfamily-default div.btn-group.open .dropdown-menu a:hover{
	 color:#fff !important;
	 background:rgba(0,0,0,0.4) !important;
	}


/**
 * 10.3 - AUTH /LOGIN /REGISTER /MEMBER
 */

.auth{
    margin-top: 30px;
}

.auth ul{
    border-radius: 3px;
    padding: 2px;
}

.auth li{
    display: inline-block;
    list-style: none;
    text-align: center;
}


.auth .usermenu li{
    display: inline-block;
    list-style: none;
    width: 50%;
    text-align: center;
}

.auth .usermenu .active{
    border-radius: 3px;
    background: #f5f5f5;
    padding: 3px;
}

.auth .usermenu .active a{
    padding: 0px;
    color: #000;
}

.auth a{
    padding: 0px;
    color: #000;
}

.auth .usermenu a{
    padding: 0px;
    color: #fff;
}

.auth a:hover{
    text-decoration: none;
}

.auth.usermenu .active a{
    color: #818286;
}

.auth .welcome{

}

    .auth .welcome .dropdown .dropdown-toggle:hover{
        background : none !important;
        color: #000;
    }

    .auth .welcome .dropdown-toggle:active,.auth .welcome  .open .dropdown-toggle,.auth .welcome .dropdown-toggle:after,.auth .welcome .dropdown-toggle:visited{
        background : none !important;
        color: #000 !important;
        text-decoration: none !important;
    }

    .auth .welcome .container-welcome{
        padding: 15px;
        margin: 1em 0px 3em;
        border: 2px solid #ccc;
        min-width: 200px;
        margin-top: 10px !important;
        border-radius: 0px;
        margin-left: -50px;
    }

    .auth .welcome .container-welcome.triangle-up::before {
        top: -15px;
        bottom: auto;
        left: auto;
        right: 10px;
        border-width: 0px 15px 15px;
    }
    .auth .welcome .container-welcome::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 10px;
        border-width: 15px 15px 0px;
        border-style: solid;
        border-color: #ccc transparent;
        display: block;
        width: 0px;
    }

    .auth .welcome .container-welcome.triangle-up::after {
        top: -13px;
        bottom: auto;
        left: auto;
        right: 12px;
        border-width: 0px 13px 13px;
    }
    .auth .welcome .container-welcome::after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 12px;
        border-width: 13px 13px 0px;
        border-style: solid;
        border-color: #FFF transparent;
        display: block;
        width: 0px;
    }

    .auth .welcome a:hover{
        background: #fff !important;
    }

    .member-menu{

    }
        .member-menu a:hover{
            color: #fe0100 !important;
            text-decoration: none !important;
        }

        .member-menu .active{
            font-weight: bold;
            color: #fe0100 !important;
            background: none;
            text-decoration: none !important;
        }

.login-register-sm a {
    border-radius: 0px;
}
.modal .line-wrapper {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .modal .line-wrapper .line {
        position: absolute;
        height: 1px;
        width: 100%;
        border-top: 1px solid #ddd;
        top: 10px;
    }
    .modal .line-label {
        text-align: center;
        margin: auto;
        position: relative;
    }
    .modal .line-text {
        background-color: #FFF;
        display: inline;
        padding-right: 10px;
        padding-left: 10px;
    }

    .modal .login-fb {
        width: 100%;
        font-size: 16px;
        background-color: #1d75bd;
        border: 1px solid #1d75bd;
        padding: 10px 5px 10px 8px;
        border-radius: 0px;
        color: #FFF;
    }
    .modal .login-fb:hover {
        background-color: #FFF;
        border: 1px solid #1d75bd;
        color: #1d75bd;
    }
    .modal .login-fb:active {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .modal .login-fb .fa.social-media {
        margin-right: 10px;
        font-size: 20px;
    }

.modal .login-google {
    margin-top: 10px;
}

/**
 * 10.4 - MESSAGE
 */

.success-message{
    width: 100%;
    background: #dff0d8;
    border-radius: 5px;
    border: 1px solid #d6e9c6;
    color: #5da424;
    padding: 5px 10px;
}

.error-message{
    width: 100%;
    background: #f2dede;
    border-radius: 5px;
    border: 1px solid #ebccd1;
    color: #a94442;
    padding: 5px 10px;
}

/**
 * 10.5 - SHOPPING CART
 */

.shopping-cart{
    padding-top: 30px;
    padding-bottom: 10px;
}

    .shopping-cart .count{
        position: absolute;
        top: 15px;
        right: 33px;
        font-size: 11px;
    }


    .shopping-cart .dropdown .dropdown-toggle:hover{
        background : url(../../img/62hallfamily/sprite_icon.png) -8px -74px !important;
    }

    .shopping-cart .dropdown-toggle:active,.shopping-cart  .open .dropdown-toggle,.shopping-cart .dropdown-toggle:after,.shopping-cart .dropdown-toggle:visited{
        background : url(../../img/62hallfamily/sprite_icon.png) -8px -74px !important;
    }

    .shopping-cart .container-cart{
        min-width: 250px;
        position: absolute;
        top: 48px;
        border-radius: 0px;
        padding: 10px;
        padding-top: 0px;
        margin-left: -75px;
        border: none;
        border-top: 4px solid #f60100;
        border-bottom: 4px solid #f60100;
    }



    .shopping-cart .item{
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .shopping-cart img{
        width: 100%;
        height: 80px;
    }

    .shopping-cart .triangle{
        margin:10px auto;
        margin-top: -14px;
    }

        .shopping-cart .arrow-up{
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #f60100;
        }

        ul.dropdown-menu.container-cart .triangle.arrow-up {
            right: 128px;
            position: absolute;
        }

        @media (max-width: 991px) {
            ul.dropdown-menu.container-cart .triangle.arrow-up {
                margin-bottom: 10px;
                right: 23px;
                position: absolute;
            }
        }

#table-shoppingcart tr td.td-price {
    width:212px;
    text-align:right;
    font-weight:bold;
}
#table-shoppingcart tr td.td-total {
    width:250px;
    font-weight:bold;
    text-align:right;
}
#table-shoppingcart tr td.td-qty {
    width:80px;


}

#table-shoppingcart tr td.td-action {
    width:80px;
    text-align:center;
}

#table-shoppingcart tr td.td-produk .shoppingcart-container-produk {
    padding:10px;
}


.image-table-shoppingcart{
    width: 75px;
    height: 110px;
}


    .ringkasan-pemesanan .container-cart{
        min-width: 250px;
        border-radius: 0px;
        padding: 10px;
        border: 1px solid #929292;
        border-top: 4px solid #f60100;
        border-bottom: 4px solid #f60100;
    }

    .ringkasan-pemesanan .item{
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .ringkasan-pemesanan .image-item{
        width: 100%;
        height: 90px;
    }

/**
 * 10.6 - SLIDE SHOW
 */

.slide-show{
    max-height: 400px !important;
    height:auto;
}

.slide-show img{
    max-height: 400px !important;
    height:auto;
}
.product-slide .carousel-control {
    width:20px;
}

.product-slide .carousel-control.left {
    left:-30px;
}
.product-slide .carousel-control.right {
    right:-30px;
}
#element_slide_show-slider > .carousel-indicators{
    display: none;
}


article .slide-show {
    height:auto !important;
    max-height:none !important;
}

article .slide-show .carousel-indicators{

    bottom:-10px;
}

article .slide-show .carousel-control{

}

article .slide-show .border-1.margin-top-20{

   padding-bottom:20px;
}


article .slide-show .carousel-indicators li{
    border:1px solid #ccc;

}
article .slide-show .carousel-indicators li.active{
     background-color:#ccc;

}



.carousel-control.right{
    background: none !important;
}

.carousel-control.left{
    background: none !important;
}

/**
* 10.7 - PUBLICATION
*/
.container-publication {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}
.publication-item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
    .publication-item img {
        width: 100px;
        height: 35px;
    }

/**
* 10.8 - TESTIMONIAL
*/
.container-testimonial {
    margin-bottom: 20px;
    margin-top: 20px;
}
.item-testimonial {
    display: table;
    width: 100%;
    padding-bottom: 20px;
}
    .item-testimonial .testimonial-left, .item-testimonial .testimonial-right {
        display: table-cell;
        vertical-align: top;
    }
    .item-testimonial .testimonial-right {
        padding-left: 10px;
    }
    .item-testimonial .testimonial-left {
        width: 140px;
        text-align: center;
    }
        .item-testimonial .testimonial-left img {
            width: 120px;
            border-radius: 50%;
        }
    .item-testimonial .testimonial-text {
        font-size: 16px;
        font-style: italic;
        text-align: justify;
    }
    .item-testimonial .testimonial-name {
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
        margin-top: 30px;
    }
    .item-testimonial .img-quote img {
        width: auto !important;
    }
        .item-testimonial .img-quote.right {
            float: right;
            margin-top: -12px;
        }

/**
* 10.8 - PRODUCT INFORMATION
*/
.product-information-container {
    border: 1px solid #ada9a9;
    margin-bottom: 10px;
}
    .product-information-container .img-container {
        padding: 10px;
    }
.product-information-content {
    padding: 10px 0px;
}
    .product-information-content .content-title {
        font-size: 20px;
        font-weight: bold;
    }
        .product-information-content .content-title a:hover {
            text-decoration: none;
        }
    .product-information-content .content-date {
        font-size: 11px;
        margin-bottom: 5px;
        color: #9a9999;
    }

@media (max-width: 768px){
    .product-information-content {
        padding: 10px;
    }
}

/**
 * 13 - FILTER
 */

.checkbox{
    margin-top:10px;
}

.checkbox .active{
    border-right: 2px solid #fe0100;
}

.container-input-image .active{
    border: 2px solid #fe0100;
}
.produk-event .title-filter{
    background: #20bc59;
    padding:15px;
    color:#fff !important;
}
.container-filter-location{
    padding:10px !important;
    border:solid 1px #dedede;
}

/**
 * 11.0 - WIDTH
 */
.width-10-percent{
	width:10% !important;
}
.width-20-percent{
	width:20% !important;
}
.width-30-percent{
	width:30% !important;
}
.width-40-percent{
	width:40% !important;
}
.width-50-percent{
	width:50% !important;
}
.width-60-percent{
	width:60% !important;
}
.width-70-percent{
	width:70% !important;
}

.width-100-percent{
	width:100% !important;
}

.vcenter{
	display: inline-block;
    vertical-align: middle;
    float: none;
}


/**
 * 13.0 - FILTER
 */


.filter-checkbox .form-group{
    margin-top: -8px !important;
    margin-bottom: -15px !important;
}

.filter-checkbox .control-label{
    margin-bottom: 0px !important;
}

.filter-checkbox input[type="checkbox"]{
    margin-top: 0px !important;
}

.filter-checkbox .checkbox, .radio{
    margin-bottom: 0px !important;
    margin-top: -10px !important;
}

/*13.0 - FILTER*/
	/*div province*/
	.container-filter-province{

	}
		.province_result::-webkit-scrollbar {
			width: 6px;
		}
		/* Track */
		.province_result::-webkit-scrollbar-track {
			border-radius:0px !important;
			background:#f0f0f0;
			box-shadow:none !important;
		}
		/* Handle */
		.province_result::-webkit-scrollbar-thumb {
			background: #20bc59 !important;
			box-shadow:none !important;
			border:none;
		}
		.province_result::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(255,0,0,0.4);
		}
		.container-filter-province .province_result{
			height:300px;
			overflow-y:auto;
			margin:10px 0px;
		}
		.container-filter-province label.checkbox{
			cursor:pointer;
			margin-bottom:0px;
			margin-top:0px;
			padding:8px 8px;
		}
		.container-filter-province label.checkbox:hover{
			background:#dfdfdf;
		}
		.container-filter-province input[type=checkbox]{
			visibility:hidden;
		}
		.container-filter-province input[type=checkbox] + label{
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-khtml-user-select: none;    /* Konqueror */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;
		}
		.container-filter-province input[type=checkbox] + label:before{
			content:'';
			display:inline-block;
			width: 14px;
			height: 14px;
			position:absolute;
			margin-left:-22px;
			margin-top:2px;
			background: url(../../img/62hallfamily/Sprite-01.png) no-repeat -15px -13px !important;
		}

		.container-filter-province input[type=checkbox]:checked + label{
			color:#20bc59;
			font-weight:bold;
		}
		.container-filter-province input[type=checkbox]:checked + label:before{
			content:'';
			display:inline-block;
			width: 14px;
			height: 14px;
			position:absolute;
			margin-left:-22px;
			margin-top:2px;
			background: url(../../img/62hallfamily/Sprite-01.png) no-repeat -51px -13px !important;
		}
	/*div city*/
	.container-filter-city{

	}
		.city_result::-webkit-scrollbar {
			width: 6px;
		}
		/* Track */
		.city_result::-webkit-scrollbar-track {
			border-radius:0px !important;
			background:#f0f0f0;
			box-shadow:none !important;
		}
		/* Handle */
		.city_result::-webkit-scrollbar-thumb {
			background: #20bc59 !important;
			box-shadow:none !important;
			border:none;
		}
		.city_result::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(255,0,0,0.4);
		}
		.container-filter-city .city_result{
			height:300px;
			overflow-y:auto;
			margin:10px 0px;
		}
		.container-filter-city label.checkbox{
			cursor:pointer;
			margin-bottom:0px;
			margin-top:0px;
			padding:8px 8px;
		}
		.container-filter-city label.checkbox:hover{
			background:#dfdfdf;
		}
		.container-filter-city input[type=checkbox]{
			visibility:hidden;
		}
		.container-filter-city input[type=checkbox] + label{
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-khtml-user-select: none;    /* Konqueror */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;
		}
		.container-filter-city input[type=checkbox] + label:before{
			content:'';
			display:inline-block;
			width: 14px;
			height: 14px;
			position:absolute;
			margin-left:-22px;
			margin-top:2px;
			background: url(../../img/62hallfamily/Sprite-01.png) no-repeat -15px -13px !important;
		}

		.container-filter-city input[type=checkbox]:checked + label:before{
			content:'';
			display:inline-block;
			width: 14px;
			height: 14px;
			position:absolute;
			margin-left:-22px;
			margin-top:2px;
			background: url(../../img/62hallfamily/Sprite-01.png) no-repeat -51px -13px !important;
		}

	/*div location*/
	.container-filter-location{

	}
		.location_result::-webkit-scrollbar {
			width: 6px;
		}
		/* Track */
		.location_result::-webkit-scrollbar-track {
			border-radius:0px !important;
			background:#f0f0f0;
			box-shadow:none !important;
		}
		/* Handle */
		.location_result::-webkit-scrollbar-thumb {
			background: #20bc59 !important;
			box-shadow:none !important;
			border:none;
		}
		.location_result::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(255,0,0,0.4);
		}
		.container-filter-location .location_result{
			height:400px;
			overflow-y:auto;
			overflow-x:hidden;
			margin:10px 0px;
			padding-left:10px;
		}

	/*div category*/
	.container-filter-category{
		font-size:16px;
	}
		.container-filter-category ul{
			list-style:none;
			padding-left:0px;
		}
		.container-filter-category ul li a{
			text-decoration:none;
			color:#333;
			display:block;
			padding:5px 0px;
			margin-left:10px;
		}
		.container-filter-category ul li a:hover{
			color:#20bc59;
		}
		.container-filter-category a.active{
			color:#20bc59;
			/*font-weight:bold;*/
		}

/*	13.1 - FILTER FORM
		13.1.1 - FILTER TEXTFIELD*/
		.filter-search-field{
			border-radius:0px !important;
		}
		.filter-search-field:hover,
		.filter-search-field:focus{
			box-shadow:none !important;
			border-color:#20bc59 !important;
		}

/**
 * 14.0 - SCROLL
 */
/*
::-webkit-scrollbar {
    width: 6px;
}
*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 3px rgba(246,1,0,1);
    background-color :rgba(246,1,0,1);
}
/*
::-moz-scrollbar {
    width: 6px;
}
 */
::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-moz-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 3px rgba(246,1,0,1);
    background-color :rgba(246,1,0,1);
}


/**
 * 15.0 - RESPONSIVE MOBILE
 */
@media screen and (max-width: 640px){
    .font-size20{
        font-size: 14px !important;
    }

    .font-size22{
        font-size: 14px !important;
    }

    .font-size23{
        font-size: 14px !important;
    }

    .font-size24{
        font-size: 16px !important;
    }

    .margin-30{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .margin-top-20{
        margin-top: 20px;
    }

    .margin-bottom-20{
        margin-bottom: 20px;
    }

    .margin-top-30{
        margin-top: 30px;
    }

    .margin-top-40{
        margin-top: 40px;
    }

    .margin-bottom-30{
        margin-bottom: 30px;
    }

    .margin-bottom-40{
        margin-bottom: 40px;
    }

    .margin-20{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .margin-right-30{
        margin-right: 30px;
    }

    .padding-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .padding-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .padding-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .padding-50{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .padding-left-right{
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-left-right15{
        padding-left: 15px;
        padding-right: 15px;
    }

    .padding-left-right20{
        padding-left: 20px;
        padding-right: 20px;
    }

    .padding-top-20{
        padding-top: 20px;
    }

    .absolute-menu{
        position: relative !important;
        min-height: 100px !important;;
    }

    .categories{
        width: 100% !important;
        left:0px !important;
        right:0px !important;
    }



    .shopping-cart .container-cart{
        margin-bottom:1px !important;
        margin-left: 0px;
        /*width: 100%;*/
        min-width: 250px;
    }

/*    .triangle{
        display: none;
    }*/

    .nav .navbar-nav li a{
        float:left !important;
    }



    ul.categories {
      display:block !important;
      position:fixed;
      left:-400px;
      top:0px;
      height:100%;
      width:250px !important;
    }

    li.categories.show {
      display:block;

    }
    ul.categories.show {
      left:0px !important;
    }

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

}

@media (min-width: 641px){
    .mobile{
        display: none;
    }

    .desktop{
        display: block !important;
    }
}
/**
 * 16.0 - DISPLAY
 */
.display-inline{
	display:inline !important;
}
/*
loading
*/
/*
<div id="menuimage-line1-container" class="col-md-2 padding-right-0 loading"><div id="menuimage-line1-container-loading" style="text-align: center; margin-top: 100px; margin-bottom: 100px;"><i class="icon icon-repeat icon-spin icon-4x"></i></div></div>
*/

/* disable loading animation for header */


.loading {
    margin:auto;
    position:relative;
}

.loading div {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-15px;
    margin-top:-15px;


	width: 29px;
	height: 29px;
	border: 4px solid #fe0100;
	animation: cssload-loader 2.3s infinite ease;
		-o-animation: cssload-loader 2.3s infinite ease;
		-ms-animation: cssload-loader 2.3s infinite ease;
		-webkit-animation: cssload-loader 2.3s infinite ease;
		-moz-animation: cssload-loader 2.3s infinite ease;
                vertical-align: middle;
}

.loading div i {
   vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fe0100;
	animation: cssload-loader-inner 2.3s infinite ease-in;
		-o-animation: cssload-loader-inner 2.3s infinite ease-in;
		-ms-animation: cssload-loader-inner 2.3s infinite ease-in;
		-webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
		-moz-animation: cssload-loader-inner 2.3s infinite ease-in;

}


@keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-o-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-ms-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-webkit-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-moz-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}


.page-header-full .loading  div {
    display:none !important;

}


/*
optimize for resizing when loading
*/

    #div_qty input#qty {
        width:44px;
        height:34px;
    }

    #div_qty .input-group-btn-vertical {
        float:left;
    }


    #shopping-cart.loading {
        margin-top:25px;
    }

    #page-product-category.loading {
        height:600px;
    }
    #stock-price {
        min-height:74px;
    }

    #stock-price .loading {
        width:175px;
    }


    .product-slide .carousel-control .glyphicon {
        color:#f60100;
    }


    .container-filter {
        height:auto;
        transition:all 1s linear;
        -webkit-transition:all 1s linear;
        -moz-transition:all 1s linear;
    }
    .container-filter.hide-me {
        height:0px;
        overflow:hidden;
        transition:all 1s linear;
    }

    .form-account .div-label p{
            margin-top:20px;
    }

    .form-account .div-control input{
            margin-top:10px;
    }


    .col-md-11.col-xs-11.hall-search-input-container {

        width:calc(100% - 35px) ;

    }
    .col-md-1.col-xs-1.padding-0.hall-search-button-container {
        width:35px;


    }

    @media (max-width: 991px) {
        #page-account-container {
            margin-top: 20px;
            border: 1px solid #d5d5d5;
            padding: 15px !important;
        }

    }

    .modal-dialog .modal-content {
        max-height: 640px;
        overflow-y: auto;
    }

    .modal-dialog .modal-content.modal-popup {
        max-height: 640px;
        overflow-y: hidden;

    }

    .footer-contact-us-container p {
        margin-bottom: 0px;

    }

    .product-container {
        /*min-height:273px !important;*/
    }


@media (max-width:440px) {
    .navbar-collapse .navbar-nav .dropdown .status-pesanan {
        min-width: 235px;
    }




}
@media (max-width:312px) {
    .navbar-collapse .navbar-nav .dropdown .status-pesanan {
        left: -65px !important;
        width: 235px;
    }
}

.nav-side-bar-label {
	font-size : 18px;
	font-weight :none;
    vertical-align: top;
    margin-top: 10px;
    line-height: 20px;
	color : #fe0100;
}

.bottom-product-price {
    margin-bottom:17px;
}

/*  NAMECARD    */
.namecard {}
.namecard .title {
    color: #F60100;
}
.namecard-product-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
.namecard-product-price {
    font-size: 24px;
    font-weight: bold;
    color: #fe0100;
}

/*  LUCKYDAY    */
.luckyday-main-content {
    margin: 50px auto;
}
.luckyday-product-item {
    margin-bottom: 50px;
}
    .luckyday-product-item > .image {}
        .luckyday-product-item > .image > img {
             width: 100%;
        }
    .luckyday-product-item > .summary {}
        .luckyday-product-item > .summary > .title {
            font-size: 12px;
            color: #7f7f7f;
            margin: 10px 0 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .luckyday-product-item > .summary > .progress {
            border-radius: 0px;
            border: 2px solid #FCB040;
            height: 15px;
            box-shadow: none;
            background: #fff;
            margin: 2px 0;
        }
            .luckyday-product-item > .summary > .progress > .progress-bar {
                box-shadow: none;
            }
            .luckyday-product-item > .summary > .progress-bar-label {
                margin: 5px 0 10px 0;
                font-size: 12px;
            }
    .luckyday-product-item .summary .btn {
        border-radius: 0;
        font-weight: bold;
        background: #FE0000;
        padding: 2px 0;
    }

.luckyday-product-detail {

}
    .luckyday-product-detail .progress {
        border-radius: 0px;
        border: 2px solid #FCB040;
        height: 20px;
        box-shadow: none;
        background: #fff;
        margin: 2px 0;
    }
    .luckyday-product-detail .progress > .progress-bar {
        box-shadow: none;
    }
    .luckyday-product-detail .progress-bar-label {
        margin: 5px 0 10px 0;
    }
.checkbox-colorpicker {

}
    .checkbox-colorpicker input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkbox-colorpicker label {

    }
        .checkbox-colorpicker input[type="checkbox"] + label {
            border: 1px solid #cecece;
            text-indent: 100%;
            width: 35px;
            height: 35px;
            line-height: 1;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
        }
        .checkbox-colorpicker input[type="checkbox"]:checked + label {
            border: 2px solid #ba0e00;
        }
/*.winner-carousel {}
.winner-carousel .item {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    position: relative;
}
.winner-carousel .item:first-child {
    margin-left: 0px;
}
.winner-carousel .item .content {
    font-family: "Arima Madurai",cursive;
    color: #191919;
    font-size: 20px;
    height: 100%;
    opacity: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 1;
    text-shadow: 1px 1px 1px #fff;
}
.winner-carousel .item img {
    opacity: 0.3;
    z-index: 0;
    width: 100%;
    max-height: 300px;
}

.winner-carousel .item .content:after {
    font-family: fontawesome;
    content: '\f10e';
    color: #757575;
}
.winner-carousel .item .content:before {
    content: '\f10d';
    font-family: fontawesome;
    color: #757575;
}*/
.sidebar-widget {
    margin-bottom: 50px;
}
.sidebar-widget .widget-title {
    background-color: #20BC59;
    position: relative;
    padding: 15px 20px;
}
.sidebar-widget .widget-title h3 {
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    font-family: 'Trebuchet MS';
}
.sidebar-widget .widget-title a {
    float: right;
    background-color: #F0AD4E;
    color: #fff;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 12px;
    display: block;
    margin: 4px 0 4px 0;
}
.sidebar-widget .widget-title a:hover {
    text-decoration: none;
    background-color: #dd9a3b;
}
.winner-carousel {
    border: 1px solid #d5d5d5;
    max-height: 250px;
    overflow: auto;
    /*overflow: auto;*/
}
.winner-carousel .item:last-child {
    border-bottom: none;
}
.winner-carousel .item {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
}
.winner-carousel .item .content-img {
     float: left;
    padding: 5px;
    width: 30%;
}
.winner-carousel .item .content{
    font-weight: bold;
    text-transform: capitalize;
    float: left;
    padding: 5px;
    width: 70%;
    padding: 20px 5px;
}
.winner-carousel .item .content .subtitle {
    font-weight: normal;
    color: #7f7f7f;
    font-size: 12px;
}
.winner-carousel .item img {}
.winner-carousel .item.active {
    /*border: 3px solid #20BC59;*/
    box-shadow: inset -1px 0px 0px 4px #20bc59;
    -moz-box-shadow: inset -1px 0px 0px 4px #20bc59;
    -webkit-box-shadow: inset -1px 0px 0px 4px #20bc59;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-video{
	position: relative;
	//padding-bottom: 56.25%; /* 16:9 */
	padding-top: 30px;
	height: 400px;
        overflow:hidden;
}
.container-video iframe,container-video object, .container-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
        height: 100%;
}

.container-video-info {
    background-color: #dddddd;
}

.video-prev-next{
    /*top:25px !important;*/
    top: -400px !important;
    opacity: 0 !important;
}
#container_video:hover .video-prev-next {
    opacity: 0.5 !important;
}

.video-title{
    padding-left:50px;
    font-size:30px;
    font-weight: bold;
}

.video-description{
    font-size:20px;
    padding-left:50px;
    color: #fe0100;
}

.container-video-gallery{
    margin-top:50px;
}


.video-gallery-header{
    margin-top:30px;
    font-size:16px;
    font-weight: bold;
    color: #fe0100;
}

.video-gallery:hover {
    cursor: pointer;
}
.col-video-gallery.active {
    border: 3px solid #f60100;
}

.video-gallery-row{
    margin-top:25px;
    margin-bottom:25px;
}

.video-gallery-info{
    border:1px solid #dddddd;
}

.video-gallery-title{
    padding-left: 20px;
    font-weight: bold;
}

.video-gallery-description{
    padding-left: 20px;
    color:#fe0100;
}


*/
@media (max-width:768px){
    .navbar-top-menu-header-list {
        display:none;

    }
    .navbar-top-menu-header-list li {
        display:block!important;

    }
    .header-menu.inline-block {
        float: none!important;
        display: block!important;
        text-align: right;
    }
    #shopping-cart {
        display:none!important;
    }
    .btn-dialog-lanjutkan-belanja, .btn-dialog-lihat-keranjang {
        width:100%;
        display:block;
    }
    .btn-dialog-lanjutkan-belanja {
        margin-bottom:10px;
    }

}

@media (max-width:440px){
    #tabs-horizontal .nav > li {
        display:block!important;
    }
    #tabs-horizontal .nav > li > a {
        display:inline-block!important;
        border:1px solid #ccc;
        width:100%;
    }
    #tabs-horizontal .nav > li > a:active,#tabs-horizontal .nav > li.active > a {
        border:1px solid #fe0100;
    }

    #tabs-horizontal {
        border: 0px;
    }

    table#table-shoppingcart {
       width:100%;
    }
    table#table-shoppingcart tr:nth-of-type(1)  {display: none;}
    table#table-shoppingcart tbody td {display: block;  text-align:center; border:0px; }
    table#table-shoppingcart tbody tr {
        border:1px solid #000;
        position:relative;
        display:block;
    }
    table#table-shoppingcart tbody tr td.td-price:before {
        content: 'Harga : ';
    }
    table#table-shoppingcart tbody tr td.td-price {
        text-align:left;
        width:100%
    }
   table#table-shoppingcart tbody tr td.td-action {
        position:absolute;
        bottom:10px;
        right:10px;
        text-align:center;
        width:auto;
    }
    table#table-shoppingcart tbody tr td.td-qty .input-group {
        width:60px;
      }
    table#table-shoppingcart tbody tr td.td-total:before {
        content: 'Total : ';
      }
      table#table-shoppingcart tbody tr td.td-total {
        text-align:left;
        width:100%
      }
    .font-size24.shoppingcart-text-total {
        font-size:20px !important;
    }
    .font-size18.shoppingcart-text-total-info {
        font-size:12px !important;
    }
    .btn.btn-shoppingcart-lanjutkan,.btn.btn-shoppingcart-pembayaran {
        width:100%;
    }
    .btn.btn-shoppingcart-lanjutkan {
        margin-bottom:5px;
    }

    /* Update Contact */
    .form-62hallfamily.form-horizontal.form-gold-contact .control-label {
        width:100%;
        float:none;
    }
    .form-62hallfamily.form-horizontal.form-gold-contact .form-control {
        width:100%!important;
        float:none;
    }
    .form-62hallfamily.form-horizontal.form-gold-contact .form-control.width-10-percent {
        width:30%!important;
        float:left;
    }
    .form-62hallfamily.form-horizontal.form-gold-contact .form-control.width-30-percent {
        width:70%!important;
        float:left;
    }
    .form-62hallfamily.form-horizontal.form-gold-contact .form-control.width-40-percent {
        width:100%!important;

    }
    .form-62hallfamily.form-horizontal.form-gold-contact .select2-container.width-40-percent {
        width:100%!important;

    }

    .row-update-contact-full #submit_button.btn-primary {
        width:100%;
    }


    #form_payment > .container > .col-md-8.padding-0{
        padding-left:15px!important;
        padding-right:15px!important;
    }
    .row.row-container-payment .col-payment-nav {
        padding-left:30px!important;
        padding-right:30px!important;
    }

    .row-container-payment input[type="radio"] {
        margin-top: 10px !important;
    }
    .invoice-action-row {}
    .invoice-action-row a.btn-62hallfamily {
        margin-left: 0px;
    }
}

/*4.7.1 - DETAIL PRODUK LOKAL*/
.lokal-detail-container{
	font-size:16px;
	font-family:'Karla Regular';
}
	.lokal-detail-container{
		margin-top:30px;
	}
	.lokal-detail-container .prod-detail-info .prod-detail-name{
		font-size: 24px;
		font-weight: bold;
	}
	.lokal-detail-container .prod-detail-info .prod-condition{
		margin:10px 0px;
	}
	.lokal-detail-container .prod-detail-info .prod-detail-rincian{
		margin:10px 0px;
	}
	.lokal-detail-container .prod-detail-info .prod-detail-rincian .title-rincian{
		font-weight:bold;
	}
	.lokal-detail-container .prod-detail-info .prod-detail-rincian .content-rincian{
		font-size:14px;
	}
	.lokal-detail-container .prod-detail-info .prod-detail-price-lbl{
		font-size:20px;
		color:#EC1E27;
		font-weight:bold;
		margin-bottom:30px;
	}
	.lokal-detail-container .prod-detail-info .prod-detail-stock{
		margin:10px 0px;
	}
	.lokal-detail-container .prod-detail-info .prod-detail-stock .title-stock{
		font-weight:bold;
	}
	.lokal-detail-container .description-wrapper{
		padding:20px;
		margin-bottom:20px;
		border:solid 1px #dedede;
	}

	.prod-main-content .accordion-detail-lokal{
		/*collapse prelove detail*/
		font-family: 'Karla Regular';
	}
		.prod-main-content .accordion-detail-lokal .panel.panel-default{
			border-radius: 0px;
			border:solid 1px #20bc59;
		}
		.prod-main-content .accordion-detail-lokal .panel .panel-heading{
			border-radius: 0px;
			background:#20bc59;
		}
		.prod-main-content .accordion-detail-lokal .panel .panel-title{
			text-align: center;
			color:#fff;
			font-weight: bold;
		}
		.prod-main-content .accordion-detail-lokal .panel .panel-title a{
			text-decoration:none;
		}