
/**
 * GLOBAL STYLE
 * 62HallFamily
 *
 * 1.0 - SIDEBAR PAGE 

/**
 * 1.0 - SIDEBAR PAGE
 */

.sidebar-page{
    margin: 10px;
}
 
    .sidebar-page .active{
        color: #fe0100 !important;
        font-weight: bold !important;
    }
    
    .sidebar-page a:hover{
        color: #fe0100 !important;
        text-decoration: none;
    }
 
