/* HOME DEAL */
@font-face {
    font-family: Caviar Dream Bold;
    src: url('../../font/caviar/CaviarDreamsBold.ttf');
}
@font-face {
    font-family: Karla Regular;
    src: url('../../font/caviar/Karla-Regular.ttf');
}
@font-face {
    font-family: Karla Bold;
    src: url('../../font/caviar/Karla-Bold.ttf');
}
@font-face {
    font-family: Prelove;
    src: url('../../font/Font-Prelove.ttf');
}
.container.prelove{
    font-family: 'Karla Regular';
    margin-bottom:30px;
}
.container.prelove .title-filter{
	color: #fff !important;
    background: #20bc59 !important;
    padding: 9px !important;
    border-radius: 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}
.home-deal-prelove {
    font-family:Karla Regular;
}
    .home-deal-prelove h4.deal-title {
        text-align: center;
        font-size: 21px;
        font-family: Caviar Dream Bold;
        color: #424242;
        margin-bottom: 20px;
    }
    .home-deal-prelove h4.deal-title .deal-title-wrapper {
        display: inline-block;
        margin: auto;
        border-bottom: 3px solid #21BC59;
        padding-bottom: 7px;
    }
    .home-deal-prelove .prod-card-wrapper {
        margin-left: 7px;
        margin-right: 7px;
    }
    .home-deal-prelove.end-offer {
        margin-bottom: 15px;
    }
    .home-deal-prelove.member-benefits img {
        margin: auto;
        margin-bottom: 15px;
    }
    .home-deal-prelove .slick-prev:before, .home-deal-prelove .slick-next:before {
        font-family: Prelove;
        color: #9E9E9E !important;
        font-size: 21px;
    }   
    .home-deal-prelove .slick-prev.slick-disabled:before, .home-deal-prelove .slick-next.slick-disabled:before {
        color: #DEDEDE !important;
        opacity: 1;
    }
    .home-deal-prelove .slick-prev:before {
        content: "\61";
    }
    .home-deal-prelove .slick-next:before {
        content: "\62";
    }
    .home-deal-prelove .slick-prev {
        top: -42px;
        left: 470px !important;
    }
    .home-deal-prelove .slick-next {
        top: -42px;
        right: 480px !important;
    }
    .home-deal-prelove.product-seller .slick-prev {
        top: -42px;
        left: 443px !important;
    }
    .home-deal-prelove.product-seller .slick-next {
        top: -42px;
        right: 445px !important;
    }
    .home-deal-prelove.upcomming-deals .slick-prev {
        left: 435px !important;
    }
    .home-deal-prelove.upcomming-deals .slick-next {
        right: 445px !important;
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        .home-deal-prelove .slick-prev {
            left: 375px !important;
        }
        .home-deal-prelove .slick-next {
            right: 380px !important;
        }
        .home-deal-prelove.upcomming-deals .slick-prev {
            left: 335px !important;
        }
        .home-deal-prelove.upcomming-deals .slick-next {
            right: 340px !important;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .home-deal-prelove .slick-prev {
            left: 270px !important;
        }
        .home-deal-prelove .slick-next {
            right: 275px !important;
        }
        .home-deal-prelove.upcomming-deals .slick-prev {
            left: 235px !important;
        }
        .home-deal-prelove.upcomming-deals .slick-next {
            right: 240px !important;
        }
    }
    
    @media (max-width: 768px) {
        .home-deal-prelove .slick-prev {
            left: 15px !important;
        }
        .home-deal-prelove .slick-next {
            right: 15px !important;
        }
        .home-deal-prelove.upcomming-deals .slick-prev {
            left: 15px !important;
        }
        .home-deal-prelove.upcomming-deals .slick-next {
            right: 15px !important;
        }
    }
    .home-deal-prelove.upcomming-deals {
        margin-top: 30px;
    }

/* 3.2 PRODUCT CARD */
.prod-card-wrapper {
    border: 1px solid #999999;
    margin-bottom: 15px;
    min-height: 390px;
}
@media (min-width: 992px) {
    .prod-card-wrapper {
        min-height: 413px;
    }
}
@media (min-width: 1200px) {
    .prod-card-wrapper {
        min-height: 391px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .prod-card-wrapper {
        min-height: 450px;
    }
}
@media (max-width: 768px) {
    .prod-card-wrapper {
        min-height: 446px;
    }
}
/* PRODUCT CARD WRAPPER */
    .prod-card-wrapper:hover {
        border: 1px solid #21BC59;
    }
    .prod-card-wrapper a {
        text-decoration: none;
        color: #212121;
        outline:none !important;
    }
    .prod-card-wrapper a:hover,.prod-card-wrapper a:active,.prod-card-wrapper a:link,.prod-card-wrapper a:visited {
        text-decoration: none;
        color: #212121;
    }
    .prod-card-wrapper .prod-image {
        position: relative;
    }
    .prod-card-wrapper .prod-image img {
        width: 100%;
    }
    .prod-card-wrapper .prod-image .buy-it-now-wrapper {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        color: #F8931F;
        bottom: 0px;
        width: 100%;
        font-size: 18px;
        font-family: Karla Bold;
        text-align: center;
        padding: 7px 0px;
    }
    .prod-card-wrapper .prod-image .buy-it-now-wrapper .price {
        color: #FFFFFF;
    }
    .prod-card-wrapper .prod-name {
        font-size: 16px;
        margin-bottom: 15px;
        min-height: 44px;
        height: 44px;
        overflow: hidden;
    }
    .prod-card-wrapper .prod-price-lbl {
        font-size: 11px;
    }
    .prod-card-wrapper .prod-price {
        color: #F8931F;
        font-family: Karla Bold;
        font-size: 18px;
    }
    .prod-card-wrapper .prod-info {
        padding: 8px; 
        text-align: center;
        min-height: 182px;
    }
    .prod-card-wrapper .prod-info .prod-box {
        position: relative;
        min-height: 84px;
    }
    .prod-card-wrapper .prod-info .prod-box .lbl-time-mode {
        text-align: center;
        text-decoration: none;
        font-family: Karla Bold;
    }
    .prod-card-wrapper .prod-info .prod-box .time-left, .prod-card-wrapper .prod-info .prod-box .offer {
        padding: 7px;
        background-color: #21BC59;
        margin: 3px;
        color: #FFFFFF;
        display: inline-block;
        text-align: center;
        width: 55px;
        font-size: 14px;
    }
    .prod-card-wrapper .prod-info .prod-box .offer {
        background-color: #F8931F;
    }
    .prod-card-wrapper .prod-info .prod-box .offer .offer-count,
    .prod-card-wrapper .prod-info .prod-box .time-left .hour,
    .prod-card-wrapper .prod-info .prod-box .time-left .minute,
    .prod-card-wrapper .prod-info .prod-box .time-left .second {
        font-size: 18px;
    }
    
    
    .prod-card-wrapper .prod-info .prod-box .end-offer-wrapper {
        font-size: 18px;
        background-color: #F8931F;
        color: #FFF;
        padding: 7px 0px;
        bottom: 4px;
        left: 5px;
        position: absolute;
        width: 96%;
    }
    .prod-card-wrapper .prod-info .prod-box .end-offer-wrapper .end-offer-lbl {
        font-size: 12px;
    }

/* 4.2 PRODUCT DETAIL */
.prelove-detail-container {
    margin-top: 15px;
    margin-bottom: 15px;
}
    .prelove-detail-container .header-detail {
        margin-bottom: 25px;
    }
    .prelove-detail-container .breadcrumb-wrapper {
        background-color: #f5f5f5;
        padding-left: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        -webkit-box-shadow: 0px 3px 3px rgba(183, 183, 183, 0.6);
        box-shadow: 0px 3px 3px rgba(183, 183, 183, 0.6);
        font-size: 15px;
        font-weight: bold;
        color: #424242;
    }
    
    .prelove-detail-container .prod-detail-info {
        margin-bottom: 15px;
    }
/*    .prelove-detail-container .left-product-info {
        width:28%;
    }
    .prelove-detail-container .prod-detail-info.center-product-info {
        width:47%;
    }*/
    
    .prelove-detail-container .prod-detail-info .prod-box {
/*        max-width: 245px;*/
        margin-bottom: 8px;
    }
    @media (max-width: 992px) {
        .prelove-detail-container .left-product-info {
            width:100%;
        }
        .prelove-detail-container .prod-detail-info.center-product-info {
            width:100%;
        }
        .prelove-detail-container .prod-detail-info .prod-box {
            max-width: 100%;
            text-align:center;
        }
    }
    .prelove-detail-container .prod-detail-info .prod-box .lbl-time-mode {
        text-align: center;
        font-family: Karla Bold;
        margin-top:5px;
        max-width: 245px;
    }
    @media (max-width:992px){
      .prelove-detail-container .prod-detail-info .prod-box .lbl-time-mode {         
          max-width: 100%;
      }
    }
    .prelove-detail-container .prod-detail-info .prod-box .time-left, .prelove-detail-container .prod-detail-info .offer {
        padding: 7px;
        margin: 3px;
        margin-left: 0px;
        background-color: #F8931F;
        color: #FFFFFF;
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
    .prelove-detail-container .prod-detail-info .prod-box .time-left, .prelove-detail-container .prod-detail-info .offer-count {
        font-size:32px;
    }
    .prelove-detail-container .prod-detail-info .prod-box .time-left, .prelove-detail-container .prod-detail-info .prod-box .offer {
        padding: 7px;
        margin: 3px;
        margin-left: 0px;
        background-color: #21BC59;
        color: #FFFFFF;
        display: inline-block;
        text-align: center;
        width: 73px;
        font-size: 14px;
    }
    .prelove-detail-container .prod-detail-info .prod-box .offer .offer-count,
    .prelove-detail-container .prod-detail-info .prod-box .time-left .hour,
    .prelove-detail-container .prod-detail-info .prod-box .time-left .minute,
    .prelove-detail-container .prod-detail-info .prod-box .time-left .second {
        font-size: 18px;
    }
    .prelove-detail-container .prod-detail-info .prod-box .end-offer-wrapper {
        font-size: 18px;
        background-color: #F8931F;
        color: #FFF;
        padding: 5px 0px;
        text-align: center;
        width:100%;
    }
    .prelove-detail-container .prod-detail-info .prod-box .end-offer-wrapper .end-offer-lbl {
        font-size: 12px;
    }
    
    .prelove-detail-container .prod-detail-name {
        font-size: 24px;
        color: #424242;
        margin-bottom: 5px;
        margin-top:0px;
        font-family: Karla Bold;
        text-align: left;
        min-height: 68px;
    }
    .prelove-detail-container .prod-condition {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .prelove-detail-container .prod-member-email {
        font-size: 16px;
        margin-bottom: 24px;
        color: #000000;
    }
    
    .prelove-detail-container .prod-detail-price-lbl {
        font-size: 16px;
        color: #424242;
    }
    .prelove-detail-container span.member_last_offer{
        font-size: 16px;
        color: #424242;
    }
    .prelove-detail-container span.price_number{
        color: #F8931F;
        font-family: Karla Bold;
        font-size: 18px;
    }
    .prelove-detail-container .prod-detail-price {
        color: #F8931F;
        font-family: Karla Bold;
        font-size: 15px;
    }
    .prelove-detail-container .seller-content {
        border: 1px solid #cbcbcb;
        border-top: 0px;
        padding-top:1px;
        height:300px;
        font-family: Karla Bold;
    }
    .prelove-detail-container .product-wrapper-over {
      width:100%;
/*      max-width:300px;
      height:340px;*/
      margin:0 auto;
      display:flex;
      justify-content: center;
    }
    .prelove-detail-container .seller-wrapper{
        text-align: center;        
    }
	.prod-main-content .accordion-detail-prelove{
		/*collapse prelove detail*/
		font-family: 'Karla Regular';
	}
		.prod-main-content .accordion-detail-prelove .panel.panel-default{
			border-radius: 0px;
			border:solid 1px #20bc59;
		}
		.prod-main-content .accordion-detail-prelove .panel .panel-heading{
			border-radius: 0px;			
			background:#20bc59;
		}
		.prod-main-content .accordion-detail-prelove .panel .panel-title{
			text-align: center;
			color:#fff;
			font-weight: bold;
		}
		
    .prelove-detail-container .seller-wrapper .title {
        background-color: #21BC59;
        color: #FFFFFF;
        padding: 8px;
        font-size: 18px;
    }
    .prelove-detail-container .seller-wrapper .seller-content .image {
        padding: 15px 0px;
    }
    .prelove-detail-container .seller-wrapper .seller-content .image img{
        margin: auto;
        width: 91px;
    }
    .prelove-detail-container .seller-wrapper .seller-content .seller-name a{
        font-family: Karla Bold;
        font-size: 16px;
        color: #21BC59;
    }
/*    .prelove-detail-container .seller-wrapper .seller-content .seller-name a:hover {
        color: #21BC59;
    }*/
    .prelove-detail-container .seller-wrapper .seller-content .seller-name a:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .prelove-detail-container .seller-wrapper .seller-content .seller-address {
        padding-bottom: 15px;
        font-size: 12px;
    }
    .prelove-detail-container .seller-wrapper .seller-content .seller-info {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #cbcbcb;
        font-size: 13px;
        color: #666;
    }
    @media (min-width: 992px) and (max-width:1200px) {
      .prelove-detail-container .seller-wrapper .seller-content .seller-info {       
          padding-top: 8px;
      }
    }
    .prelove-detail-container .btm-row {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .prelove-detail-container .btm-row h4.title {
        margin-top: 0px;
        font-size: 22px;
        font-family: Karla Bold;
        color: #F8931F;
    }
    .prelove-detail-container .btm-row h4.product_name_description {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom:16px;
      font-size:22px;
    }
    .prelove-detail-container .btm-row .description-wrapper {
        font-size: 14px;
        text-align: justify;
        color: #424242;
        padding: 15px;
        border: 1px solid #cbcbcb;
    }
    .prelove-detail-container .modal-prelove.modal-offer .modal-header {
        padding-bottom: 0px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .modal-title {
        font-family: Caviar Dream Bold;
        font-size: 34px;
        padding-bottom: 0px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content {
        padding: 0px 45px;
    }
    .prelove-detail-container .btn_wrapper {
      text-align: center;
      
    }
    @media (max-width: 992px) {
        .prelove-detail-container .btn_wrapper {
          text-align: center;
        }
        .prelove-detail-container .modal-prelove.modal-offer .modal-body {
            padding: 15px 10px;
        }
        .prelove-detail-container .modal-prelove.modal-offer .offer-content {
            padding: 0px 15px;
        }
        .prelove-detail-container .modal-prelove.modal-offer .offer-content .price-component {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .shipping_approve input[type=checkbox]{
      visibility: visible;
      position: relative;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .shipping_approve span{
      position: absolute;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .shipping_approve {
        font-size: 14px;
        color: #FFFFFF;
        margin-top:10px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer {
        font-family: Karla Bold;
        font-size: 19px;
        color: #FFFFFF;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .btn-dialog-prelove {
        width: 100%;
        padding: 15px 0px;
        font-family: Karla Bold;
        background: #ED1B24;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .btn-dialog-prelove:hover {
        background: #000;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .price-buy-it-now {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .price-increment-wrapper {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .price-increment-wrapper .item {
        display: inline-block;
        border-radius: 50px;
        border: 5px solid #000;
        text-align: center;
        width: 64px;
        height: 64px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-top: 6px;
        margin: 0px 10px;
        background-color: #FFFFFF;
        color: #ED1B24;
        font-family: Karla Bold;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .price-increment-wrapper .item.selected {
        background-color: #000;
        color: #FFFFFF;
    }
    .prelove-detail-container .btn-offer, .prelove-detail-container .btn-buy-it-now {
        padding: 10px;      
        font-size: 21px;
        margin-left:-5px;
        font-family: Karla Bold;        
        width: 50%;
    }
    @media (max-width:768px){
      .prelove-detail-container .btn-offer, .prelove-detail-container .btn-buy-it-now {         
          width: 100%;
      }
    }
    .prelove-detail-container .btn-buy-it-now.btn.btn-prelove {
        background-color: #212121;
    }
    .prelove-detail-container .btn-buy-it-now.btn.btn-prelove:hover {
        color: #21BC59;
    }
    .prelove-detail-container .product-not-found-wrapper {
        width: 550px;
        margin: auto;
        color: #424242;
        font-size: 20px;
        margin-top: 30px;
    }
    .prelove-detail-container .product-not-found-wrapper .lbl-title-product-not-found {
        font-family: Karla Bold;
        font-size: 36px;
        margin-top: 40px;
    }
    .prelove-detail-container .product-not-found-wrapper .lbl-product-not-found {
        margin-bottom: 26px;
    }
    .prelove-detail-container .product-not-found-wrapper .btn-prelove {
        width: 350px;
        margin-bottom: 40px;
    }
    
    .prelove-detail-container .product-seller-row .home-deal-prelove .slick-prev {
        left: 450px !important;
    }
    .prelove-detail-container .product-seller-row .home-deal-prelove .slick-next {
        right: 460px !important;
    }
    
    .modal-prelove.offer-information .modal-dialog .modal-content {
        min-height: 341px;
    }
    .modal-prelove.offer-information .modal-dialog .modal-content .offer-container {
        font-size: 18px;
        color: #FFFFFF;
    }
    .modal-prelove.offer-information .modal-dialog .modal-content .offer-container .btn-dialog-prelove {
        width: 50%;
        padding: 10px 0;
    }
    .modal-prelove.offer-information button.close {
        display: none;
    }
	
	.modal-prelove .offer-content .btn-login-dialog{
		width:100%;
		padding:10px 10px;
		background: #ED1B24;
		margin:10px auto;
	}
	.modal-prelove .offer-content .btn-login-dialog:hover{
		background: #000;
	}
    
    @media (min-width: 992px) and (max-width: 1199px) {
        .prelove-detail-container .product-seller-row .home-deal-prelove .slick-prev {
            left: 150px !important;
        }
        .prelove-detail-container .product-seller-row .home-deal-prelove .slick-next {
            right: 150px !important;
        }
    }
    
    @media (max-width: 768px) {
        .prelove-detail-container .product-seller-row .home-deal-prelove .slick-prev {
            left: 150px !important;
        }
        .prelove-detail-container .product-seller-row .home-deal-prelove .slick-next {
            right: 150px !important;
        }
    }
    .prelove-detail-container .info_product_modal{
        font-size: 12px;
        font-weight: normal;
        background:#fff;
        color:#888;
        display:block;
        padding: 5px;
        border-radius: 2px;
    }   
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_product{
        background:rgba(0,0,0,0.2);
        font-weight: normal;
        color:#fff;
        font-size:14px;
        display:block;
        padding-top: 15px;
        margin-top:5px;
        margin-left:0px;
        margin-right:0px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_cost{        
        background:rgba(0,0,0,0.2);
        font-weight: normal;
        color:#fff;
        font-size:14px;
        display:block;
        width:100%;
        padding: 10px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .warning_address{
        background:#000;
        padding:5px 10px;
        margin-bottom:20px;
        font-size:13px;
        font-weight: 400;
        font-family: 'Karla Regular';
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_cost p{
        font-size:100%;
        color:#000;
        font-family: 'Karla Regular';
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_cost .panel{
        background:transparent;
        box-shadow: none;
        margin:0px;        
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_cost #accordion{
        text-shadow:none;
        font-weight:normal;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_cost #accordion label{
        margin:0px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_cost #accordion span.label{
        font-size:100%;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .info_cost .panel .list_info{
        padding-left: 32px;
        margin-bottom:10px;
        font-size:100%;
        color:#fff;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .label_normal{
        font-size:14px;
        font-weight:400;
    }    
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .shipping_field{
        margin-bottom:5px;
    }
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .shipping_field .select2-container--default .select2-selection--single,
    .prelove-detail-container .modal-prelove.modal-offer .offer-content .form-offer .shipping_field .select2-selection .select2-selection--single.select2-prelove{
        border-color:#fff;
    }
/* 2.4 BUTTON */
.btn-prelove, .btn-dialog-prelove {
    border:none;
    border-radius: 0;
    font-family: 'Karla Bold';
    text-transform: uppercase;
    font-size: 18px;
    background: #F8931F;
    outline:none;
    color: #FFFFFF;
    padding: 6px 12px;
    text-decoration: none;
    cursor: pointer;
}
    .btn-prelove:hover,.btn-prelove:focus, .btn.btn-prelove:hover,.btn.btn-prelove:focus{
        text-decoration: none;
        color: #FFFFFF;
        background: #21BC59;
    }
    .btn-dialog-prelove:hover, .btn-dialog-prelove:focus,.btn-dialog-prelove.btn:hover,.btn-dialog-prelove.btn:focus  {
        text-decoration: none;
        color: #FFFFFF;
        background: #212121;
    }
    .btn-prelove.btn, .btn-dialog-prelove.btn {
        border-radius: 0px !important;
    }
.a-btn-prelove {
    border:none;
    border-radius: 0;
    font-family: 'Karla Bold';
    text-transform: uppercase;
    font-size: 18px;
    background: #e91e63;
    outline:none;
    color: #FFFFFF;
    padding: 6px 12px;
    text-decoration: none;
}
    .a-btn-prelove:hover,.a-btn-prelove:focus{
        text-decoration: none;
        color: #FFFFFF;
        background: #16d1b5;
    }
/* 3.1 MODAL */
.modal-prelove {
    background: rgba(0,0,0,0.3);
}
    .modal-prelove .modal-content>div{
        border:none;
    }
    .modal-prelove .modal-body{
        padding: 15px 30px;
    }
    .modal-prelove .close{
        opacity: 1;
    }
    .modal-prelove .close>span{
        display: block;
        background: #ED1B24;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-shadow: none;
        color:#fff;
        font-size: 20px;
        font-weight: bold;
        margin-right:-4px;
    }
    .modal-prelove.modal-offer .modal-header {
        background: #F8931F;
    }
    .modal-prelove.modal-offer .modal-title{
        color:#fff !important;
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        padding:15px 30px;
        padding-top: 0px;
        font-family: Caviar Dream Bold;
    }
    .modal-prelove.modal-notitle .modal-title { 
        padding-top: 0px;
    }
    .modal-prelove.modal-notitle .modal-body {
        padding-top: 10px;
    }
    .modal-prelove .modal-desc{
        color:#fff;
        padding:15px 0;
    }
    .modal-prelove .modal-dialog .modal-content{
        overflow-y: inherit;
        border-bottom:0px;
    }
	.modal-prelove .modal-dialog .offer-content .text_info{
		font-size:16px;
		color:#FFF;
		font-family: 'Karla Bold';
		
	}
    .modal-prelove .modal-dialog .modal-content .ongkir_info{
        font-size: 15px;
        margin: 10px 0px;
    }
    .modal-prelove .modal-dialog .modal-content .modal-header {
        border-top:0px;
    }
    .modal-prelove .modal-content{
        margin:0 auto;
        border:0;
        border-radius:0px;
        background: #F8931F;
        box-shadow: none;
    }
/* 3.1.5 MODAL INFORMATION */
.modal-lastm .modal-content .info-container {
    font-size: 18px;
    font-family: Karla Bold;
    color: #FFFFFF;
}
    .modal-lastm .modal-content .info-container.no-title {
        padding-top: 0px;
        margin-top: -41px;
        margin-bottom: 41px;
    }
    .modal-lastm .modal-content .info-container .lbl-status-info {
        font-size: 30px;
        font-family: Caviar Dream Bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

.dialog-information{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    text-align: center;
    z-index: 100006;
    background: rgba(0,0,0,0.2);
    padding-top: 100px;
}
.dialog-information .content-wrapper{
    background: #F8931F;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}
.dialog-information .modal-title{
    color:#fff !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding:15px 30px;
    padding-top: 0px;
    font-family: Caviar Dream Bold;
}
.dialog-information .content-dialog-information{
    text-align: center;
    color:#ffffff;
    font-size:14px;
    font-family: Caviar Dream Bold;
}
.dialog-information .btn-dialog{
    width: 100%;
    color: #fff;
    max-width: 100px;
    display: block;
    padding: 10px 30px;
    font-family: Karla Bold;
    background: #ED1B24;
    margin: 0 auto;
    margin-top: 20px;
}
.dialog-information .btn-dialog:hover{
    background: #000;
}
.accordion_prelove .radio-inline input{
	margin-top: 4px;
}
.accordion_prelove .accordion-body p{
	margin-left: 24px;
}
.accordion_prelove .panel{
	margin-bottom:0px;
}

/*HOME CATEGORY*/
.prelove-category-wrapper{
	width:100%;
	background: #20bc59;
}
.container-filter-category.prelove{
		font-family:'Karla Regular';
}
.prelove-category-wrapper .ul-prelove-category{
	list-style: none;
	text-align: center;
}
.prelove-category-wrapper .ul-prelove-category li{
	display: inline-block;
}
.prelove-category-wrapper .ul-prelove-category li.active{
	background:#fff;
}
.prelove-category-wrapper .ul-prelove-category li.active a{
	color:#20bc59;
	font-weight: bold;
}
.prelove-category-wrapper .ul-prelove-category li a{
	text-decoration: none;
	color:#ffffff;
	display: block;
	padding:10px 15px;
	font-size: 14px;
}
/* 4.3 RESULT SEARCH */
.result-container {
    /*padding-top: 15px;*/
    padding-bottom: 15px;
}
    .result-container .result-header {
        background-color: #f5f5f5;
        padding-top: 7px;
        padding-bottom: 7px;
        -webkit-box-shadow: 0px 3px 3px rgba(183, 183, 183, 0.6);
        box-shadow: 0px 3px 3px rgba(183, 183, 183, 0.6);
    }
    .result-container .result-header .title {
        padding-left: 15px;
        font-weight: bold;
        font-size: 24px;
        font-family: Karla Bold;
        color: #424242;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .result-container .result-header .sort-by-wrapper .sort-by-label,
    .result-container .result-header .view-perpage-wrapper .view-perpage-label {
        display: inline-block;
        margin-top: 7px;
        margin-right: 3px;
    }
    .result-container .result-header .sort-by-wrapper .sort-by-control {
        display: inline-block;
        vertical-align: top;
        width: 65%;
    }
    .result-container .result-header .view-perpage-wrapper {
        text-align: right;
    }
    .result-container .result-header .view-perpage-wrapper .view-perpage-control {
        display: inline-block;
        vertical-align: top;
        min-width: 35%;
    }
    
    .result-container .result-header .dropdown-lastm#sort-by-select a.dropdown-toggle {
        padding-left: 7px;
    }
    .result-container .result-header .dropdown-lastm a.dropdown-toggle, 
    .result-container .result-header .dropdown-lastm.open > .dropdown-toggle:hover,
    .result-container .result-header .dropdown-lastm.open > .dropdown-toggle:focus,
    .result-container .result-header .dropdown-lastm.open > .dropdown-toggle:visited, 
    .result-container .result-header .dropdown-lastm.open > .dropdown-toggle:active {
        background: #FFFFFF !important;
        text-align: left;
    }
    .result-container .result-header .dropdown-lastm ul.dropdown-menu {
        min-width: 20px;
    }
    .result-container .result-header .dropdown-lastm#sort-by-select ul.dropdown-menu {
        min-width: 120px;
    }
    .result-container .result-header .dropdown-lastm a.dropdown-toggle:after {
        right: 7px;
    }
    .result-container .filter-box .dropdown-lastm .dropdown-menu > li > a {
        padding: 4px 15px;
    }
    .result-container .filter-box .dropdown-lastm .dropdown-menu > li > a label.control-label {
        margin-bottom: 0px;
    }
    
    .result-container .result-body {
        margin-top: 15px;
    }
    .result-container .result-body .left-container .title {
        padding: 10px 15px;
        background-color: #16d1b5;
        color: #FFFFFF;
        font-size: 24px;
        font-family: Karla Bold;
    }
    .result-container .result-body .left-container .filter-box {
        border: 1px solid #cbcbcb;
        border-top: 0px;
    }
    .result-container .result-body .left-container .subtitle-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .result-container .result-body .left-container .subtitle-wrapper .subtitle {
        border-bottom: 1px solid #cbcbcb;
        color: #e91e63;
        font-size: 16px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-family: Karla Bold;
    }
    .result-container .category-content .dropdown-menu-list.selected a{
        color: #16d1b5;
        font-size: 16px;
        font-family: Karla Bold;
    }
.seller-container {
}
    .seller-container .seller-wrapper {
        border: 2px solid #16D1B5;
        padding: 30px;
    }
    .seller-container .seller-information {
        font-size: 18px;
        color: #424242;
    }
    .seller-container .seller-information .seller-name {
        font-size: 34px;
        color: #16D1B5;
        font-family: Karla Bold;
    }
    .seller-container .seller-information .bottom-info {
        font-family: Karla Regular;
		font-size:18px;
    }
    .seller-container .seller-not-found-wrapper {
        width: 550px;
        margin: auto;
        color: #424242;
        font-size: 20px;
        margin-top: 30px;
    }
    .seller-container .seller-not-found-wrapper img {
        margin: auto;
    }
    .seller-container .seller-not-found-wrapper .lbl-title-product-not-found {
        font-family: Karla Bold;
        font-size: 36px;
        margin-top: 40px;
    }
    .seller-container .seller-not-found-wrapper .lbl-product-not-found {
        margin-bottom: 26px;
    }
    .seller-container .seller-not-found-wrapper .btn-lastm {
        width: 350px;
        margin-bottom: 40px;
    }
    