/*
1. HEADER 
2. ICON
3. HELPER
4. BUTTON
5. PAGE
        5.1 HOME
        5.2 SHOW PRODUCT
        5.3 PRODUCT DETAIL
        5.4 SHOPPING CART
        5.5 ACCOUNT PAGE
        5.6 PAYMENT
6. CUSTOM BOOTSTRAP
7. MODAL
        7.1 LOGIN & REGISTER
8. RESPONSIVE
*/

:root {
    --imlasvegas-primary: #DF3F49;
    --imlasvegas-secondary: #FC9E3C;
    --imlasvegas-secondary-hover: #e0801b;
}
.font-red {
    color: var(--imlasvegas-primary) !important;
}

/* Loading animation */

.loading {
    margin: auto;
    width: 200px;
    max-width: 1200px;
    height: 200px;
    background: url("../../img/imlasvegas/hourglass.gif") center;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    transition: none !important;
}


/* Menghilangkan loading pada saat proses payment bank, shoping chart, div_payment_info pleasewait.... */
div.loading-container div.loading{
    display: none;
}

/* Menghilangkan loading di shoping chart */
#shopping-cart.loading {
    display: none !important;
}

/* Menghilangkan loading saat memilih bank / payment bank */
#div_payment_info.loading {
    display: none !important;
}

/* Menghilangkan loading saat payment_confirmation */
#div_button.loading {
    display: none !important;
}

/*1. HEADER*/
.im-search {
    display: block;
    float: none;
    position: relative;
    margin: 40px auto;
}
.im-search input.im-input {
    border-radius: 7px;
    height: 30px;
    border: 1px solid #F7A63A;
    box-shadow: none;
    color: #F3B917;
    padding-left: 37px;
}

.im-search input.im-input::-webkit-input-placeholder {
    color: #F3B917;
}
.im-search input.im-input:-moz-placeholder {
    color: #F3B917;
}
.im-search input.im-input::-moz-placeholder {
    color: #F3B917;
}
.im-search input.im-input:-ms-input-placeholder {
    color: #F3B917;
}

.im-search .ico-search {
    left: 11px;
}

.im-search .im-select-search {
    position: absolute;
    right: 0;
    width: 250px;
    bottom: 0px;
    height: 30px;
    padding: 3px;
    border: none;
    background-color: #F7A63A;
    color: #fff;
}

.menu-list-wrap {}
.menu-list-wrap > div {
    display: inline-block;
    vertical-align: middle;
}
.menu-list-wrap .menu-list-text {
    margin-left: 5px;
}
.main-menu-wrap {
    background-color: #DF3F49;
}
ul.main-menu > li {
    border: none;
    vertical-align: top;
}
ul.main-menu > li.active, ul.main-menu > li:hover > a {
    background-color: #C1262A;
}
ul.main-menu > li.active, ul.main-menu > li:hover > .shopping-cart {
    background-color: #C1262A;
}
ul.main-menu > li:nth-child(1) {
    border-left: none;
}
ul.main-menu > li > a {
    padding: 15px;
}
.dropdown-transaction-status {
    border-radius: 0px;
    width: 250px;
}
.dropdown-transaction-status .panel-heading {
    font-size: 18px;
}

.menu-list-container {
    position: relative;
}
.main-menu-right {
    position: absolute;
    right: 0px;
    top: 0px;
}
.dropdown-account {
    border-radius: 0px;
    padding: 0px;
}
.txt-account-link:nth-of-type(1) {
    margin-bottom: 10px;
}
.main-menu .dropdown-account a:hover {
    background: none;
    color: #C63437;
}

.shopping-cart {
    padding: 15px 10px 10px 10px;
}
.shopping-cart:hover {
    cursor: pointer;
}
.shopping-cart .count {
    position: relative;
    display: inline-block;
    vertical-align: top;
    left: 0;
    width: auto;
    top: 5px !important;
}
.container-shopping-cart-icon {
    display: inline-block;
}

.container-login ul {
    padding-left: 0px;
}
.container-login ul li {
    display: inline-block;
}
.container-login ul > li > a {
    padding: 15px 10px;
    color: #fff;	
}
.container-login ul > li > a:hover, .container-login ul > li > a:active, .container-login ul > li > a:focus {
    color: #fff;
    background-color: #C1262A !important;
    text-decoration: underline !important;
}
.container-login .menu-list-wrap {
    padding: 16px 7px 15px 0px;
    color: #fff;
}
.container-login .menu-list-wrap:hover {
    background-color: #C1262A;
}
.container-login .dropdown-account {
    left: auto;
    right: 0px;
}
.shopping-cart .container-cart {
    border-top: 4px solid var(--imlasvegas-primary);
    border-bottom: 4px solid var(--imlasvegas-primary);
}
.shopping-cart .arrow-up {
    border-bottom: 10px solid var(--imlasvegas-primary);
}

ul.main-menu > li.active, ul.main-menu > li:hover {
    background-color: transparent;
}

footer {
    background-color: #DF3F49;
}
.display-table:nth-child(n+2){
    margin-bottom: 10px;
}
.newsletter-wrap {
    background-color: #D1313B;
    padding: 15px;
}
.newsletter-wrap .newsletter-title {
    font-size: 18px;
}
.newsletter-wrap .newsletter-description {
    margin-bottom: 10px;
}
.newsletter-wrap .im-newsletter {
    display: inline-block;
    width: 260px;
    border-radius: 0px;
    border: none;
}
.newsletter-wrap .btn-newsletter {
    background-color: #B93038;
    color: #fff;
    border: 1px solid #B2202A;
    margin-left: 10px;
}
footer .social-media-bottom {
    margin-top: 51px;
    text-align: center;
}
.im-logo{
    margin: 15px auto;
}
.im-logo .brand-logo img {
    width: 175px;
}

/*2. ICON*/
.ico-search {
    background: url("../../img/imlasvegas/sprite-25.png") -28px -13px;
    width: 21px;
    height: 21px;
}
.ico-home-menu {
    background: url("../../img/imlasvegas/sprite-25.png") -25px -53px;
    width: 25px;
    height: 21px;
}
.ico-help-menu {
    background: url("../../img/imlasvegas/sprite-25.png") -81px -53px;
    width: 21px;
    height: 21px;
}

.ico-product-category {
    background: url("../../img/imlasvegas/sprite-25.png") -76px -13px;
    width: 21px;
    height: 21px;
}
.ico-status-transaction-menu {
    background: url("../../img/imlasvegas/sprite-25.png") -133px -53px;
    width: 19px;
    height: 21px;
}
.icon-shopping-cart {
    background: url("../../img/imlasvegas/sprite-25.png") -183px -53px;
    width: 22px;
    height: 22px;
}
.shopping-cart .dropdown .dropdown-toggle:hover {
    background: url("../../img/imlasvegas/sprite.png") -209px -257px !important;
    width: 22px;
    height: 22px;	
}
.ico-media_fb {
    background: url("../../img/imlasvegas/sprite.png") -50px -656px;
    width: 51px;
    height: 51px;
}
.ico-media_tw {
    background: url("../../img/imlasvegas/sprite.png") -216px -656px;
    width: 51px;
    height: 51px;
}
.ico-media_ig {
    background: url("../../img/imlasvegas/sprite.png") -133px -656px;
    width: 51px;
    height: 51px;
}
.ico-media_gp {
    background: url("../../img/imlasvegas/sprite.png") -297px -656px;
    width: 51px;
    height: 51px;
}
.ico-media_yt {
    background: url("../../img/imlasvegas/white-yt.png") no-repeat 0 0;
    width: 52px;
    height: 52px;
}
.ico-cart-product {
    background: url("../../img/imlasvegas/sprite.png") -50px -510px;
    width: 31px;
    height: 31px;
}
.ico-sale-product {
    background: url("../../img/imlasvegas/sprite.png") -50px -746px;
    width: 71px;
    height: 71px;
}
.ico-cart-button {
    background: url("../../img/imlasvegas/sprite.png") -209px -257px;
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
}
.ico-cc {
    background: url("../../img/imlasvegas/sprite.png") -50px -446px;
    width: 70px;
    height: 20px;
}
.ico-cod {
    background: url("../../img/imlasvegas/sprite.png") -148px -446px;
    width: 31px;
    height: 21px;
}

.ico-bank-transfer {
    background: url("../../img/imlasvegas/sprite.png") -316px -442px;
    width: 29px;
    height: 29px;
}



/*3. HELPER*/
.im-field {
    border-radius: 0px;
}
.container-lasvegas {
    margin-top: 15px;
}

/*4. BUTTON*/
.btn-view-status-transaction {
    width: 100%;
}
.btn-imlasvegas {
    border-radius: 0px;
    background-color: #C1262A;
    color: #fff;
    color: #fff;
    border: none;
}
.btn-imlasvegas:hover {
    color: #fff;
}

.btn-imlasvegas-light {
    background-color: #DF3F49;
    padding: 7px 15px !important;
    border-radius: 0px;
    color: #fff;
    border: none;
}
.btn-imlasvegas-light:hover,.btn-imlasvegas-light:focus, .btn-imlasvegas-light:active {
    color: #fff;
    background-color: #b1272f !important;
}

.btn-imlasvegas-secondary {
    background-color: var(--imlasvegas-secondary) !important;
    padding: 7px 15px !important;
    border-radius: 0px;
    color: #fff !important;
    border: none;
}
.btn-imlasvegas-secondary:hover,.btn-imlasvegas-secondary:focus, .btn-imlasvegas-secondary:active {
    color: #fff;
    background-color: var(--imlasvegas-secondary-hover) !important;
}





/*5. PAGE*/
/*5.1 HOME*/
.home-slideshow .carousel-indicators {
    display: block;
}
#home_slideshow-slider .carousel-control {
    display: none;
}
.carousel-indicators li:nth-child(1n) {
    background-color: #0071bc;
    border: none;
}
.carousel-indicators li:nth-child(2n) {
    background-color: #f15a24;
    border: none;
}
.carousel-indicators li:nth-child(3n) {
    background-color: #009245;
    border: none;
}
.carousel-indicators li:nth-child(4n) {
    background-color: #c1272d;
    border: none;
}
.carousel-indicators .active {
    background-color: #F65D24;
}

.sale-off{
    padding: 4px;
    border: 2px solid #F4A085;
    border-radius: 16%;
    padding-right: 4px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.container-adds {
    margin-top: 10px;
    max-height: 252px;
    overflow: hidden;
}
.container-adds img {
    width: 100%;
    height: 250px;
}
.container-deal {
    margin-top: 20px;
}
.container-deal-content {
    margin-top: 10px;
}
.container-deal .container-deal-title {
    background-color: #E1E9EC;
    padding: 10px;
    position: relative;
}
.container-deal .container-deal-title .deal-title {
    font-size: 20px;
    padding-left: 10px;
}
.container-deal .container-deal-title .deal-view-all {
    position: absolute;
    right: 0px;
    top: 0px;
}
.btn-view-all-product {
    border: none !important;
    border-radius: 0px;
    height: 48px;
    width: 160px;
    outline: none !important;
    background-color: #FC9E3C;
}
.btn-view-all-product:hover {
    background-color: #C1262A;
}
.container-product {
    border: 1px solid #DCDCDC;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}
.container-adds-bottom {
    margin-top: 10px;
    max-height: 252px;
    overflow: hidden;
}
.container-adds-bottom img {
    width: 100%;
}

.container-product .container-flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-product .container-flag > .is-hot {
    background-color: orange;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transform: rotate(-45deg);
    position: absolute;
    left: -26px;
    top: 8px;
    text-align: center;
    padding: 5px 35px;
    border-radius: 50px 50px 0 0;
}
.container-product .container-flag > .is-hot:before {
    background-color: #fff;
    transform: rotate(-45deg);
    content: ' ';
    position: absolute;
    width: 50px;
    height: 9px;
    z-index: -1;
    left: -16px;
    bottom: 13px;
}
.container-product .container-flag > .is-hot:after {
    background-color: #fff;
    transform: rotate(45deg);
    content: ' ';
    position: absolute;
    width: 50px;
    height: 9px;
    z-index: -1;
    top: 7px;
    right: -11px;
}
.container-product .container-flag > .is-sale {
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.4;
    padding: 5px;
    position: absolute;
    right: 8px;
    text-transform: uppercase;
    top: 8px;
}
.container-product .container-flag > .is-new {
    background-color: #568ec1;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.4;
    padding: 5px;
    position: absolute;
    right: 9px;
    text-transform: uppercase;
    top: 7px;
}
.container-product .container-sale-off{
    position: absolute;
    right: 0px;
    top: 0px;
}
.container-product .container-sale {
    position: absolute;
    top: 0px;
    right: 0px;
}
.container-product .container-product-image {
    width: 100%;
    height: 235px;
    font: 0/0 a;
}
.container-product .container-product-image::before{
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.container-product .container-product-image img {
    display: inline-block;
    max-height: 235px;
    max-width: 100%;
}
.container-product .container-product-price {
    position: relative;
}
.container-product .container-product-desc {
    color: #5C5C5C;
    font-size: 16px;
}
.container-product .product-price-normal {
    color: #AD2B2D;
    font-size: 16px;
    font-weight: bold;
}
.container-product .product-price-strike {
    font-size: 14px;
    text-decoration: line-through;
    height: 17px;
    color: #C1C2C4;
}
.container-product .container-cart-product {
    position: absolute;
    right: 0px;
    top: 0px;
}
.container-product:hover {
    cursor: pointer;
}
.container-product:hover .ico-cart-product {
    background: url("../../img/imlasvegas/sprite.png") -110px -510px;
}
.container-product .container-product-desc {
    height: 50px;
}


/*5.2 SHOW PRODUCT */
.txt-product-total {
    text-align: right;
    font-weight: bold;
}
.separate-show-product {
    border: 1px solid #DCDCDC;
    margin-bottom: 20px;
    margin-top: 10px;
}
.container-sort .content-show {
    text-align: right;
}
.content-sort-element {
    display: inline-block;
}
.cs-text-sortby, .cs-text-show {
    font-weight: bold;
    margin-right: 10px;
}
.cs-text-show {
    margin-left: 20px;
}
.cs-control-sortby {
    width: 200px;
    position: relative;
}
.cs-control-sortby select {
    border-radius: 0;
}
.cs-control-sortby .control-caret, .cs-control-show .control-caret {
    width: 42px;
    height: 32px;
    background-color: #DF3F49;
    position: absolute;
    right: 1px;
    top: 1px;
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.cs-control-show {
    width: 125px;
    position: relative;
}
.cs-control-show select {
    border-radius: 0;
}
.container-product-show {
    margin-top: 20px;
}
.select-imlasvegas ,.select-imlasvegas-filter {
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #df3f49, #df3f49);
    background-position: calc(100% - 20px) calc(1em), calc(100% - 12px) calc(1em), 100% 0;
    background-size: 8px 8px, 8px 8px, 2.8em 2.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
}



/*5.3 PRODUCT DETAIL*/
.product-name h3 {
    font-size: 30px;
    font-family: 'Arial';
    font-weight: bold;
}
.container-price .detail-normal-price {
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: 'Arial';
    font-size: 34px;
    font-weight: normal;
    color: #333333;
}
.product-summary {
    position: relative;
}
.detail-product .product-action {
    /*position: absolute;
bottom: 0px;
left: 207px;*/
    position: relative;
}
.btn-add-cart {
    position: absolute;
    top: -44px;
    width: 200px;
    left: 200px;
}
.detail-product .product-action a {
    font-size: 14px;
    padding: 5px 23px;
    background-color: #009946;
    font-weight: normal;
}
.detail-product .product-action a:hover {
    background-color: #027939 !important;
}
.txt-cart-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.container-share {
    margin-top: 5px;
    border-top: none;
    border-bottom: 1px solid #929292;
}
.container-share .txt-share {
    margin-bottom: 10px;
}
.container-shipping > div {
    display: block;
}
#tabs-horizontal {
    margin-left: -15px;
    margin-right: -15px;
}
#tabs-horizontal-tab-widget {
    border: 1px solid #D0D1D3;
}
#tabs-horizontal .nav .active a {
    border: 1px solid #D0D1D3;
    border-bottom: none;
    background-color: #C1262A;
    color: #fff;
}
#tabs-horizontal .nav > li > a {
    border: 1px solid #D0D1D3;
    border-bottom: none;
    background-color: #F3F3F3;
    font-weight: normal;
}
#tabs-horizontal-tab-widget > .box-header {
    display: none;
}
.container-gallery {
    display: table;
    width: 100%;
}
.gallery-list {
    width: 80px;
    display: table-cell;
    vertical-align: top;
}
.gallery-list-image {
    border: 1px solid #D0D2D1;
    padding: 2px;
    text-align: center;
    height: 81px;
    width: 81px;    
    float: left;
}

.gallery-list-image img {
    /* max-width: 75px;
     height: 75px;*/
    /*margin-top: -10px;*/
}
.gallery-list:hover {
    cursor: pointer;
}
.gallery-list-image.active {
    opacity: .5;
}
.gallery-image {
    /*	display: table-cell;
            vertical-align: top;*/
    width: 100%;
}
/*	.gallery-image img {
                width: 100%;
        }*/
/*.gallery-image .img-responsive{
    display: inline-block;
}*/
.gallery-image img {
    /*height: 486px;*/
    max-height: 486px;
    max-width: 100%;
    display: inline-block;
}

.tbody_spec {
    box-sizing: border-box;
}

.tbody_spec .tr-spec{
    box-sizing: border-box;
}
.tbody_spec .tr-spec .th-spec-red{
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    line-height: 1.42857;
    vertical-align: top;
    border: 1px solid rgb(221, 221, 221);
    width: 235px;
}
.tbody_spec .tr-spec .th-spec-white{
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    line-height: 1.42857;
    vertical-align: top;
    border: 1px solid rgb(221, 221, 221);
    width: 235px;
    background-color: rgb(249, 249, 249);
}
.tbody_spec .tr-spec .td-spec-white{
    box-sizing: border-box;
    padding: 5px;
    line-height: 1.42857;
    vertical-align: top;
    border: 1px solid rgb(221, 221, 221);
}
.tbody_spec .tr-spec .td-spec-shadow{
    box-sizing: border-box;
    padding: 5px;
    line-height: 1.42857;
    vertical-align: top;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(249, 249, 249);
}
/*5.4 SHOPPING CART */
.container-table-wrap {
    background-color: #F3F3F3;
    color: #333;
    border: 1px solid #DADADA;
}
.product-bd-right, .price-bd-right, .qty-bd-right, .sub-bd-right {
    border-right: 1px solid #DADADA;
}
.container-table-content-wrap {
    background-color: #fff;
}
.btn-shoppingcart-pembayaran {
    background-color: #FC9E3C;
}
.icon-trash-red {
    background: url(../../img/imlasvegas/sprite.png) -89px -142px;
    width: 14px;
    height: 16px;
}
.txt-shopping-cart-price {
    color: #58595b;
}
.element-register .span-register {
    font-size: 11px;
}
.element-register span a {
    font-size: 11px !important;
}
.btn-next-lasvegas {
    width: 100%;
}

/*5.5 ACCOUNT PAGE*/
.container-account .account-container-menu-border {
    background-color: var(--imlasvegas-primary);
}
.container-account .member-menu ul li:hover, .container-account .member-menu ul li.active {
    background-color: var(--imlasvegas-primary);
}
.table-62hallfamily-gray th {
    background-color: #F3F3F3 !important;
    border: 1px solid #E4E4E5 !important;
    color: #58595b !important;
}

/*5.6 PAYMENT */
.container-item  .container-item-qty {
    position: relative;
    width: 100%;
    height: 12px;
}
.container-item .container-item-qty .product-cart-qty {
    position: absolute;
    right: -5px;
    background-color: #FAAF60;
    padding: 5px 10px;
    border-radius: 50%;
    top: 0px;
    color: #fff;
}
.container-item-right .content-item-right {
    padding-top: 10px;
    padding-left: 10px;
}
.container-price-qty {
    display: table;
    width: 100%;
    margin-top: 10px;
}
.product-contact-price {
    display: table-cell;
    vertical-align: top;
    font-weight: bold;
    font-size: 16px;
}
.product-contact-total {
    display: table-cell;
    vertical-align: top;
}
.payment-list-contaner {
    display: table;
    width: 100%
}
.payment-list-content {
    display: table-cell;
    vertical-align: middle;
}
.payment-list-content:nth-of-type(2) {
    padding-left: 10px;
    /*width: 40px;*/
}
.payment-list-content:nth-of-type(3) {
    padding-left: 10px;
    font-size: 15px;
}
.table-62hallfamily th {
    background: #F3F3F3;
    color: #333;
}
.table-62hallfamily td {
    border: 1px solid #dadada;
}
.table-62hallfamily td.border-none.text-right{
    border: none;
}


/*6. CUSTOM BOOTSRAP */
.row-ths {
    margin-left: -10px;
    margin-right: -10px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xxs-5ths {
    width: 100%;
    float: left;
}

/*7. MODAL */
#custom_modal_login .modal-content {
    width: 325px;
    /*margin-left: 0px;*/
}
#custom_modal_register .modal-content {
    width: 325px;
    /*margin-left: 0px;*/
}

/*7.1 LOGIN & REGISTER*/
.icon-register-wrapper {
    background-color: #DF3F49;
}


/*===== vertical centering, not include height =====*/
.outside-element-center-vertical{
    font: 0/0 a;
    text-align: center;
}
.outside-element-center-vertical::before{
    content: " ";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.outside-element-center-vertical .element-center-vertical{
    max-width: 100%;
    max-height: 100%;
}

.payment-list-container{
    margin-top: 10px;
}

/*.icon-bca {
    width: 143px;
    height: 48px;
    background: url(../../img/62hallfamily/sprite_icon.png) -23px -298px;
}
.icon-mandiri {
    width: 148px;
    height: 48px;
    background: url(../../img/62hallfamily/sprite_icon.png) -177px -298px;
}*/

/*================================== RESPONSIVE ==================================*/
/*responsive 320 - 480*/
@media (min-width: 320px) and (max-width: 480px) {
    /* title*/
    .container-deal .container-deal-title .deal-title{
        font-size: 14px;
        font-weight: 200;
        padding: 4px;   
    }

    /* filter*/
    .cs-control-sortby {
        width: 78%;
    }

    .cs-text-show {
        margin-left:0px; 
    }

    .cs-control-show {
        padding: 10px;
    }

    /* detail*/
    .container-price .detail-normal-price {
        font-size: 16px;
    }

    .product-summary{
        font-size: 12px;
    }

    .detail-normal-price{
        font-size: 18px;   
    }

    .detail-product .product-action a {
        font-size: 10px;
        width: 100%;
    }

    .table-detail-product td {
        padding: 0px;
        font-size: 12px;
    }

    .table-detail-product td.tb-colon {

    }
    .txt-cart-button {
        display: inline-block;
    }

    .im-search .im-select-search {
        width: 140px;
    }

    .container-gallery{
        position: inherit;
    }

    .container-gallery .gallery-image {
        height: 100%;
        width: 100%;    
        display: block;
        /*margin-bottom: 175px;*/
    }
 
    .container-gallery .gallery-list {
        position: absolute;
        /*bottom: -280px;*/
        display: block;
        margin-top: 195px;
    }

    /*    .gallery-list-image{
            float: left;
        }*/

    .outside-element-center-vertical .element-center-vertical{
        max-width: 70%;
    }

    .product-contact-total{
        display :table-row;
    }

    .product-contact-price{
        margin-top: 20px;
        display: inherit;
        width: 100%;
    }

    .container-grand-total .txt-total-price{
        width: 100%;
    }

    .newsletter-wrap .im-newsletter{
        width: 64%;
    }

    .newsletter-wrap .btn-newsletter{
        font-size: 12px;
        padding: 8px 15px;
        margin: 0px;
    }

    .product-name h3{
        font-size: 24px;
    }

    .sosmed{
        bottom: -145px;
    }

    .newslatter{
        position: relative;
        top: -100px;
    }
}

/*responsive min 568*/
@media(max-width: 568px){
    .newsletter-wrap .im-newsletter{
        width: 54%;
    }
}

/*responsive min 481*/
@media (min-width: 480px) and (max-width: 766px) {
    .col-xs-5ths {
        width: 50%;
        float: left;
    }
    .sosmed{
        bottom: -125px;
    }

    .newslatter{
        position: relative;
        top: -100px;
    }
}

/*responsive min 630*/
@media (max-width: 630px){
    .btn-add-cart{
        position: static;
    }
    .product-name h3{
        margin-top: 0;
    }
}

/*responsive max 767*/
@media (max-width: 767px){
    /* button add to cart*/
    .detail-product .product-action a {
        /*width: 100%;*/
    }

    .im-search {
        margin-top: 0px;
    }
    ul.main-menu > li > a {
        display: block;
    }
    .im-search .im-select-search {
        width: 140px;
    }
    .main-menu-wrap {
        background-color: transparent;
    }
    .menu-list-container .visible-xs:nth-of-type(1) {
        background-color: #DF3F49;
    }
    .menu-list-container > ul.main-menu:nth-of-type(1) {
        background-color: #F3F3F3;
        width: 270px;
        position: absolute;
        top: 48px;
        z-index: 20;
        display: none;
    }
    ul.main-menu > li > a {
        color: #6D6D6D;
        text-align: left;
    }

    .normal > a{
        color: #6D6D6D !important;
    }

    .categories > a{
        width: 100%;
    }
    .icon-shopping-cart {
        background: url(../../img/imlasvegas/sprite.png) -209px -257px !important;
        width: 21px;
        height: 21px;
    }
    /*	.container-product .container-product-image img {
                    height: auto;
            }*/
    .newsletter-wrap .im-newsletter {
        width: 150px;
    }

    .ico-home-menu {
        background: url(../../img/imlasvegas/sprite.png) -117px -590px;
        width: 26px;
        height: 20px;
    }
    .ico-help-menu {
        background: url(../../img/imlasvegas/sprite.png) -178px -590px;
        width: 21px;
        height: 20px;
    }
    .ico-status-transaction-menu {
        background: url(../../img/imlasvegas/sprite.png) -235px -589px;
        width: 19px;
        height: 22px;
    }
    .ico-register-menu {
        background: url(../../img/imlasvegas/sprite.png) -290px -590px;
        width: 22px;
        height: 20px;
    }
    .ico-login-menu {
        background: url(../../img/imlasvegas/sprite.png) -348px -590px;
        width: 24px;
        height: 20px;
    }
    .ico-product-category {
        background: url(../../img/imlasvegas/sprite-27.png) -116px -14px;
        width: 21px;
        height: 21px;
    }
    .ico-user-menu {
        background: url(../../img/imlasvegas/sprite.png) -292px -590px;
        width: 24px;
        height: 20px;
    }
    .ico-logout-menu {
        background: url(../../img/imlasvegas/sprite.png) -408px -590px;
        width: 24px;
        height: 20px;
    }

    .container-qty .qty-wrapper {
        width: 67px;
    }

    .btn-add-cart {
        right: auto;
        left: 130px;
        width: 168px;
    }

    #tabs-horizontal .nav > li {
        display: block;
    }

    #tabs-horizontal .nav > li > a {
        display: block !important;
        width: 100% !important;
    }
    .gallery-image img {
        height: auto;
    }
    #custom_modal_register .modal-content {
        width: 280px;
    }
    .container-gallery {
        position: relative;
        margin-bottom: 15px;
    }
    .container-gallery .gallery-image {
        display: block;
        width: 100%;
        margin-bottom: 110px;
    }

    .container-gallery .gallery-list {
        display: block;
        width: 100%;
        bottom: 0px;
        position: absolute;

    }

    .sosmed{
        bottom: -145px;
    }

    .newslatter{
        position: relative;
        top: -100px;
    }

    ul.main-menu > li:hover > a, .nav .categories > a:hover, .nav .categories > a:active, .nav .categories > a:focus{
        background-color: #e5e5e5 !important;
    }

    .main-menu li.categories ul.dropdown-menu{
        min-width: 0;
    }
}

@media (max-width: 480px){
    .gallery-list-image {
        border: 1px solid #D0D2D1;
        padding: 2px;
        text-align: center;
        height: 61px;
        width: 61px;
        float: left;
    }
}
/*responsive min 768*/
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 50%;
        float: left;
    }

    .newsletter-wrap .im-newsletter{
        width: 59%;
    }

    .newsletter-wrap .btn-newsletter{
        padding: 8px 15px;
        margin: 0px;
    }

    .detail-product .product-action a{
        width: 45%;
    }

    .im-logo{
        margin-bottom: -5px;
    }

    .im-search.im-search-lv {
        margin-top: 45px;
/*        margin-bottom: 15px;*/
        margin-left: 250px;
    }
    .im-search {
        margin-top: 45px;
        margin-bottom: 15px;
        margin-left: 250px;
    }
}

/*responsive min 992*/
@media (min-width: 992px) {
    .col-md-5ths {
        width: 33.33333333333333%;
        float: left;
    }

    .im-search.im-search-lv {
        margin-top: 100px;
/*        margin-bottom: 15px;*/
        margin-left: 65px;
    }
    .im-search {
/*        margin-top: 100px;
        margin-bottom: 15px;
        margin-left: 65px;
*/
    }
}

/*responsive min 1020*/
@media (min-width: 1024px) {
    .newsletter-wrap .im-newsletter{
        width: 70%;
    }
    .newsletter-wrap .btn-newsletter{
        margin-left: 0px; 
    }
}



.qty-wrapper .input-group-btn {
    position: absolute;
    right: -1px;
}
.container-page-read .container-page-content article .carousel.slide.slide-show .carousel-indicators {
    display:none;
}
/*responsive min 1200*/
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


/* SUPPORT REVISION */



@media (max-width: 1199px) {
    .container-qty .qty-wrapper {
        width: 80px;
    }
    .detail-product .product-action a.btn-add-cart {
        left:145px;
        width: 150px;
        padding: 5px 17px;
    }
    
       
}

@media (max-width: 991px) {
    .container-adds {
        max-height:none;
    }
    .container-adds img {
        width: 100%;
        height: auto;
        margin-top:10px
    }

}

@media (max-width: 767px) {
    .content-read .content-read-img img {
        width: 100%;
        height: auto;
    }


    .dropdown-submenu-click > a:after,.dropdown-submenu-click:hover > a:after {
        display: block;
        float: right;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-right: -10px;
        border-color: transparent;
        border-left-color: #58595b !important;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        content: " ";
    }
    .dropdown-submenu-click.open > a:after,.dropdown-submenu-click.open:hover > a:after {
        display: block;
        float: right;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-right: -10px;
        border-color: transparent;
        border-left-color: transparent!important;
        border-top-color: #58595b !important;
        border-style: solid;
        border-width: 5px 5px 5px 5px;
        content: " ";
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #e5e5e5 !important;
    }

    ul#menu-categories > li > ul.dropdown-menu >li > a {
        padding-left: 35px;
    }

}

@media (max-width: 479px) {

}

@media (max-width: 319px) {

}

/*================================== END RESPONSIVE ==================================*/