@import url("62hallfamily.css");

/*
1. GLOBAL 
2. HELPER
3. HEADER - MAIN MENU - FOOTER
4. FORM
5. PAGE
   5.1 HOME
   5.2 CATEGORY
   5.3 SINGLE PRODUCT
   5.4 SHOPPING CART
   5.5 UPDATE CONTACT
   5.6 PAYMENT
   5.7 MEMBER
   5.8 MEMBER PROMO
   5.9 READ
6. ELEMENT
   6.1 PRODUCT
   6.2 SLIDER
   6.3 LOGIN & REGISTER
7. ICON
8. MODAL
9. RESPONSIVE
*/


.clear-both {
    clear:both;
}
/*BREADCUMB*/
ul.breadcumb-lasvegas {
  list-style: none;
  padding-left: 0px;
  display: flex;
  margin-bottom: 0px;
}
ul.breadcumb-lasvegas li {
  list-style: none;
  display: inline-flex;
}
ul.breadcumb-lasvegas li a {
  display: block;
  padding: 0px 10px;
  color: #999;
  font-family: "arial_nova";
  font-weight: 500;
  font-size: 13px;
}
ul.breadcumb-lasvegas li:not(:last-child):after {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: inherit;
  line-height: 1;
  font-family: FontAwesome;
  content: '\f105';
  padding-top: 3px;
}
ul.breadcumb-lasvegas li:last-child a {
  color: #666;
}

.dropdown-submenu {
    position: relative;
}


.dropdown-submenu>.dropdown-menu {
    left: 100%;
    margin-top: 0px !important;
    margin-left: 0px !important;
    border: none !important;
}

.dropdown-submenu.dropdown-submenu-click:hover > .dropdown-menu {
    display:none;
}

.dropdown-submenu.dropdown-submenu-click.open > .dropdown-menu {
    display:block !important;
}

li.dropdown-submenu.categories-submenu, li.dropdown-menu.categories-submenu {
    position: relative;
}

.nav .dropdown-submenu-click.open>a, .nav .dropdown-submenu-click.open>a:focus, .nav .dropdown-submenu-click.open>a:hover {
    background: #ececec !important;
}

/*
1. GLOBAL 
*/
:root {
    --link: #6C6C6C;
    --linkhover: #1A3555;
    --darkblue: #024c93;
    /*--lightblue: #0589d3;*/
    --lightblue: #27a8df;
    --white: #fff;
    --lightgrey: #ebebeb;
}
#topcontrol {
    z-index: 10;
}


@font-face {
    font-family: 'arial_nova';
    src: url('../../font/ArialNova.ttf') format('truetype');
}

@font-face {
    font-family: 'adobe_caslon';
    src: url('../../font/ACaslonPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'roboto';
    src: url('../../font/RobotoCondensed-Regular.ttf') format('truetype');
}

a { 
    color: var(--link); 
    text-decoration: none !important;
}
a:hover {
    color: var(--linkhover);
}
html {
    overflow-x: hidden;
}
body {
    /*width: 100%;*/
    /*overflow-x: hidden;*/
    font-family: "arial_nova";
    word-wrap: break-word;
}
red {
    color: red;
}
.loading-container {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 56, 99, 0.57);
    position: fixed;
    z-index: 99;
    text-align: center;
    display: table;
    top:0px;
}
.loading-container .loading-information {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    font-family: 'Arial';
}


/*
2. HELPER 
*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.pos-relative {
    position: relative;
}

/*
3. HEADER - MAIN MENU - FOOTER 
*/
.im-menu {
    margin-top: 10px;
}
.im-menu ul.top-menu-left, .im-menu ul.top-menu-right {
    padding-left: 0px;
}
.im-menu ul.top-menu-right {
    text-align: right;
}
.im-menu ul.top-menu-left li, .im-menu ul.top-menu-right li {
    list-style: none;
    display: inline-block;
}
.im-menu ul.top-menu-left li a, .im-menu ul.top-menu-right li a {
    padding: 3px 5px;
}
.im-menu ul.top-menu-left li:nth-child(1) a {
    padding-left: 0px;
}
.im-menu ul.top-menu-right li:nth-last-child(1) a {
    padding-right: 0px;
}
/*.im-logo {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
}
        .im-logo img {
                height: 50px;
                max-width: 100%;
        }
*/
.im-search {
    position: relative;
}




.main-menu-wrap {
    background-color: var(--darkblue);
    margin-top: 10px;
}
ul.main-menu {
    padding-left: 0;
    margin-bottom: 0px;
}
ul.main-menu > li {
    display: inline-block;
    margin-right: -4px;
    border-right: 1px solid var(--lightblue);
    position: relative;
}
ul.main-menu > li:nth-child(1) {
    border-left: 1px solid var(--lightblue);
}
ul.main-menu > li > a {
    padding: 10px 15px;
    display: block;
    color: var(--white);
}
ul.main-menu > li > a.btn-submenu {
    padding-right: 35px;
}
ul.main-menu > li.active, ul.main-menu > li:hover {
    background-color: var(--lightblue);
}
ul.main-menu > li > .ico-submenu {
    color: var(--white);
    position: absolute;
    right: 15px;
    top: 11px;
}
/*submenu*/
ul.main-menu > li .submenu-wrap {
    display: none;
    position: absolute;
    z-index: 10;
}
ul.main-menu > li .submenu-wrap ul.submenu {
    border: 1px solid var(--lightgrey);
    box-shadow: 2px 2px 3px 0px #cacaca;
    padding: 5px 0px;
    background-color: var(--white);
    padding-left: 0px;
    position: relative;
}
ul.main-menu > li ul.submenu > li {
    list-style: none;
    position: relative;
    min-width: 200px;
}
ul.main-menu > li ul.submenu > li > a {
    display: block;
    padding: 7px 35px 7px 15px;
    color: #6b6b6b;
}
ul.main-menu > li ul.submenu > li:hover > a {
    color: #333;
}

ul.main-menu > li:hover > .submenu-wrap {
    display: block;
}

ul.main-menu > li .submenu-wrap > ul.submenu > li .ico-submenu {
    color: #333;
    position: absolute;
    right: 15px;
    top: 8px;
}
ul.main-menu > li .submenu-wrap > ul.submenu > li .submenu-wrap {
    display: none;
    padding-left: 0px;
    position: absolute;
    top: -5px;
    left: 100%;
}
ul.main-menu > li .submenu-wrap > ul.submenu li:hover > .submenu-wrap {
    display: block;
}
ul.main-menu > li ul.submenu li .submenu-wrap ul.submenu {
    margin-left: 10px;
    position: relative;
}

.top-menu-left .dropdown-menu {
    border-top: 4px solid var(--darkblue);
    border-bottom: 4px solid var(--darkblue);
    border-radius: 0px;
    min-width: 250px;
    position: absolute;
    left: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    z-index: 10000;
    font-size: 15px;
    font-weight: bold;
    color: var(--darkblue);
}
.top-menu-left .dropdown-menu .panel-heading {
    padding-bottom: 0px;
}
.top-menu-left .dropdown-menu label {
    font-size: 12px;
    color: #333;
}
.top-menu-left .dropdown-menu input {
    border-radius: 0px;
    color: #333;
    font-weight: normal;
}

.ico-show-xs {
    padding: 10px 15px;
    font-size: 28px;
    color: #fff;
}

/*footer*/
footer {
    background-color: var(--darkblue);
    margin-top: 30px;
    color: #ebebeb;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer a {
    color: #ebebeb !important;
}
footer a:hover {
    color: #afabab !important;
}
footer ul.social-media {
    padding-left: 0px;
}
footer ul.social-media li {
    list-style: none;
}
footer .newsletter-wrap {
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
}
footer .txt-newsletter {
    position: absolute;
    color: #333;
    padding: 8px 10px;
    font-size: 18px;
}
footer input.input-newsletter {
    padding-left: 160px;
}
footer .btn-subscribe {
    position: absolute;
    border-radius: 0;
    top: 0;
    right: 0;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: var(--lightblue);
}
footer .copyright {
    text-align: right;
}

footer .display-table {
    display: table;
    width: 100%;
}
footer .display-table .table-cell {
    display: table-cell;
}
footer .display-table .table-cell:nth-of-type(1) {
    vertical-align: top;
    width: 20px;
}
footer .display-table .table-cell:nth-of-type(2) {
    vertical-align: top;
    padding-left: 10px;
}
.container-message {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.container-message-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container-message-text {
    font-size: 17px;
    margin-bottom: 10px;
}

/*
shopping cart
*/

.icon-shopping-cart {
    background: url("../../img/imbuilding/sprite.png") -105px -952px;
    width: 42px;
    height: 46px;
}

.shopping-cart .count {
    position: absolute;
    color: #fff;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 11px;
    top: 4px !important;
    left: 20px;
    text-align: center;
    width: 20px;
    /*right: 3px !important;*/
}

.shopping-cart {
    position: relative;
    float: right;
}

.shopping-cart .container-cart {
    min-width: 250px;
    position: absolute;
    top: 50px;
    border-radius: 0px;
    padding: 10px;
    padding-top: 0px;
    margin-left: -205px;
    border: none;
    border-top: 4px solid var(--lightblue);
    border-bottom: 4px solid var(--lightblue);
}

.triangle.arrow-up {
    right: 18px !important;
    position: absolute;
}
.shopping-cart .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--lightblue);
}
.shopping-cart .triangle {
    margin: 10px auto;
    margin-top: -14px;
}

.shopping-cart .dropdown .dropdown-toggle:hover {
    background: url("../../img/imbuilding/sprite.png") no-repeat -244px -952px;
    width: 42px;
    height: 46px;
}


.font-big {
    font-size: 16px;
}
.font-red {
    color: var(--lightblue) !important;
}
.font-bold {
    font-weight: bold;
}
.margin-top-10 {
    margin-top: 10px;
}
.padding-0 {
    padding: 0px !important;
}
.font-size11 {
    font-size: 11px !important;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.font-size10 {
    font-size: 10px;
}

.text-align-left {
    text-align: left;
}
.btn-62hallfamily:hover {
    border: 3px solid #DF3F49 !important;
    background: #fff !important;
    color: #DF3F49 !important;
}
.btn-62hallfamily-small:hover {
    border: 3px solid var(--lightblue) !important;
    background: #fff !important;
    color: var(--lightblue) !important;
    text-decoration: none;
}

.btn-62hallfamily-small {
    margin-top: 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px !important;
    color: #fff;
    font-weight: bold !important;
    height: 25px;
}
.bg-red {
    background-color: #DF3F49 !important;
}
.border-3-red {
    border: 3px solid #DF3F49 !important;
}

.container-login-cart {
    text-align: right;
    padding-top: 23px;
}
.container-login-cart .login-register-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.container-login-cart .shoping-cart-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.xs-login-wrap {
    position: absolute;
    right: 0px;
}
.xs-login-wrap .xs-login-content {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
}
.xs-login-wrap .xs-login-content {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    border: 1px solid #e6e4e4;
}



/*
4. FORM 
*/
input.im-input {
    border-radius: 0px;
    height: 40px;
}
select.im-select {
    border-radius: 0px;
    height: 40px;
}
.btn-imbuilding {
    border-radius: 0;
    background-color: var(--darkblue);
    border: none;
}
.btn-imbuilding-light {
    border-radius: 0;
    background-color: var(--lightblue);
    border: none;
}
.form-imbuilding .form-group {
    /*margin-bottom: 5px !important;*/
}

.form-login input[type="radio"] {
    margin-top: 4px;
}

.form-imbuilding input[type="text"], .form-imbuilding input[type="password"] {
    padding: 7px;
}
.form-imbuilding .txt-label {
    padding-top: 5px;
    font-family: 'Arial';
    font-size: 16px;
    color: #6d6e71;
}
.form-62hallfamily input[type="text"], .form-62hallfamily input[type="password"], .form-62hallfamily textarea, .form-62hallfamily select {
    padding: 7px !important;
}


/*
5. PAGE
*/
/*
5.1 HOME 
*/
.home-wrap {
    margin-top: 10px;
}
.home-slideshow .carousel-indicators {
    display: none;
}
.home-slideshow .carousel-control {
    color: #333;
}
.home-slideshow .item img {
    width: 100%;
}
.right-ads img {
    height: 100%;
    width: 100%;
}
.right-ads .right-ads-first {
    height: 280px;
}
.right-ads .right-ads-second {
    padding-top: 15px;
    height: 220px;
}
.slide-wrapper {
    margin-top: 30px;
}
.container-deal-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-deal-wrap .txt-title-deal {
    font-size: 20px;
    padding-top: 10px;
}

.menu-deal-wrap ul.menu-deal {
    padding-left: 0px;
    text-align: right;
}
.menu-deal-wrap ul.menu-deal li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
}
.menu-deal-wrap ul.menu-deal li:hover span {
    cursor: pointer;
    border-bottom: 3px solid var(--darkblue);
}
.menu-deal-wrap ul.menu-deal li.active span {
    border-bottom: 3px solid var(--darkblue);
}

.container-promo {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.container-promo .home-promo-image {
    background-color: #333;
}
.container-promo .home-promo-image img {
    width: 100%;
    opacity: .5;
    pointer-events: none;
}
.container-promo .container-promo-text {
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 150px;
    color: #fff;
}
.container-promo .home-promo-title {
    font-size: 25px;
    line-height: 1;
    font-family: 'adobe_caslon';
    font-style: italic;
}
.container-promo .home-promo-subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 1;
    font-family: 'roboto';
}
.container-promo .home-promo-btn {
    margin-left: 30px;
}

/*
5.2 CATEGORY 
*/
.box-category {
    margin-bottom: 20px;
    border-bottom: 2px solid #d2d3d5;
    padding-bottom: 10px;
}
.box-category .txt-heading-wrap {
    border-bottom: 3px solid var(--darkblue);
    margin-bottom: 10px;
}
.box-category .txt-heading {
    color: var(--darkblue);
    font-size: 20px;
    padding-bottom: 7px;
    font-weight: bold;
}
ul.product-category-menu {
    padding-left: 0px;
}
ul.product-category-menu li {
    list-style: none;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul.product-category-menu li:hover {
    cursor: pointer;
}
ul.product-category-menu > li.is-active > a{
    font-weight: bold;
}
ul.product-category-menu .ico-submenu {
    position: absolute;
    top: 9px;
    right: 0px;
}
ul.product-category-menu li a {
    font-size: 15px;
}
ul.product-category-menu li ul.submenu {
    padding-left: 15px;
}
ul.product-category-menu li .ico-submenu .fa-caret-down {
    display: none;
}
ul.product-category-menu li .ico-submenu .fa-caret-right {
    display: block;
}
ul.product-category-menu li.active > .ico-submenu .fa-caret-down {
    display: block;
}
ul.product-category-menu li.active > .ico-submenu .fa-caret-right {
    display: none;
}
ul.product-category-menu li .submenu-wrap {
    display: none;
}
ul.product-category-menu li.active > .submenu-wrap {
    display: block;
}
ul.product-category-menu li.is-active > .submenu-wrap ul > li.is-active > a {
    color: var(--darkblue);
}

.main-menu li.categories ul.dropdown-menu{
    min-height: 0;
}

.container-breadcrumb {
    margin-top: 20px;
    margin-bottom: 25px;
}
.container-breadcrumb > div {
    display: inline-block;
    vertical-align: top;
}
.container-breadcrumb .separate-category {
    padding-left: 12px;
    padding-right: 10px;
}

.filter-checkbox-wrapper > div {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}
.filter-checkbox-wrapper > div label {
    font-weight: normal;
}

.horizontal-overflow {
    overflow-y: auto !important;
}
.box-category .content-heading .horizontal-overflow .filter-checkbox {
    /*padding-left: 20px !important;*/
}
.filter-checkbox label span {
    line-height: 1.2;
    vertical-align: top;
    margin-left: 6px;
}

.category-advertise img {
    width: 100% !important;
}

.container-sort-view > div {
    display: inline-block;
    padding-right: 10px;
}
.container-sort-view .txt-view {
    padding-left: 20px;
}

#page-product-category {
    margin-top: 20px;
}
#page-product-category .product-wrap {
    margin-bottom: 30px;
}
#page-product-category .ico-promo {
    right: 20px;
}
.pagination-category {
    text-align: right;
    margin: 5px 0px;
}
.pagination-wrap {
    text-align: right;
}
.btn-pagination {
    background-color: rgba(0,0,0,0) !important;
    color: #333 !important;
    font-weight: bold;
    border-bottom: 2px solid var(--darkblue);
    border-radius: 0px !important;
    padding: 2px 0px 0px !important;
}
.pagination-category a.btn {
    padding: 5px 2px;	
}

/*
5.3 SINGLE PRODUCT 
*/
.product-single-image img {
    width: 100%;
}
.container-star, .container-write-review {
    display: inline-block;
    vertical-align: middle;
}
.container-price {
    /*padding-top: 15px;*/
    padding-bottom: 15px;
}
.container-price .detail-promo-price {
    font-size: 12px;
    color: #696969;
}
.container-price .detail-normal-price {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Arial';
    font-size: 36px;
    font-weight: bold;
    color: #eb1c24;
}
.table-detail-product td {
    padding: 5px;
    font-size: 14px;
    font-family: 'Arial';
}
.table-detail-product td.tb-colon {
    padding-left: 10px;
    padding-right: 5px;
}
.table-detail-product .td-title {
    color: #2f2f2f;
}
.container-product-code {
    border-top: 2px solid #929292;
    border-bottom: 2px solid #929292;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-qty {
    margin-bottom: 10px;
}
.container-qty > div {
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.container-qty .qty-wrapper {
    width: 140px;
}
.qty-wrapper .bootstrap-touchspin-up {
    position: absolute;
    top: 0px;
    right: 1px;
    height: 19px;
    width: 20px;
    padding: 0;
    border-radius: 0px;
}

.qty-wrapper .input-group-btn:nth-child(1) {
    position: absolute;
    right: 19px;
    z-index: 2;
}
.qty-wrapper .bootstrap-touchspin-down {
    height: 17px;
    top: 17px;
    padding: 2px;
    right: 0px;
    width: 20px;
    border-radius: 0px;
    padding-top: 0px;
    line-height: 1;
}
.qty-wrapper #qty {
    text-align: center;
    padding-right: 25px;
}
.btn-add-cart {
    width: 100%;
    display: block;
    border-radius: 0px;
    background-color: var(--lightblue);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial';
}
.container-share {
    margin-top: 17px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 2px solid #929292;
    border-bottom: 2px solid #929292;
}
.container-shipping {
    margin-top: 20px;
}
.container-shipping > div {
    display: inline-block;
    vertical-align: middle;
}

.product-tab {
    /*border: 1px solid #DCDEDD;*/
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
.product-tab ul#product_tab_overview-tab-nav {
    margin-left: -15px;
    border: 1px solid #DCDEDD;
    border-right: none;
    background-color: #DCDEDD;
}
.product-tab ul#product_tab_overview-tab-nav li a {
    border-radius: 0px;
    background-color: #F0F0F0;
}
.product-tab ul#product_tab_overview-tab-nav li a:hover {
    background-color: #DEDEDE;
}
.product-tab ul#product_tab_overview-tab-nav li.active a {
    background-color: #024C93;
}
.product-tab ul#product_tab_overview-tab-nav li.active a:after {
    width: 20px;
    height: 20px;
    background-color: red;
}
.product-tab .product-tab-caret {
    height: 20px;
    width: 20px;
    position: absolute;
    right: -20px;
    top: 10px;
    border-top: 10px solid transparent;
    border-left: 10px solid #024c93;
    border-bottom: 10px solid transparent;
    z-index: 2;
}
#product_tab_overview-tab-widget {
    /*min-height: 124px;*/
    min-height: 166px;
}
#product_tab_overview-tab-widget .box-body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.txt-recommendation {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.magnifier {
    /*z-index: 9!important;*/
}
#product-slider {
    height: auto;
}
.container-shipping-information {

}
.container-shipping-information .shipping-title {
    font-size: 16px;
    font-weight: bold;
}
ul.shipping-information-list, ul.dashed {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.shipping-information-list > li:before, ul.dashed > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

#product_tab_overview > .col-md-12 > .row > .col-md-2 {
    padding-right: 0px;
}
#product_tab_overview > .col-md-12 > .row > .col-md-10 {
    border: 1px solid #dcdedd;
}

.container-product-review {
    display: table;
    margin-bottom: 15px;
    width: 100%;
}
.container-product-review .product-review-icon {
    display: table-cell;
    vertical-align: top;
    width: 63px;
}
.container-product-review .product-review-content {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
}
.product-review-content .txt-review-name {
    font-size: 16px;
    font-weight: bold;
}
.product-review-content .txt-review-date {
    font-size: 12px;
    font-style: italic;
}
.product-review-content .txt-review-msg {
    margin-top: 10px;
}
.product-action .form-group {
    margin-top: -15px;
}
.product-action .form-group .select-62hallfamily {
    border-radius: 0px;
}
.product-action .product-attribute {
    margin-bottom: -15px;
}
.product-action .product-attribute {
}
.product-action .product-attribute > .txt-attribute {
    display: inline-block;
    min-width: 62px;
}
.product-action .product-attribute > .option-attribute {
    display: inline-block;
}

.product-name h3 {
    font-size: 36px;
    font-family: 'Arial';
}
.container-shipping-information {
    display: table;
    width: 100%;
}
.shipping-icon {
    display: table-cell;
    vertical-align: top;
    width: 55px;
}
.shipping-text {
    display: table-cell;
    vertical-align: top;
}
.btn-shopingcart-wrapper {
    display: inline-block;
    margin-top: 10px;
}
.image-photo-review img {
    border-radius: 50%;
}


/*
5.4 SHOPPING CART 
*/
.table-62hallfamily th {
    background: var(--darkblue);
}
#table-shoppingcart .qty-touchpin {
    width: 100% !important;
}
#table-shoppingcart td.td-qty {
    width: 170px;
}
#table-shoppingcart td.td-qty input {
    text-align: center;
}
#shopping-cart-loading {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 46px;
}
#table-shoppingcart .shoppingcart-container-produk {
    padding: 0px 10px;
}
#table-shoppingcart .td-price {
    text-align: right;
    width: 179px;
}
#table-shoppingcart .td-price strike {
    font-size: 16px;
    color: #7d7b7b;
}
#table-shoppingcart .td-total {
    text-align: right;
}
#table-shoppingcart .td-action {
    text-align: center;
    width: 10px;
}
.shoppingcart-text-total {
    font-family: 'Arial';
    font-size: 21px;
    color: #58595b;
}
.shoppingcart-footer {
    border: 1px solid #d7d9d8;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.shoppingcart-text-total-info {
    font-size: 14px;
}
.container-footer-button {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #929292;
}

.txt-shopping-cart-price {
    color: red;
}
.ico-btn-clear {
    display: inline-block;
    padding-top: 4px;
}

td.td-qty .bootstrap-touchspin {
    display: block;
}
td.td-qty .bootstrap-touchspin .input-group-btn {
    position: absolute;
    z-index: 8;
    border: none;
    right: 32px;
}
td.td-qty .bootstrap-touchspin .input-group-btn:nth-of-type(1) {
    left: 0px;
}
td.td-qty .bootstrap-touchspin .input-group-btn button {
    border-radius: 0px;
    border: none;
    top: 1px;
    left: 1px;
}
.txt-shopping-cart-title {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 21px;
    color: #58595b;
    font-family: 'Arial';
}
.container-table-wrap {
    background-color: #014c93;
    color: #fff;
    font-size: 16px;
    font-family: 'Arial';
}
.txt-table-title {
    padding: 7px;
    text-align: center;
}
table.table-product-attribute td {
    text-align: left;
    color: #6d6e71;
    font-family: 'Arial';
    font-size: 14px;
}
.product-cart-image img {
    /*width: 100px;*/
    /*height: 115px;*/
}
.container-product-cart {
    display: table;
    width: 100%;
}
.container-product-cart .product-cart-image {
    display: table-cell;
    width: 105px;
    vertical-align: top;
    height: 115px;
}
.container-product-cart .product-cart-table {
    display: table-cell;
    vertical-align: top;
    padding-left: 5px;
}
.container-product-cart .txt-product-cart-title {
    font-weight: bold;
    color: #58595b;
    font-size: 16px;
    font-family: 'Arial';
    text-align: left;
}
.col-cart-table {
    padding: 25px 5px;
}
.container-table-content-wrap {
    background-color: #F8F8F8;
}
.content-cart-price {
    text-align: right;
    font-size: 16px;
    font-family: 'Calibri';
    color: #58595b;
    padding-left: 15px;
    padding-right: 15px;
}
.content-cart-price strike {
    font-size: 12px;
    color: #a5a7aa;
}
.container-quantity {
    padding-left: 20px;
    padding-right: 20px;
}
.container-quantity .bootstrap-touchspin {
    display: block;
}
.container-quantity .bootstrap-touchspin .input-group-btn {
    position: absolute;
    z-index: 8;
    border: none;
    right: 32px;
}
.container-quantity .bootstrap-touchspin .input-group-btn:nth-of-type(1) {
    left: 0px;
}
.container-quantity .bootstrap-touchspin .input-group-btn button {
    border-radius: 0px;
    border: none;
    top: 1px;
    left: 1px;
    background-color: rgba(0,0,0,0);
}
.container-quantity .qty-touchpin {
    text-align: center;	
    padding-right: 20px;
}
.container-subtotal {
    text-align: right;
    font-size: 16px;
    color: #58595b;
    font-family: 'Calibri';
    padding-left: 15px;
    padding-right: 15px;
}
.container-delete-cart {
    text-align: center;
}
.container-delete-cart a {
    padding: 0px;
}
.container-table-wrap .title-left {
    padding-right: 0px;
}
.container-table-wrap .title-right {
    padding-left: 0px;
}
.container-table-wrap .content-right {
    padding-left: 15px;
    padding-right: 15px;
}
.product-bd-right, .price-bd-right, .qty-bd-right, .sub-bd-right {
    border-right: 1px solid #1E7AC5;
}
.col-content-left {
    padding-right: 0px;
}
.col-content-right {
    padding-right: 30px;
}
.content-left-column {
    border-right: 1px solid #D7D9D8;
}
.col-content-price, .col-content-qty, .col-content-subtotal {
    border-right: 1px solid #D7D9D8;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}
.container-row-border {
    border-bottom: 1px solid #D7D9D8;
    border-left: 1px solid #D7D9D8;
    border-right: 1px solid #D7D9D8;
    overflow: hidden;
}
.btn-shoppingcart-footer {
    font-family: 'Arial';
    font-size: 14px;
    font-weight: normal !important;
}

.btn-register-modal {
    background: none !important;
    color: var(--darkblue) !important;
}


/*
5.5 UPDATE CONTACT 
*/
.ringkasan-pemesanan {
    padding-right: 0px;
    padding-left: 30px;
}
.ringkasan-pemesanan .container-cart {
    border: 1px solid #E6E6E6;
    padding: 25px;
    background-color: #f8f8f8;
}
.ringkasan-pemesanan .image-item {
    width: 100px;
    height: 115px;
}
.container-item {
    display: table;
    width: 100%;
}
.container-item .container-item-left {
    display: table-cell;
    vertical-align: top;
    width: 105px;
}
.container-item .container-item-left img {
    max-width: 100%;
    vertical-align: middle;
}
.container-item .container-item-right {
    display: table-cell;
    vertical-align: top;
}
.product-contact-title {
    font-size: 14px;
    font-family: 'Arial';
    font-weight: bold;
    color: #58595b;
    padding-top: 5px;
}
.product-contact-price {
    font-size: 14px;
    color: #eb1c24;
    font-family: 'Arial';
    margin-top: 5px;
}
.product-contact-total {
    font-family: 'Arial';
    font-size: 14px;
    color: #6d6e71;
    margin-top: 10px;
}
.container-contact-subtotal {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #58595b;
    border-top: 2px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    padding: 10px 0px;
}
.container-contact-subtotal .row .col-xs-6 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.container-grand-total {
    overflow: hidden;
}
.container-grand-total .txt-total {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial';
    color: #58595b;
}
.container-grand-total .txt-total-price {
    color: #eb1c24;
    font-size: 21px;
    font-family: 'Arial';
    font-weight: bold;
    text-align: right;
}
#div_contact_pay, #div_contact_shipping {
    border: none;
}
#div_contact_pay .form-group label, #div_contact_shipping .form-group label, #div_shipping .form-group label {
    color: #6d6e71;
    font-family: 'Arial';
    font-size: 14px;
}
.txt-title-contact {
    font-family: 'Arial';
    font-size: 23px;
    margin-bottom: 19px;
    color: #58595b;
}

.separate-dark {
    height: 1px;
    background-color: #BBBCBE;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 7px;
}
#form_transaction .form-group input {
    padding: 10px;
}
.row-double label {
    width: 42% !important;
}
.row-double .select2-container {
    width: 56% !important;
}
.row-double input {
    width: 56% !important;
}
.row-double > div:nth-child(2) label {
    padding-left: 10px;
}
.row-phone {
    width: 68% !important;
}
.checkbox-same {
    text-align: right;
    margin-top: 5px;
}	
.checkbox-same label {
    font-size: 12px;
    vertical-align: middle;
}
.btn-payment-wrap {
    margin-top: 20px;
    margin-left: -15px;
}
.row-update-contact-full {
    word-break: break-word;
    margin-left: 0px;
    margin-right: 0px;
}
.div-btn-change-address {
    text-align: right;
}
.map-canvas {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#map_location {
    margin-bottom: 20px;
}


/*
5.6 PAYMENT 
*/
#form_payment{
    margin-bottom: 46px;
}
.border-1,
.btn-container {
    padding: 6px;
    height: 47px;
    border: none;
    max-width: 110px;
}
.btn-container .btn{
    height: 100%;
    width: 100%;
    background-size: 65%;
    background-position: center;
    border: 1px solid #E6E6E6;
    border-radius: 25px;
}
.row .text-payment{
    font-weight: bold;
    font-size: 16px;
    color: #808083;
}
.row .payment-row {
    border: 1px solid #E6E6E6;
    padding: 25px;
    margin-bottom: 25px;
}
.margin-top-30{
    margin-top: 44px;
}
.margin-top-44{
    margin-top: 44px;
}
.contact-row > div.row {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: 'Arial';
    color: #6d6e71;
}
.contact-row > div.row button {
    font-size: 12px;
    font-family: 'Arial';
}
.payment-separate {
    height: 2px;
    background-color: #D3D3D5;
    margin-top: 30px;
    margin-bottom: 30px;
}
.txt-payment-choice {
    font-size: 16px;
    font-family: 'Arial';
}
.txt-payment-choice {
    display: inline-block;
}
.payment-select-wrap {
    display: inline-block;
    padding-left: 10px;
}
.content-payment {
    margin-top: -30px;
    position: relative;
}
.payment-list {
    padding-top: 5px;
    padding-bottom: 5px;
}
.payment-list a > div {
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}
.payment-list .txt-payment-title {
    padding-left: 5px;
}
.content-payment .selected-payment {
    border-radius: 0px;
}
.content-payment ul.dropdown-menu {
    border-radius: 0px;
}

.icon-payment {
    margin:auto;
}

#target_payment {
/*    margin-top: 20px;*/
    margin-left:0px;
    margin-right:0px;
    
}

.row-bank {
    margin-left:0px;
    margin-right:0px;
}
.row-bank2 {
    margin-left:0px;
    margin-right:0px;
}
.box-payment-method {
    padding: 16px;
    text-align: justify;
    background-color: #ffffe7;
    margin-top: 8px;
}
.btn-next-payment-wrap {
    margin-top: 10px;
    text-align: right;
}
.btn-bottom{
    margin-top: 33px;
}
.btn-payment{
    float: left;
    margin-right: 15px;
}
.btn-payment .form-group{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 0;
}
.btn-payment .form-group .control-label{
    width: 0 !important;
}
.txt-bank-detail {
    background-color: #ffffe7;
    padding: 16px;
    font-size: 14px;
}
.txt-title-detail{
    font-weight: bold;
    color: #c1262a;
}
.detail_rekening,
.detail_holder{
    font-weight: bold;
}
.txt-caution{
    font-weight: bold;
    color: #895e3c;
}
.txt-caution-detail,
.txt-rekening-detail,
.txt-holder-detail,
.txt-bank-detail-description{
    color: #895e3c;
}
.txt-bank-detail-description {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
}
.btn-submit-payment {
    padding: 5px 15px !important;
}

.modal-dialog .modal-content.modal-error .modal-header {
    border-top: none;
}

.modal-dialog .modal-content.modal-error {
    border-bottom: none;
}
.container-vendor-head {
    background-color: #024C93;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    position: relative;
}
.btn-view-all-wrap {
    position: absolute;
    right: 0px;
    top: 0px;
}
.btn-view-all-vendor {
    padding: 12px 30px 13px;
}
.container-vendor-body {
    border: 1px solid #DEDEDE;
    border-top: none;
}
.vendor-content {
    padding: 0px 15px;
}
.vendor-content .vendor-wrap {
    width: 100%;
    border-top: 2px solid #DEDEDE;
    padding: 15px 0px;
}
.vendor-content:nth-of-type(1) .vendor-wrap {
    border-top: none;
}
.vendor-content .vendor-wrap .vendor-image {
    display: table-cell;
    width: 80px;
    padding-right: 10px;
}
.vendor-content .vendor-wrap .vendor-image img {
    width: 70px;
    height: 70px;	
}
.vendor-content .vendor-wrap .vendor-name {
    display: table-cell;
    font-size: 15px;
}
.content-vendor-empty {
    padding: 10px;
}
.accordion_lapak .radio-inline input{
    margin-top: 4px;
}
.accordion_lapak .accordion-body p{
    margin-left: 24px;
}
.accordion_lapak .panel{
    margin-bottom:0px;
}

/*
5.7 MEMBER
*/
.container-account {
    margin-top: 30px;
}
.container-account .account-container-menu-border {
    height: 10px;
    background-color: #024C93;
}
.container-account .account-container-menu {
    border: 1px solid #D8DAD9;
    border-top: none;
    background-color: #F0F0F0;
}

.container-account .account-container-member {
    display: flex;
    width: 100%;
    padding: 15px;
    font-family: 'Calibri';
}
.container-account .btn-logout{
    font-size:12px;
    padding: 4px 15px !important;
}
.account-container-member .member-photo {
    display: table-cell;
    vertical-align: middle;
}
.account-container-member .member-photo img {
    width: 80px;
    border-radius: 50%;
    margin-right:10px;
}
.account-container-member .member-info {
    display: table-cell;
    vertical-align: middle;
}
.member-info .txt-member-info {
    font-size: 18px;
    line-height: 1;
}
.member-info .txt-member-email {
    margin-bottom: 10px;
    font-size:12px;
    word-break: break-all;
}
.container-account .member-menu ul {
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px;
    margin-left: 0px !important;
}
.container-account .member-menu .content-menu {
    padding: 0px 10px;
}
.container-account .member-menu ul li a {
    display: block;
    text-align: left;
    border: none;
    border-bottom: 1px solid #d8dad9;
    border-radius: 0px;
    padding: 10px;
}
.container-account .member-menu ul li:hover a,
.container-account .member-menu ul li:focus a,
.container-account .member-menu ul li.active a{
    border-bottom:transparent;
}
.member-menu a:hover, .container-account .member-menu ul li.active a {
    border-bottom: none;
    color: #fff !important;
}
.txt-info-title {
    font-size: 24px;
    font-family: 'Arial';
    color: #58595b;
}
.txt-info-subtitle {
    font-family: 'Arial';
    font-size: 16px;
    color: #6d6371; 
}
.member-info-separate {
    margin-top: 20px;
    margin-bottom: 25px;
    height: 2px;
    background-color: #A6A7AB;
}
.txt-account-title {
    font-size: 18px;
    font-family: 'Arial';
    color: #58595b;
}
.btn.change-account {
    margin-top: -2px;
}
.txt-account-label {
    font-size: 14px;
    font-family: 'Arial';
    color: #6d6e71;
    padding-top: 5px;
    padding-bottom: 5px;
}
.txt-account-label .txt-label-colon, .txt-account-label .txt-label-text {
    display: table-cell;
    vertical-align: top;
}
#newsletter_check {

}
.label-checkbox-newsletter {
    font-size: 12px;
    font-weight: normal;
}

#page-account-container #image_name {
    padding-top: 5px;
}
.container-account-info > .row {
    margin-bottom: 10px;
}

.container-table-book {
    overflow-y: auto;
}

.content-promo {
    margin-bottom: 10px;
}
.content-promo .member-promo-img img {
    width:100%;
    height: 150px;
}
.content-promo .member-promo-title {
    font-family: 'Arial';
    font-size: 18px;
    color: #58595b;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content-promo .member-promo-content {
    color: #6d6e71;
    font-family: 'Arial';
    font-size: 13px;
    text-align: justify;
    height: 75px;
}

.form-send-message .row {
    margin-bottom: 10px;
}
.form-send-message span.form-label {
    font-size: 18px;
    font-family: 'Arial';
    line-height: 2.2;
}
.im-field {
    border-radius: 0px;
}

.container-table-inbox table {
    width: 100%;
}
.container-table-inbox table td.td-btn-reply {
    width: 75px;
    text-align: right;
}
.container-table-inbox table td {
    padding-bottom: 10px;
    vertical-align: top;
}
.container-table-inbox table td.td-name {
    width: 190px;
}
.container-table-inbox table td.td-date {
    width: 100px;
}
.container-table-inbox table td.td-message {

}
.el-text-message {
    padding: 10px;
    border-radius: 5px;
    background-color: #ff6e77;
    border: 1px solid #ffffff;
    color: #fff;
}
.el-text-message.member {
    background-color: #F0F0F0;
    border: 1px solid #E9E9E9;
    color: #333;
}
.el-box-message {
    margin-bottom: 20px;
}
.el-message-date {
    font-size: 12px;
}
.el-message-date-top {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.el-box-container-message {
    display: table-cell;
    margin-left: 10px;
    vertical-align: top;
}
.ico-user-wrap {
    display: table-cell;
    width: 60px;
    vertical-align: top;
}
.el-box-message {
    display: table;
}
.ico-user-admin {
    background: url(../../img/imlasvegas/logo_admin.jpg) ;
    width: 51px;
    height: 51px;
}

.ico-user-member {
    background: url(../../img/imbuilding/sprite.png) -206px -469px;
    width: 51px;
    height: 51px;
}
textarea.txt-send-message {
    border-radius: 0px;
    margin-bottom: 10px;
}

.table-62hallfamily-gray th {
    background: var(--darkblue) !important;
    border: 1px solid var(--darkblue) !important;
}

.container-review-top {
    background-color: var(--darkblue);
    color: #fff;
    text-align: center;
    padding: 0px 15px;
    font-size: 14px;
}
.container-review-top .rcol-1 {
    border-right: 1px solid #0A60A9;
    padding: 5px;
}
.container-review-top .rcol-2 {
    border-right: 1px solid #0A60A9;
    padding: 5px;
}
.container-review-top .rcol-3 {
    border-right: 1px solid #0A60A9;
    padding: 5px;
}
.container-review-top .rcol-4 {
    padding: 5px;
}
.container-review-content {
    padding: 0px 15px;
    border: 1px solid #DCDCDE;
    border-top: none;
}
.row-review {
    overflow-y: hidden;
}
.container-review-content .ccol-1, .container-review-content .ccol-2, .container-review-content .ccol-3, .container-review-content .ccol-4 {
    border: 1px solid #DCDCDE;
    border-top: none;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    padding-top: 10px;
}
.container-review-content .ccol-1 {
    border-left: none;
}
.container-review-content .ccol-2 {
    border-left: none;
}
.container-review-content .ccol-3 {
    border-left: none;
    text-align: right;
}
.container-review-content .ccol-4 {
    border-left: none;
    border-right: none;
    text-align: center;
}


.review-description-image img {
    width: 100px;
    height: 115px;
    padding-bottom: 10px;
}
.container-review-description {
    display: table;
    width: 100%;
}
.container-review-description .review-description-image {
    display: table-cell;
    vertical-align: top;
    width: 110px;
}
.container-review-description .review-description-text {
    display: table-cell;
    vertical-align: top;
}
.review-description-text .description-title {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial';
}

.container-review-product {
    width: 100%;
    display: table;
    margin-top: 10px;
}
.container-review-product .modal-review-image {
    display: table-cell;
    vertical-align: top;
    width: 110px;
}
.container-review-product .modal-review-image img {
    width: 100px;
}
.container-review-product .modal-review-description {
    display: table-cell;
    vertical-align: top;
}
.modal-review-description .review-description-title {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial';
}
.modal-review-description .review-description-price {
    font-size: 14px;
    font-family: 'Arial';
    color: red;
    font-weight: bold;
}
.modal-review-description .review-description-qty {
    color: #333;
    font-size: 14px;
    font-family: 'Arial';
}
.txt-modal-review {
    font-size: 16px;
    font-family: 'Arial';
    margin-top: 10px;
    margin-bottom: 3px;
}
.modal-container-btn {
    text-align: right;
    margin-top: 10px;
}

/*
5.8 MEMBER PROMO 
*/
.container-page-promo {
    margin-top: 30px;
}
.container-page-promo .container-title {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
    margin-bottom: 10px;
}
.container-page-promo .container-content {
    text-align: justify;
}
.container-page-promo .container-content .container-content-img {
    text-align: center;
}
.container-page-promo .container-content .container-content-img img {
    max-width: 300px;
}

/*
5.9 READ 
*/
.container-page-read {
    margin-top: 20px;
}
.sidebar-title {
    font-size: 19px;
    font-family: 'Arial';
    font-weight: bold;
    color: #014c93;
    border-bottom: 3px solid var(--darkblue);
    padding-bottom: 5px;
    margin-top: 20px;
}
.sidebar-menu-list {
    display: block;
    padding: 5px 0px;
    border-bottom: 1px solid #D3D3D5;
}
.sidebar-menu-list.active {
    color: var(--lightblue);
}
.container-page-content {
    margin-top: 20px;
}

.content-read-title {
    font-size: 24px;
    font-family: 'Arial';
    color: #58595b;
}
.content-read-subtitle {
    font-family: 'Arial';
    font-size: 16px;
    color: #000;
    margin-top: 15px;
}
.content-read-text {
    font-family: 'Arial';
    font-size: 14px;
    color: #6d6e71;
    text-align: justify;
     word-wrap: break-word;
}
.container-read-slide {
    margin-top: 15px;
    text-align: center;
}
.container-read-slide .icon-article {
    display: inline-block;
}
.container-read-slide .icon-article img {
    max-width: 768px;
}
.container-read-slide-title {
    font-family: 'Arial';
    font-size: 16px;
    color: #58595b;
    margin-top: 35px;
    text-align: left;
}
.container-read-slide-text {
    font-family: 'Arial';
    font-size: 14px;
    color: #6d6e71;
    margin-left: 18px;
    text-align: left;
}
.slide-arrow-wrap {
    font-size: 20px;
    border: 1px solid #999999;
    background-color: #EEEEEE;
    padding: 3px 10px 3px 7px;
}
.content-read-slide.slide-wrapper .owl-controls .owl-prev {
    left: 0px;
}
.content-read-slide.slide-wrapper .owl-controls .owl-next {
    right: 0px;
}
.content-read-slide.slide-wrapper .owl-controls .owl-nav > div {
    height: 65%;
}
ul.ul-read {
    margin-left: 20px;
}
.content-read {
    margin-bottom: 20px;
}
.content-read .content-read-img img {
    width:100%;
    height: 150px;
}
.content-read .content-read-title {
    font-family: 'Arial';
    font-size: 24px;
    color: #58595b;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content-read .content-read-content {
    color: #6d6e71;
    font-family: 'Arial';
    font-size: 13px;
    text-align: justify;
    height: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content-read .content-read-written {
    color: var(--lightblue);
}
.content-read .content-desc-post {
    font-size: 12px;
    font-family: 'Arial';
    color: #5ba0d0;
    margin-bottom: 10px;
}
.content-read .content-read-text img.image-in-post {
    margin-right: 10px;
    max-width: 220px;
}

/*
6. ELEMENT 
*/
/*
6.1 PRODUCT
*/
.product-wrap {
    border: 1px solid #dbe7e7;
}
.owl-stage .product-wrap {
    margin-left: 10px;
    margin-right: 10px;
}
.product-wrap .product-summary {
    padding: 10px 10px 15px 10px;
    text-align: center;
}
.product-wrap .product-summary .product-name {
    height: 40px;
}
.product img {
    width: 100%;
}
.product-summary .promo-price {
    color: #eb1d21;		
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
}
.product-summary .normal-price {
    display: inline-block;
    font-size: 11px;
    text-decoration: line-through;
    color: #969696;
}
.product-summary .product-action {
    position: relative;
    margin-top: 10px;
    display: inline-block;
}
.product-summary .btn-buy {
    border-radius: 0px;
    background-color: var(--lightblue);
    border: none;
    padding-left: 40px;
    color: #fff;
}
.product-summary .product-by-request {
    font-weight: bold;
    padding: 6px;
    color: #7d7d7d;
}
.slide-wrapper .owl-controls .owl-nav > div {
    position: absolute;
    margin: auto;
    height: 50%;
    bottom: 0;
    font-size: 30px;
    opacity: .5;
}
.slide-wrapper .owl-controls .owl-prev {
    left: -12px;
}			
.slide-wrapper .owl-controls .owl-next {
    right: -12px;
}
.slide-wrapper .owl-controls > div:hover {
    opacity: 1;
}
.owl-carousel .owl-stage-outer {
    height: 100%;
}
/*
6.2 SLIDER 
*/

/*
6.3 LOGIN & REGISTER
*/
.container-login ul {
    padding-left: 0px;
    margin-bottom: 0px;
}
.container-login ul li {
    display: inline-block;
    list-style: none;
}
.container-login ul > li:nth-child(2) {
    margin-left: 5px;
}
.txt-title-login {
    font-size: 21px !important;
    font-family: 'Arial';
    color: #2f2f2f !important;
    text-align: center;
}

#custom_modal_login label {
    display: none;
}
input[type="password"].field-password-login {
    padding-left: 41px !important;
    margin-top: 10px;
}
.btn-login-modal {
    margin-bottom: 10px;
}
#custom_modal_login .modal-content {
    width: 300px;
    margin-left: 150px;
}
#custom_modal_register .modal-content {
    width: 300px;
    margin-left: 150px;
}

/*#custom_modal_register_suggestion .modal-content {
        width: 300px;
        margin-left: 150px;
}*/

.icon-register-wrapper {
    background-color: #014c93;
    width: 34px;
    height: 35px;
    position: absolute;
}

.container-field {
    margin-bottom: 7px;
    margin-top: 7px;
}
.container-field input[type="text"], .container-field input[type="password"] {
    padding-left: 40px !important;
}
.register-form .container-bottom {
    padding: 20px;
}

.btn-next-login {
    display: block;
}
.radio-shoppingcart {
    margin-top: 0px !important;
}


/*
7. ICON 
*/
.ico-search {
    position: absolute;
    width: 33px;
    height: 35px;
    background-image: url(../../img/imbuilding/sprite.png);
    background-position: -20px -169px;
    background-repeat: no-repeat;
    background-size: 600px;
    top: 3px;
    right: 3px;
}
.ico-search:hover {
    cursor: pointer;
}

.ico-bookmark {
    background: url("../../img/imbuilding/sprite.png") -92px -232px;
    display: inline-block;
    width: 32px;
    height: 30px;
    position: relative;
    right: 54px;
    float: right;
}
.ico-bookmark-count {
    position: absolute;
    color: #fff;
    background-color: #0d4d90;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 11px;
    top: -7px !important;
    left: 20px;
    border: 2px solid #fff;
}

.ico-cart-white {
    background-color: var(--darkblue);
    width: 32px;
    height: 32px;
    position: absolute;    
    background-image: url(../../img/imbuilding/sprite.png);
    background-position: -207px -92px;
    background-repeat: no-repeat;
    background-size: 793px;
}
.ico-home {
    background: url("../../img/imbuilding/sprite.png") -123px -98px;
    width: 20px;
    height: 20px;
}
.ico-home-dark {
    background: url("../../img/imbuilding/sprite.png") -34px -35px;
    width: 27px;
    height: 16px;
}
.ico-phone {
    background: url("../../img/imbuilding/sprite.png") -167px -98px;
    width: 20px;
    height: 20px;
}

.ico-bbm {
    background: url("../../img/imbuilding/sprite.png") -78px -98px;
    width: 20px;
    height: 20px;
}

.ico-wa {
    background: url("../../img/imbuilding/sprite6.png") -266px -255px;
    width: 22px;
    height: 22px;
    min-height: 21px;
    max-height: 25px;
}

.ico-email {
    background: url("../../img/imbuilding/sprite.png") -34px -98px;
    width: 20px;
    height: 20px;
}

.ico-media_fb {
    background: url("../../img/imbuilding/sprite.png") -97px -389px;
    width: 41px;
    height: 41px;
}
.ico-media_tw {
    background: url("../../img/imbuilding/sprite.png") -34px -389px;
    width: 41px;
    height: 41px;
}
.ico-media_ig {
    background: url("../../img/imbuilding/sprite.png") -161px -389px;
    width: 41px;
    height: 41px;
}
.ico-media_gp {
    background: url("../../img/imbuilding/sprite.png") -225px -389px;
    width: 41px;
    height: 41px;
}

.ico-promo {
    background: url("../../img/imbuilding/sprite.png") -147px -309px;
    width: 35px;
    height: 34px;
    position: absolute;
    right: 12px;
    z-index: 9;
}
.ico-hot {
    background: url("../../img/imbuilding/sprite.png") -90px -309px;
    width: 35px;
    height: 34px;
    display: inline-block;
}
.ico-new {
    background: url("../../img/imbuilding/sprite.png") -34px -309px;
    width: 35px;
    height: 34px;
    display: inline-block;
}
.ico-star-on {
    background: url("../../img/imbuilding/sprite.png") -109px -35px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.ico-star-half {
    background: url("../../img/imbuilding/sprite.png") -145px -35px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.ico-star-off {
    background: url("../../img/imbuilding/sprite.png") -182px -35px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.ico-truck {
    background: url("../../img/imbuilding/sprite.png") -218px -35px;
    width: 23px;
    height: 16px;
    display: inline-block;
}
.flag-div-wrapper {
    position: absolute;
    left: 20px;
    z-index: 9;
}
.ico-share-tw {
    background: url("../../img/imbuilding/sprite.png") -34px -165px;
    width: 22px;
    height: 20px;
    display: inline-block;
}
.ico-share-tw:hover {
    cursor: pointer;
    background: url("../../img/imbuilding/sprite.png") -218px -165px;
}
.ico-share-fb {
    background: url("../../img/imbuilding/sprite.png") -78px -165px;
    width: 22px;
    height: 20px;
    display: inline-block;
}
.ico-share-fb:hover {
    cursor: pointer;
    background: url("../../img/imbuilding/sprite.png") -262px -165px;
}
.ico-share-ig {
    background: url("../../img/imbuilding/sprite.png") -122px -165px;
    width: 22px;
    height: 20px;
    display: inline-block;
}
.ico-share-ig:hover {
    cursor: pointer;
    background: url("../../img/imbuilding/sprite.png") -306px -165px;
}
.ico-share-gp {
    background: url("../../img/imbuilding/sprite.png") -170px -165px;
    width: 22px;
    height: 20px;
    display: inline-block;
}
.ico-share-gp:hover {
    cursor: pointer;
    background: url("../../img/imbuilding/sprite.png") -354px -165px;
}

.ico-user-o {
    background: url("../../img/imbuilding/sprite.png") -34px -462px;
    width: 61px;
    height: 61px;
}
.icon-trash-red {
    background: url("../../img/imbuilding/sprite.png") -63px -724px;
    width: 16px;
    height: 18px;
}
.icon-trash-white {
    background: url("../../img/imbuilding/sprite.png") -34px -633px;
    width: 14px;
    height: 16px;
}
.ico-payment-cost {
    background: url("../../img/imbuilding/sprite.png") -20px -1041px;
    width: 29px;
    height: 26px;
}
.ico-delivery {
    background: url("../../img/imbuilding/sprite.png") -20px -1041px;
    width: 29px;
    height: 26px;
}
.ico-gift {
    background: url("../../img/imbuilding/sprite.png") -156px -1041px;
    width: 44px;
    height: 26px;
}
.ico-user {
    background: url(../../img/imbuilding/sprite.png) -34px -898px;
    width: 21px;
    height: 25px;
}

.icon-login-wrap {
    width: 35px;
    height: 35px;
    background-color: #014c93;
    position: absolute;
}
.icon-login-wrap.password {
    top: 55px;
}
.icon-email-login {
    background: url(../../img/imbuilding/sprite.png) -34px -100px;
    width: 21px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 7px;
}
.icon-password-login {
    background: url(../../img/imbuilding/sprite.png) -196px -902px;
    width: 20px;
    height: 21px;
    position: absolute;
    top: 7px;
    left: 7px;
}

.icon-register-user {
    background: url(../../img/imbuilding/sprite.png) -127px -591px;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 11px;
    left: 11px;
}

.icon-register-email {
    background: url(../../img/imbuilding/sprite.png) -189px -591px;
    width: 16px;
    height: 13px;
    position: absolute;
    top: 11px;
    left: 9px;
}
.icon-register-key {
    background: url(../../img/imbuilding/sprite.png) -96px -591px;
    width: 12px;
    height: 13px;
    position: absolute;
    top: 11px;
    left: 9px;
}
.icon-register-phone {
    background: url(../../img/imbuilding/sprite.png) -158px -591px;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 11px;
    left: 9px;
}

.icon-article-1 {
    background: url(../../img/imbuilding/sprite-article.png) -42px -114px;
    width: 768px;
    height: 407px;
    display: inline-block;
}
.icon-article-2 {
    background: url(../../img/imbuilding/sprite-article.png) -42px -592px;
    width: 768px;
    height: 407px;
    display: inline-block;
}
.icon-article-3 {
    background: url(../../img/imbuilding/sprite-article.png) -42px -1069px;
    width: 768px;
    height: 408px;
    display: inline-block;
}
.icon-article-4 {
    background: url(../../img/imbuilding/sprite-article.png) -42px -1547px;
    width: 768px;
    height: 407px;
    display: inline-block;
}
.icon-article-5 {
    background: url(../../img/imbuilding/sprite-article.png) -42px -2025px;
    width: 768px;
    height: 407px;
    display: inline-block;
}
.icon-article-6 {
    background: url(../../img/imbuilding/sprite-article.png) -42px -2503px;
    width: 768px;
    height: 407px;
    display: inline-block;
}


/*
8. MODAL 
*/
.modal-dialog .modal-content .modal-header {
    border-top: none;
    border-radius: 20px;
}
.modal-dialog .modal-content .modal-header .modal-title {
    color: var(--darkblue);
    padding-top: 15px;
    font-size: 21px !important;
    font-family: 'Arial';
    color: #2f2f2f !important;
    text-align: center;
}
.modal-dialog .modal-content {
    border-bottom: none;
    border-radius: 20px;
}

.modal-dialog .modal-header button.close {
    color: #fff;
    background-color: #2F2F2F;
    padding: 0px 5px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-shadow: none;
    right: -10px;
    top: -10px;
}
.modal-body{
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
.txt-alert-cod {
    font-size: 19px;
    text-align: center;
    margin-bottom: 15px;
}

/*
9. RESPONSIVE 
*/
@media (max-width: 1199px) {
    .account-container-member .member-photo {
        display: block;
    }
    .account-container-member .member-info {
        display: block;
        margin-top: 10px;
    }
}
@media (min-width:991px) and (max-width: 1199px){
    /*.im-search {
            width: 227px;
    }*/
    .container-account .account-container-member{
        display: block !important;
        text-align: center;
    }
}
@media (max-width:991px) {
    .im-logo {
        text-align: left;
    }
    .home-slideshow {
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .home-slideshow .item img {
        height: auto !important;
    }
    .right-ads .right-ads-first {
        height: 150px;
    }
    .right-ads .right-ads-second {
        padding-top: 0px;
        height: 150px;
    }

    /*overwrite 62hall*/
    a.icon-shopping-cart {
        position: relative;
        top: 0px;
        right: 0px;
    }
    ul.dropdown-menu.container-cart {
        top: 50px;
        right: 0px;
    }

    .product-tab {
        border: none;
    }
    .product-tab .product-tab-caret {
        display: none;
    }
    .product-tab ul#product_tab_overview-tab-nav {
        margin-left: 0px;
    }
    #product_tab_overview-tab-widget .box-body {
        padding: 10px;
        border: 1px solid #dcdedd;
        margin-right: 1px;
    }
    #product_tab_overview > .col-md-12 > .row > .col-md-2 {
        padding-left: 0px;
    }
    #product_tab_overview-tab-widget {
        margin-left: -16px;
        margin-right: -17px;
        min-height: auto;
    }
    
    .ringkasan-pemesanan {
        padding-left: 0px;
    }
    .icon-login-wrap.password {
        top: 50px;
    }

    .container-review-description .review-description-image {
        display: block;
    }
    .container-review-description .review-description-text {
        display: block;
    }
}
@media (max-width:767px) {
    .col-cart-table.resp {
        padding: 10px;
        margin-top: 35px;
    }
    .right-ads .right-ads-first {
        height: auto;
    }
    .right-ads .right-ads-second {
        padding-top: 10px;
        height: auto;
    }
    .container-promo .container-promo-text {
        top: 30px;
        left: 50px;
    }

    footer input.input-newsletter {
        padding-left: 12px;
    }

    /* MENU */
    .main-menu-wrap > .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    ul.main-menu > li {
        display: block;
        margin-right: 0px; 
        border-right: none; 
    }
    ul.main-menu > li .submenu-wrap {
        position: relative;
    }
    ul.main-menu > li .submenu-wrap ul.submenu {
        border: none;
        box-shadow: none;
        padding: 0px; 
        background-color: var(--white);
    }
    ul.main-menu > li .submenu-wrap > ul.submenu > li .submenu-wrap {
        position: relative;
        left: 0px;
    }
    ul.main-menu > li ul.submenu li .submenu-wrap ul.submenu {
        margin-left: 15px;
    }
    ul.main-menu > li > a {
        padding: 5px 5px 5px 15px;
        display: inline-block;
    }
    .container-login-cart {
        position: absolute;
        top: 20px;
        right: 15px;
        padding-top: 0px;
    }
    .im-logo {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .im-menu .top-menu-right {
        text-align: center;
    }
    .col-xxs-600 {
        width: 100%;
    }
    .icon-shopping-cart {
        background: url("../../img/imbuilding/sprite.png") -139px -893px !important;
        width: 34px;
        height: 33px;
    }
    .shopping-cart .dropdown .dropdown-toggle:hover {
        background: url(../../img/imbuilding/sprite.png) -139px -893px !important;
        width: 34px;
        height: 33px;
    }
    ul.dropdown-menu.container-cart {
        top: 44px;
        right: -7px;
    }
    .shopping-cart div.count {
        margin-left: -5px;
    }
    .col-cart-table.col-qty {
        padding-top: 0px;
    }

    .container-subtotal {
        margin-top: 50px;
    }
    .container-delete-cart {
        position: absolute;
        width: 100%;
        top: 56px;
    }
    .container-product-cart .product-cart-table, .container-product-cart .product-cart-image {
        display: block;
        margin-bottom: 5px;
    }
    .price-bd-right {
        border-right: none;
    }
    .content-cart-price {
        padding: 0px 20px 15px;
    }

    .row-update-contact-full label, .row-update-contact-full input[type="text"] {
        width: 100% !important;
    }
    #phone_area_pay, #phone_area_shipping {
        width: 18% !important;
    }
    .row-update-contact-full input.row-phone {
        width: 82% !important;
    }
    .row-double label {
        width: 100% !important;
    }
    .row-double .select2-container {
        width: 100% !important;
    }
    .row-double > div:nth-child(1) .select2-container {
        padding-right: 5px;
    }
    .row-double input {
        width: 98% !important;
    }
    .row-double > div:nth-child(2) label {
        padding-left: 0px;
    }
    .separate-dark {
        margin-right: 0px;
    }

    .checkbox-same {
        text-align: left;
        padding-left: 0px;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .checkbox-same label {
        width: auto !important;
    }
    #shipping_type_id {
        width: 100% !important;
    }
    .div-btn-change-address {
        text-align: left;
    }

    .login-register-wrapper {
        position: relative;
    }
    .login-register-wrapper .container-login {
        position: absolute;
        right: 0px;
        z-index: 6;
        display: none;
    }
    .login-register-wrapper .container-login.active {
        display: block;
    }	
    .login-register-wrapper .container-login ul {
        margin-top: 15px;
        background-color: #fff;
        border: 1px solid #d4d4d4;
        padding: 5px;
        text-align: left;
    }
    .login-register-wrapper .container-login ul li a {
        background-color: #fff;
        color: #333;
    }
    .caret-login-wrapper {
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        border-bottom: 10px solid #d4d4d4;
        position: absolute;
        top: 5px;
        right: 0;
    }
    .caret-login {
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid #fff;
        position: absolute;
        top: 3px;
        left: -8px;
        z-index: 12;
    }
    .container-login ul > li:nth-child(2) {
        margin-left: 0px;
    }
    .login-register-caret {
        border-right: 11px solid transparent;
        border-left: 11px solid transparent;
        border-bottom: 11px solid #fff;
        position: absolute;
        right: 1px;
        top: 5px;
    }
    .login-register-caret-wrap {
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 12px solid #d4d4d4;
        position: absolute;
        right: 0px;
        top: 4px;
    }

    .container-account .account-container-menu {
        border: 1px solid #D8DAD9;
        background-color: #f3f3f3;
        margin-bottom: 20px;
        width: 160px;
    }
    
    .container-account .account-container-menu-border{
        width: 160px;
    }
    .container-account .menu-xs-selected {
        padding: 10px 20px;
        font-size: 15px;
    }
    
    .container-account .account-container-member{
        text-align: center;
    display: block;
    }
/*    .container-account .account-container-menu .member-menu {
        display: none;
    }*/
    .container-account .account-container-menu .member-menu.active {
        display: block;
    }
    .container-account .menu-xs-icon {
        background-color: var(--darkblue);
        display: inline-block;
        padding: 0px 5px;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 12px;
        right: 21px;
    }

    #custom_modal_login .modal-content {
        width: auto;
        margin-left: auto;
    }
    #custom_modal_register .modal-content {
        width: auto;
        margin-left: auto;
    }
    .div-btn-change-address {
        margin-top: 12px;
    }
    .payment-select-wrap {
        display: block;
        padding-left: 0px;
    }

    .container-review-content .ccol-3 {
        text-align: left;
    }
}

.wrapper-image{
    background: white none repeat scroll 0 0;
    height: 115px;
    text-align: center;
    width: 100px;
}
/*.helper-image{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/


/*responsive 320px - 480px*/
@media (min-width: 320px) and (max-width: 479px) {
    
    .account-container-member .member-photo {
        display: inline-block;
    }
    .account-container-member .member-info {
        display: inline-block;
     }


    .margin-top-10{
        margin-top:0px;
    }

    .btn-shopingcart-wrapper {
        margin-top: 15px;
    }

    .content-cart-price{
        padding: 10px;
        font-size: 14px;
    }

    .container-subtotal{
        padding: 10px 0px 0px;
        font-size: 14px;
    }

    .btn-shoppingcart-footer{
        font-size: 12px;
    }

    /*    .txt-shopping-cart-price{
            margin: 10px;
            float: right!important;
        }*/


}


/*responsive 320px - 480px*/
@media (min-width: 768px) {
    .content-cart-price{
        padding-left: 10px;
        padding-right: 10px;
    }
}
