@import url("62hallfamily.css");

/*
1. GLOBAL 
2. HELPER
3. HEADER - MAIN MENU - FOOTER
4. FORM
5. PAGE
   5.1 HOME
   5.2 CATEGORY
   5.3 SINGLE PRODUCT
   5.4 SHOPPING CART
6. ELEMENT
   6.1 PRODUCT
   6.2 SLIDER
7. ICON
8. MODAL
9. RESPONSIVE
*/
 

/*
1. GLOBAL 
*/
:root {
    --link: #6C6C6C;
    --linkhover: #1A3555;
    --darkblue: #024c93;
    --lightblue: #0589d3;
    --white: #fff;
    --lightgrey: #ebebeb;
}
#topcontrol {
	z-index: 10;
}


@font-face {
    font-family: 'arial_nova';
    src: url('../../font/ArialNova.ttf') format('truetype');
}

@font-face {
    font-family: 'adobe_caslon';
    src: url('../../font/ACaslonPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'roboto';
    src: url('../../font/RobotoCondensed-Regular.ttf') format('truetype');
}

a { 
	color: var(--link); 
	text-decoration: none !important;
}
	a:hover {
		color: var(--linkhover);
	}
html {
	overflow-x: hidden;
}
body {
	/*width: 100%;*/
	/*overflow-x: hidden;*/
	font-family: "arial_nova";
}
red {
	color: red;
}


/*
2. HELPER 
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.pos-relative {
	position: relative;
}

/*
3. HEADER - MAIN MENU - FOOTER 
*/
.im-menu {
	margin-top: 10px;
}
.im-menu ul.top-menu-left, .im-menu ul.top-menu-right {
	padding-left: 0px;
}
.im-menu ul.top-menu-right {
	text-align: right;
}
	.im-menu ul.top-menu-left li, .im-menu ul.top-menu-right li {
		list-style: none;
		display: inline-block;
	}
		.im-menu ul.top-menu-left li a, .im-menu ul.top-menu-right li a {
			padding: 3px 5px;
		}
			.im-menu ul.top-menu-left li:nth-child(1) a {
				padding-left: 0px;
			}
			.im-menu ul.top-menu-right li:nth-last-child(1) a {
				padding-right: 0px;
			}
.im-logo {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
	.im-logo img {
		height: 50px;
		max-width: 100%;
	}

.im-search {
	position: relative;
}
	.im-search input {
		padding-left: 40px;
	}

.main-menu-wrap {
	background-color: var(--darkblue);
	margin-top: 10px;
}
	ul.main-menu {
		padding-left: 0;
		margin-bottom: 0px;
	}
		ul.main-menu > li {
			display: inline-block;
			margin-right: -4px;
			border-right: 1px solid var(--lightblue);
			position: relative;
		}
			ul.main-menu > li:nth-child(1) {
				border-left: 1px solid var(--lightblue);
			}
			ul.main-menu > li > a {
				padding: 10px 15px;
				display: block;
				color: var(--white);
			}
				ul.main-menu > li > a.btn-submenu {
					padding-right: 35px;
				}
			ul.main-menu > li.active, ul.main-menu > li:hover {
				background-color: var(--lightblue);
			}
			ul.main-menu > li > .ico-submenu {
				color: var(--white);
				position: absolute;
			    right: 15px;
			    top: 11px;
			}
			/*submenu*/
			ul.main-menu > li .submenu-wrap {
				display: none;
    			position: absolute;
    			z-index: 10;
			}
				ul.main-menu > li .submenu-wrap ul.submenu {
	    			border: 1px solid var(--lightgrey);
	    			box-shadow: 2px 2px 3px 0px #cacaca;
    				padding: 5px 0px;
    				background-color: var(--white);
					padding-left: 0px;
					position: relative;
				}
				ul.main-menu > li ul.submenu > li {
					list-style: none;
					position: relative;
					min-width: 200px;
				}
				ul.main-menu > li ul.submenu > li > a {
					display: block;
					padding: 7px 35px 7px 15px;
					color: #6b6b6b;
				}
					ul.main-menu > li ul.submenu > li:hover > a {
						color: #333;
					}

			ul.main-menu > li:hover > .submenu-wrap {
				display: block;
			}

			ul.main-menu > li .submenu-wrap > ul.submenu > li .ico-submenu {
				color: #333;
				position: absolute;
			    right: 15px;
			    top: 8px;
			}
				ul.main-menu > li .submenu-wrap > ul.submenu > li .submenu-wrap {
					display: none;
					padding-left: 0px;
					position: absolute;
				    top: -5px;
				    left: 100%;
				}
			ul.main-menu > li .submenu-wrap > ul.submenu li:hover > .submenu-wrap {
				display: block;
			}
			ul.main-menu > li ul.submenu li .submenu-wrap ul.submenu {
				margin-left: 10px;
				position: relative;
			}

.top-menu-left .dropdown-menu {
    border-top: 4px solid var(--darkblue);
    border-bottom: 4px solid var(--darkblue);
    border-radius: 0px;
    min-width: 250px;
    position: absolute;
    left: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    z-index: 10000;
    font-size: 15px;
    font-weight: bold;
    color: var(--darkblue);
}
	.top-menu-left .dropdown-menu .panel-heading {
		padding-bottom: 0px;
	}
	.top-menu-left .dropdown-menu label {
		font-size: 12px;
		color: #333;
	}
	.top-menu-left .dropdown-menu input {
		border-radius: 0px;
		color: #333;
		font-weight: normal;
	}

.ico-show-xs {
	padding: 10px 15px;
    font-size: 28px;
    color: #fff;
}

/*footer*/
footer {
	background-color: var(--darkblue);
	margin-top: 30px;
	color: #ebebeb;
	padding-top: 30px;
	padding-bottom: 30px;
}
	footer a {
		color: #ebebeb;
	}
		footer a:hover {
			color: #afabab;
		}
	footer ul.social-media {
		padding-left: 0px;
	}
		footer ul.social-media li {
			list-style: none;
		}
	footer .newsletter-wrap {
		position: relative;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	footer .txt-newsletter {
		position: absolute;
	    color: #333;
	    padding: 8px 10px;
	    font-size: 18px;
	}
	footer input.input-newsletter {
		padding-left: 160px;
	}
	footer .btn-subscribe {
		position: absolute;
	    border-radius: 0;
	    top: 0;
	    right: 0;
	    height: 40px;
	    padding-left: 20px;
	    padding-right: 20px;
	    border: none;
	    background-color: var(--lightblue);
	}
	footer .copyright {
		text-align: right;
	}

footer .display-table {
	display: table;
	width: 100%;
}
	footer .display-table .table-cell {
		display: table-cell;
	}
	footer .display-table .table-cell:nth-of-type(1) {
		vertical-align: top;
		width: 20px;
	}
	footer .display-table .table-cell:nth-of-type(2) {
		vertical-align: top;
		padding-left: 10px;
	}
/*
shopping cart
*/

.icon-shopping-cart {
	background: url("../../img/imbuilding/sprite.png") -105px -952px;
	width: 42px;
	height: 46px;
}

.shopping-cart .count {
    position: absolute;
    color: #fff;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 11px;
    top: 4px !important;
    left: 20px;
    text-align: center;
    width: 20px;
    /*right: 3px !important;*/
}

.shopping-cart {
	position: relative;
	float: right;
}

.shopping-cart .container-cart {
    min-width: 250px;
    position: absolute;
    top: 50px;
    border-radius: 0px;
    padding: 10px;
    padding-top: 0px;
    margin-left: -205px;
    border: none;
    border-top: 4px solid var(--lightblue);
    border-bottom: 4px solid var(--lightblue);
}

.triangle.arrow-up {
    right: 18px !important;
    position: absolute;
}
.shopping-cart .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--lightblue);
}
.shopping-cart .triangle {
    margin: 10px auto;
    margin-top: -14px;
}

.shopping-cart .dropdown .dropdown-toggle:hover {
	background: url("../../img/imbuilding/sprite.png") no-repeat -244px -952px;
	width: 42px;
	height: 46px;
}


.font-big {
    font-size: 16px;
}
.font-red {
	color: var(--lightblue) !important;
}
.font-bold {
	font-weight: bold;
}
.margin-top-10 {
    margin-top: 10px;
}
.padding-0 {
    padding: 0px !important;
}
.font-size11 {
    font-size: 11px !important;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.font-size10 {
    font-size: 10px;
}
.btn-62hallfamily:hover {
    border: 3px solid var(--lightblue) !important;
    background: #fff !important;
    color: var(--lightblue) !important;
}
.btn-62hallfamily-small:hover {
    border: 3px solid var(--lightblue) !important;
    background: #fff !important;
    color: var(--lightblue) !important;
    text-decoration: none;
}

.btn-62hallfamily-small {
    margin-top: 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0px !important;
    color: #fff;
    font-weight: bold !important;
    height: 25px;
}
.bg-red {
	background-color: var(--lightblue) !important;
}
.border-3-red {
    border: 3px solid var(--lightblue) !important;
}

.container-login-cart {
	text-align: right;
}
	.container-login-cart .login-register-wrapper {
		display: inline-block;
		vertical-align: middle;
	}
	.container-login-cart .shoping-cart-wrapper {
		display: inline-block;
		vertical-align: middle;
	}

/*
4. FORM 
*/
input.im-input {
	border-radius: 0px;
	height: 40px;
}
select.im-select {
	border-radius: 0px;
	height: 40px;
}
.btn-imbuilding {
	border-radius: 0;
	background-color: var(--darkblue);
	border: none;
}
.btn-imbuilding-light {
	border-radius: 0;
	background-color: var(--lightblue);
	border: none;
}


/*
5. PAGE
*/
/*
5.1 HOME 
*/
.home-wrap {
	margin-top: 10px;
}
.home-slideshow .carousel-indicators {
	display: none;
}
.home-slideshow .carousel-control {
	color: #333;
}
.home-slideshow .item img {
	height: 500px !important;
	width: 100%;
}
.right-ads img {
	height: 100%;
	width: 100%;
}
.right-ads .right-ads-first {
	height: 280px;
}
.right-ads .right-ads-second {
	padding-top: 15px;
	height: 220px;
}
.slide-wrapper {
	margin-top: 30px;
}
.container-deal-wrap {
	margin-top: 20px;
	margin-bottom: 20px;
}
.container-deal-wrap .txt-title-deal {
	font-size: 20px;
	padding-top: 10px;
}

.menu-deal-wrap ul.menu-deal {
	padding-left: 0px;
	text-align: right;
}
	.menu-deal-wrap ul.menu-deal li {
		list-style: none;
		display: inline-block;
		padding: 10px 10px;
	}
		.menu-deal-wrap ul.menu-deal li:hover span {
			cursor: pointer;
			border-bottom: 3px solid var(--darkblue);
		}
		.menu-deal-wrap ul.menu-deal li.active span {
			border-bottom: 3px solid var(--darkblue);
		}

.container-promo {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}
	.container-promo .home-promo-image {
		background-color: #333;
	}
	.container-promo .home-promo-image img {
		width: 100%;
		opacity: .5;
		pointer-events: none;
	}
	.container-promo .container-promo-text {
	    position: absolute;
	    z-index: 2;
	    top: 70px;
	    left: 150px;
	    color: #fff;
	}
	.container-promo .home-promo-title {
		font-size: 25px;
		line-height: 1;
		font-family: 'adobe_caslon';
		font-style: italic;
	}
	.container-promo .home-promo-subtitle {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 35px;
		line-height: 1;
		font-family: 'roboto';
	}
	.container-promo .home-promo-btn {
		margin-left: 30px;
	}

/*
5.2 CATEGORY 
*/
.box-category {
	margin-bottom: 20px;
	border-bottom: 2px solid #d2d3d5;
	padding-bottom: 10px;
}
	.box-category .txt-heading-wrap {
		border-bottom: 3px solid var(--darkblue);
		margin-bottom: 10px;
	}
		.box-category .txt-heading {
			color: var(--darkblue);
			font-size: 20px;
			padding-bottom: 7px;
			font-weight: bold;
		}
ul.product-category-menu {
	padding-left: 0px;
}
	ul.product-category-menu li {
		list-style: none;
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
	}
		ul.product-category-menu li:hover {
			cursor: pointer;
		}
		ul.product-category-menu > li.is-active > a{
			font-weight: bold;
		}
		ul.product-category-menu .ico-submenu {
			position: absolute;
			top: 9px;
			right: 0px;
		}
		ul.product-category-menu li a {
			font-size: 15px;
		}
			ul.product-category-menu li ul.submenu {
				padding-left: 15px;
			}
			ul.product-category-menu li .ico-submenu .fa-caret-down {
				display: none;
			}
			ul.product-category-menu li .ico-submenu .fa-caret-right {
				display: block;
			}
				ul.product-category-menu li.active > .ico-submenu .fa-caret-down {
					display: block;
				}
				ul.product-category-menu li.active > .ico-submenu .fa-caret-right {
					display: none;
				}
			ul.product-category-menu li .submenu-wrap {
				display: none;
			}
			ul.product-category-menu li.active > .submenu-wrap {
				display: block;
			}
				ul.product-category-menu li.is-active > .submenu-wrap ul > li.is-active > a {
					color: var(--darkblue);
				}


.container-breadcrumb {
	margin-top: 20px;
	margin-bottom: 25px;
}
	.container-breadcrumb > div {
		display: inline-block;
		vertical-align: top;
	}
	.container-breadcrumb .separate-category {
		padding-left: 12px;
		padding-right: 10px;
	}

.filter-checkbox-wrapper > div {
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}
	.filter-checkbox-wrapper > div label {
		font-weight: normal;
	}

.horizontal-overflow {
    overflow-y: auto !important;
}
.box-category .content-heading .horizontal-overflow .filter-checkbox {
	padding-left: 20px !important;
}

.category-advertise img {
	width: 100% !important;
}

.container-sort-view > div {
	display: inline-block;
	padding-right: 10px;
}
	.container-sort-view .txt-view {
		padding-left: 20px;
	}

#page-product-category {
	margin-top: 20px;
}
	#page-product-category .product-wrap {
		margin-bottom: 30px;
	}
	#page-product-category .ico-promo {
    	right: 20px;
	}
.pagination-category {
	text-align: right;
	margin: 5px 0px;
}
.pagination-wrap {
	text-align: right;
}
.btn-pagination {
	background-color: rgba(0,0,0,0) !important;
    color: #333 !important;
    font-weight: bold;
    border-bottom: 2px solid var(--darkblue);
    border-radius: 0px !important;
    padding: 2px 0px 0px !important;
}
	.pagination-category a.btn {
		padding: 5px 2px;	
	}

/*
5.3 SINGLE PRODUCT 
*/
.product-single-image img {
	width: 100%;
}
.container-star, .container-write-review {
	display: inline-block;
	vertical-align: middle;
}
.container-price {
	/*padding-top: 15px;*/
	padding-bottom: 15px;
}
	.container-price .detail-promo-price {
		font-size: 12px;
	    color: #696969;
	}
	.container-price .detail-normal-price {
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'Arial';
		font-size: 36px;
		font-weight: bold;
		color: #eb1c24;
	}
	.table-detail-product td {
		padding: 5px;
		font-size: 14px;
		font-family: 'Arial';
	}
	.table-detail-product td.tb-colon {
		padding-left: 10px;
		padding-right: 5px;
	}
	.table-detail-product .td-title {
		color: #2f2f2f;
	}
.container-product-code {
	border-top: 2px solid #929292;
    border-bottom: 2px solid #929292;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-qty > div {
	display: inline-block;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
}
	.container-qty .qty-wrapper {
		width: 140px;
	}
	.qty-wrapper .bootstrap-touchspin-up {
		position: absolute;
	    top: 0px;
	    right: 1px;
	    height: 19px;
	    width: 20px;
	    padding: 0;
	    border-radius: 0px;
	}
	
	.qty-wrapper .input-group-btn:nth-child(1) {
		position: absolute;
	    right: 20px;
	    z-index: 2;
	}
	.qty-wrapper .bootstrap-touchspin-down {
		height: 17px;
	    top: 17px;
	    padding: 2px;
	    right: 0px;
	    width: 20px;
	    border-radius: 0px;
	    padding-top: 0px;
	    line-height: 1;
	}
	.qty-wrapper #qty {
		text-align: center;
    	padding-right: 25px;
	}
.btn-add-cart {
	width: 100%;
	display: block;
	border-radius: 0px;
	background-color: var(--lightblue);
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Arial';
}
.container-share {
	margin-top: 17px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 2px solid #929292;
    border-bottom: 2px solid #929292;
}
.container-shipping {
	margin-top: 20px;
}
	.container-shipping > div {
		display: inline-block;
		vertical-align: middle;
	}

.product-tab {
	/*border: 1px solid #DCDEDD;*/
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
}
	.product-tab ul#product_tab_overview-tab-nav {
		margin-left: -15px;
		border: 1px solid #DCDEDD;
		border-right: none;
		background-color: #DCDEDD;
	}
	.product-tab ul#product_tab_overview-tab-nav li a {
		border-radius: 0px;
		background-color: #F0F0F0;
	}
		.product-tab ul#product_tab_overview-tab-nav li a:hover {
			background-color: #DEDEDE;
		}
		.product-tab ul#product_tab_overview-tab-nav li.active a {
			background-color: #024C93;
		}
		.product-tab ul#product_tab_overview-tab-nav li.active a:after {
			width: 20px;
			height: 20px;
			background-color: red;
		}
	.product-tab .product-tab-caret {
		height: 20px;
	    width: 20px;
	    position: absolute;
	    right: -20px;
	    top: 10px;
	    border-top: 10px solid transparent;
	    border-left: 10px solid #024c93;
	    border-bottom: 10px solid transparent;
	    z-index: 2;
	}
	#product_tab_overview-tab-widget {
		min-height: 166px;
	}
	#product_tab_overview-tab-widget .box-body {
		padding-top: 10px;
		padding-bottom: 10px;
	}
.txt-recommendation {
	font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.magnifier {
	z-index: 9!important;
}
#product-slider {
	height: auto;
}
.container-shipping-information {

}
	.container-shipping-information .shipping-title {
		font-size: 16px;
		font-weight: bold;
	}
	ul.shipping-information-list {
	    list-style: none;
	    margin-left: 0;
	    padding-left: 1em;
	}
	ul.shipping-information-list > li:before {
	    display: inline-block;
	    content: "-";
	    width: 1em;
	    margin-left: -1em;
	}

	#product_tab_overview > .col-md-12 > .row > .col-md-2 {
		padding-right: 0px;
	}
	#product_tab_overview > .col-md-12 > .row > .col-md-10 {
		border: 1px solid #dcdedd;
	}

.container-product-review {
	display: table;
	margin-bottom: 15px;
	width: 100%;
}
	.container-product-review .product-review-icon {
		display: table-cell;
		vertical-align: top;
		width: 63px;
	}
	.container-product-review .product-review-content {
		display: table-cell;
		vertical-align: top;
		padding-left: 20px;
	}
	.product-review-content .txt-review-name {
		font-size: 16px;
    	font-weight: bold;
	}
	.product-review-content .txt-review-date {
		font-size: 12px;
    	font-style: italic;
	}
	.product-review-content .txt-review-msg {
		margin-top: 10px;
	}
.product-action .form-group {
	margin-top: -15px;
}
	.product-action .form-group .select-62hallfamily {
		border-radius: 0px;
	}
	.product-action .product-attribute {
		margin-top: 5px;
	}
.product-name h3 {
	font-size: 36px;
	font-family: 'Arial';
}
.container-shipping-information {
	display: table;
	width: 100%;
}
	.shipping-icon {
		display: table-cell;
		vertical-align: top;
		width: 55px;
	}
	.shipping-text {
		display: table-cell;
		vertical-align: top;
	}

/*
5.4 SHOPPING CART 
*/
.table-62hallfamily th {
    background: var(--darkblue);
}
#table-shoppingcart .qty-touchpin {
	width: 100% !important;
}
#table-shoppingcart td.td-qty {
	width: 170px;
}
#table-shoppingcart td.td-qty input {
	text-align: center;
}
#shopping-cart-loading {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	height: 46px;
}
#table-shoppingcart .shoppingcart-container-produk {
	padding: 0px 10px;
}
#table-shoppingcart .td-price {
	text-align: right;
	width: 179px;
}
	#table-shoppingcart .td-price strike {
		font-size: 16px;
		color: #7d7b7b;
	}
#table-shoppingcart .td-total {
	text-align: right;
}
#table-shoppingcart .td-action {
	text-align: center;
	width: 10px;
}
.shoppingcart-text-total {
	font-family: 'Arial';
	font-size: 21px;
	color: #58595b;
}
.shoppingcart-footer {
	border: 1px solid #d7d9d8;
	border-top: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.shoppingcart-text-total-info {
	font-size: 14px;
}
.container-footer-button {
	padding-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid #929292;
}

.txt-shopping-cart-price {
	color: red;
}
.ico-btn-clear {
	display: inline-block;
	padding-top: 4px;
}

td.td-qty .bootstrap-touchspin {
	display: block;
}
	td.td-qty .bootstrap-touchspin .input-group-btn {
		position: absolute;
	    z-index: 8;
	    border: none;
	    right: 32px;
	}
		td.td-qty .bootstrap-touchspin .input-group-btn:nth-of-type(1) {
		    left: 0px;
		}
		td.td-qty .bootstrap-touchspin .input-group-btn button {
			border-radius: 0px;
			border: none;
			top: 1px;
			left: 1px;
		}
.txt-shopping-cart-title {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 21px;
	color: #58595b;
	font-family: 'Arial';
}
.container-table-wrap {
	background-color: #014c93;
	color: #fff;
	font-size: 16px;
	font-family: 'Arial';
}
.txt-table-title {
	padding: 7px;
	text-align: center;
}
table.table-product-attribute td {
	text-align: left;
	color: #6d6e71;
	font-family: 'Arial';
	font-size: 14px;
}
.product-cart-image img {
	width: 100px;
	height: 115px;
}
.container-product-cart {
	display: table;
	width: 100%;
}
	.container-product-cart .product-cart-image {
		display: table-cell;
		width: 105px;
		vertical-align: top;
	}
	.container-product-cart .product-cart-table {
		display: table-cell;
		vertical-align: top;
		padding-left: 5px;
	}
	.container-product-cart .txt-product-cart-title {
		font-weight: bold;
		color: #58595b;
		font-size: 16px;
		font-family: 'Arial';
		text-align: left;
	}
.col-cart-table {
	padding: 25px 5px;
}
.container-table-content-wrap {
	background-color: #F8F8F8;
}
.content-cart-price {
	text-align: right;
	font-size: 16px;
	font-family: 'Arial';
	color: #58595b;
	padding-left: 15px;
	padding-right: 15px;
}
	.content-cart-price strike {
		font-size: 12px;
		color: #a5a7aa;
	}
.container-quantity {
	padding-left: 20px;
	padding-right: 20px;
}
.container-quantity .bootstrap-touchspin {
	display: block;
}
	.container-quantity .bootstrap-touchspin .input-group-btn {
		position: absolute;
	    z-index: 8;
	    border: none;
	    right: 32px;
	}
		.container-quantity .bootstrap-touchspin .input-group-btn:nth-of-type(1) {
		    left: 0px;
		}
		.container-quantity .bootstrap-touchspin .input-group-btn button {
			border-radius: 0px;
			border: none;
			top: 1px;
			left: 1px;
		}
	.container-quantity .qty-touchpin {
		text-align: center;	
		padding-right: 20px;
	}
.container-subtotal {
	text-align: right;
	font-size: 16px;
	color: #58595b;
	font-family: 'Arial';
	padding-left: 15px;
	padding-right: 15px;
}
.container-delete-cart {
	text-align: center;
}
	.container-delete-cart a {
		padding: 0px;
	}
.container-table-wrap .title-left {
	padding-right: 0px;
}
.container-table-wrap .title-right {
	padding-left: 0px;
}
.container-table-wrap .content-right {
	padding-left: 15px;
	padding-right: 15px;
}
.product-bd-right, .price-bd-right, .qty-bd-right, .sub-bd-right {
	border-right: 1px solid #1E7AC5;
}
.col-content-left {
	padding-right: 0px;
}
.col-content-right {
	padding-right: 30px;
}
.content-left-column {
	border-right: 1px solid #D7D9D8;
}
.col-content-price, .col-content-qty, .col-content-subtotal {
	border-right: 1px solid #D7D9D8;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
}
.container-row-border {
	border-bottom: 1px solid #D7D9D8;
	border-left: 1px solid #D7D9D8;
	border-right: 1px solid #D7D9D8;
	overflow: hidden;
}
.btn-shoppingcart-footer {
	font-family: 'Arial';
	font-size: 14px;
	font-weight: normal !important;
}
/*
6. ELEMENT 
*/
/*
6.1 PRODUCT
*/
.product-wrap {
	border: 1px solid #dbe7e7;
}
	.owl-stage .product-wrap {
		margin-left: 10px;
		margin-right: 10px;
	}
.product-wrap .product-summary {
	padding: 0px 10px 15px 10px;
	text-align: center;
}
	.product-wrap .product-summary .product-name {
		height: 40px;
	}
.product img {
	width: 100%;
}
	.product-summary .promo-price {
		color: #eb1d21;		
		font-weight: bold;
		font-size: 15px;
		display: inline-block;
	}
	.product-summary .normal-price {
		display: inline-block;
		font-size: 11px;
		text-decoration: line-through;
		color: #969696;
	}
	.product-summary .product-action {
		position: relative;
		margin-top: 10px;
		display: inline-block;
	}
	.product-summary .btn-buy {
		border-radius: 0px;
		background-color: var(--lightblue);
		border: none;
		padding-left: 40px;
		color: #fff;
	}
	.product-summary .product-by-request {
		font-weight: bold;
		padding: 6px;
		color: #7d7d7d;
	}
.slide-wrapper .owl-controls .owl-nav > div {
    position: absolute;
    margin: auto;
    height: 50%;
    bottom: 0;
    font-size: 30px;
    opacity: .5;
}
	.slide-wrapper .owl-controls .owl-next {
		right: -12px;
	}
	.slide-wrapper .owl-controls > div:hover {
		opacity: 1;
	}
.owl-carousel .owl-stage-outer {
	height: 100%;
}
/*
6.2 SLIDER 
*/

/*
7. ICON 
*/
.ico-search {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../../img/imbuilding/sprite.png);
    background-position: -20px -175px;
    background-repeat: no-repeat;
    background-size: 600px;
    top: 8px;
    left: 5px;
}

.ico-bookmark {
	background: url("../../img/imbuilding/sprite.png") -92px -232px;
	display: inline-block;
    width: 32px;
    height: 30px;
    position: relative;
    right: 54px;
    float: right;
}
	.ico-bookmark-count {
	    position: absolute;
	    color: #fff;
	    background-color: #0d4d90;
	    border-radius: 50%;
	    padding: 0px 5px;
	    font-size: 11px;
	    top: -7px !important;
	    left: 20px;
	    border: 2px solid #fff;
	}

.ico-cart-white {
	background-color: var(--darkblue);
	width: 32px;
	height: 32px;
	position: absolute;    
    background-image: url(../../img/imbuilding/sprite.png);
    background-position: -207px -92px;
    background-repeat: no-repeat;
    background-size: 793px;
}
.ico-home {
	background: url("../../img/imbuilding/sprite.png") -123px -98px;
    width: 20px;
    height: 20px;
}
.ico-home-dark {
	background: url("../../img/imbuilding/sprite.png") -34px -35px;
	width: 27px;
	height: 16px;
}
.ico-phone {
	background: url("../../img/imbuilding/sprite.png") -167px -98px;
    width: 20px;
    height: 20px;
}

.ico-bbm {
	background: url("../../img/imbuilding/sprite.png") -78px -98px;
    width: 20px;
    height: 20px;
}

.ico-email {
	background: url("../../img/imbuilding/sprite.png") -34px -98px;
    width: 20px;
    height: 20px;
}

.ico-media_fb {
	background: url("../../img/imbuilding/sprite.png") -97px -389px;
	width: 41px;
	height: 41px;
}
.ico-media_tw {
	background: url("../../img/imbuilding/sprite.png") -34px -389px;
	width: 41px;
	height: 41px;
}
.ico-media_ig {
	background: url("../../img/imbuilding/sprite.png") -161px -389px;
	width: 41px;
	height: 41px;
}
.ico-media_gp {
	background: url("../../img/imbuilding/sprite.png") -225px -389px;
	width: 41px;
	height: 41px;
}

.ico-promo {
	background: url("../../img/imbuilding/sprite.png") -147px -309px;
	width: 35px;
	height: 34px;
	position: absolute;
    right: 12px;
}
.ico-hot {
	background: url("../../img/imbuilding/sprite.png") -90px -309px;
	width: 35px;
	height: 34px;
	display: inline-block;
}
.ico-new {
	background: url("../../img/imbuilding/sprite.png") -34px -309px;
	width: 35px;
	height: 34px;
	display: inline-block;
}
.ico-star-on {
	background: url("../../img/imbuilding/sprite.png") -109px -35px;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.ico-star-half {
	background: url("../../img/imbuilding/sprite.png") -145px -35px;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.ico-star-off {
	background: url("../../img/imbuilding/sprite.png") -182px -35px;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.ico-truck {
	background: url("../../img/imbuilding/sprite.png") -218px -35px;
	width: 23px;
	height: 16px;
	display: inline-block;
}
.flag-div-wrapper {
	position: absolute;
	left: 20px;
}
.ico-share-tw {
	background: url("../../img/imbuilding/sprite.png") -34px -165px;
	width: 22px;
	height: 20px;
	display: inline-block;
}
	.ico-share-tw:hover {
		cursor: pointer;
		background: url("../../img/imbuilding/sprite.png") -218px -165px;
	}
.ico-share-fb {
	background: url("../../img/imbuilding/sprite.png") -78px -165px;
	width: 22px;
	height: 20px;
	display: inline-block;
}
	.ico-share-fb:hover {
		cursor: pointer;
		background: url("../../img/imbuilding/sprite.png") -262px -165px;
	}
.ico-share-ig {
	background: url("../../img/imbuilding/sprite.png") -122px -165px;
	width: 22px;
	height: 20px;
	display: inline-block;
}
	.ico-share-ig:hover {
		cursor: pointer;
		background: url("../../img/imbuilding/sprite.png") -306px -165px;
	}
.ico-share-gp {
	background: url("../../img/imbuilding/sprite.png") -170px -165px;
	width: 22px;
	height: 20px;
	display: inline-block;
}
	.ico-share-gp:hover {
		cursor: pointer;
		background: url("../../img/imbuilding/sprite.png") -354px -165px;
	}

.ico-user-o {
	background: url("../../img/imbuilding/sprite.png") -34px -462px;
	width: 61px;
	height: 61px;
}
.icon-trash-red {
	background: url("../../img/imbuilding/sprite.png") -63px -724px;
	width: 16px;
	height: 18px;
}
.icon-trash-white {
	background: url("../../img/imbuilding/sprite.png") -34px -633px;
	width: 14px;
	height: 16px;
}
.ico-payment-cost {
	background: url("../../img/imbuilding/sprite.png") -20px -1041px;
	width: 29px;
	height: 26px;
}
.ico-delivery {
	background: url("../../img/imbuilding/sprite.png") -20px -1041px;
	width: 29px;
	height: 26px;
}
.ico-gift {
	background: url("../../img/imbuilding/sprite.png") -156px -1041px;
	width: 44px;
	height: 26px;
}
/*
8. MODAL 
*/
.modal-dialog .modal-content .modal-header {
	border-top: 25px solid var(--darkblue);
}
.modal-dialog .modal-content .modal-header .modal-title {
	color: var(--darkblue);
}
.modal-dialog .modal-content {
	border-bottom: 25px solid var(--darkblue);
}

/*
9. RESPONSIVE 
*/

@media (max-width:991px) {
	.im-logo {
		text-align: left;
	}
	.home-slideshow {
		margin-bottom: 10px;
		margin-left: 0px;
		margin-right: 0px;
	}
		.home-slideshow .item img {
			height: auto !important;
		}
	.right-ads .right-ads-first {
		height: 150px;
	}
	.right-ads .right-ads-second {
		padding-top: 0px;
		height: 150px;
	}
	
	/*overwrite 62hall*/
		a.icon-shopping-cart {
			position: relative;
			top: 0px;
			right: 0px;
		}
		ul.dropdown-menu.container-cart {
			top: 50px;
			right: 0px;
		}
	
	.product-tab {
		border: none;
	}
		.product-tab .product-tab-caret {
			display: none;
		}
		.product-tab ul#product_tab_overview-tab-nav {
			margin-left: 0px;
		}
		#product_tab_overview-tab-widget .box-body {
			padding: 10px;
		    border: 1px solid #dcdedd;
		    margin-right: 1px;
		}
		#product_tab_overview > .col-md-12 > .row > .col-md-2 {
			padding-left: 0px;
		}
		#product_tab_overview-tab-widget {
			margin-left: -16px;
    		margin-right: -17px;
    		min-height: auto;
		}
	.col-cart-table.resp {
		padding: 10px;
		margin-top: 35px;
	}
}
@media (max-width:767px) {
	.right-ads .right-ads-first {
		height: auto;
	}
	.right-ads .right-ads-second {
		padding-top: 10px;
		height: auto;
	}
	.container-promo .container-promo-text {
		top: 30px;
		left: 50px;
	}
	
	footer input.input-newsletter {
	    padding-left: 12px;
	}

	/* MENU */
	.main-menu-wrap > .container {
		padding-left: 0px;
		padding-right: 0px;
	}
	ul.main-menu > li {
	    display: block;
	     margin-right: 0px; 
	     border-right: none; 
	}
		ul.main-menu > li .submenu-wrap {
		    position: relative;
		}
		ul.main-menu > li .submenu-wrap ul.submenu {
			border: none;
			box-shadow: none;
			padding: 0px; 
		    background-color: var(--white);
		}
			ul.main-menu > li .submenu-wrap > ul.submenu > li .submenu-wrap {
			    position: relative;
			    left: 0px;
			}
			ul.main-menu > li ul.submenu li .submenu-wrap ul.submenu {
			    margin-left: 15px;
			}
	ul.main-menu > li > a {
	    padding: 5px 5px 5px 15px;
	    display: inline-block;
	}
	.container-login-cart {
		position: absolute;
	    top: 20px;
	    right: 15px;
	}
	.im-logo {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.im-menu .top-menu-right {
		text-align: center;
	}
	.col-xxs-600 {
		width: 100%;
	}
	.icon-shopping-cart {
		background: url("../../img/imbuilding/sprite.png") -139px -893px;
		width: 34px;
		height: 33px;
	}
		.shopping-cart .dropdown .dropdown-toggle:hover {
		    background: url(../../img/imbuilding/sprite.png) -139px -893px;
			width: 34px;
			height: 33px;
		}
	.shopping-cart div.count {
		margin-left: -5px;
	}
	.col-cart-table.col-qty {
		padding-top: 0px;
	}

	.container-subtotal {
		margin-top: 50px;
	}
	.container-delete-cart {
		position: absolute;
	    width: 100%;
	    top: 56px;
	}
	.container-product-cart .product-cart-table, .container-product-cart .product-cart-image {
		display: block;
		margin-bottom: 5px;
	}
	.price-bd-right {
		border-right: none;
	}
	.content-cart-price {
		padding: 0px 20px 15px;
	}
}

