/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2017, 9:09:28 AM
    Author     : ittron
    */
    @font-face {
      font-family: 'OpenSansRegular';
      src: url('../../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
  }
  @font-face {
      font-family: 'OpenSansSemibold';
      src: url('../../font/OpenSans/OpenSans-Semibold.ttf') format('truetype');
  }
  @font-face {
      font-family: 'OpenSansBold';
      src: url('../../font/OpenSans/OpenSans-Bold.ttf') format('truetype');
  }
  @font-face {
      font-family: 'OpenSansExtraBold';
      src: url('../../font/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
  }
  @font-face {
      font-family: 'OpenSansLight';
      src: url('../../font/OpenSans/OpenSans-Light.ttf') format('truetype');
  }
  @font-face {
      font-family: 'LatoRegular';
      src: url('../../font/LatoSans/Lato-Regular.ttf') format('truetype');
  }
  @font-face {
      font-family: 'RobotoRegular';
      src: url('../../font/Roboto-Regular.ttf') format('truetype');
  }
  .bg-white {
      height: 100px;
      /*border: 1px solid;*/
  }
  img.logo.brand {
      width: 280px;
      height: 80px;
  }
  #logo {
      min-height: 0px;
      padding-left: 0px;
  }
  .form-62hallfamily input[type="text"],
  .form-62hallfamily input[type="password"],
  .form-62hallfamily textarea,
  .form-62hallfamily select {
      padding: 5px;
  }
  .search {
      margin-top: 2px;
  }
  #search,
  #shopping-cart {
      margin-top: -5px;
  }
  .dropdown a.icon-shopping-cart:hover {
      background: url(../../img/62hallfamily/sprite_icon.png) -8px -74px;
      color: #ffffff;
  }
  ul.dropdown-menu.container-cart .triangle.arrow-up {
      right: 95px;
  }
  .auth {
      margin-top: 25px;
      padding-right: 0px;
  }
  .auth ul {
      border-radius: 3px;
      padding: 2px;
  }
  .auth .usermenu .active {
      padding: 0px;
  }
  .container-livemall {
      background-color: #dddddd;
  }

/*.category-menu{
    background-color: @color1!important;

    a .dropdown-toggle{
        color: @color14;
    }
    }*/
/*.child-1 .menu li.bigmall-menu-category ul.dropdown-menu a{
    color: @color2;
}
.menu .categories{
    width: 320px;
    }*/
    a.font-size18 {
      color: #ffffff !important;
      font-size: 14px!important;
      font-weight: normal!important;
  }
  .row-adv {
      margin-top: 36px;
  }
  .adv {
      margin-left: auto;
      margin-right: auto;
      height: 146px;
      width: 376px;
  }
  .link-deal {
      font-family: 'OpenSansExtraBold';
      font-size: 24px;
  }
  .link-deal a {
      color: #ffffff;
      letter-spacing: 1px;
  }
  .link-deal a:hover {
      text-decoration: none;
  }
  .categories-absolute {
      width: 467px;
  }
/*.menu {
    li{
        &.bigmall-menu-category {
            width: 280px;
            margin-top: -2px;
            a{
                color: #fff;
                text-align: left;
                &:hover{
                    color: #fff;
                }
            }
        }
    }

    ul.dropdown-menu{
        min-width: 290px;
        border-radius: 0px !important;
        text-align: left;
        height: auto;
        background-color: rgba(0, 0, 0, 0.7) !important;
        background-color: @color2;
        border: none;
        box-shadow: none;
        font-family: @font5;

        a{
            padding-top: 10px;
            height: 40px;
        }
    }
}
.dropdown-toggle.font-size18{
    text-transform:uppercase; 
}
 level 2
li.bigmall-menu-category ul.dropdown-menu .bg-gray{
    min-width: 250px;
    background-color: rgba(242, 242, 242, 1) !important;
}

 level 3
li.bigmall-menu-category ul.dropdown-menu .bg-white{
    min-width: 200px;
    background-color: rgba(255, 255, 255, 1) !important;
}

 child 
.child-1 a:hover, .child-2 a:hover{
    font-weight: bold;
    color: #f60100 !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,.dropdown-submenu.open > a {
    color:#f9ed32 !important;
}
.child-1 > li > a:hover, .child-1 > li > a:focus, .child-1 .dropdown-submenu:hover > a, .child-1 .dropdown-submenu:focus > a, .child-1 .dropdown-submenu.open > a {
    background:#fff !important;
    color: @color1 !important;
}
.child-2 > li > a:hover, .child-2 > li > a:focus, .child-2 .dropdown-submenu:hover > a, .child-2 .dropdown-submenu:focus > a, .child-2 .dropdown-submenu.open > a {
    background:none !important;
    color: @color1 !important;
}
.menu .link-submenu-all {
    font-weight:bold;
}
.menu li.bigmall-menu-category ul.dropdown-menu a{
    padding-top: 10px;
    height: 40px;
}
li.dropdown-submenu.categories-submenu, li.dropdown-menu.categories-submenu {
    position: relative;
}
.dropdown-menu > li > a{
    padding: 3px 45px 0 20px;
}
.dropdown-submenu > a{
    &::before {
        position: absolute;
        top: 12pt;
        content: "";
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-right: 0.2em solid @color14;
        border-top: 0.2em solid @color14;
        transform: rotate(45deg);
        margin-right: 0.5em;
        float: right;
        right: 25px;
    }

    &:hover {
        color: #f9ed32; 
    }

    &:hover::before {
        border-color: #f9ed32;
    }

    &::after{
        border-style: none;
    }
}
.menu .dropdown-menu a:hover{
    background: #0081C2;
}
.menu ul li a{
    cursor: pointer;
    color: #59595b;
    background: none;
}
.menu ul li a:hover{
    text-decoration: none;
    color: #f60100;
    background: none;
}
.menu ul li a:active{
    text-decoration: none;
    color: @color14;
    background: @color1;
}
.menu .absolute-menu{
    position: absolute;
    width: 467px;
    min-height: 450px;
}
.menu .absolute-right{
    right: 15px;
    z-index: 1;
}
.menu .absolute-left{
    left: 15px;
    z-index: 1;
    }*/
    .caret {
      display: none !important;
  }
/*#nav-side-bar i {
    font-size:36px;

}
#nav-side-bar {
    display:none;
    float:left;
    margin-right:10px;
    cursor:pointer;
    transition: all 0.6s linear;
    font-size: 24px;
    margin-top:0px;
    background-color: #E8E3E3;
    padding-left: 10px;
    padding-right: 10px;
}
#nav-side-bar .bar {
    border-top:5px solid #f0f0f0;
    width:60px;
    margin:auto;
    margin-top:15px;
    transition: all 0.6s linear;
    }*/
/*
#nav-side-bar:hover {
    border:3px solid #f00;

    }*/
/*#nav-side-bar:hover .bar {
    border-top:5px solid #f00;
}
ul.bigmall-menu-category {
    transition: all 0.6s linear;
}
.navbar-nav>li>a {
    padding: 10px !important;
}
.open{
    background: @color1;
    }*/
    .menu .padding {
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .menu ul {
      margin: 0px;
      text-align: left;
  }
  @media (min-width: 768px) {
      .menu ul.bigmall-left {
        margin-left: 370px;
    }
    .menu ul.bigmall-right {
        margin-right: 370px;
    }
}
.menu li {
  list-style: none;
}
.menu .categories {
  width: 350px;
}
.categories {
  width: 350px;
}
@media only screen and (min-width: 1201px) {
    #logo.col-md-4.col-sm-4.col-xs-6{
        width : 350px;
    }
    #search.col-md-5.col-sm-6{
        width : 527.5px;
    }
}
@media (max-width: 1199px) {
  .categories {
    width: 91.1%;
}
}
@media (max-width: 991px) {
  .categories {
    width: 100%;
}
}
@media (max-width: 991px) {
  footer .row.margin-30 > .col-md-3 {
    padding-bottom: 20px;
}
}
.categories-absolute {
  width: 467px;
}
.menu .categories a {
  color: #fff;
  text-align: left;
}
.menu .categories a:hover {
  color: #fff;
}
.menu li.categories ul.dropdown-menu {
  min-width: 290px;
  border-radius: 0px !important;
  text-align: left;
  min-height: 450px;
  background-color: #000000 !important;
  border: none;
  box-shadow: none;
}
/* level 2*/
li.categories ul.dropdown-menu .bg-gray {
  min-width: 250px;
  background-color: #f2f2f2 !important;
}
/* level 3*/
li.categories ul.dropdown-menu .bg-white {
  min-width: 200px;
  background-color: #ffffff !important;
}
/* child */
.child-1 a:hover,
.child-2 a:hover {
  font-weight: bold;
  color: #f60100 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-submenu.open > a {
  background: #f60100 !important;
}
.child-1 > li > a:hover,
.child-1 > li > a:focus,
.child-1 .dropdown-submenu:hover > a,
.child-1 .dropdown-submenu:focus > a,
.child-1 .dropdown-submenu.open > a {
  background: #fff !important;
}
.child-2 > li > a:hover,
.child-2 > li > a:focus,
.child-2 .dropdown-submenu:hover > a,
.child-2 .dropdown-submenu:focus > a,
.child-2 .dropdown-submenu.open > a {
  background: none !important;
}
.menu .link-submenu-all {
  font-weight: bold;
}
.menu li.categories ul.dropdown-menu a {
  padding-top: 10px;
  height: 40px;
}
li.dropdown-submenu.categories-submenu,
li.dropdown-menu.categories-submenu {
  position: relative;
}
.menu .dropdown-menu a:hover {
  background: #0081C2;
}
.menu ul li a {
  cursor: pointer;
  color: #59595b;
  background: none;
}
.menu ul li a:hover {
  text-decoration: none;
  color: #f60100;
  background: none;
}
.menu ul li a:active {
  text-decoration: none;
  color: #f60100;
  background: none;
}
.menu .absolute-menu {
  position: absolute;
  width: 467px;
  min-height: 450px;
}
.menu .absolute-right {
  right: 15px;
  z-index: 1;
}
.menu .absolute-left {
  left: 15px;
  z-index: 1;
}
.caret {
  display: none !important;
}
#nav-side-bar i {
  font-size: 36px;
}
#nav-side-bar {
  display: none;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.6s linear;
  font-size: 24px;
  margin-top: 0px;
  background-color: #E8E3E3;
  padding-left: 10px;
  padding-right: 10px;
}
#nav-side-bar .bar {
  border-top: 5px solid #f0f0f0;
  width: 60px;
  margin: auto;
  margin-top: 15px;
  transition: all 0.6s linear;
}
/*
#nav-side-bar:hover {
    border:3px solid #f00;

    }*/
    #nav-side-bar:hover .bar {
      border-top: 5px solid #f00;
  }
  ul.categories {
      transition: all 0.6s linear;
  }
  .navbar-nav > li > a {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
  }
  @media (max-width: 991px) {
      .nav > li.categories {
        display: none;
        /*width: 0px;*/
    }
    .category-menu {
        width: 0px !important;
    }
    .category-menu > a {
    /*text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;*/
        display: none !important;
    }
    #nav-side-bar {
        display: inline-block;
    }
    #logo img {
        margin-left: 10px;
    }
    a.icon-shopping-cart {
        position: absolute;
        top: -90px;
        right: 15px;
    }
    .shopping-cart div.count {
        top: -75px;
        right: 48px;
    }
    ul.dropdown-menu.container-cart {
        position: absolute;
        top: -43px;
        right: 0px;
        left: auto;
    }
    ul.categories {
        display: block !important;
        position: fixed;
        left: -400px;
        top: 0px;
        height: 100%;
        width: 250px !important;
    }
    ul.categories li a::after {
        display: none !important;
        content: "";
    }
    ul.categories li > ul {
        display: none !important;
    }
    li.categories.show {
        display: block;
    }
    ul.categories.show {
        left: 0px !important;
    }
}
a.dropdown-toggle.font-size18 {
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: bold !important;
}
.slide-show {
  max-height: 475px !important;
}
.slide-show img {
  max-height: 475px !important;
}
.container-floor .deal-border .deal-control {
  margin-top: 8px;
}
.container-floor .deal-border .deal-control.deal-control-right {
  background: url('../../img/livemall/sprite.png') no-repeat -61px -246px;
  width: 15px;
  height: 15px;
}
.container-floor .deal-border .deal-control.deal-control-left {
  background: url('../../img/livemall/sprite.png') no-repeat -24px -246px;
  width: 15px;
  height: 15px;
}
.container-floor .container {
  padding: 0px;
}
.container-special {
  margin-top: 36px;
}
.container-special .title-deal {
  text-align: center;
  position: relative;
}
.container-special .title-deal span {
  text-align: center;
  font-family: 'OpenSansLight';
  color: #000000;
  font-size: 36px;
  text-transform: uppercase;
  background: #ffffff;
  position: relative;
  z-index: 1;
  padding: 0px 30px;
}
.container-special .title-deal:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #dddddd;
  margin-top: -25px;
}
.mainImage {
  height: 200px;
  width: 100%;
}
.row-ths a {
  text-decoration: none;
}
.container-product {
  border: 1px solid #DCDCDC;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  height: 260px;
}
.container-product .container-product-image {
  width: 100%;
  height: 155px;
}
.container-product .container-product-image img {
  display: inline-block;
  height: 155px;
  width: 100%;
}
.container-product .container-product-desc {
  margin-top: 10px;
  /*        overflow: hidden;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;*/
                font-family: 'RobotoRegular';
                font-size: 11px;
                color: #594a42;
                border-bottom: 1px solid #594a42;
                height: initial;
            }
            .container-product .container-product-desc::hover {
              color: #1c75bc;
              text-decoration: none;
          }
          .container-product .container-product-price {
              /*border-top: 1px solid @color10;*/
              /*width: 80%;*/
          }
          .container-product .product-price-normal {
              font-family: 'OpenSansBold';
              font-size: 14px;
              margin-bottom: 17px;
              color: #000000;
              /*margin-top: 25px;*/
          }
          .container-product .product-price-strike {
              /*margin-top: -55px;*/
              font-size: 10px;
              font-family: 'OpenSansRegular';
              color: #939598;
              text-decoration: line-through;
          }
          .container-product .container-sale-off {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              font-size: 12px;
              color: #ffffff;
              text-align: center;
              padding-top: 7px;
              background: #ff0000;
              float: right;
              margin-top: -18px;
              font-weight: bold;
          }
          .page-title {
              display: none;
          }
          .product-wrapper {
              border: 1px solid #DCDCDC;
              padding: 15px 15px 17px 15px;
              /*margin-bottom: 20px;*/
              position: relative;
              height: 260px;
          }
          .product-wrapper a {
              text-decoration: none;
          }
          .product-wrapper .product-wrapper--image img {
              width: 166px;
              height: 155px;
          }
          .product-wrapper .product-wrapper--description-title {
              margin-top: 10px;
              font-family: 'RobotoRegular';
              font-size: 11px;
              color: #58595b;
              border-bottom: 1px solid #594a42;
              overflow: hidden;
              white-space: nowrap;
              -o-text-overflow: ellipsis;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
          }
          .product-wrapper .product-wrapper--description-price {
              font-family: 'OpenSansBold';
              font-size: 14px;
              margin-bottom: 17px;
              color: #000000;
              margin-top: 25px;
          }
          .container-flag {
              background: url('../../img/livemall/sprite.png') no-repeat -17px -275px;
              width: 31px;
              height: 14px;
          }
          .col-lg-5ths {
              width: 20%;
              float: left;
          }
          .lbl-item {
              display: none;
          }
          .livemall-deal *,
          .livemall-deal *:focus,
          .livemall-deal *:active,
          .livemall-deal *:hover {
              outline: none !important;
          }
          .livemall-deal .slick-prev:hover,
          .livemall-deal .slick-prev:focus {
              background: url('../../img/imlivemall/sprite.png') no-repeat -24px -246px;
              width: 15px;
              height: 15px;
          }
          .livemall-deal .slick-next:hover,
          .livemall-deal .slick-next:focus {
              background: url('../../img/imlivemall/sprite.png') no-repeat -61px -246px;
              width: 15px;
              height: 15px;
          }
          .livemall-deal .slick-prev,
          .livemall-deal .slick-next {
              z-index: 999;
              transition: opacity 0.3s ease-in-out;
              display: block !important;
          }
          .livemall-deal .slick-prev:before,
          .livemall-deal .slick-next:before {
              /*font-family: FontAwesome;*/
              content: "";
              color: #ffffff !important;
              font-size: 16px;
              z-index: 9999;
          }
          .livemall-deal .slick-prev:hover,
          .livemall-deal .slick-next:hover {
              color: #ffffff;
          }
          .livemall-deal .slick-prev:hover:before,
          .livemall-deal .slick-next:hover:before {
              color: #ffffff !important;
          }
          .livemall-deal .slick-next {
              right: 20px !important;
              top: -35px;
              background: url('../../img/imlivemall/sprite.png') no-repeat -61px -246px;
              width: 15px;
              height: 15px;
          }
          .livemall-deal .slick-prev {
              left: 20px !important;
              top: -35px;
              background: url('../../img/imlivemall/sprite.png') no-repeat -24px -246px;
              width: 15px;
              height: 15px;
          }
/*.slick-prev{
    left: 20px !important;
    top: -35px
    }*/
    .product-wrapper .livemall-deal-special {
      border: 0px solid;
  }
  .row-seller-deal,
  .row-hot-deal {
      margin-top: -20px;
  }
  footer {
      margin-top: 36px;
      background-color: transparent;
      color: #ebebeb;
      padding-top: 0px;
      padding-bottom: 0px;
  }
  footer .bg-gray {
    background-color: #eeeeee !important;
  }
  footer .font-gray {
      color: #808185;
  }
  footer ul li a {
      color: #808185!important;
      text-decoration: none;
  }
  footer ul li a:hover {
      color: #ff0000 !important;
      text-decoration: none;
  }
  #tabs-horizontal {
      border: 0px solid;
  }
  b {
      /*display:none;*/
  }
  .usermenu .modal-dialog {
      width: 300px;
  }
  .alert-warning {
      text-align: left;
  }
  .main-related {
      margin-top: 25px;
  }
  .bg-gray.font-white .container,
  .main-product-info .container,
  .main-related .container {
      padding: 0px;
  }
  .product-container {
      /*padding: 10px!important;*/
  }
  .main-product-info {
      margin-top: 25px;
  }
  .product-wrapper.livemall-deal-special {
      border: 0px solid;
  }
  .container-account {
      padding-right: 0px;
      padding-left: 0px;
  }
  .dropdown.open {
      background: transparent;
  }
  .product-action .product-attribute.col-md-3 {
      margin-top: 10px;
      width: 25%;
  }
  .select.select-62hallfamily {
      margin-left: 16px!important;
  }
  .select.select-62hallfamily.normal {
      margin-left: 1px !important;
  }
  .product-icon-wrapper {
      /*position: absolute;*/
  }
  .shopping-chart-pro.loading {
      /*display:none!important;*/
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  form#form_payment .container {
      padding-left: 0px;
      padding-right: 0px;
  }
  .el-box-message-container {
      clear: both;
      max-height: 100%;
      margin-bottom: 5px;
  }
  .el-box-message-container.el-right .el-box-message {
      float: none;
  }
  .el-box-message-container .el-box-message {
      float: right;
  }
  .el-box-message .ico-user-wrap img {
      width: 55px;
      border-radius: 50%;
      margin-right: 10px;
  }
  .container-review-top {
      background-color: #ff0000;
  }
  .container-review-top .rcol-1,
  .container-review-top .rcol-2,
  .container-review-top .rcol-3 {
      border-right: 1px solid #DCDCDE;
  }
  .border-3-blue,
  .border-3-green {
      border: 3px solid #ff0000 !important;
  }
  .container.shopcart,
  .container.container-page-read,
  .container.font-white,
  .container.row-fluid {
      padding-left: 0px;
      padding-right: 0px;
  }
  .product-wrapper--description-price-promo {
      font-size: 14px;
      margin-top: 24px;
      color: #000000;
      font-family: 'OpenSansBold';
  }
  .product-wrapper--description-price {
      font-size: 14px;
      font-family: 'OpenSansBold';
  }
  .product-wrapper--description-price-discount {
      font-size: 10px;
      text-decoration: line-through;
      margin-top: -38px;
      font-family: 'OpenSansRegular';
  }
  .promo-price-text {
      border: 1px solid #ff0000;
      margin-top: -63px;
      font-weight: 600;
      padding: -4px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 12px;
      color: #ffffff;
      text-align: center;
      padding-top: 7px;
      background: #ff0000;
      float: right;
      font-weight: bold;
  }
  .btn-pagination.bg-red {
      background-color: transparent !important;
  }
  .btn-register-subscribe {
      line-height: 19px;
  }
  .products-categories {
      margin-bottom: 20px;
      height: 200px;
  }
  /*-----------------EDIT FROM STYLE2 LASVEGAS-----------------*/
  #tabs-horizontal .nav .active a {
      background-color: #ff0000;
      color: #ffffff;
      font-weight: bold;
  }
  .detail-product .product-action a {
      background-color: #ff0000;
      color: #ffffff;
      border: 1px solid #ff0000;
      width: 35%;
      padding: 5px 3px;
  }
  .detail-product .product-action a:hover {
      background-color: #ff0000 !important;
      color: #ffffff;
      border: 1px solid #ff0000;
      font-weight: bold;
  }
  .btn-imlasvegas-light,
  .btn-imbuilding-light,
  .btn-imlasvegas,
  .btn-imlasvegas-secondary {
      background-color: #ff0000 !important;
      border: 1px solid #ff0000;
  }
  .btn-imlasvegas-light:hover,
  .btn-imbuilding-light:hover,
  .btn-imlasvegas:hover,
  .btn-imlasvegas-secondary:hover,
  .btn-imlasvegas-light:focus,
  .btn-imbuilding-light:focus,
  .btn-imlasvegas:focus,
  .btn-imlasvegas-secondary:focus,
  .btn-imlasvegas-light:active,
  .btn-imbuilding-light:active,
  .btn-imlasvegas:active,
  .btn-imlasvegas-secondary:active {
      background-color: #ffffff !important;
      color: #ff0000 !important;
      border: 1px solid #ff0000;
      font-weight: bold;
  }
  .icon-register-wrapper {
      background-color: #ff0000;
  }
  .shopping-cart {
      padding: 0px;
  }
  .font-red {
      color: #ff0000 !important;
  }
  .container-login ul > li > a:hover,
  .container-login ul > li > a:active,
  .container-login ul > li > a:focus {
      background-color: transparent !important;
      text-decoration: none !important;
  }
  .select-imlasvegas {
      background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #ff0000, #ff0000);
  }
  .container-deal {
      margin-top: 0px;
  }
  .btn-view-all-product {
      background-color: #ff0000;
      color: #ffffff;
  }
  .btn-view-all-product:hover,
  .btn-view-all-product:focus,
  .btn-view-all-product:active {
      background-color: #ffffff !important;
      border: 1px solid #ff0000 !important;
      color: #ff0000 !important;
      font-weight: 800;
  }
  .container-lasvegas {
      padding: 0px;
  }
  .container.deal {
      margin-top: -1px;
  }
  .product-summary {
      margin-top: -22px;
  }
  .container-login .menu-list-wrap {
      background-color: #ff0000;
      color: #ffffff;
  }
  .qty-wrapper .input-group-btn:nth-child(1) {
      right: 19px;
  }
  .btn-add-cart {
      left: 240px;
  }
  .container-account .account-container-menu-border {
      background-color: #ff0000;
  }
  .container-floor .deal-border .link-deal,
  .container-floor .deal-border .link-deal.active {
      display: block;
      float: none;
      border: 1px solid #fe0100 !important;
      background-color: #fe0100;
      color: #fff !important;
      width: 100% !important;
      font-weight: bold;
      font-size: 23.5px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .container-floor .container-category.container-category-1 .category-header-background,
  .container-floor .container-category.container-category-1 .category-header-title {
      background-color: #2b3990;
  }
  .container-floor .container-category.container-category-2 .category-header-background,
  .container-floor .container-category.container-category-2 .category-header-title {
      background-color: #1c75bc;
  }
  .container-floor .container-category.container-category-3 .category-header-background,
  .container-floor .container-category.container-category-3 .category-header-title {
      background-color: #8f53a1;
  }
  .container-floor .container-category.container-category-4 .category-header-background,
  .container-floor .container-category.container-category-4 .category-header-title {
      background-color: #75bee9;
  }
  .container-floor .container-category.container-category-5 .category-header-background,
  .container-floor .container-category.container-category-5 .category-header-title {
      background-color: #c49a6c;
  }
  .container-floor .container-category.container-category-6 .category-header-background,
  .container-floor .container-category.container-category-6 .category-header-title {
      background-color: #594a42;
  }
  .container-floor .container-category.container-category-7 .category-header-background,
  .container-floor .container-category.container-category-7 .category-header-title {
      background-color: #9e1f63;
  }
  .container-floor .container-category.container-category-8 .category-header-background,
  .container-floor .container-category.container-category-8 .category-header-title {
      background-color: #f598a4;
  }
  .container-floor .container-category.container-category-9 .category-header-background,
  .container-floor .container-category.container-category-9 .category-header-title {
      background-color: #f7941e;
  }
  .container-floor .container-category.container-category-10 .category-header-background,
  .container-floor .container-category.container-category-10 .category-header-title {
      background-color: #603913;
  }
  .container-floor .container-category.container-category-1 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #2b3990;
      border-bottom: 6px solid #2b3990;
  }
  .container-floor .container-category.container-category-2 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #1c75bc;
      border-bottom: 6px solid #1c75bc;
  }
  .container-floor .container-category.container-category-3 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #8f53a1;
      border-bottom: 6px solid #8f53a1;
  }
  .container-floor .container-category.container-category-4 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #75bee9;
      border-bottom: 6px solid #75bee9;
  }
  .container-floor .container-category.container-category-5 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #c49a6c;
      border-bottom: 6px solid #c49a6c;
  }
  .container-floor .container-category.container-category-6 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #594a42;
      border-bottom: 6px solid #594a42;
  }
  .container-floor .container-category.container-category-7 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #9e1f63;
      border-bottom: 6px solid #9e1f63;
  }
  .container-floor .container-category.container-category-8 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #f598a4;
      border-bottom: 6px solid #f598a4;
  }
  .container-floor .container-category.container-category-9 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #f7941e;
      border-bottom: 6px solid #f7941e;
  }
  .container-floor .container-category.container-category-10 .category-header .category-header-title:after {
      border: 6px solid transparent;
      border-left: 6px solid #603913;
      border-bottom: 6px solid #603913;
  }
  .container-floor .category-body .product {
      margin-bottom: 3px !important;
  }
  .container-floor .category-body .product .product-image-container {
      background-color: #fff;
  }
  .container-floor .category-body .product img {
      width: 120px !important;
      max-width: 100% !important;
      height: 155px !important;
      display: inline-block !important;
  }
  .container-floor .category-body .product .name {
      height: 35px;
      display: block;
      overflow: hidden;
  }
  .container-floor .category-body .col-category-right-cloned {
      display: none;
  }
  .container-floor .category-body .col-category-right.active {
      display: block;
  }
  .container-floor .category-body .col-category-right.inactive {
      display: none;
  }
  /*-----------------EDIT FROM STYLE LASVEGAS-----------------*/
  .bg-red {
      background-color: #ff0000 !important;
  }
  .border-3-red {
      border: 3px solid #ff0000 !important;
  }
  .btn-62hallfamily:hover {
      border: 3px solid #ff0000 !important;
      background: #ffffff !important;
      color: #ff0000 !important;
  }
  .shopping-cart {
      float: left;
  }
  .shopping-cart .dropdown {
      text-align: center;
  }
  .shopping-cart .count {
      position: absolute;
      top: 15px!important;
      right: 28px !important;
  }
  .shopping-cart .container-cart {
      margin-left: -175px;
      border-top: 4px solid #ff0000;
      border-bottom: 4px solid #ff0000;
  }
  .shopping-cart .arrow-up {
      border-bottom: 10px solid #ff0000;
  }
  .btn-login-modal {
      color: #ffffff !important;
  }
/*.nav ul.child-1 .dropdown-submenu-click.categories-submenu.open>a, 
.nav ul.child-1 .dropdown-submenu-click.categories-submenu.open>a:focus, 
.nav ul.child-1 .dropdown-submenu-click.categories-submenu.open>a:hover{
    background: #ececec !important;
    }*/
/*.nav ul#menu-categories li.dropdown-submenu.dropdown-submenu-click.categories-submenu.open>a,
.nav ul#menu-categories li.dropdown-submenu.dropdown-submenu-click.categories-submenu.open>a:focus,
.nav ul#menu-categories li.dropdown-submenu.dropdown-submenu-click.categories-submenu.open>a:hover{
    background: @color1 !important;
}

.nav ul.dropdown-menu.padding-0.bg-gray.child-1 li.dropdown-submenu.dropdown-submenu-click.categories-submenu.open>a,
.nav ul.dropdown-menu.padding-0.bg-gray.child-1 li.dropdown-submenu.dropdown-submenu-click.categories-submenu.open>a:focus,
.nav ul.dropdown-menu.padding-0.bg-gray.child-1 li.dropdown-submenu.dropdown-submenu-click.categories-submenu.open>a:hover{
    background: #ececec !important;
    }*/
    .container-floor .category-body {
      /*min-height: auto!important;*/
      min-height: 440px;
  }
  .container-floor .category-body .product {
      margin-top: 15px;
  }
  .container-floor .category-body .product img {
      height: 160px !important;
  }
  .container-floor .category-body .product a img {
      width: 100%!important;
  }
  .container-floor .category-body .product .name {
      height: inherit!important;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  }
  .product-wrap {
      border: 0px solid;
  }
  .product-wrap .product-summary .product-name {
      height: 0px;
  }
  .container-floor .bg-white.hidden-sm.hidden-xs {
      display: inline !important;
  }
  .container-floor .bg-white.hidden-sm.hidden-xs.container-deal {
      display: inline !important;
  }
  .btn-62hallfamily-small:hover {
      border: 3px solid #ff0000 !important;
      background: #fff !important;
      color: #ff0000 !important;
      text-decoration: none;
  }
  .container-account .member-menu ul li:hover,
  .container-account .member-menu ul li.active {
      background-color: #ff0000;
  }
  .container-floor .category-body img.category-image {
      width: 100%;
      min-height: 440px;
  }
  .container-qty > div {
      width: 98px;
  }
  .container-qty .qty-wrapper {
      width: 140px;
  }
  .ico-new {
      background: url('../../img/imlivemall/sprite.png') no-repeat -17px -275px;
      width: 31px;
      height: 14px;
      display: inline-block;
      right: 0px;
      position: absolute;
      /* bottom: 0px; */
      margin-top: 209px;
      margin-right: 15px;
  }
  .ico-new-product-s {
      background: url('../../img/imlivemall/sprite.png') no-repeat -17px -275px;
      width: 31px;
      height: 14px;
      display: inline-block;
      right: 0px;
      position: absolute;
      /* bottom: 0px; */
      margin-top: 216px;
      margin-right: 15px;
  }
  .icon-sale-fitgloss {
      background: url('../../img/imlivemall/sprite.png') no-repeat -65px -275px;
      width: 31px;
      height: 14px;
      position: absolute;
      right: 50px;
      margin-top: 209px;
  }
  .ico-hot-product-s {
      background: url('../../img/imlivemall/sprite.png') no-repeat -65px -275px;
      width: 31px;
      height: 14px;
      position: absolute;
      right: 50px;
      margin-top: 216px;
  }
  /*-----------------EDIT FROM 62hallfamily LASVEGAS-----------------*/
  #tabs-horizontal .nav a:hover {
      color: #ffffff;
      background: #ff0000;
      font-weight: bold;
  }
  .modal-dialog .modal-content {
      overflow-y: visible;
  }
  .loading {
      background: transparent!important;
  }
  #tabs-horizontal-ajax-tab-content.loading div {
      display: block;
  }
  .icon-shopping-cart {
      width: 45px;
      height: 46px;
      background: url(../../img/62hallfamily/sprite_icon.png) -8px -74px !important;
  }
  .padding-left-0 {
      padding-left: 10px !important;
  }
  .nav .open > a {
      text-transform: uppercase;
      background: #ff0000 !important;
  }
  .nav .open > a:focus,
  .nav .open > a:hover {
      background: #ff0000 !important;
  }
  .child-1 a:hover,
  .child-2 a:hover {
      font-weight: bold;
      color: #f60100 !important;
  }
.dropdown-submenu > a:after{
    border: none;
    height: 14px;
    margin-top: 2px;
    width: 14px;
}
  .dropdown-submenu > a:after{
      background: url(../../img/imlivemall/sprite.png) -368px -210px no-repeat;
  }
  .dropdown-submenu > a:hover:after{
      background: url(../../img/imlivemall/sprite.png) -368px -160px no-repeat;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-submenu:hover > a,
  .dropdown-submenu:focus > a,
  .dropdown-submenu.open > a {
      /*backgrosund: #f60100 !important;*/
      background-color: initial !important;
      color: #f9ed32 !important;
  }
  .child-1 > li > a:hover,
  .child-1 .dropdown-submenu:hover > a {
      color: #58595b!important;
  }
  .child-1 > li > a:hover,
  .child-1 > li > a:focus,
  .child-1 .dropdown-submenu:hover > a,
  .child-1 .dropdown-submenu:focus > a,
  .child-1 .dropdown-submenu.open > a {
      background: #f2f2f2 !important;
  }
  .child-2 > li > a:hover,
  .child-2 > li > a:focus,
  .child-2 .dropdown-submenu:hover > a,
  .child-2 .dropdown-submenu:focus > a,
  .child-2 .dropdown-submenu.open > a {
      background: none !important;
  }
  a.font-black.link-submenu-all,
  a.font-black.link-submenu-all:hover,
  a.font-black.link-submenu-all:active,
  a.font-black.link-submenu-all:focus {
      color: #ff0000 !important;
  }
  a.font-black,
  a.font-black:hover,
  a.font-black:active,
  a.font-black:focus {
      color: #ff0000 !important;
  }
  .child-1 .link-submenu-all:hover {
      background: #f2f2f2 !important;
  }
  .nav .dropdown-submenu-click.open > a,
  .nav .dropdown-submenu-click.open > a:focus,
  .nav .dropdown-submenu-click.open > a:hover {
      background: #ff0000 !important;
  }
  #tabs-horizontal table tr > td:first-child,
  #tabs-horizontal table tr > th {
      background-color: transparent;
      color: #000000;
      border: 1px solid #ff0000;
      padding: 5px;
  }
  #tabs-horizontal table td {
      border: 1px solid #ff0000;
  }
  .bottom-product-price {
      margin-bottom: 0px;
  }
  .categories > a {
      width: auto;
  }
  .navbar-collapse .navbar-nav .dropdown .status-pesanan {
      min-width: auto;
  }
  .menu li.categories ul.dropdown-menu a {
      padding-top: 10px;
      height: 40px;
  }
  .nav .categories > a:hover,
  .nav .categories > a:active,
  .nav .categories > a:focus {
      background: #ff0000 !important;
  }
  .menu li.categories ul.dropdown-menu {
      /*background: @color2 !important;*/
  }
  .auth .usermenu li {
      display: inline-block;
      list-style: none;
      width: 50%;
      text-align: center;
  }
  .auth .usermenu a {
      padding: 0px;
      color: #fff;
  }
  .auth .usermenu .active {
      border-radius: 3px;
      background: #f5f5f5;
      padding: 1px;
  }
  .auth .usermenu .active a {
      padding: 0px;
      color: #000;
  }
  #element_slide_show-slider > .carousel-indicators {
      display: block;
  }
  .carousel-control.left, .carousel-control.right {
    width: 80px;
  }
  /*-----------------EDIT FROM STYLE FLOOR-----------------*/
  .menu li.categories ul.dropdown-menu {
      min-height: auto;
      height: auto;
  }
  /*-----------------RESPONSIVE-----------------*/
  @media only screen and (max-width: 1200px) {
      .container.container-slide {
        width: auto;
    }
    .product-wrapper .product-wrapper--image img {
        width: auto;
        margin: auto;
    }
    .adv {
        width: 293px;
        height: 114px;
    }
}
@media only screen and (max-width: 991px) {
  .container {
    width: 768px;
}
.contaner-slide {
    width: auto;
}
.nav > li.bigmall-menu-category {
    display: block;
    /*width: 0px;*/
}
ul.bigmall-menu-category {
    display: block !important;
    position: fixed;
    left: -400px;
    top: 0px;
    height: 100%;
    width: 250px !important;
}
ul.bigmall-menu-category li a::after {
    display: none !important;
    content: "";
}
ul.bigmall-menu-category li > ul {
    display: none !important;
}
li.bigmall-menu-category.show {
    display: block;
}
ul.bigmall-menu-category.show {
    left: 0px !important;
}
#nav-side-bar {
    display: block;
}
img.logo.brand {
    width: 200px;
    height: 80px;
}
#logo img {
    margin-left: 0px;
}
a.icon-shopping-cart {
    top: 0px;
}
.shopping-cart div.count {
    top: 15px;
}
#search,
#shopping-cart {
    margin-top: 0px;
}
ul.dropdown-menu.container-cart {
    top: 46px;
}
ul.dropdown-menu.container-cart .triangle.arrow-up {
    right: 23px;
}
.auth {
    margin-top: 30px;
    margin-left: -20px;
    width: 19%;
}
.auth .usermenu .active a {
    margin-left: -10px;
}
.container-floor .bg-white.hidden-sm.hidden-xs {
    display: inline !important;
}
.navbar-collapse .navbar-nav .dropdown .status-pesanan {
    min-width: auto;
}
.product-name h3 {
    font-size: 24px;
}
ul.categories {
    position: absolute;
    /*left: 0px;*/
    top: 40px;
}
.col-md-5ths {
    width: 33%;
}
.container-floor ul.categories {
    position: absolute !important;
    top: 44px !important;
}
.menu li.categories ul.dropdown-menu {
    left: -140px;
}
}
@media only screen and (max-width: 870px) {
  .container.contaner-slide {
    width: auto;
}
.container.row-adv {
    padding: 0px;
}
.navbar-collapse .navbar-nav .dropdown .status-pesanan {
    min-width: auto;
}
.col-sm-5ths {
    width: 33%;
}
}
@media only screen and (max-width: 768px) {
  .container.contaner-slide {
    width: auto;
}
.container {
    width: 750px;
}
.container.row-adv {
    padding: 10px;
}
.navbar-collapse .navbar-nav .dropdown .status-pesanan {
    min-width: auto;
}
.container-floor li.categories.category-menu {
    position: relative !important;
}
ul.categories.show {
    /*left: 0px !important;*/
}
}
@media only screen and (max-width: 480px) {
  .container {
    width: 320px;
}
.container.deal {
    margin-top: 36px;
}
.product-wrapper .product-wrapper--description-title {
    font-size: 14px;
}
.product-wrapper .product-wrapper--description-price {
    text-align: right;
    font-size: 16px;
    margin-top: 20px;
}
.detail-product {
    margin-top: 25px;
}
.detail-product .product-action {
    top: -55px;
}
.detail-product .product-action a.btn-add-cart {
    float: right;
}
.container-qty .qty-wrapper {
    width: 100px;
}
#tabs-horizontal-tab-widget {
    margin-left: -1px;
}
.shopping-cart div.count {
    margin-left: 80px;
}
.container-shopping-cart-icon {
    margin-left: 80px;
}
.shopping-cart .count {
    right: -53px;
}
img.logo.brand {
    margin-top: 5px;
}
.adv {
    margin: 10px 0px;
    width: 100%;
    height: 114px;
}
.mainImage {
    height: 50px;
}
.container.row-adv {
    padding: 0px;
}
.row-adv {
    margin-top: 0px;
}
.container-floor .category-header .category-header-title {
    height: inherit;
    min-width: inherit;
}
.container-floor .container-category {
    margin-top: 20px;
}
.container-floor .category-body .product img {
    width: 260px!important;
    height: 160px !important;
}
.container-floor .product-wrap .product-summary {
    padding: 10px;
    margin-top: 0px;
}
ul.categories.show {
    left: 0px !important;
}
}
