@font-face {
  font-family: 'SourceSansProBold';
  src: url('../../font/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSansProReg';
  src: url('../../font/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSansProSemiBold';
  src: url('../../font/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}
body {
  font-family: 'SourceSansProReg' !important;
  font-size: 14px;
}
#main-content {
  margin-top: 60px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  #main-content {
    margin-top: 80px;
  }
}
b,
strong {
  font-family: 'SourceSansProBold' !important;
}
.ico-media_fb {
  background: url(../../img/imlastmenit/sprite.png) no-repeat -18px -261px;
  width: 31px;
  height: 31px;
}
.ico-media_ig {
  background: url(../../img/imlastmenit/sprite.png) no-repeat -75px -261px;
  width: 31px;
  height: 31px;
}
/*1. NAVBAR*/
/*2. HEADER*/
/*1. NAVBAR*/
.navbar-header {
  position: relative;
  width: 100%;
  margin: 0 auto !important;
}
.navbar-custom {
  border-color: transparent;
  background-color: #E91e63;
  border: none;
  color: #ffffff;
}
.navbar-custom .navbar-toggle {
  float: left;
  margin-left: 15px;
  border-color: transparent;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  background: transparent;
}
.navbar-custom .navbar-collapse {
  border-color: transparent;
}
@media only screen and (min-width: 768px) {
}
.navbar-custom li a {
  text-transform: uppercase;
}
.navbar-custom .navbar-nav {
  height: 100%;
}
.navbar-custom .navbar-nav li a {
  color: #ffffff;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-nav li a {
    padding: 30px 15px;
  }
}
.navbar-custom .navbar-menu-right {
  position: absolute;
  right: -15px;
  padding-left: 0px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .navbar-menu-right {
    padding-top: 4px;
    right: 0px;
  }
}
.navbar-custom .navbar-menu-right li {
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.navbar-custom .navbar-menu-right li ul.dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar-custom .navbar-menu-right li ul.dropdown-menu li {
  width: 100%;
}
.navbar-custom .navbar-menu-right li ul.dropdown-menu li a {
  padding: 8px 15px !important;
  color: #aeaeae;
  width: 100%;
  box-shadow: none;
}
.navbar-custom .navbar-menu-right li ul.dropdown-menu li a:hover {
  color: #E91e63;
  background: transparent;
  box-shadow: none;
}
.navbar-custom .navbar-menu-right li a {
  padding: 15px 7px;
  line-height: 20px;
  display: flex;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .navbar-custom .navbar-menu-right li a {
    padding: 30px 15px;
  }
}
.navbar-custom .navbar-menu-right li a .label-menu {
  margin-left: 10px;
}
.navbar-custom .navbar-menu-left li.active a {
  background: #16d1b5;
  color: #ffffff;
}
.navbar-custom .navbar-menu-left li a:hover {
  background: #16d1b5;
  color: #ffffff;
}
.navbar-custom .navbar-menu-center {
  padding-left: 0px;
  position: absolute;
  width: 460px;
  left: 50%;
  margin-left: -280px;
  margin-top: 5px;
  display: flex;
  margin-bottom: 0px;
}
@media only screen and (max-width: 380px) {
  .navbar-custom .navbar-menu-center {
    width: 220px;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-custom .navbar-menu-center {
    width: 400px;
    margin-left: -200px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .navbar-menu-center {
    margin-top: 20px;
  }
}
.navbar-custom .navbar-menu-center.showed {
  margin-left: -220px;
}
@media only screen and (max-width: 380px) {
  .navbar-custom .navbar-menu-center.showed {
    width: 260px;
    margin-left: -140px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-custom .navbar-menu-center.showed {
    margin-top: 8px;
  }
}
.navbar-custom .navbar-menu-center.showed .search-btn-close {
  display: block;
}
.navbar-custom .navbar-menu-center.showed .bgdrop {
  width: 100%;
  height: 57px;
  background-color: #E91e63;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .navbar-custom .navbar-menu-center.showed .bgdrop {
    height: 80px;
  }
}
.navbar-custom .navbar-menu-center .search-btn-close {
  position: absolute;
  right: -120px;
  border-radius: 50%;
  top: 0px;
  z-index: 3;
  color: #ffffff;
  background: #cecece;
  width: 40px;
  height: 40px;
  display: none;
  line-height: 42px;
  text-align: center;
}
.navbar-custom .navbar-menu-center .search-btn-close i {
  font-size: 20px;
}
.navbar-custom .navbar-menu-center .input-group {
  height: 40px;
  z-index: 10;
  display: flex;
  position: relative;
}
.navbar-custom .navbar-menu-center .input-group .group-btn-search {
  padding-right: 43px;
}
.navbar-custom .navbar-menu-center .input-group .btn {
  height: 100%;
  border-radius: 0px;
  border: none;
}
.navbar-custom .navbar-menu-center .input-group .btn.btn-search {
  background-color: #231f20;
  color: #ffffff;
  margin-left: 8px;
  padding: 10px 47px;
}
.navbar-custom .navbar-menu-center .input-group .btn.btn-search:hover,
.navbar-custom .navbar-menu-center .input-group .btn.btn-search:active,
.navbar-custom .navbar-menu-center .input-group .btn.btn-search:focus {
  background-color: #16d1b5;
}
.navbar-custom .navbar-menu-center .input-group .placeholder-search {
  background: #ffffff;
  padding-top: 9px;
  padding-left: 18px !important;
  cursor: text;
}
.navbar-custom .navbar-menu-center .input-group .placeholder-search:focus,
.navbar-custom .navbar-menu-center .input-group .placeholder-search:active,
.navbar-custom .navbar-menu-center .input-group .placeholder-search:hover {
  box-shadow: none;
}
.navbar-custom .navbar-menu-center .input-group input {
  border: none;
  padding-top: 5px;
  height: 100%;
  border-radius: 0px;
}
.navbar-custom .navbar-menu-center .input-group input:focus,
.navbar-custom .navbar-menu-center .input-group input:active,
.navbar-custom .navbar-menu-center .input-group input:hover {
  box-shadow: none;
}
/*2. HEADER*/
.header-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .header-menu {
    justify-content: flex-start;
  }
}
.header-item {
  margin: 5px;
  text-transform: uppercase;
}
.header-item a {
  padding: 6px;
  color: #999;
}
.header-item a:hover {
  color: #E91e63;
}
/*SLIDER*/
.home-slideshow {
  margin-bottom: 0px;
}
.home-slideshow .item img {
    height: 565px !important;
    width: 100%;
}
.home-slideshow .carousel-indicators {
  display: none;
}
/*BANNER TOP*/
.row-banner-top {
  display: flex;
  flex-wrap: wrap;
}
.row-banner-top .banner-wrapper {
  padding: 15px 10px;
  display: grid;
  align-items: stretch;
}
@media only screen and (max-width: 767px) {
  .row-banner-top .banner-wrapper {
    padding: 15px;
  }
}
.row-banner-top .banner-wrapper img {
  width: 100%;
  height: auto;
}
.row-banner-top .banner-left {
  flex-basis: 50%;
}
@media only screen and (max-width: 767px) {
  .row-banner-top .banner-left {
    flex-basis: 100%;
  }
}
.row-banner-top .banner-right {
  flex-basis: 50%;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .row-banner-top .banner-right {
    flex-basis: 100%;
    padding: 0px 5px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .row-banner-top .banner-right .banner-wrapper {
    padding: 0px 10px;
    flex-basis: 50%;
  }
}
/*BANNER BOTTOM*/
.row-banner-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.row-banner-bottom .banner-wrapper {
  display: grid;
  align-items: stretch;
}
@media only screen and (max-width: 767px) {
  .row-banner-bottom .banner-wrapper {
    /*padding:10px;*/
  }
}
.row-banner-bottom .banner-wrapper img {
  width: 100%;
  height: auto;
}
.row-banner-bottom .banner-left {
  flex-basis: 65%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  .row-banner-bottom .banner-left {
    flex-basis: 100%;
  }
}
.row-banner-bottom .banner-left-top {
  flex-basis: 100%;
  display: grid;
  padding: 0px 6px;
  padding-bottom: 12px;
}
@media only screen and (max-width: 767px) {
  .row-banner-bottom .banner-left-top {
    padding: 0px 12px;
    padding-bottom: 12px;
  }
}
.row-banner-bottom .banner-left-bottom {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  .row-banner-bottom .banner-left-bottom {
    padding: 0px 6px;
  }
}
.row-banner-bottom .banner-left-bottom .banner-wrapper {
  flex-basis: 50%;
  padding: 0px 6px;
}
@media only screen and (max-width: 767px) {
  .row-banner-bottom .banner-left-bottom .banner-wrapper {
    flex-basis: 100%;
    padding-bottom: 12px;
  }
}
.row-banner-bottom .banner-right {
  flex-basis: 35%;
  display: flex;
  padding: 0px 6px;
}
@media only screen and (max-width: 767px) {
  .row-banner-bottom .banner-right {
    flex-basis: 100%;
    padding: 0px 12px;
  }
}
@media only screen and (max-width: 767px) {
  .row-banner-bottom .banner-right .banner-wrapper {
    flex-basis: 100%;
  }
}
footer {
  background-color: #231f20;
  padding: 0px;
  margin-top: 40px;
}
footer .subscribe .input-group {
  margin-top: 10px;
}


#home_slideshow-slider .carousel-control.right,#home_slideshow-slider .carousel-control.left {
    display: block;
    background: transparent;
}

#home_slideshow-slider .carousel-control.right span.glyphicon,#home_slideshow-slider .carousel-control.left span.glyphicon{
    
    background: #16D1B5;
    width: 26px;
    height: 26px;
    font-size: 18px;
    border-radius: 13px;
    opacity: 1;
    padding-top: 2px;
}

@media (max-width: 380px) {
  footer .subscribe .input-group {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 380px) {
  footer .subscribe .input-group-btn {
    width: 100%;
    margin-top: 5px;
  }
}
footer .subscribe .input-group .btn {
  border-radius: 0px;
  background: #16d1b5;
  border-color: #16d1b5;
  color: #ffffff;
  padding: 13px 16px;
}
@media (max-width: 380px) {
  footer .subscribe .input-group .btn {
    width: 100%;
    background: #E91e63;
    border-color: #E91e63;
  }
}
footer .subscribe .input-group .btn .lbl-subscribe-send {
  display: none;
}
@media (max-width: 380px) {
  footer .subscribe .input-group .btn .lbl-subscribe-send {
    display: inline;
    margin-left: 5px;
  }
}
footer .subscribe .input-group .btn i.fa {
  float: right;
  margin-top: 3px;
}
footer .subscribe .input-group .form-control {
  border-radius: 0px;
  height: 45px;
  background: #413B33;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
footer .subscribe .input-group .form-control:focus,
footer .subscribe .input-group .form-control:hover,
footer .subscribe .input-group .form-control:active {
  box-shadow: none;
}
footer .footer-item-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 20px;
}
footer .footer-above,
footer .footer-below {
  padding: 30px;
}
@media (max-width: 380px) {
  footer .footer-above,
  footer .footer-below {
    padding: 15px 5px;
  }
}
footer .footer-above {
  padding-top: 60px;
  padding-bottom: 0px;
}
footer .footer-below {
  background: #16d1b5;
}
footer .list-unstyled {
  margin-bottom: 65px;
  color: #999999;
}
footer .list-unstyled li a {
  display: block;
  color: #999999 !important;
  padding: 4px 0px;
}
footer .list-unstyled li a:hover,
footer .list-unstyled li a:focus {
  color: #16d1b5 !important;
}
#tabs-horizontal-tab-widget {
  margin-top: -29px !important;
}
.icon-account {
  background: url(../../img/imlastmenit/sprite.png) no-repeat -57px -72px;
  width: 18px;
  height: 18px;
}
.icon-shopping-cart {
  background: url(../../img/imlastmenit/sprite.png) no-repeat -135px -73px;
  width: 22px;
  height: 18px;
}
.icon-search {
  background: url(../../img/imlastmenit/sprite.png) no-repeat -223px -74px;
  width: 16px;
  height: 17px;
}
.shopping-cart .count .lbl-item {
  display: none;
}
.shopping-cart.dropdown-toggle {
  padding: 0px;
}
.shopping-cart .dropdown-menu.container-cart {
  top: 50px;
  right: -10px;
}
.caret-login,
.caret-login-wrapper {
  display: none;
}
#myaccount-menu + ul.dropdown-menu {
  margin-left: 14px;
  margin-top: -14px;
  min-width: 135px;
}
.navbar-custom .navbar-menu-right li .container-shopping-cart-icon .icon-shopping-cart {
  display: none !important;
}
.navbar-custom .navbar-menu-right li .container-shopping-cart-icon .dropdown-menu {
  padding: 10px;
  top: 43px;
  margin-top: 0px;
  width: 280px;
  left: -25px;
}
.navbar-custom .navbar-menu-right li .container-shopping-cart-icon .dropdown-menu li {
  display: block;
}
.navbar-custom .navbar-menu-right li .container-shopping-cart-icon .dropdown-menu li a {
  width: initial;
}
.shopping-cart .arrow-up {
  border-bottom: 10px solid #ffffff;
}
.shopping-cart .triangle {
  right: 23px;
  position: absolute;
  margin-top: -20px;
}
.shopping-cart .count {
  top: 0px !important;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 13px;
  background-color: #16d1b5;
  text-align: center;
  color: #ffffff;
}
.icon-shopping-count {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 13px;
  background-color: #16d1b5;
  text-align: center;
  color: #ffffff;
}
.icon-shopping-count-wrapper {
  padding: 0px !important;
}
.imlastmenit-deal .slick-slide {
  padding: 0px 15px;
}
.container-deal {
  position: relative;
}
.container-deal .page-title {
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
}
.container-deal .deal-see-all {
  font-size: 14px;
  position: absolute;
  margin-top: 14px;
  right: 65px;
}
footer .social-media-bottom {
  margin: 0px;
  margin-left: 10px;
}
.row-footer-about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .row-footer-about-us {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
}
.row-footer-about-us > div {
  flex: 1;
}
.row-footer-about-us .left-footer-bottom {
  flex-basis: 55%;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .row-footer-about-us .left-footer-bottom {
    flex-basis: 100%;
    text-align: center;
  }
}
.row-footer-about-us .right-footer-bottom {
  text-align: right;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .row-footer-about-us .right-footer-bottom {
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
  }
}
.product-wrapper {
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.product-wrapper a:hover,
.product-wrapper a:focus,
.product-wrapper a:active,
.product-wrapper a {
  outline: none;
}
.product-wrapper .promo-price-text {
  display: none;
}
.product-wrapper .product-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  text-align: right;
  align-items: flex-end;
  position: absolute;
  right: 15px;
}
.product-wrapper .product-icon-wrapper > div {
  margin-top: 5px;
  margin-right: 5px;
}
.product-wrapper .icon-sale-fitgloss {
  background: url(../../img/imlastmenit/sprite.png) no-repeat -18px -410px;
  width: 43px;
  height: 43px;
}
.product-wrapper .ico-new {
  background: url(../../img/imlastmenit/sprite.png) no-repeat -84px -410px;
  width: 43px;
  height: 43px;
}
.product-wrapper--image img {
  max-height: 240px;
  max-width: 240px;
  width: 100%;
  border-radius: 2px;
}
.product-wrapper--description {
  margin-top: 10px;
  /*height: 60px;*/
}
.product-wrapper--description-title {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}
.product-wrapper--description-price {
  color: #E91e63;
  font-size: 18px;
}
.product-wrapper--description-price-discount {
  text-decoration: line-through;
  display: inline-block;
  margin-left: 10px;
}
.product-wrapper--description-price-promo {
  color: #E91e63;
  font-size: 18px;
  display: inline-block;
}
.imlastmenit-deal .slick-prev,
.imlastmenit-deal .slick-next {
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  font-family: FontAwesome;
  background: transparent;
  display: block !important;
  color: #00a79d;
}
.imlastmenit-deal .slick-prev:before,
.imlastmenit-deal .slick-next:before {
  font-family: FontAwesome;
  color: #00a79d !important;
  font-size: 16px;
}
.imlastmenit-deal .slick-prev:hover,
.imlastmenit-deal .slick-next:hover {
  color: #00a79d;
}
.imlastmenit-deal .slick-prev:hover:before,
.imlastmenit-deal .slick-next:hover:before {
  color: #00a79d !important;
}
.imlastmenit-deal .slick-next {
  top: -28px;
  right: 10px !important;
}
.imlastmenit-deal .slick-next:before {
  content: "\f105";
}
.imlastmenit-deal .slick-prev {
  position: absolute;
  top: -28px;
  right: 40px;
  left: inherit !important;
}
.imlastmenit-deal .slick-prev:before {
  content: "\f104";
}
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
