@font-face {
    font-family: 'SourceSansProBold';
    src: url('../../font/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProReg';
    src: url('../../font/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProSemiBold';
    src: url('../../font/SourceSansPro/SourceSansPro-Semibold.ttf') format('truetype');
}

@pink_color : #E91e63;
@blue_color : #16d1b5;
@white_color : #ffffff;
@black_color : #212121;
@silver_color : #e6e7e8;
@grey_color : #58595b;
@black_color : #231f20;

@font_regular : 'SourceSansProReg';
@font_semibold : 'SourceSansProSemiBold';
@font_bold : 'SourceSansProBold';

body{
    font-family : @font_regular !important;
    font-size:14px;
}
#main-content{
    margin-top: 60px;
    padding-top: 10px; 
    @media(min-width: 768px){
        margin-top: 80px;
    }
}

.ico-media_fb{
    background: url(../../img/imlastmenit/sprite.png) no-repeat -18px -261px;
    width: 31px;
    height: 31px;
}
.ico-media_ig{
    background: url(../../img/imlastmenit/sprite.png) no-repeat -75px -261px;;
    width: 31px;
    height: 31px;
}

/*1. NAVBAR*/
/*2. HEADER*/



/*1. NAVBAR*/
.navbar-header{
    position: relative;
    width: 100%;
    margin: 0 auto !important;
}
.navbar-custom{
    border-color: transparent;
    background-color:@pink_color;
    border: none;
    color:@white_color;
    .navbar-toggle{
        float: left;
        margin-left: 15px;
        border-color: transparent;
        &:hover,
        &:focus,
        &:active{
            background:transparent;
        }
    }
    &.navbar-default{
        // .navbar-collapse{
            
        // }
    }
    .navbar-collapse{
        border-color:transparent;
        // height: 100% !important;
        @media only screen and (min-width:768px){
            // &:not(.in){
            //     display:inline-block !important;
            // }
        }
    }
    li{
        a{
            text-transform: uppercase;
        }
    }
    .navbar-nav{
        height:100%;
        li{
            a{
                color:@white_color;
                @media (min-width: 768px){
                    padding: 30px 15px;
                }
            }
        }
    }
    .navbar-menu-right{
        position: absolute;
        right: -15px;
        padding-left:0px;
        margin-bottom: 0px;
        @media only screen and (max-width:767px){
            padding-top: 4px;
            right: 0px;
        }
        li{
            list-style: none;
            display: inline-flex;
            align-items: center;
            ul.dropdown-menu{
                padding: 0px;
                border-radius: 0px;
                border: none;
                box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
                li{
                    width: 100%;
                    a{
                        padding: 8px 15px !important;
                        color: #aeaeae;
                        width: 100%;
                        box-shadow: none;
                        &:hover{
                            color: @pink_color;
                            background: transparent;
                            box-shadow: none;
                        }
                    }
                }
            }
            a{
                padding: 15px 7px;
                line-height: 20px;
                display: flex;
                color: @white_color;
                @media only screen and (min-width:768px){
                    padding: 30px 15px;
                }
                .label-menu{
                    margin-left:10px;
                }
            }
        }
    }
    .navbar-menu-left{
        li{
            &.active{
                a{
                    background: @blue_color;
                    color: #ffffff;
                }
            }
            a{
                &:hover{
                    background: @blue_color;
                    color: #ffffff;
                }
            }
        }
    }
    .navbar-menu-center{
        padding-left: 0px;
        position: absolute;
        width: 460px;
        left: 50%;
        margin-left: -230px;
        margin-top: 5px;
        display:flex;
        margin-bottom: 0px;
        @media only screen and(max-width:380px){
            width:220px;
        }
        @media only screen and(max-width:992px){
            width: 400px;
            margin-left: -200px;
        }
        @media only screen and (min-width: 768px){
            margin-top: 20px;
        }
        &.showed{
            margin-left: -190px;
            @media only screen and(max-width:380px){
                width: 260px;
                margin-left: -130px;
            }
            @media only screen and(max-width: 767px){
                margin-top: 8px;
            }
            .search-btn-close{
                display: block;
            }
            .bgdrop{
                width: 100%;
                height: 57px;
                background-color: @pink_color;
                position: fixed;
                left: 0px;
                top: 0px;
                z-index: 2;
                @media only screen and (min-width: 768px){
                    height: 80px;
                }
            }
        }
        .search-btn-close{
            position: absolute;
            right: -45px;
            border-radius: 50%;
            top: 0px;
            z-index: 3;
            color: #ffffff;
            background: #cecece;
            width: 40px;
            height: 40px;
            display: none;
            line-height: 42px;
            text-align: center;
            i{
                font-size:20px;
            }
        }
        // @media only screen and (max-width:767px){
        //     margin-top: 8px;
        // }
        .input-group{
            height: 40px;
            z-index: 10;
            position: relative;
            .btn{
                height: 100%;
                border-radius: 0px;
                border: none;
                &.btn-search{
                    background-color: @black_color;
                    color:@white_color;
                    margin-left: 8px;
                    &:hover,
                    &:active,
                    &:focus{
                        background-color: @blue_color;
                    }
                }
            }
            .placeholder-search{
                background: @white_color;
                padding-top: 9px;
                padding-left: 18px !important;
                cursor: text;
                &:focus,
                &:active,
                &:hover{
                    box-shadow: none;
                }
            }
            input{
                border: none;
                padding-top: 5px;
                height: 100%;
                border-radius: 0px;
                &:focus,
                &:active,
                &:hover{
                    box-shadow:none;
                }
            }
        }
    }
}

/*2. HEADER*/
.header{
    &-menu{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        @media only screen and(max-width: 500px){
            justify-content: flex-start;
        }
    }
    &-item{
        margin: 5px;
        text-transform: uppercase;
        a{
            padding: 6px;
            color:#999;
            &:hover{
                color: @pink_color;
            }
        }
    }
}

/*SLIDER*/
.home-slideshow{
    margin-bottom: 0px;
    .carousel-indicators {
        display:none;
    }
}

/*BANNER TOP*/
.row-banner-top{
    display: flex;
    flex-wrap: wrap;
    .banner-wrapper{
        padding:15px 10px;
        display: grid;
        align-items: stretch;
        @media only screen and (max-width: 767px){
            padding:15px;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .banner-left{
        flex-basis: 50%;
        @media only screen and (max-width: 767px){
            flex-basis: 100%;
        }
    }
    .banner-right{
        flex-basis: 50%;
        display: flex;
        @media only screen and (max-width: 767px){
            flex-basis: 100%;
            padding: 0px 5px;
            padding-bottom: 10px;
        }
        .banner-wrapper{
            @media only screen and (max-width: 767px){
                padding: 0px 10px;
                flex-basis: 50%;
            }
        }
    }
}

/*BANNER BOTTOM*/
.row-banner-bottom{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    .banner-wrapper{
        display: grid;
        align-items: stretch;
        @media only screen and (max-width: 767px){
            /*padding:10px;*/
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .banner-left{
        flex-basis: 65%;
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 767px){
            flex-basis: 100%;
        }
        &-top{
            flex-basis: 100%;
            display: grid;
            padding:0px 6px;
            padding-bottom:12px;
            @media only screen and (max-width: 767px){
                padding:0px 12px;
                padding-bottom:12px;
            }
        }
        &-bottom{
            display: flex;
            flex-wrap: wrap;
            @media only screen and (max-width: 767px){
                padding: 0px 6px;
            }
            .banner-wrapper{
                flex-basis: 50%;
                padding:0px 6px;
                @media only screen and (max-width: 767px){
                    flex-basis: 100%;
                    padding-bottom: 12px;
                }
            }
        }
    }
    .banner-right{
        flex-basis: 35%;
        display: flex;
        padding:0px 6px;
        @media only screen and (max-width: 767px){
            flex-basis: 100%;
            padding:0px 12px;
        }
        .banner-wrapper{
            @media only screen and (max-width: 767px){
                flex-basis: 100%;
            }
        }
    }
}

footer{
    background-color:@black_color;
    padding:0px;
    margin-top:10px;
    .subscribe{
        .input-group{
            margin-top: 10px;
            @media(max-width:380px){
                display: flex;
                flex-wrap: wrap;
            }
            &-btn{
                @media(max-width:380px){
                    width: 100%;
                    margin-top: 5px;
                }
            }
            .btn{
                border-radius: 0px;
                background: @blue_color;
                border-color: @blue_color;
                color: #ffffff;
                padding: 13px 16px;
                @media(max-width:380px){
                    width: 100%;
                    background: @pink_color;
                    border-color: @pink_color;
                }
                .lbl-subscribe-send{
                    display: none;
                    @media(max-width: 380px){
                        display:inline;
                        margin-left: 5px;
                    }
                }
                i.fa{
                    float: right;
                    margin-top: 3px;
                }
            }
            .form-control{
                border-radius: 0px;
                height: 45px;
                background: #413B33;
                color: #ffffff;
                border: none;
                box-shadow: none;
                &:focus,
                &:hover,
                &:active{
                    box-shadow: none;
                }
            }
        }
    }
    .footer-item-title{
        color:#ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size:16px;
        margin:0px;
        margin-bottom:20px;
    }
    .footer-above,
    .footer-below{
        padding:30px;
        @media(max-width:380px){
            padding: 15px 5px;
        }
    }
    .footer-above{
        padding-top:60px;
        padding-bottom:0px;
    }
    .footer-below{
        background: @blue_color;
    }
    .list-unstyled{
        margin-bottom: 65px;
        color:darken(@white_color,40%);
        li{
            a{
                display:block;
                color:darken(@white_color,40%) !important;
                padding:4px 0px;
                &:hover,
                &:focus{
                    color: @blue_color !important;
                }
            }
        }
    }
}

#tabs-horizontal-tab-widget{
    margin-top:-29px !important;
}

.icon-account{
	background: url(../../img/imlastmenit/sprite.png) no-repeat -57px -72px;
	width: 18px;
	height: 18px;
}
.icon-shopping-cart{
    background: url(../../img/imlastmenit/sprite.png) no-repeat -135px -73px;
	width: 22px;
	height: 18px;
}
.icon-search{
	background: url(../../img/imlastmenit/sprite.png) no-repeat -223px -74px;
	width: 16px;
	height: 17px;
}
.shopping-cart .count .lbl-item{
    display: none;
}
.shopping-cart{
    &.dropdown-toggle{
        padding:0px;
    }
    .dropdown-menu{
        &.container-cart{
            top: 50px;
            right: -10px;
        }
    }
}
.caret-login,
.caret-login-wrapper{
    display: none;
}
#myaccount-menu + ul.dropdown-menu {
    margin-left: -15px;
    margin-top:0px;
}
.navbar-custom .navbar-menu-right li {
    .container-shopping-cart-icon{
        .icon-shopping-cart{
            display:none !important;
        }
        .dropdown-menu{
            padding: 10px;
            padding: 10px;
            top: 57px;
            margin-top: 0px;
            width: 280px;
            left: -25px;
            li{
                display: block;
                a{
                    width: initial;
                }
            }
        }
    }
}
.shoping-cart-wrapper{
    // @media(min-width: 768px){
    //     padding-top: 6px;
    // }
}
.shopping-cart .arrow-up{
    border-bottom: 10px solid #ffffff;
}
.shopping-cart .triangle{
    right: 23px;
    position: absolute;
    margin-top: -20px;
}
.shopping-cart .count{
    top:0px !important;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 13px;
    background-color: #16d1b5;
    text-align: center;
    color: #ffffff;
}
.icon-shopping-count{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius:50%;
    font-size: 13px;
    background-color: @blue_color;
    text-align: center;
    color: @white_color;
    &-wrapper{
        padding:0px !important;
    }
}

// SLIDE DEAL
.imlastmenit-deal{
    .slick-slide{
        padding:0px 15px;
    }
}
.container-deal{
    position: relative;
    .page-title{
        padding:10px;
        text-transform: uppercase;
        font-size:30px;
    }
    .deal-see-all{
        font-size: 14px;
        position: absolute;
        margin-top: 14px;
        right: 65px;
    }
}
footer .social-media-bottom {
    margin: 0px;
    margin-left: 10px;
}
.row-footer-about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width : 768px) {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
    & > div{
        flex: 1;
    }
    .left-footer-bottom{
        flex-basis: 55%;
        text-align: left;
        @media only screen and (max-width : 768px) {
            flex-basis: 100%;
            text-align: center;
        }
    }
    .right-footer-bottom{
        text-align: right;
        display: flex;
        align-items: center;
        @media only screen and (max-width : 768px) {
            flex-basis: 100%;
            text-align: center;
            justify-content: center;
        }
    }
}
.product-wrapper{
    margin: 0 auto;
    padding:15px;
    overflow: hidden;
    border: solid 1px rgba(0,0,0,0.1);
    position: relative;
    a:hover,
    a:focus,
    a:active,
    a{
        outline: none;
    }
    .promo-price-text{
        display: none;
    }
    .product-icon-wrapper{
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
        text-align: right;
        align-items: flex-end;
        position: absolute;
        right: 15px;
        &>div{
            margin-top: 5px;
            margin-right: 5px;
        }
    }
    .icon-sale-fitgloss{
        background: url(../../img/imlastmenit/sprite.png) no-repeat -18px -410px;
        width: 43px;
        height: 43px;
    }
    .ico-new{
        background: url(../../img/imlastmenit/sprite.png) no-repeat -84px -410px;
        width: 43px;
        height: 43px;
    }
    &--image{
        img{
            max-height: 240px;
            max-width: 240px;
            width: 100%;
            border-radius: 2px;
        }
    }
    &--description{
        margin-top:10px;
        /*height: 60px;*/
        &-title{
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            margin-top: 5px;
        }
        &-price{
            color:@pink_color;
            font-size:18px;
            &-discount{
                text-decoration: line-through;
                display: inline-block;
                margin-left: 10px;
            }
            &-promo{
                color:@pink_color;
                font-size:18px;
                display: inline-block;
            }
        }
    }
}

.imlastmenit-deal .slick-prev,
.imlastmenit-deal .slick-next {
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  font-family: FontAwesome;
  background: transparent;
  display: block !important;
  color: #00a79d;
}
.imlastmenit-deal .slick-prev:before,
.imlastmenit-deal .slick-next:before {
  font-family: FontAwesome;
  color: #00a79d !important;
  font-size: 16px;
}
.imlastmenit-deal .slick-prev:hover,
.imlastmenit-deal .slick-next:hover {
  color: #00a79d;
}
.imlastmenit-deal .slick-prev:hover:before,
.imlastmenit-deal .slick-next:hover:before {
  color: #00a79d !important;
}
.imlastmenit-deal .slick-next {
    top: -28px;
    right: 10px !important;
}
.imlastmenit-deal .slick-next:before {
  content: "\f105";
}
.imlastmenit-deal .slick-prev {
    position: absolute;
    top: -28px;
    right: 40px;
    left: inherit !important;
}
.imlastmenit-deal .slick-prev:before {
  content: "\f104";
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}