/**
 * GLOBAL STYLE
 * 62HallFamily
 * 
 * 1.0 - BASE STYLE 
 * 2.0 - HEADER
 * 3.0 - HELPER
 *      3.1 - NAVIGATION BAR
 *      3.2 - DROPDOWN
 * 4.0 - ELEMENT
 *      4.1 - FONTS
 *      4.2 - BORDER
 *      4.3 - MARGIN - PADDING
 *      4.4 - ICON
 *      4.5 - OVERVIEW
 *      4.6 - FORM REQUEST
 * 5.0 - FORM
 * 6.0 - TABLES
 * 7.0 - BUTTONS
 * 8.0 - MODAL
 * 9.0 - FOOTER
 * 10.0 - SPESIFIC
 *      10.1 - MENU
 *      10.2 - AUTH /LOGIN /REGISTER /MEMBER
 *      10.3 - TABS
 *      10.4 - MESSAGE
 *      10.5 - SHOPPING CART
 *      10.6 - SLIDESHOW
 *      10.7 - PUBLICATION 
 *      10.8 - TESTIMONIAL
 *      10.9 - PRODUCT INFORMATION
 * 11.0 - WIDTH
 * 12.0 - ALIGN
 * 13.0 - FILTER
 * 14.0 - SCROLL
 * 15.0 - RESPONSIVE MOBILE
 * 16.0 - DISPLAY
 */
:root {
  --link: #6C6C6C;
  --linkhover: #1A3555;
  --darkbluegradient: #204065;
  --darkblue: #132944;
  --white: #ffffff;
  --red-maroon: #953735;
  --red-maroon-dark: #832523;
  --main-bg: #F2F2F2;
  --footer-bg: #254061;
  --product-hover: #FDEADA;
  --dark-border: #DADADA;
  --deep-dark: #989898;
  --dark-yellow: #FAAF40;
  --orange: #F7941E;
  --green: #449D44;
  --cyan: #365e90;
  --light-green: #8dd344;
  --dark-green: #5b8a29;
}
/**
 * 1.0 - BASE STYLE
 */
/**
* 1.0 - BASE STYLE
*/
.bg-gray {
  background: #f8f8f8 !important;
}
.bg-gray-dark {
  background: #dddddd;
}
.bg-gray-dark-young {
  background: #f0f0f0;
}
.bg-white {
  background: #fff;
}
.bg-black {
  background-color: black !important;
}
.bg-red {
  background: var(--red-maroon) !important;
}
.bg-yellow {
  background: #ff9002;
}
.bg-green {
  background: #5da424;
}
.bg-blue {
  background: #00adef;
}
red {
  color: var(--red-maroon);
}
.container-floor .container-category.container-category-1 .category-header-background,
.container-floor .container-category.container-category-1 .category-header-title {
  background-color: #2b3990;
}
.container-floor .container-category.container-category-2 .category-header-background,
.container-floor .container-category.container-category-2 .category-header-title {
  background-color: #1c75bc;
}
.container-floor .container-category.container-category-3 .category-header-background,
.container-floor .container-category.container-category-3 .category-header-title {
  background-color: #8f53a1;
}
.container-floor .container-category.container-category-4 .category-header-background,
.container-floor .container-category.container-category-4 .category-header-title {
  background-color: #75bee9;
}
.container-floor .container-category.container-category-5 .category-header-background,
.container-floor .container-category.container-category-5 .category-header-title {
  background-color: #f598a4;
}
.container-floor .container-category.container-category-6 .category-header-background,
.container-floor .container-category.container-category-6 .category-header-title {
  background-color: #9e1f63;
}
.container-floor .container-category.container-category-7 .category-header-background,
.container-floor .container-category.container-category-7 .category-header-title {
  background-color: #594a42;
}
.container-floor .container-category.container-category-8 .category-header-background,
.container-floor .container-category.container-category-8 .category-header-title {
  background-color: #f7941e;
}
.container-floor .container-category.container-category-9 .category-header-background,
.container-floor .container-category.container-category-9 .category-header-title {
  background-color: #c49a6c;
}
.container-floor .container-category.container-category-10 .category-header-background,
.container-floor .container-category.container-category-10 .category-header-title {
  background-color: #603913;
}
.container-floor .container-category.container-category-1 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #2b3990;
  border-bottom: 6px solid #2b3990;
}
.container-floor .container-category.container-category-2 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #1c75bc;
  border-bottom: 6px solid #1c75bc;
}
.container-floor .container-category.container-category-3 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #8f53a1;
  border-bottom: 6px solid #8f53a1;
}
.container-floor .container-category.container-category-4 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #75bee9;
  border-bottom: 6px solid #75bee9;
}
.container-floor .container-category.container-category-5 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #f598a4;
  border-bottom: 6px solid #f598a4;
}
.container-floor .container-category.container-category-6 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #9e1f63;
  border-bottom: 6px solid #9e1f63;
}
.container-floor .container-category.container-category-7 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #594a42;
  border-bottom: 6px solid #594a42;
}
.container-floor .container-category.container-category-8 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #f7941e;
  border-bottom: 6px solid #f7941e;
}
.container-floor .container-category.container-category-9 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #c49a6c;
  border-bottom: 6px solid #c49a6c;
}
.container-floor .container-category.container-category-10 .category-header .category-header-title:after {
  border: 6px solid transparent;
  border-left: 6px solid #603913;
  border-bottom: 6px solid #603913;
}
.container-floor .container-category .category-header-background {
  position: absolute;
  width: 100%;
  height: 37px;
  bottom: 0px;
}
.container-floor .container-category .category-control {
  float: right;
  padding: 5px;
  cursor: pointer;
}
.container-floor .container-category {
  margin-bottom: 18px;
  margin-top: 18px;
}
.container-floor .category-header {
  height: 48px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.container-floor .category-header .category-header-title {
  padding-top: 10px;
  padding-left: 10px;
  height: 48px;
  min-width: 400px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container-floor .category-header .category-header-title a {
  color: #fff;
}
.container-floor .category-header .category-header-title a:hover {
  color: #fff;
}
.container-floor .category-header .category-header-title:after {
  position: absolute;
  width: 0px;
  height: 0px;
  content: "";
  left: 100%;
  top: 0px;
}
.container-floor .category-header .category-no {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 2px;
  text-align: center;
  border-radius: 15px;
  border: 4px solid #fff;
  padding-top: 0px;
  font-size: 16px;
}
.container-floor .category-header .category-name {
  margin-left: 15px;
}
.container-floor .category-header .category-space {
  height: 11px;
  width: 100%;
  display: inline-block;
}
.container-floor .category-body {
  background-color: var(--white);
  min-height: 400px;
}
/**
 * 4.4 - ICON
 */
.icon-shopping-cart {
  width: 45px;
  height: 35px;
  background: url(../../img/62hallfamily/sprite_icon.png) -8px -74px;
}
.icon-tablet {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -106px -4px;
}
.icon-camera {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -137px -4px;
}
.icon-shirt {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -168px -4px;
}
.icon-toys {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -202px -4px;
}
.icon-clock {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -234px -4px;
}
.icon-tv {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -264px -4px;
}
.icon-car {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -298px -4px;
}
.icon-dompet {
  width: 48px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -81px -132px;
  margin: auto;
}
.icon-gedung-gray {
  width: 48px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -159px -132px;
  margin: auto;
}
.icon-cicilan {
  width: 48px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -232px -132px;
  margin: auto;
}
.icon-visa-mastercard {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/visa-master-card.png) no-repeat;
}
.icon-visa {
  width: 72px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -164px -616px;
}
.icon-mastercard {
  width: 78px;
  height: 46px;
  background: url(../../img/62hallfamily/sprite_icon.png) -242px -616px;
}
.icon-bca-klikpay {
  width: 222px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -22px -487px;
}
.icon-mandiri {
  width: 148px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -176px -303px;
}
.icon-bca {
  width: 143px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -22px -299px;
}
.icon-kinerjawallet {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/kinerjawallet.png) no-repeat;
}
.icon-permata-va {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/permatabank.jpg) no-repeat;
}
.icon-permata {
  width: 148px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -349px -303px;
}
.icon-bukopin {
  width: 148px;
  height: 48px;
  background: url(../../img/62hallfamily/bukopin.png) no-repeat;
}
.icon-danamon {
  width: 148px;
  height: 48px;
  background: url(../../img/62hallfamily/danamon.png) no-repeat;
}
.icon-cimb-niaga {
  width: 148px;
  height: 48px;
  background: url(../../img/62hallfamily/cimb_niaga.png) no-repeat;
}
.icon-bii {
  width: 148px;
  height: 48px;
  background: url(../../img/62hallfamily/bii.png) no-repeat;
}
.icon-bri {
  width: 150px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -274px -425px;
}
.icon-uob {
  width: 148px;
  height: 48px;
  background: url(../../img/62hallfamily/uob.png) no-repeat;
}
.icon-verified-visa {
  width: 98px;
  height: 43px;
  background: url(../../img/62hallfamily/sprite_icon.png) -22px -425px;
}
.icon-mastercard-securecode {
  width: 112px;
  height: 43px;
  background: url(../../img/62hallfamily/sprite_icon.png) -126px -425px;
}
.icon-mandiri-ib {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/mandiri_ib.png) no-repeat;
}
.icon-paypal {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/paypal.png) no-repeat;
}
.icon-speedcash {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/speedcash.png) no-repeat;
}
.icon-deposit {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/deposit.png) no-repeat;
}
.icon-deposit-lucky {
  width: 120px;
  height: 48px;
  background: url(../../img/62hallfamily/deposit_lucky.png) no-repeat;
}
/* icon red*/
.icon-company-red {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -331px -5px;
}
.icon-phone-red {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -363px -5px;
}
.icon-bbm-red {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -395px -5px;
}
.icon-wa-red {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -428px -5px;
}
.icon-email-red {
  width: 20px;
  height: 20px;
  background: url(../../img/62hallfamily/sprite_icon.png) -460px -5px;
}
.icon-trash-red {
  width: 25px;
  height: 25px;
  background: url(../../img/62hallfamily/sprite_icon.png) -21px -255px;
}
.icon-facebook-red {
  width: 48px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -311px -132px;
}
.icon-twitter-red {
  width: 48px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -386px -132px;
}
.icon-instagram-red {
  width: 48px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -462px -132px;
}
.icon-google-red {
  width: 48px;
  height: 48px;
  background: url(../../img/social-media/google_plus.png);
}
/**
 * 4.5 - OVERVIEW
 */
.horizontal-overflow {
  overflow-y: scroll !important;
}
.vertical-overflow {
  overflow-x: scroll !important;
}
/**
 * 7.0 - BUTTONS
 */
.btn-62hallfamily {
  padding: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 0px !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: bold !important;
}
.btn-62hallfamily:hover {
  border: 3px solid var(--red-maroon) !important;
  background: #fff !important;
  color: var(--red-maroon) !important;
  text-decoration: none;
}
.btn-62hallfamily-small {
  margin-top: 10px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 0px !important;
  color: #fff !important;
  font-weight: bold !important;
  height: 25px;
}
.btn-62hallfamily-small:hover {
  border: 3px solid var(--red-maroon) !important;
  background: #fff !important;
  color: var(--red-maroon) !important;
  text-decoration: none;
}
.btn-62hallfamily-small .bg-blue :hover {
  border: 3px solid #00adef !important;
  background: #fff !important;
  color: #00adef !important;
  text-decoration: none;
}
.btn-62hallfamily-small-green {
  margin-top: 10px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 0px !important;
  background: #5da424 !important;
  color: #fff;
  font-weight: bold !important;
  height: 25px;
}
.btn-62hallfamily-small-green:hover {
  border: 3px solid #5da424 !important;
  background: #fff !important;
  color: #5da424 !important;
  text-decoration: none;
}
.btn-62hallfamily-medium {
  margin-top: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 0px !important;
  color: #fff;
  font-weight: bold !important;
  height: 30px;
  width: 100px;
}
.btn-62hallfamily-medium:hover {
  border: 3px solid var(--red-maroon) !important;
  background: #fff !important;
  color: var(--red-maroon) !important;
  text-decoration: none;
}
.btn-shopping-cart {
  border: 2px solid #dddddd;
  padding: 10px;
  width: 40px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}
.select-62hallfamily,
.select-62hallfamily.form-control {
  color: #818286;
  border: 0px;
  border: 1px solid #bfc0c2;
  padding: 4px;
  height: 33px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../img/62hallfamily/arrow_down.png) right no-repeat #ffffff;
  width: 100%;
}
.select-62hallfamily-small,
.select-62hallfamily-small.form-control {
  color: #818286;
  border: 0px;
  border: 1px solid #bfc0c2;
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../img/62hallfamily/arrow_down.png) right no-repeat #ffffff;
}
.number-62hallfamily {
  margin-top: 10px;
  width: 80px;
  border: 1px solid #bfc0c2;
  height: 33px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  color: #333;
  text-align: center;
  position: relative;
}
input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  content: "^";
  position: absolute;
  right: 0;
  font-family: monospace;
}
input[type=number]::-webkit-inner-spin-button:before {
  top: 0px;
}
input[type=number]::-webkit-inner-spin-button:after {
  bottom: 0px;
  -webkit-transform: rotate(180deg);
}
.search {
  margin-top: 30px;
}
.search .keyword {
  border: 2px solid #d9d9d9;
  padding: 0px;
  padding-left: 5px;
}
.search .input-noborder {
  margin-left: 0px;
  padding-left: 0px;
  border: none !important;
  color: #898686;
}
.search .categories {
  border-left: 1px solid #d9d9d9 !important;
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 10px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  color: #b1b1b1;
}
.search button {
  height: 34px;
}
.btn-flex {
  border-radius: 0px !important;
}
/**
 * 10.2 - TABS
 */
#tabs-horizontal {
  margin-top: 60px;
  /*border: 3px solid var(--deep-dark);*/
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  min-height: 62px;
}
.tabs-horizontal .box,
.tabs-horizontal .widget-box {
  border: 3px solid var(--deep-dark);
  background-color: var(--white);
}
#tabs-horizontal ul {
  border: none;
}
#tabs-horizontal .nav > li {
  position: relative;
  display: inline;
  top: -15px;
  /*margin-right: -5px;*/
}
#tabs-horizontal .nav > li > a {
  /*position: relative;*/
  display: inline !important;
  border-radius: 0;
  border: none;
}
#tabs-horizontal .nav a {
  color: #211f20;
  border: 2px solid #fff;
  border-bottom: 2px solid #ccc;
}
#tabs-horizontal .nav .active a {
  /*        color: var(--red-maroon);
            border-radius: 0px;
            font-weight: bold;
            background-color:#fff;
            border:1px solid #ccc;
            border-bottom:1px solid #fff;*/
  background-color: var(--white);
  border-left: 3px solid var(--deep-dark);
  border-right: 3px solid var(--deep-dark);
  border-top: 3px solid var(--deep-dark);
}
#tabs-horizontal .nav a:hover {
  border: 3px solid #27c1fe;
  border-bottom: none;
  background-color: #27c1fe;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
#tabs-horizontal-tab-widget {
  /*padding: 20px;*/
  margin-top: -15px;
  border-top: 1px solid #27c1fe;
  /*overflow: hidden;*/
}
#tabs-horizontal-tab-widget .widget-title {
  display: none;
}
#tabs-horizontal .col-md-2 {
  width: 100%;
}
#tabs-horizontal .col-md-10 {
  width: 100%;
}
#tabs-horizontal-ajax-tab-content {
  padding-top: 10px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
#tabs-horizontal-ajax-tab-content.loading div {
  display: none;
}
#tabs-horizontal table {
  width: 100%;
}
#tabs-horizontal table td {
  border: 1px solid var(--red-maroon);
  padding: 3px;
}
#tabs-horizontal table tr > td:first-child,
#tabs-horizontal table tr > th {
  width: 220px;
  color: white;
  font-weight: bold;
  background-color: var(--red-maroon);
}
#tabs-horizontal table.table-62hallfamily-default tr.table-header > th {
  background: #f1f1f1;
  /*padding:15px 4px;*/
  border: solid 1px #cccccc;
  border-right: none;
  border-left: none;
  font-size: 13px;
  text-align: center;
  color: #333;
}
#tabs-horizontal table.table-62hallfamily-default tr > td {
  border: solid 1px #cccccc;
  border-right: none;
  border-left: none;
}
#tabs-horizontal table.table-62hallfamily-default tr > th:first-child {
  border-left: solid 1px #cccccc;
}
#tabs-horizontal table.table-62hallfamily-default tr > td:first-child {
  background: white;
  text-align: center;
  color: #333;
  border-left: solid 1px #cccccc;
}
#tabs-horizontal table.table-62hallfamily-default tr > td:last-child,
#tabs-horizontal table.table-62hallfamily-default tr > th:last-child {
  text-align: center;
  color: #333;
  border-right: solid 1px #cccccc;
}
#tabs-horizontal table.table-62hallfamily-default div.btn-group > a {
  background: transparent;
  color: var(--red-maroon);
  border: solid 1px var(--red-maroon);
  text-align: center;
  border-radius: 0px;
}
#tabs-horizontal table.table-62hallfamily-default div.btn-group.open > a {
  color: #fff;
}
#tabs-horizontal table.table-62hallfamily-default div.btn-group > a:hover {
  background: var(--red-maroon);
  color: #fff !important;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
#tabs-horizontal table.table-62hallfamily-default div.btn-group.open .dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  min-width: 60px;
  margin-top: 0px;
  background: var(--red-maroon);
}
#tabs-horizontal table.table-62hallfamily-default div.btn-group.open .dropdown-menu a {
  padding: 6px 10px;
  color: #fff;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.2);
}
#tabs-horizontal table.table-62hallfamily-default div.btn-group.open .dropdown-menu a:hover {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.4) !important;
}
/*tabs deskrispi*/
#tabs-product {
  margin-top: 60px;
  /*border: 3px solid var(--deep-dark);*/
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  min-height: 62px;
}
.tabs-product .box,
.tabs-product .widget-box {
  border: 3px solid var(--deep-dark);
  background-color: var(--white);
}
#tabs-product ul {
  border: none;
}
#tabs-product .nav > li {
  position: relative;
  display: inline;
  top: -5px;
  margin-right: -13px;
}
#tabs-product .nav > li > a {
  /*position: relative;*/
  display: inline !important;
  border-radius: 0;
  border: none;
}
#tabs-product .nav a {
  color: #211f20;
  border: 2px solid #fff;
  border-bottom: 2px solid #ccc;
}
#tabs-product .nav .active a {
  /*        color: var(--red-maroon);
            border-radius: 0px;
            font-weight: bold;
            background-color:#fff;
            border:1px solid #ccc;
            border-bottom:1px solid #fff;*/
  background-color: var(--white);
  border-left: 3px solid var(--deep-dark);
  border-right: 3px solid var(--deep-dark);
  border-top: 3px solid var(--deep-dark);
}
#tabs-product .nav a:hover {
  border: 3px solid #27c1fe;
  background-color: #ffffff;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
#tabs-product-tab-widget {
  /*padding: 20px;*/
  margin-top: -6px !important;
  border-top: 2px solid #e4e5e6;
  margin-bottom: 50px;
  /*overflow: hidden;*/
}
#tabs-product-tab-widget .widget-title {
  display: none;
}
#tabs-product .col-md-2 {
  width: 100%;
}
#tabs-product .col-md-10 {
  width: 100%;
}
#tabs-product-ajax-tab-content {
  padding-top: 10px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  margin-top: 25px;
  /*margin-bottom: 50px;*/
}
#tabs-product-ajax-tab-content .loading div {
  display: none;
}
#tabs-product table {
  width: 100%;
}
#tabs-product table td {
  border: 1px solid var(--red-maroon);
  padding: 3px;
}
#tabs-product table tr > td:first-child,
#tabs-product table tr > th {
  width: 220px;
  color: white;
  font-weight: bold;
  background-color: var(--red-maroon);
}
#tabs-product table.table-62hallfamily-default tr.table-header > th {
  background: #f1f1f1;
  padding: 15px 4px;
  border: solid 1px #cccccc;
  border-right: none;
  border-left: none;
  font-size: 13px;
  text-align: center;
  color: #333;
}
#tabs-product table.table-62hallfamily-default tr > td {
  border: solid 1px #cccccc;
  border-right: none;
  border-left: none;
}
#tabs-product table.table-62hallfamily-default tr > th:first-child {
  border-left: solid 1px #cccccc;
}
#tabs-product table.table-62hallfamily-default tr > td:first-child {
  background: white;
  text-align: center;
  color: #333;
  border-left: solid 1px #cccccc;
}
#tabs-product table.table-62hallfamily-default tr > td:last-child,
#tabs-product table.table-62hallfamily-default tr > th:last-child {
  text-align: center;
  color: #333;
  border-right: solid 1px #cccccc;
}
#tabs-product table.table-62hallfamily-default div.btn-group > a {
  background: transparent;
  color: var(--red-maroon);
  border: solid 1px var(--red-maroon);
  text-align: center;
  border-radius: 0px;
}
#tabs-product table.table-62hallfamily-default div.btn-group.open > a {
  color: #fff;
}
#tabs-product table.table-62hallfamily-default div.btn-group > a:hover {
  background: var(--red-maroon);
  color: #fff !important;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
#tabs-product table.table-62hallfamily-default div.btn-group.open .dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  min-width: 60px;
  margin-top: 0px;
  background: var(--red-maroon);
}
#tabs-product table.table-62hallfamily-default div.btn-group.open .dropdown-menu a {
  padding: 6px 10px;
  color: #fff;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.2);
}
#tabs-product table.table-62hallfamily-default div.btn-group.open .dropdown-menu a:hover {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.4) !important;
}
/**
 * 10.3 - AUTH /LOGIN /REGISTER /MEMBER
 */
.auth .welcome .dropdown .dropdown-toggle:hover {
  background: none !important;
  color: #000;
}
.auth .welcome .dropdown-toggle:active,
.auth .welcome .open .dropdown-toggle,
.auth .welcome .dropdown-toggle:after,
.auth .welcome .dropdown-toggle:visited {
  background: none !important;
  color: #000 !important;
  text-decoration: none !important;
}
.auth .welcome .container-welcome {
  padding: 15px;
  margin: 1em 0px 3em;
  border: 2px solid #ccc;
  min-width: 200px;
  margin-top: 10px !important;
  border-radius: 0px;
  margin-left: -50px;
}
.auth .welcome .container-welcome.triangle-up::before {
  top: -15px;
  bottom: auto;
  left: auto;
  right: 10px;
  border-width: 0px 15px 15px;
}
.auth .welcome .container-welcome::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10px;
  border-width: 15px 15px 0px;
  border-style: solid;
  border-color: #ccc transparent;
  display: block;
  width: 0px;
}
.auth .welcome .container-welcome.triangle-up::after {
  top: -13px;
  bottom: auto;
  left: auto;
  right: 12px;
  border-width: 0px 13px 13px;
}
.auth .welcome .container-welcome::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 12px;
  border-width: 13px 13px 0px;
  border-style: solid;
  border-color: #FFF transparent;
  display: block;
  width: 0px;
}
.auth .welcome a:hover {
  background: #fff !important;
}
.member-menu a:hover {
  color: var(--red-maroon) !important;
  text-decoration: none !important;
}
.member-menu .active {
  font-weight: bold;
  color: var(--red-maroon) !important;
  background: none;
  text-decoration: none !important;
}
.member-menu .profile-saya {
  overflow: hidden;
  word-wrap: break-word;
}
.login-register-sm a {
  border-radius: 0px;
}
.modal .line-wrapper {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal .line-wrapper .line {
  position: absolute;
  height: 1px;
  width: 100%;
  border-top: 1px solid #ddd;
  top: 10px;
}
.modal .line-label {
  text-align: center;
  margin: auto;
  position: relative;
}
.modal .line-text {
  background-color: #FFF;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}
.modal .login-fb {
  width: 100%;
  font-size: 16px;
  background-color: #1d75bd;
  border: 1px solid #1d75bd;
  padding: 10px 5px 10px 8px;
  border-radius: 0px;
  color: #FFF;
}
.modal .login-fb:hover {
  background-color: #FFF;
  border: 1px solid #1d75bd;
  color: #1d75bd;
}
.modal .login-fb:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.modal .login-fb .fa.social-media {
  margin-right: 10px;
  font-size: 20px;
}
.modal .login-google {
  margin-top: 10px;
}
.suggestion-login {
  font-size: 16px;
}
/**
 * 10.4 - MESSAGE
 */
.success-message {
  width: 100%;
  background: #dff0d8;
  border-radius: 5px;
  border: 1px solid #d6e9c6;
  color: #5da424;
  padding: 5px 10px;
}
.error-message {
  width: 100%;
  background: #f2dede;
  border-radius: 5px;
  border: 1px solid #ebccd1;
  color: #a94442;
  padding: 5px 10px;
}
/**
 * 10.5 - SHOPPING CART
 */
.shopping-cart {
  position: relative;
  float: left;
}
.shopping-cart .count {
  left: 4px;
  position: absolute;
  top: 11px;
  color: var(--white);
}
.shopping-cart .dropdown .dropdown-toggle:hover {
  background-image: url("../../img/62hallmall/sprite_icon.png");
  background-position: -7px -70px;
  background-repeat: no-repeat;
  background-size: 500px;
}
.shopping-cart .dropdown-toggle:active,
.shopping-cart .open .dropdown-toggle,
.shopping-cart .dropdown-toggle:after,
.shopping-cart .dropdown-toggle:visited {
  background-image: url("../../img/62hallmall/sprite_icon.png");
  background-position: -7px -70px;
  background-repeat: no-repeat;
  background-size: 500px;
}
.shopping-cart .container-cart {
  min-width: 250px;
  position: absolute;
  top: 48px;
  border-radius: 0px;
  padding: 10px;
  padding-top: 0px;
  margin-left: -75px;
  border: none;
  border-top: 4px solid var(--red-maroon);
  border-bottom: 4px solid var(--red-maroon);
}
.shopping-cart .item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.shopping-cart img {
  width: 100%;
  height: 80px;
}
.shopping-cart .triangle {
  margin: 10px auto;
  margin-top: -14px;
}
.shopping-cart .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--red-maroon);
}
ul.dropdown-menu.container-cart .triangle.arrow-up {
  right: 128px;
  position: absolute;
}
.image-table-shoppingcart {
  width: 75px;
  height: 110px;
}
.ringkasan-pemesanan .container-cart {
  min-width: 250px;
  border-radius: 0px;
  padding: 10px;
  border: 1px solid #929292;
  border-top: 4px solid var(--red-maroon);
  border-bottom: 4px solid var(--red-maroon);
}
.ringkasan-pemesanan .item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.ringkasan-pemesanan .image-item {
  width: 100%;
  height: 90px;
}
/* CUSTOM MODAL */
/* USE FOR GLOBAL MODAL */
/* Modal default state  */
.modal-dialog .modal-content {
  border-radius: 0;
  border-bottom: 25px solid var(--red-maroon);
  border-top: none;
  border-left: none;
  border-right: none;
}
.modal-dialog .modal-content .modal-header {
  background: #fff;
  padding: 10px 25px;
  height: auto;
  border-bottom: none;
  border-top: 25px solid var(--red-maroon);
}
.modal-dialog .modal-header button.close {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #fff;
  font-size: 24px;
  opacity: 1;
  position: absolute;
  right: 4px;
  top: 2px;
}
.modal-dialog .modal-content .modal-header .modal-title {
  color: var(--red-maroon);
  font-size: 28px;
  /*font-weight: bold;*/
}
.modal-dialog .modal-content .modal-body {
  padding: 5px 25px 10px 25px;
  font-family: 'Open sans';
}
/*  Modal other state */
.modal-dialog .modal-content.modal-error {
  border-bottom: 25px solid #C4151C;
}
.modal-dialog .modal-content.modal-error .modal-header {
  border-top: 25px solid #C4151C;
}
.modal-dialog .modal-content.modal-error .modal-header .modal-title {
  color: #C4151C;
}
.modal-title {
  text-align: left;
}
.modal-body {
  text-align: left;
}
/**
* 10.9 PRODUCT INFO
*/
#product-slider {
  height: 350px;
  overflow: hidden;
}
#product-slider ul li img {
  margin: 0 auto;
  width: 80%;
  max-width: 480px;
}
#product-carousel {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 50px;
}
#product-carousel img {
  /*        width: 134px;
                height: 134px;*/
  height: 80px;
  /*height: auto;*/
  background: #fff;
  cursor: pointer;
  opacity: 0.5;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
#product-carousel li {
  margin-right: 15px;
  margin-left: 15px;
  /*width: 1%!important;*/
  width: auto!important;
}
#product-carousel img.active-item,
#product-carousel img:hover {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  border: 1px solid #dedede;
}
.product-arrows {
  /*    >div:hover{
            color: var(--red-maroon) !important;
        }*/
}
.product-arrows > div {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #a9ebf9;
  display: inline-block;
  width: 20px;
  height: 20px;
  /*background:#fff;*/
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  cursor: pointer;
}
.product-arrows .left-arrow {
  margin-left: -5px;
  margin-top: 20px;
  top: 35px;
  left: 0px;
  padding-left: 0px;
  padding-right: 2px;
}
.product-arrows .right-arrow {
  margin-right: 115px;
  margin-top: 20px;
  top: 35px;
  right: 0px;
  padding-left: 2px;
  padding-right: 0px;
}
.product-arrows .flex-viewport {
  margin-left: 10px;
  margin-right: 10px;
}
.flex-viewport {
  width: 365px;
  /*max-width: 100%;*/
}
/**
 * 6.0 - TABLES
 */
.table-62hallfamily {
  width: 100%;
}
.table-62hallfamily th {
  padding: 10px 15px;
  background: var(--red-maroon);
  color: white;
  text-align: center;
  border: 1px solid var(--dark-border);
}
.table-62hallfamily td {
  padding: 10px 15px;
  border: 1px solid #929292;
}
.table-62hallfamily-gray {
  width: 100%;
}
.table-62hallfamily-gray th {
  padding: 10px 15px;
  background: #929292 !important;
  color: white;
  text-align: center;
  border: 1px solid #929292 !important;
}
.table-62hallfamily-gray td {
  padding: 10px 15px;
  border: 1px solid #cfd1d2 !important;
  /* background: #000000 !important; */
}
.table-62hallfamily-gray td.horizontal-align-center {
  text-align: center !important;
}
.usermenu .welcome .container-welcome {
  padding: 15px;
  margin: 1em 0px 3em;
  border: 2px solid #ccc;
  min-width: 200px;
  margin-top: 10px !important;
  border-radius: 0px;
  margin-left: -50px;
}
.usermenu .welcome .container-welcome.triangle-up::before {
  top: -15px;
  bottom: auto;
  left: auto;
  right: 10px;
  border-width: 0px 15px 15px;
}
.usermenu .welcome .container-welcome::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10px;
  border-width: 15px 15px 0px;
  border-style: solid;
  border-color: #ccc transparent;
  display: block;
  width: 0px;
}
.usermenu .welcome .container-welcome.triangle-up::after {
  top: -13px;
  bottom: auto;
  left: auto;
  right: 12px;
  border-width: 0px 13px 13px;
}
.usermenu .welcome .container-welcome::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 12px;
  border-width: 13px 13px 0px;
  border-style: solid;
  border-color: #FFF transparent;
  display: block;
  width: 0px;
}
.usermenu .welcome a:hover {
  background: #fff !important;
}
.member-menu a:hover {
  color: #fe0100 !important;
  text-decoration: none !important;
}
.member-menu .active {
  font-weight: bold;
  color: #fe0100 !important;
  background: none;
  text-decoration: none !important;
}
/**
 * 4.1 - FONTS
 */
.font-small {
  font-size: 11px;
}
.font-big {
  font-size: 16px;
}
.font-size10 {
  font-size: 10px;
}
.font-size11 {
  font-size: 11px !important;
}
.font-size12 {
  font-size: 12px !important;
}
.font-size14 {
  font-size: 14px !important;
}
.font-size18 {
  font-size: 18px !important;
}
.font-size20 {
  font-size: 20px !important;
}
.font-size23 {
  font-size: 23px !important;
}
.font-size22 {
  font-size: 22px !important;
}
.font-size24 {
  font-size: 24px !important;
}
.font-size32 {
  font-size: 32px !important;
}
.clear-both {
  clear: both;
}
.font-gray {
  color: #363636;
}
.font-white {
  color: #fff !important;
}
.font-black {
  color: #59595b !important;
}
.font-yellow {
  color: yellow;
}
.font-red {
  color: var(--red-maroon) !important;
}
.font-green {
  color: #61c36c;
}
.font-gray-dark {
  color: #656565;
}
.font-gray-soft {
  color: #ccc;
}
.normal {
  font-weight: normal !important;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.upper {
  text-transform: uppercase;
}
/**
 * 4.2 - BORDER
 */
.border-top-red {
  border-top: 4px solid #fe0000;
}
.border-bootom-red {
  border-bottom: 4px solid #fe0000;
}
.border-top-gray {
  border-top: 2px solid #dddddd;
}
.border-bottom-gray {
  border-bottom: 2px solid #dddddd;
}
.border-left-gray {
  border-left: 2px solid #dddddd;
}
.border-right-gray {
  border-right: 2px solid #dddddd;
}
.border-1 {
  border: 1px solid #d5d5d5;
}
.border-3-red {
  border: 3px solid var(--red-maroon) !important;
}
.border-3-blue {
  border: 3px solid #00aeef !important;
}
.border-3-green {
  border: 3px solid #5da424 !important;
}
.border-gray-dark-1 {
  border: 1px solid #929292 !important;
}
.border-top {
  border-top: 1px solid #d5d5d5;
}
.border-bottom {
  border-bottom: 1px solid #d5d5d5;
}
.border-left {
  border-left: 1px solid #d5d5d5;
}
.border-right {
  border-right: 1px solid #d5d5d5;
}
.border-none {
  border: none !important;
}
/**
 * 4.3 - MARGIN - PADDING
 */
.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.padding-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.padding-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.padding-left-right0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.padding-left-right10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.padding-left30 {
  padding-left: 30px !important;
}
.padding-right0 {
  padding-right: 0px !important;
}
.padding-right-0 {
  padding-right: 0px !important;
}
.padding-left-0 {
  padding-left: 0px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}
.padding-left-right {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-left-right15 {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-left-right20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-left-right30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-0 {
  padding: 0px !important;
}
.padding10 {
  padding: 10px;
}
.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-0 {
  margin: 0px !important;
}
.margin-left-0 {
  margin-left: 0px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.margin-top-bottom-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.margin-top-bottom-0-i {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
margin-all-10 {
  margin: 10px;
}
.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-top-3- {
  margin-top: -3px !important;
}
.margin-top-10- {
  margin-top: -10px !important;
}
.margin-top-15- {
  margin-top: -15px !important;
}
.margin-left-15- {
  margin-left: -15px !important;
}
.margin-left-90- {
  margin-left: -90px !important;
}
.margin-right-90- {
  margin-right: -90px !important;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-top {
  vertical-align: top;
}
/**
 * 10.0 - SPESIFIC
 */
/**
 * 10.1 - MENU
 */
.main-menu .padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-menu ul {
  margin: 0px;
  text-align: left;
}
.main-menu li {
  list-style: none;
}
.main-menu .categories {
  width: 350px;
}
.categories {
  width: 350px;
}
@media (max-width: 1199px) {
  .categories {
    width: 91.1%;
  }
}
@media (max-width: 991px) {
  .categories {
    width: 100%;
  }
}
@media (max-width: 991px) {
  footer .row.margin-30 > .col-md-3 {
    padding-bottom: 20px;
  }
}
.categories-absolute {
  width: 467px;
}
.main-menu .categories a {
  color: #fff;
  text-align: left;
}
.main-menu .categories a:hover {
  color: #fff;
}
.main-menu li.categories ul.dropdown-menu {
  min-width: 290px;
  border-radius: 0px !important;
  text-align: left;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: none;
  box-shadow: none;
}
/* level 2*/
li.categories ul.dropdown-menu .bg-gray {
  min-width: 250px;
  background-color: #f2f2f2 !important;
}
/* level 3*/
li.categories ul.dropdown-menu .bg-white {
  min-width: 200px;
  background-color: #ffffff !important;
}
/* child */
.child-1 a:hover,
.child-2 a:hover {
  font-weight: bold;
  color: #f60100 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-submenu.open > a {
  background: #f60100 !important;
}
.child-1 > li > a:hover,
.child-1 > li > a:focus,
.child-1 .dropdown-submenu:hover > a,
.child-1 .dropdown-submenu:focus > a,
.child-1 .dropdown-submenu.open > a {
  background: #fff !important;
}
.child-2 > li > a:hover,
.child-2 > li > a:focus,
.child-2 .dropdown-submenu:hover > a,
.child-2 .dropdown-submenu:focus > a,
.child-2 .dropdown-submenu.open > a {
  background: none !important;
}
.main-menu .link-submenu-all {
  font-weight: bold;
}
.main-menu li.categories ul.dropdown-menu a {
  padding-top: 10px;
  height: 40px;
}
li.dropdown-submenu.categories-submenu,
li.dropdown-menu.categories-submenu {
  position: static;
}
.main-menu .dropdown-menu a:hover {
  background: #0081C2;
}
.main-menu ul li a {
  cursor: pointer;
  color: #59595b;
  background: none;
}
.main-menu ul li a:hover {
  text-decoration: none;
  color: #f60100;
  background: none;
}
.main-menu ul li a:active {
  text-decoration: none;
  color: #f60100;
  background: none;
}
.main-menu .absolute-menu {
  position: absolute;
  width: 467px;
  min-height: 450px;
}
.main-menu .absolute-right {
  right: 15px;
  z-index: 1;
}
.main-menu .absolute-left {
  left: 15px;
  z-index: 1;
}
.caret {
  display: none !important;
}
#nav-side-bar i {
  font-size: 36px;
}
#nav-side-bar {
  display: none;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.6s linear;
  font-size: 24px;
  margin-top: 0px;
  background-color: #E8E3E3;
  padding-left: 10px;
  padding-right: 10px;
}
#nav-side-bar .bar {
  border-top: 5px solid #f0f0f0;
  width: 60px;
  margin: auto;
  margin-top: 15px;
  transition: all 0.6s linear;
}
/*
#nav-side-bar:hover {
    border:3px solid #f00;
    
}*/
#nav-side-bar:hover .bar {
  border-top: 5px solid #f00;
}
ul.categories {
  transition: all 0.6s linear;
}
.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
@media (max-width: 991px) {
  .nav > li.categories {
    display: none;
    /*width: 0px;*/
  }
  .category-menu {
    width: 0px !important;
  }
  .category-menu > a {
    /*text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;*/
    display: none !important;
  }
  #nav-side-bar {
    display: block;
  }
  #logo img {
    margin-left: 10px;
  }
  a.icon-shopping-cart {
    position: absolute;
    top: -90px;
    right: 15px;
  }
  .shopping-cart div.count {
    top: -75px;
    right: 48px;
  }
  ul.dropdown-menu.container-cart {
    position: absolute;
    top: -43px;
    right: 0px;
    left: auto;
  }
  ul.categories {
    display: block !important;
    position: fixed;
    left: -400px;
    top: 0px;
    height: 100%;
    width: 250px !important;
  }
  ul.categories li a::after {
    display: none !important;
    content: "";
  }
  ul.categories li > ul {
    display: none !important;
  }
  li.categories.show {
    display: block;
  }
  ul.categories.show {
    left: 0px !important;
  }
}
.slider-handle {
  background-color: var(--red-maroon);
}
.slider-selection {
  background-color: var(--red-maroon);
}
/**
 * 13.0 - FILTER
 */
.filter-checkbox .form-group {
  margin-top: -8px !important;
  margin-bottom: -15px !important;
}
.filter-checkbox .control-label {
  margin-bottom: 0px !important;
}
.filter-checkbox input[type="checkbox"] {
  margin-top: 0px !important;
}
.filter-checkbox .checkbox,
.radio {
  margin-bottom: 0px !important;
  margin-top: -10px !important;
}
/**
 * 3.0 - PRODUCT
 */
.product .padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product .font-gray {
  color: #707070;
}
.product .promo {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url(../../img/62hallfamily/sprite_icon.png) -8px -134px;
  top: 0px;
  right: 10px;
}
.product .remain {
  position: absolute;
  width: 60px;
  height: 20px;
  bottom: 55px;
  left: 15px;
  background: #6d6e72;
  padding: 3px;
}
.product .promo .promo-text {
  top: 5px;
  margin-right: 2px;
  text-align: right;
  font-size: 10px;
}
.product img {
  width: 165px;
  /*height: 213px;*/
  /* border: 1px solid #929292; */
  padding: 0px;
}
.product .name {
  /*display: inline-block;*/
  display: table;
  width: 100%;
  height: 35px;
  vertical-align: bottom !important;
  border-bottom: 1px solid #929292;
}
.product .name > div {
  display: table-cell;
  vertical-align: bottom;
}
.product .flag-red {
  width: 28px;
  height: 25px;
  float: left;
  padding-left: 0px;
  background: url(../../img/62hallfamily/sprite_icon.png) -48px -35px;
}
.product .flag-yellow {
  width: 28px;
  height: 25px;
  float: left;
  padding-left: 0px;
  background: url(../../img/62hallfamily/sprite_icon.png) -8px -35px;
}
.product .flag-label {
  top: 10px;
  left: 3px;
  font-size: 10px;
}
.product .price {
  float: right;
  text-align: right;
}
#page-product-category .product .promo {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url(../../img/62hallfamily/sprite_icon.png) -8px -134px;
  top: 0px;
  right: 18px;
}
@media (max-width: 375px) {
  /*.product img{
        width: 100px;
        height: 123px;
    }*/
}
@media (max-width: 359px) {
  .product img {
    width: 165px;
    height: 213px;
  }
  .product-container.col-xs-6 {
    width: 100%;
  }
}
.colour {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.title-slide-product a:hover {
  text-decoration: none;
  color: #fe0100;
}
/**
 * 5.0 - FORM
 */
.form-62hallfamily label.control-label {
  color: #000;
  font-weight: normal;
}
.form-62hallfamily input[type="text"],
.form-62hallfamily input[type="password"],
.form-62hallfamily textarea,
.form-62hallfamily select {
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 3px;
  font-size: 15px;
  height: 35px;
}
#div_shipping select,
#div_shipping #shipping_price {
  font-size: 14px;
}
.form-62hallfamily textarea {
  height: auto;
  padding: 5px 10px !important;
}
/*    .form-62hallfamily label.checkbox {
        padding: 0;
        margin: 0;
    }*/
/*    .form-62hallfamily label.checkbox > input[type="checkbox"] {
        display: none;
    }
    .form-62hallfamily label.checkbox > input[type="checkbox"] + label span {
        background-image: url("/application/torsb2c/default/media/img/app-icon.png");
        background-repeat: no-repeat;
        background-position: -284px -37px;
        display: inline-block;
        text-indent: -1000px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 0px 0px 0 -15px;
        vertical-align: middle;
    }
    .form-62hallfamily label.checkbox > input[type="checkbox"]:checked + label span {
        background-position: -316px -37px;
    }*/
.form-62hallfamily input[type="radio"],
.form-62hallfamily input[type="radio"].form-control {
  margin-top: -2px;
  vertical-align: middle;
}
.form-62hallfamily input[type="checkbox"],
.form-62hallfamily input[type="checkbox"].form-control {
  background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -82px -454px;
  width: 19px;
  height: 19px;
  margin-left: 0px;
}
/*
.form-62hallfamily input[type="checkbox"], .form-62hallfamily input[type="checkbox"].form-control {
    height:5px;;
}
*/
.form-62hallfamily .input-select-btn {
  background-color: rgba(181, 181, 181, 0.25) !important;
  border-radius: 0px;
  border-color: #b5b5b5;
}
.form-62hallfamily .form-group {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}
.form-62hallfamily .form-group a {
  padding: 0px;
}
.form-62hallfamily.form-horizontal.form-gold-contact {
  padding: 10px 5px 20px 20px;
}
.form-62hallfamily.form-horizontal.form-gold-contact .control-label {
  width: 21%;
  float: left;
  padding-right: 10px;
  text-align: left;
}
.form-62hallfamily.form-horizontal.form-gold-contact .form-control {
  width: 78%;
  float: left;
}
.form-62hallfamily.form-horizontal.form-account .control-label {
  width: 21%;
  float: left;
  padding-right: 10px;
  text-align: left;
}
.form-62hallfamily.form-horizontal.form-account .form-control {
  width: 78%;
  float: left;
}
.form-62hallfamily.form-horizontal.form-account .form-control.control-phone-area {
  width: 10%;
  float: left;
}
.form-62hallfamily.form-horizontal.form-account .form-control.control-phone-number {
  width: 68%;
  float: left;
}
.form-62hallfamily.form-horizontal.form-account .form-control.control-day {
  width: 10%;
  float: left;
}
.form-62hallfamily.form-horizontal.form-account .form-control.control-month {
  width: 28%;
  float: left;
  margin-left: 25px;
}
.form-62hallfamily.form-horizontal.form-account .form-control.control-year {
  width: 30%;
  float: left;
  margin-left: 30px;
}
.form-62hallfamily.form-horizontal.form-account .form-control.control-radio {
  width: 10%;
  float: left;
}
.my-downline-container {
  margin-top: 10px;
}
.downline-container {
  margin-bottom: 10px;
  display: inline-block;
  background: transparent !important;
}
.downline-container .downline-div {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.downline-container .downline-div-front {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.downline-depth-0 {
  background-color: #ff3300;
}
.downline-depth-1 {
  background-color: #66ff33;
}
.downline-depth-2 {
  background-color: #0099ff;
}
.downline-depth-3 {
  background-color: #ffff00;
}
.downline-depth-4 {
  background-color: #ff9900;
}
.downline-depth-5 {
  background-color: #ff99cc;
}
.downline-depth-6 {
  background-color: #ccffff;
}
.downline-depth-7 {
  background-color: #ffcc66;
}
.downline-container.downline-depth-0 {
  margin-left: 0px;
}
.downline-container.downline-depth-1 {
  margin-left: 50px;
}
.downline-container.downline-depth-2 {
  margin-left: 100px;
}
.downline-container.downline-depth-3 {
  margin-left: 150px;
}
.downline-container.downline-depth-4 {
  margin-left: 200px;
}
.downline-container.downline-depth-5 {
  margin-left: 250px;
}
.downline-container.downline-depth-6 {
  margin-left: 300px;
}
.downline-container.downline-depth-7 {
  margin-left: 350px;
}
.downline-div-arrow-right {
  float: left;
  height: 0px;
  width: 0px;
  background: transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.downline-div-arrow-right-white {
  float: left;
  height: 0px;
  width: 0px;
  background: transparent;
  border-left: 20px solid transparent;
  margin-left: -10px;
}
.downline-div-arrow-right-white.downline-depth-0 {
  border-top: 20px solid #ff3300;
  border-bottom: 20px solid #ff3300;
}
.downline-div-arrow-right-white.downline-depth-1 {
  border-top: 20px solid #66ff33;
  border-bottom: 20px solid #66ff33;
}
.downline-div-arrow-right-white.downline-depth-2 {
  border-top: 20px solid #0099ff;
  border-bottom: 20px solid #0099ff;
}
.downline-div-arrow-right-white.downline-depth-3 {
  border-top: 20px solid #ffff00;
  border-bottom: 20px solid #ffff00;
}
.downline-div-arrow-right-white.downline-depth-4 {
  border-top: 20px solid #ff9900;
  border-bottom: 20px solid #ff9900;
}
.downline-div-arrow-right-white.downline-depth-5 {
  border-top: 20px solid #ff99cc;
  border-bottom: 20px solid #ff99cc;
}
.downline-div-arrow-right-white.downline-depth-6 {
  border-top: 20px solid #ccffff;
  border-bottom: 20px solid #ccffff;
}
.downline-div-arrow-right-white.downline-depth-7 {
  border-top: 20px solid #ffcc66;
  border-bottom: 20px solid #ffcc66;
}
.downline-div-arrow-right.downline-depth-0 {
  border-left: 20px solid #ff3300;
}
.downline-div-arrow-right.downline-depth-1 {
  border-left: 20px solid #66ff33;
}
.downline-div-arrow-right.downline-depth-2 {
  border-left: 20px solid #0099ff;
}
.downline-div-arrow-right.downline-depth-3 {
  border-left: 20px solid #ffff00;
}
.downline-div-arrow-right.downline-depth-4 {
  border-left: 20px solid #ff9900;
}
.downline-div-arrow-right.downline-depth-5 {
  border-left: 20px solid #ff99cc;
}
.downline-div-arrow-right.downline-depth-6 {
  border-left: 20px solid #ccffff;
}
.downline-div-arrow-right.downline-depth-7 {
  border-left: 20px solid #ffcc66;
}
/**
 * 11.0 - WIDTH
 */
.width-10-percent {
  width: 10% !important;
}
.width-20-percent {
  width: 20% !important;
}
.width-30-percent {
  width: 30% !important;
}
.width-40-percent {
  width: 40% !important;
}
.width-50-percent {
  width: 50% !important;
}
.width-60-percent {
  width: 60% !important;
}
.width-70-percent {
  width: 70% !important;
}
.width-100-percent {
  width: 100% !important;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.top-navigation .dropdown-menu {
  min-width: 250px;
  position: absolute;
  left: auto;
  right: 0px;
  top: 31px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  z-index: 10000;
  background: #fff;
  border-top: 4px solid var(--red-maroon);
  border-bottom: 4px solid var(--red-maroon);
  border-radius: 0px;
}
.top-navigation .dropdown-menu .panel-heading {
  color: var(--red-maroon);
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  padding-left: 13px;
}
.top-navigation .dropdown-menu .panel-body {
  padding-top: 0px;
}
.top-navigation .dropdown-menu .panel-body .btn-default {
  padding: 0px 10px;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  height: 25px;
  background: var(--red-maroon);
  border: 3px solid var(--red-maroon);
}
.top-navigation .dropdown-menu .panel-body .btn-default:hover {
  background: #fff;
  color: var(--red-maroon);
  text-decoration: none;
}
.carousel-control.left.font-red,
.carousel-control.right.font-red {
  height: 30px;
  background: none;
}
.item > div.margin-top-20 {
  padding-bottom: 15px;
}
/*FOOTER */
.categories .sidebar-page {
  padding: 25px !important;
}
.form-group .select2-container.width-25-percent.form-bank-select {
  width: 20% !important;
}
.icon-bni {
  width: 143px;
  height: 48px;
  background: url(../../img/62hallfamily/sprite_icon.png) -22px -367px;
}
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #product-slider ul li img {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
  }
  #tabs-horizontal-tab-widget {
    margin-top: -30px !important;
  }
  #tabs-horizontal .nav > li {
    margin-right: 0px;
  }
  .flex-viewport {
    width: 100%;
  }
  .product-arrows .right-arrow {
    margin-right: 0px;
  }
}
/* Portrait and Landscape */
@media screen and (min-width: 750px) and (max-width: 970px) {
  #product-slider ul li img {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
  }
  .product-arrows .right-arrow {
    margin-right: -10px;
    margin-top: 20px;
    top: 35px;
    right: 0px;
    padding-left: 2px;
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  ul.dropdown-menu.container-cart .triangle.arrow-up {
    margin-bottom: 10px;
    right: 23px;
    position: absolute;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*    .form-62hallfamily.form-horizontal.form-gold-contact .form-control{
        width: 71%;
        margin-left: 10px;
    }

    .form-62hallfamily .form-group a.select2-choice{
        width: 155%;
    }

    .form-62hallfamily.form-horizontal.form-gold-contact .control-label{
        width: 25%!important;
        padding-right: 10px;
    }*/
}
