.zopim{
    
}
.img-testimonial img{
    margin-right: 10px;
    max-width: 220px;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../font/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('../../font/Roboto-Regular.ttf') format('truetype');
}
/*
.single-product {
    height:auto;
}
.single-product-outside {
    height:auto;
}
.single-product-inside {
    position:relative;
}
*/

.container-view-product {
    margin-bottom: 35px;
}

.table-product-attribute tr td {
    word-break: break-all;
}
.button-shopping-cart {
    width: auto;
    float: left;
    display: block;
}

.home-slideshow .item img {
    height: auto !important;
}
.single-product.small {
    margin: 5px;
}

.check-order-container .div-title h2 {
    margin-top:40px;
}
.check-order-container .div-title {
    margin-bottom:32px;
}
.check-order-container .div-input {
    display:inline-block;
}
.check-order-container input[name=booking_code]{
        width: 626px;
}
#content-order {
    min-height: 205px;
}
.login-checkout .modal-content {
  width: 325px;
  margin: 0 auto;
}
.login-checkout .modal-title {
  font-size: 21px !important;
  font-family: 'Neoteric', 'Open Sans' !important;
  color: #212121 !important;
}
.modal-dialog .modal-header button.close {
    color: #fff;
    background-color: #2F2F2F;
    padding: 0px 6px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-shadow: none;
    right: -10px;
    top: -10px;
}
.suggestion-login a {
    color: #27c1fe;
    font-size:14px;
    margin-top: -4px;
}

.icon-register-wrapper {
    background-color: #252525;
}

.form-login.form-62hallfamily input[type="text"]
,.form-login.form-62hallfamily input[type="password"]
,.form-login.form-62hallfamily textarea
,.form-login.form-62hallfamily select {
    font-size: 14px;
}

.form-login.form-62hallfamily .row-forgot-password .btn {
    font-family: 'arial';
    
}

.form-login.form-62hallfamily .btn-62hallfamily-login {
    text-transform: uppercase;
    font-size:18px;
    font-family: 'arial';
}

.col-cart-table.col-cart-product {
    padding-left: 15px;
    padding-right: 15px;
    position:relative;
}

.col-cart-table.col-cart-product .icon-trash-red {
    right: 15px;
    position:absolute;
}
.container-delete-cart {
    position: static;
    width: auto;
    top: 0px;
}
.form-login.form-62hallfamily .div-login-fb h5 span {
    font-family: 'arial';
    font-size:16px;

}
.single-product-container #product-carousel {
    padding-top: 10px;
    padding-left: 28px;
}
.single-product-container  .product-slideshow ol.carousel-indicators li {
    -webkit-box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.4);
}

.single-product-container  .product-slideshow ol.carousel-indicators li.active {
    -webkit-box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.4);
}
.single-product-container .product-arrows .left-arrow {
    margin-top: 12px;
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 3px;
    width: 24px;
    height: 24px;
}
.single-product-container .product-attribute select.bootstrap-select {
    display:none!important;
}
.container-item-right .content-item-right {
    padding-top: 0px; 
    padding-left: 0px; 
}

.product-contact-title {
    padding-top: 0px;
}

.single-product-container .product-arrows .right-arrow {
    margin-top: 12px;
    width: 24px;
    height: 24px;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 0px;
}
.icon-mandiri, .icon-bca, .icon-bni, .icon-go-pay {
    width: 135px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}
.icon-bca {
    background: url('../../img/Imparoparo/bank/bca.png');
    background-size: cover;
    
}
.icon-go-pay {
    background: url('../../img/Imparoparo/bank/go-pay.png');
    background-size: cover;
}

.single-product.small .title-product {
    margin-top: -12px;
}
.single-product.small .single-product-outside {

    border-top: 4px solid #7dc3f6;
}
.container-relate-product  {
    padding-top:0px;
    margin-top: 5px;
    padding-bottom: 60px;
}
.icon-mandiri {
    background: url('../../img/Imparoparo/bank/mandiri.png');
    background-size: cover;

}

.sort-price-btn {
    position:relative;
}
.sortby-breadcrumb div.sort-price-btn-up {
    padding:0;
    float:none;
    position: absolute!important;
    display: block;
    width: 10px;
    height: 16px;
    top: -3px;
    right: 71px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


.sortby-breadcrumb div.sort-price-btn-down {
    padding:0;
    float:none;
    position: absolute!important;
    display: block;
    width: 10px;
    height: 16px;
    top: 16px;
    right: 71px;
    border-top: 8px solid #999;
    border-bottom: 8px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sortby-breadcrumb div.div-sorting:hover div.sort-price-btn-down {
    border-top-color: #EE701B;
}

.sortby-breadcrumb div.div-sorting:hover div.sort-price-btn-up {
    border-bottom-color: #EE701B;
}

.sortby-breadcrumb div.div-sorting.active.min-price div.sort-price-btn-up {
    border-bottom-color: #EE701B;
}

.sortby-breadcrumb div.div-sorting.active.max-price div.sort-price-btn-down {
    border-top-color: #EE701B;
}


.main-related .single-product .single-product-outside.sold-out,.product-category-wrapper .single-product .single-product-outside.sold-out {
        border-top: 4px solid #666666;
}

.container-view-product .relate-title {
    font-family: 'BelleroseLight';
}

.main-related .slick-slider {
    margin-left: -15px;
    margin-right: -15px;
}
.ke {
    font-size: 20px;
    margin: 4px 9px 0px 0px;
    font-weight: 300;
}

.icon-bni {
    background: url('../../img/Imparoparo/bank/bni.png');
    background-size: cover;
  
}
.im-footer h5 {
   
    font-size: 13px;
}

.container-deal .price-text {
    margin-top: 0px;
    margin-left: 0px;
    line-height: normal;
}
.container-deal .promo-price-text {
    margin-left: 0px;
    margin-top: 0px;
    line-height: normal;
}
.price-div {
    padding: 6px 0 0 12px;
    position: relative;
    
}

.main-product-info #tabs-product li a.tab-ajax-load b {
    font-weight: 500;
}

.product-name h3 {
    font-size:39px;
}
.single-product-title-inside {
    position:absolute;
    top:0;
    right:0;
}
.single-product-container .carousel-control.right {
    background-image: none;
}
.single-product-container .carousel-control.left {
    background-image: none;
}

.single-product-container #tabs-horizontal .nav > li {
    margin-right: -5px;
    top:-15px;
}
.single-product-container #tabs-horizontal .nav a {
    
    padding-bottom: 25px;
}

.single-product-container #tabs-horizontal .nav .active a {
    
    padding-bottom: 25px;
}

.icon-eye-open {
    margin-top:5px;
}
.shop-detail {
    margin-top: -21px;
}

.tag-detail {
    margin-top: -21px;
}


.single-product-container .qty-wrapper input {
    display:none;
}
.single-product-container .qty-wrapper .bootstrap-touchspin input {
    display:block;
}


.single-product-container  .side-nav-container li a b {
    font-weight:500;
}
ul.breadcumb-paroparo {
    margin-bottom: 20px;
}


.main-product-info .side-nav-container .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 60px;
}
.product-category-wrapper .row .row-paro {
    padding:0px !important;
    margin-left:15px;
    margin-right:15px;
    
}

.content-product {
    margin-top: 0px;
}
.product-category-wrapper .sortby-price input {
    font-family: 'Arial Regular';
}
.sortby-breadcrumb .btn-sortby-breadcrumb {
    margin-left:0px;
}
.single-product {
    background: transparent none repeat scroll 0 0;
    height: 372px;
    margin-top: 10px;
}
.category-breadcrumb {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.swiper-container.category-breadcrumb {
    margin: 12px 0;
}
.breadcrumb-item {
    height: inherit;
}
.single-product-container .product-slideshow {
    display:none;
}
.single-product-container .product-single-image {
    display:block;
}
body.page-body-single-product {
    margin-bottom: 50px;
}

.modal {
    overflow-y:auto;
}
.product-price-detail {
    margin-top: 180px;
    max-width:100%;
}

.txt-bank-detail {
    font-size:16px;
}
#div_bank.padding-bottom-10 {
    padding-bottom:26px;
}

.product-attribute  .btn-group>.btn:focus {
    z-index: 1
}

.product-action  .container-qty>div {
    padding-top:5px;
}
.product-action  .container-qty>div.qty-wrapper {
    padding-top:0px;
}
.container-lasvegas {
    margin-top:0px;
}
 
/* Product Card */
.product-category-wrapper .single-product{
    background: transparent;
    margin: 0px 0;
    padding: 0 7.5px;
    float: left;
    height:320px
}

.product-category-wrapper .single-product .single-product-outside {
    height: 252px;
    border-top: 4px solid #7dc3f6;
}
.product-category-wrapper .single-product .single-product-outside:hover{
    border-top: 4px solid #01ffff;
}

.product-category-wrapper .single-product .title-product{
    font-size: 16px;
    font-weight: normal;

}
.product-category-wrapper .single-product .promo-price-text{
    font-size: 14px;
}
.product-category-wrapper .single-product .price-div{
    padding: 2px 0 0 10px;
}
.product-category-wrapper .single-product .price-text{
    font-weight: normal;
    font-size: 19px;
}

.product-category-wrapper .single-product .single-product-title-inside h3{
    font-size: 17px;
}
.product-category-wrapper .single-product .single-product-tapered-div{
    border-bottom: 27px solid transparent;
    border-right: 18px solid #ed7117;
    border-top: 27px solid transparent;
}


.flex-viewport {
    width: 378px;
}
.detail-product #tabs-horizontal .nav > li > a {
    border: 3px solid #e4e5e6;
}
    
.detail-product #tabs-horizontal .nav > li.active > a, .detail-product #tabs-horizontal .nav > li > a:hover {
    border: 3px solid #21c1fe;
}

.title-product {
    font-family:'BelleroseLight';
    color:#000;
    font-weight:normal;
    line-height: normal;
    
}
.home-container .title-product {
    font-family:'BelleroseLight';
    margin-top:-6px;
    color:#000;
    font-weight:normal;
    line-height: 30px;
}

#head-top li a, #head-top .im-nav-right-group span {
    color:#000;
}

#head-top-full li a, #head-top-full .im-nav-right-group span {
    color:#000;
}


#head-top .im-nav-right-group span#total_cart {
    color:#fff;
}

.product-category-wrapper .price-input-group input {
    font-size: 15px;
}

.single-category-title-outside {
    padding: 0 6px 6px;
    height: calc(64px);
}
.single-category {
    height:360px;

}
.single-product-outside {
    text-align:center;
}

.single-product-outside .title-product {
    width:80%;
    margin-left: auto;
    margin-right: auto;        
}

.home-container .container-deal .single-product-title-inside .discount-text {
    margin-left:16px;
}
.home-container .container-deal .single-product-title-inside .discount-text-off {
    margin-left:16px;
}

a.btn-category-breadcrumb span {
    color: #808080;
}

.sortby-breadcrumb div:nth-child(n+2) .btn-sortby-breadcrumb {
    border-left: 1px solid #999;

}




.home-container .content-product-outside {
    margin-top: 0px;
} 

.content-product-outside {
    margin-bottom: 50px;
}

ul.breadcumb-paroparo li a {
    font-size:13px;
}

.home-container .single-product-title-outside {
    height:66px;
}

.product-category-wrapper .single-product-title-outside
,.main-related .single-product-title-outside {
    height: 40px;
}
.product-category-wrapper .single-product .single-product-title-inside
,.main-related .single-product .single-product-title-inside{
    background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -421px -696px;
    width: 49px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    padding: 3px 0;
}
.title-sold-out {
    top: 43%;
}
.home-container .title-sold-out {
    font-family: 'RobotoRegular','sans-serif';
    font-size:30px;
}
.product-category-wrapper .single-product .single-product-outside.sold-out
,.main-related .single-product .single-product-outside.sold-out {
    background: #a6a6a6 none repeat scroll 0 0;
}
.home-container .single-product .single-product-outside.sold-out.rosy-background {
    background: #a6a6a6 none repeat scroll 0 0!important;
}

.single-product .single-product-title-outside.sold-out .promo-price-text{
    color: #666666;
}
.product-category-wrapper .single-product .single-product-outside:hover
,.main-related .single-product .single-product-outside:hover {
    border-top: 4px solid #01ffff;
}
.home-container .single-product .single-product-outside:hover {
    border-top: 5px solid #01ffff;
}
.product-category-wrapper .single-product .single-product-outside.sold-out:hover
,.main-related .single-product .single-product-outside.sold-out:hover{
    border-top: 4px solid #666666;
}
.home-container .single-product .single-product-outside.sold-out:hover {
    border-top: 5px solid #666666;
}
.home-container .single-product .single-product-outside.sold-out {
    border-top: 5px solid #666666;
}


.single-product-outside:hover + .single-product-title-outside {
    background: #01ffff;
}
.single-product-outside.sold-out:hover + .single-product-title-outside {
    background: #a6a6a6;
}       


.single-product .single-product-title-outside.sold-out .single-product-title-inside {
    background: url('../../img/Imparoparo/sprite-72-soldout.png') no-repeat;
    background-size: contain;
}
.single-product .single-product-title-outside.sold-out .single-product-title-inside h3{
    color: #a6a6a6;
}
.single-product-title-outside.sold-out {
    width: 100%;
    background-color: #a6a6a6;
    
    opacity: 1;
    z-index: 9;
}

table.price-list tr th:first-child, table.price-list tr td:first-child{
    width:50%;
}

.container-btn-next-login-form {
    padding:0px 0px 10px 0px;
}

.btn-shoppingcart-footer.btn-shoppingcart-lanjutkan {
    font-size: 13px;
    padding-left:20px;
    padding-right:20px;
}

.btn-next-login-form {
    width:100%;
}

.login_form .radio-shoppingcart label {
    font-size:12px;
    font-weight: 700;
}
.product-category-wrapper .single-product .price-div
,.main-related .single-product .price-div {
    padding: 2px 0 0 8px;
    position: absolute;
    line-height: normal;
}
.product-category-wrapper .single-product .single-product-title-inside h3,
.main-related .single-product .single-product-title-inside h3{
    font-size: 13px;
}
.product-category-wrapper .single-product .promo-price-text
,.main-related .single-product .promo-price-text{
    font-size: 12px;
}
.product-category-wrapper .single-product .price-text
,.main-related .single-product .price-text{
    font-size: 18px;
    margin-left: 0px;
    margin-top: 0px;
}

.single-product-title-outside {
    height:57px;
}
.single-product-title-outside .price-div {
    position:relative;
}
.single-product-title-outside .single-product-title-inside {
    position:absolute;
    right:0;
    top:0;
}

.single-product-title-inside h3 {
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 13px;
}

.single-product-title-inside h3.discount-text {
    margin-top:8px;
}

.img-sold-out, .img-sold-out-single {
    z-index:999;
    opacity: 1;
    background: rgba(102, 102, 102, 0.7);
    color: #000000;
}

.title-sold-out {
    left:0;
    background: rgba(230, 230, 230, 0.6);
    opacity: 1;
    color: #000;
}
.product-action .form-group div.select-62hallfamily.bootstrap-select  {
    height:auto;
    padding:0px;
}


.product-action .form-group .select-62hallfamily.bootstrap-select .btn.dropdown-toggle {
    border:none;
    background-color:#e4e5e6;
}
.product-action .form-group .select-62hallfamily.bootstrap-select .btn.dropdown-toggle .caret{
    display:inline-block!important;
}
.detail-product .product-action .bootstrap-select a {
    background-color:#fff;
}
.detail-product .product-action .bootstrap-select a:hover {
    background-color: #64dbff!important;
    color:#000;
}

#div_payment_info.border-1 {
    border:none;
} 

.container-product-review {
    overflow-y: auto;
}
.im-subscribe-group input[type="text"] {
    font-family:'RobotoRegular', sans-serif;
}
.im-footer p {
    font-family:'RobotoRegular', sans-serif;
}
.im-footer container {
    font-family:'RobotoRegular', sans-serif;
}
.im-footer .list-unstyled li a {
    font-family:'RobotoRegular', sans-serif;
}

.im-footer .list-unstyled li a:hover {
    color:#0085be;
}

.sortby-price {
    font-family:neoteric;
}
.sortby-price {
    margin: 30px 0 15px 0px;
}
.title-product {
    margin-top: -13px;
}

.product-category-wrapper .content-product > .row {
    margin-left:-7.5px;
    margin-right:-7.5px;
    
}

.im-subscribe-group {
    margin: 20px auto;
}

.product-category-wrapper .sortby-price.im-nopadding {
    padding-left:15px!important;
    padding-right:15px!important;
}

.home-container .title-product {
    margin-top:-8px;
}

.product-category-wrapper .single-product
,.main-related .single-product{
    height: 295px;
}

.main-related .single-product.small .single-product-outside {
   
    height: 253px;

}

.product-category-wrapper .single-product-inside
,.main-related .single-product-inside {
    height: 223px;
}
.product-category-wrapper .price-div
,.main-related .price-div{
    padding: 4px 0 0 15px;
    position: absolute;
}
.product-category-wrapper .promo-price-text
,.main-related .promo-price-text{
    color: #a5a7aa;
    font-size: 14px;
    margin-bottom: 0;
    text-decoration: line-through;
    margin-top: 0px;
}

.product-category-wrapper .price-text
, .main-related .price-text{
    font-size: 21px;
    color: #000000;

}

.product-category-wrapper .single-product-title-inside h3
,.main-related .single-product-title-inside h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
    
}

.product-category-wrapper .single-product-title-inside h3.discount-text
,.main-related .single-product-title-inside h3.discount-text {
    margin-top: 2px;
}

.sort-btn {
    display: inline-block;
    width: 100%;
}
.sortby-breadcrumb div:hover::before {
    top: 53px;
}

.sortby-breadcrumb div.active::before {
    top: 53px;
}


.sort-btn a {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.sortby-breadcrumb > div:nth-child(1) {
    width:22%;
}
.sortby-breadcrumb > div:nth-child(2) {
    width:22%;
}
.sortby-breadcrumb > div:nth-child(3) {
    width:34%;
}
.sortby-breadcrumb > div:nth-child(4) {
    width:22%;
}

.im-footer .widget-title:before {
    border-bottom:2px solid #0085be;
}

.single-category-title-inside {
    padding: 12px 0;
}

.form-62hallfamily .row-update-contact-full input[type="text"]
,.form-62hallfamily .row-update-contact-full input[type="password"]
,.form-62hallfamily .row-update-contact-full textarea
,.form-62hallfamily .row-update-contact-full select {
    border: 1px solid #cfd1d2;

}
.row-update-contact-full #submit_button {
    margin-top:14px;
    margin-bottom:14px;
    
}
.txt-title-contact {
    text-transform: uppercase;
}
.form-62hallfamily .row-update-contact-full textarea {
    width:78%;
}

.form-62hallfamily  .row-update-contact-full .checkbox-same  {
    margin-left:-15px;

}
.form-62hallfamily .row-update-contact-full .form-group {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}
.form-62hallfamily .row-update-contact-full #div_contact_shipping .form-group {
    margin-bottom: 15px !important;
}
.form-62hallfamily  .row-update-contact-full .select2-container .select2-choice {
    border: 1px solid #cfd1d2;
}
.form-62hallfamily  .row-update-contact-full .checkbox-same label {
    font-size: 14px;
    vertical-align: middle;
    color: #6d6e71;
    margin-top: -7px;
    margin-left: 5px;
}

.container-contact-subtotal {
   
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    
}

#service_reload .accordion_sicepat label.radio-label {
    margin-top: -6px;
    display: block;
}

#service_reload .accordion_sicepat .panel {
   -webkit-box-shadow:none;
    box-shadow:none;
}
.container-view-product .relate-title {
    padding-left:15px;
    padding-right:15px;
    margin-bottom: 25px;

}

.label-invoice p{
    font-size:15px;
    font-weight:normal;
}

.invoice-container .price-list .attribute-table td {
    padding: 3px 10px!important;
    vertical-align: top;
}
.invoice-container .price-list .attribute-table td {
    padding: 3px 10px!important;
    vertical-align: top;
}

.invoice-container .invoice-action-row a.btn-62hallfamily {
    font-weight: normal!important;
    font-size:13px;
}

.invoice-container .col-md-12.padding-0.margin-bottom-40 a.btn-62hallfamily {
    font-weight: normal!important;
    font-size:13px;
}

#div_contact_shipping .separate-dark {
    margin-left:-15px;
    margin-right:-15px;
}

.label-invoice { 
    font-size:15px;
}

.invoice-container .col-md-12.padding-0.bold.font-size24 {
    font-weight:normal!important;
}

.invoice-container .td-table-1-left {
    width:50%;
}
.invoice-container .td-table-1-right {
    width:50%;
}
#form_payment_confirmation #div_button {
    margin-bottom: 40px;
}
.form-imbuilding .txt-label {
    white-space: nowrap;
}
.container-account .member-menu ul li a {
    color: #3d3d3d;
    border-bottom: 1px solid #cfd1d2;
}
.container-account .member-menu ul li a:hover {
    border-bottom: 1px solid transparent;
}
.container-account .member-menu ul li.active a {
    border-bottom: 1px solid transparent;
}
.member-info-separate {
    background-color: #cfd1d2;
}
.container-account .account-container-menu {
    overflow: hidden;
    margin-right: 60px;
}
.container-account .account-container-member {
    border-bottom: 1px solid #cfd1d2;
}
.page-404 {
    padding: 35px 0 100px 0;
}
.account-container-member .member-photo {
    width: 110px;
}
.account-container-member .member-photo img {
    width: 88px;
}
.member-info .txt-member-info {
    font-size: 18px;
}
.member-info .txt-member-email {
    font-size: 12px;
}
.btn-imbuilding-light {
    color: #fff;
}

.txt-account-title {
    margin-bottom: 15px;
}
.txt-info-subtitle > div {
    margin: 15px 0;
    font-size: 14px;
}
.select2-container .select2-choice {
    border: none;
}
.form-62hallfamily input[name="postal"] {
    height: 45px;
}
.product-category-wrapper .sortby-price {
    height: 35px;
}
.table-62hallfamily-gray th {
    font-size: 13px;
    padding: 10px 5px;
}
.table-62hallfamily-gray span.txt-price {
    white-space: nowrap;
    overflow: hidden;
}
.row-box {
    margin: 12px 0;
}
.row-box.border-top {
    margin: 0;
}

.container-product-tag .product-tag .btn-product-tag {
    float: left;
    margin-bottom: 10px;
}

.img-single-product, .img-single-category {
    width: 100%;
}

@media (min-width: 320px) {

}
@media (min-width: 768px) {
    .footer-deal{
        padding-top: 25px;
        padding-bottom: 70px;
    }
    #main-content .home-container .container-deal .container .content-product-outside .content-product .row [class*="col-"]{ 
        padding-right: 5px;
        padding-left: 5px;
    }
}
@media (min-width: 992px) {
    #main-content .container-category .container .content-category-outside .content-category .row [class*="col-"]{ 
        padding-right: 5px;
        padding-left: 5px;
    }
    .offer-text-top {
        font-size: 21px;
    }
    .offer-text-bottom {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    
    .product-category-wrapper .content-product .col-lg-4 {
        width:20%;
    }

    .product-category-wrapper .single-product {
        margin: 8px 0;
    }
    .main-related .single-product.small .single-product-outside {
        height: 261px;
    }
    .main-related .single-product-inside {
        height: 233px;
    }
    .im-footer.container .col-md-5.col-lg-5.hidden-xs.hidden-sm.visible-md.visible-lg {
        padding-right:100px;
    }
    .nav-right-category {
        right:-80px;
    }
    .main-related .slick-slider {
        margin-left: -10px;
        margin-right: -10px;
    }
    .sortby-price {
        margin: 30px 0 30px 0px;
    }
    #main-content .home-container .container-category .container {
        width:970px ;
    }
    

    .sortby-breadcrumb .btn-sortby-breadcrumb { 
        color:#808080;
        font-size:21px;
    
    }

    .nav-right-category a {
        font-size: 21px;
    }
    #main-content .container-category .container {
        width:970px ;
    }
    #main-content .container-category .container .content-category-outside .content-category {
        width:100%;
    }
    #main-content .container-category .container .content-category-outside .content-category .row {
        margin-left:-5px;
        margin-right:-5px;
        
    }
    
    .single-category-outside {
        height:auto;
    }
    
    .single-category-title-inside {
        padding-top: 11px;
    }
    .single-category-inside {
        height:275px;
    }
    
    .home-container .single-product {
        height:400px;
        
    }
    .home-container .single-product-outside {
        height:334px;
    }
    .home-container .single-product-inside {
        height:300px;
    }
    
   
    .nav-category {
        position: relative;
        margin-top: 37px;
        margin-bottom: 46px;
    }
    
    
    
    #main-content .home-container .container-deal .container .content-product-outside .content-product .row { 
        margin-right: -5px;
        margin-left: -5px;
    }
    .home-container .title-product {
        font-size:21px;
    }
    
    .product-category-wrapper .title-product {
        line-height: normal;
    }
    .home-container .title-product {
        margin-top:-8px;
    }
    .container-deal .single-product-title-inside .discount-text-off {
        margin-top:0px;
    }
    
}

@media (max-width: 1199px) {
    .single-category {
        margin-top: 30px;
    }
    .ongkir .detail-freeong {
        margin-top: 0px;
        margin-left: 0px;
    }
    header .mainbar .main-navigation {
        font-size: 12px!important;
    }
    header .main-form input#keyword {
        font-family: 'Arial' !important;
        font-size: 12px;
    }
    header .mainbar.desktop {
        bottom: -8px;
    }
    header .mainbar {
        height: 75px;
    }
    .im-navbar-right {
        bottom: -30px;
    }
    .flex-viewport {
        width: 315px;
    }
    .product-arrows .right-arrow {
        margin-right: 82px;
    }
    
    .sortby-breadcrumb div.sort-price-btn-up {
        right: 46px;
    }
    .sortby-breadcrumb div.sort-price-btn-down {
        right: 46px;
    }
    
    .product-category-wrapper .content-product .col-md-4 {
        width:20%;
    }
    .sortby-breadcrumb .btn-sortby-breadcrumb {
        color: #6d6e71;
        font-family: neoteric;
        font-size: 21px;
        padding: 0 80px;
    }
    .product-category-wrapper .single-product {
        margin-top: 10px;
        height: 250px;
    }
    
    .product-category-wrapper .single-product .single-product-outside {
        background: #e6e6e6 none repeat scroll 0 0;
        height: 204px;
        width: 100%;
        position: relative;
        border-top: 4px solid #7dc3f6;
    }
    .product-category-wrapper .single-product .single-product-inside {
        height: 173px;
    }
    .product-category-wrapper .single-product .title-product {
        margin-top: -9px;
        line-height: 30px;
        font-size:16px;
    }
    
    .product-category-wrapper .single-product .price-div {
        padding: 0px 0 0 8px;
        position: absolute;
    }
    .product-category-wrapper .single-product .promo-price-text {
        color: #a5a7aa;
        font-size: 14px;
        margin-bottom: 0;
        text-decoration: line-through;
        margin-top: 0px;
    }

    .product-category-wrapper .single-product .price-text {
        font-size: 19px;
        color: #000000;

    }

    .product-category-wrapper .single-product .single-product-title-inside h3 {
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
        margin-top: 3px;
        /* margin: 5px 5px 0px 20px !important; */
    }

    .product-category-wrapper .single-product .single-product-title-inside h3.discount-text {
        margin-top: 3px;
    }
    
    .single-category-outside {
        height:300px;
    }
    .single-category-inside {
        height:300px;
    }
    
    .home-container .single-product {
        height:400px;
        
    }
    .home-container .single-product-outside {
        height:334px;
    }
    .home-container .single-product-inside {
        height:300px;
    }
    .home-container .title-product {
        font-size:21px;
    }
    .single-product.small .title-product {
        margin-top: -14px;        
    }
    .title-product {
        margin-top: -10px;
    }
    .home-container .title-product {
        margin-top:-8px;
    }
    .container-deal .single-product-title-inside .discount-text-off {
        margin-top:0px;
    }
    .offer-text-top {
        font-size:17px;
    }
    .offer-text-bottom {
        font-size:13px;
    }
}

@media (max-width: 991px) {
    .zopim{
        right:auto !important;
        left:16px !important;
        bottom:31px !important;
    }
    .info-col {
        padding: 0;
    }
    .icon-eye-open,.icon-shop-cart,.icon-tag-cart {
        margin-left: 0px!important;
        margin-top: 0px!important;
    }
    .eye-detail {
        margin-left: 19px;
    }
    .shop-detail {
        margin-left: 25px;
        margin-top: -25px;
    }
    .tag-detail {
        margin-left: 25px;
        margin-top: -25px;
    }
    .flex-viewport {
        width: 252px;
        margin-left: 15px;
    }
    .product-price-detail {
        margin-top: 10px;
        max-width:100%;
    }
    .product-arrows .right-arrow {
        margin-right: 0px;
    }
    .home-container .single-category {
        margin-top: 15px;
    }
    .home-container .content-category > .row {
        margin-left:-8px;
        margin-right:-8px;
    }
    .home-container .content-category > .row .single-category{
        padding-left:8px;
        padding-right:8px;
    }
    .product-summary .product-action {
        display:block;
    }
    .product-summary .product-action .product-attribute.col-xs-8 {
        margin-left:0px;
        width:100%;
    }
    .product-summary .product-action .product-attribute>div.col-md-4 {
        width: 33.33333333%;
        padding:0px;
        float:left;
    }
    .product-summary .product-action .product-attribute>div.col-md-6 {
        width: 50%;
        padding:0px;
        float:left;
    }
    .product-summary .product-action .container-qty.col-xs-12 {
        margin-left:0px;
        width: 100%;
    }
    .product-summary .product-action .form-horizontal .form-group {
        margin-left:0px;
        margin-right:0px;
        
    }
    .product-summary .product-action .container-qty>div {
        margin-left:0px;
        padding:0;
    }
    .product-summary .product-action .container-qty>div.col-md-5 {
        margin-top:5px;
        width: 33.33333333%;
        float:left;
    }
    .product-summary .product-action .container-qty>div.col-md-6 {
       width: 50%;
       float:left;
    }
    .product-summary .product-action .container-qty>div.col-md-6 input[type="text"] {
       width: 60px;
       margin-left:30px;
       margin-right:5px;
    }
    
    .product-summary .product-action .container-qty>div.col-md-6.qty-wrapper .bootstrap-touchspin-down {
        
        left: -70px;
        
    }
    
    .product-summary .product-action.detail-info-ongkir {
        clear:both;
    }
    
    .product-summary .product-action.detail-info-ongkir .ongkir>.col-md-3.freeong {
        width:46px;
        float:left;
    }
    .product-summary .product-action.detail-info-ongkir .ongkir>.col-md-9.detail-freeong {
        width: calc(100% - 46px);
        float:left;
        
    }
    header .mainbar.desktop {
                             
        bottom: 7px;
    }
    .nav-right-category a {
        padding: 0px 0px;
    }
    .im-navbar-right {
        bottom: -37px;
    }
    .sortby-breadcrumb div.sort-price-btn-up {
        right: 38px;
        top: -4px;
        width: 8px;
        height: 14px;
        border-left-width: 4px;
        border-right-width: 4px;
        border-top-width: 7px;
        border-bottom-width: 7px;
    }

    .sortby-breadcrumb div.sort-price-btn-down {
        right: 38px;
        top: 12px;
        width: 8px;
        height: 14px;
        border-left-width: 4px;
        border-right-width: 4px;
        border-top-width: 7px;
        border-bottom-width: 7px;
    }
    
    header .mainbar {
        position: relative;
        height: auto; 
        margin-top: 24px;
        margin-left: 0px;
        width: 100%;
        bottom: 0;
    }
    header .mainbar.desktop {
        bottom: 0;
        margin-top: 16px;
    }
    
    .product-category-wrapper .content-product-outside {
        margin-top: 15px;
    }
    .sortby-breadcrumb div:hover::before,.sortby-breadcrumb div.active::before {
        border-bottom: 4px solid #EE701B;
        top: 48px;
    }
    .sortby-price .btn-pencarian-detail {
        margin-left: 0px;
    }
    .product-category-wrapper .content-product .col-sm-4 {
        width: 25%;
    }
    .product-category-wrapper .single-product .price-text {
        font-size: 18px;
        margin-left: 0px; 
        margin-top: 0px; 
    }
    
    .product-category-wrapper .single-product .single-product-title-inside {
        background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -421px -696px;
        width: 49px;
        height: 40px;
        position:absolute;
        right:0;
        top:0;
        margin-top: 0px;
        padding: 0px 0;
    }
    
    
    
    .product-category-wrapper .single-product .price-div {
        position: absolute;
    }
    
    .product-category-wrapper .single-product .promo-price-text {
        font-size: 12px;
        margin-top: 4px;
    }
    .product-category-wrapper .single-product .single-product-title-inside h3.discount-text {
        margin-top: 6px;
    }
    
    .product-category-wrapper .single-product .single-product-title-inside h3 {
        font-size: 13px;
    }
    .single-category-outside {
        height:200px;
    }
    .single-category-inside {
        height:200px;
    }
    .single-category {
        height: 260px;
    }
    
    
    
    .sortby-breadcrumb .btn-sortby-breadcrumb {
        color: #6d6e71;
        font-family: neoteric;
        font-size: 17px;
        padding: 0 10px;
    }
    .sortby-breadcrumb div {
        padding: 14px 0;
    }
 
    .product-category-wrapper .single-product-title-outside {
        height:40px;
    }
    .home-container .single-product {
        height:300px;
        margin-bottom:5px;
        
    }
    .home-container .single-product-outside {
        height:234px;
    }
    .home-container .single-product-inside {
        height:200px;
    }
    .home-container .title-product {
        font-size:21px;
    }
    .container-deal .single-product-title-inside .discount-text-off {
        margin-top:0px;
    }
    .info-content span {
        font-size:18px;
    }
    
    .promo-price-text {
        font-size: 16px;
        margin-left: 0px;
    }
    
    #form_payment_confirmation #div_head .font-size18.margin-top-10 {
        font-size: 14px!important;
        margin-top:10px;
        margin-bottom:30px;
            
    }
    .container-account .account-container-menu {
        margin-right: 0px;
    }
    footer .im-subscribe-group {
        margin-top: 17px;
        width: 100%;
    }
    footer .sosmed-group .sosmed-group-inner {
        margin-top: -10px;
    }

}


@media (max-width: 767px) {
    header .mainbar {
        height: 75px;
    }
    
    .sortby-breadcrumb div.sort-price-btn-up {
        right: 21px;
       
    }

    .sortby-breadcrumb div.sort-price-btn-down {
        right: 21px;
       
       
    }
    .nav-right-category a {
        padding: 0px 8px;
    }
    .single-product.small .title-product {
        margin-top: -16px;
    }
    .check-order-container .div-input{
        display:block;
    }
    .check-order-container input[name=booking_code]{
        width: 100%
    }
    .main-logo img {
        display: block;
        max-width: 100%;
        height: 100px;
    }
    .product-category-wrapper .content-product .col-xs-6 {
        width: 50%;
    }
    
    
    .single-product-container .product-attribute select.bootstrap-select {
        display:block!important;
    }
    
    .home-container .info-content {
        line-height: normal;
    }
    .home-container  .single-category .single-category-outside {
        height: auto;
    }
    .home-container .single-category .single-category-outside .single-category-inside {
        height: 100px;
    }
    .home-container .single-category .single-category-title-outside {
        height: auto;
        padding: 0 4px 4px;
        width: 100%;
    }
    .sortby-breadcrumb .btn-sortby-breadcrumb {

        font-size: 12px;

    }
    .single-product-container .product-slideshow {
        display:block;
    }
    .single-product-container .product-single-image {
        display:none;
    }

    #custom_modal_register .modal-content {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    #custom_modal_login .modal-content {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .single-category-outside {
        height:200px;
    }
    .single-category-inside {
        height:200px;
    }
    .home-container .content-category {
        padding-left: 6px;
        padding-right: 6px;
        
    }
    .home-container .content-category .row  {
        margin-left: -3px;
        margin-right: -3px;
    }
    .home-container .content-category .row .single-category {
        height: auto;
        padding-left: 3px;
        padding-right: 3px;
    }
    .home-container .single-category {
        height: 132px;
        padding: 2px;
    }
    
    .home-container .single-product {
        height:300px;
        
    }
    .home-container .single-product-outside {
        height:234px;
    }
    .home-container .single-product-inside {
        height:200px;
    }
    .home-container .title-product {
        font-size:21px;
    }
    .container-deal .single-product-title-inside .discount-text-off {
        margin-top:0px;
    }
    .info-content span {
        font-size:18px;
    }
    .single-product .price-div {
        padding: 1px 18px;
    }
    .container-deal .single-product .price-text {
        font-size:26px;
    }
    .container-deal .single-product .promo-price-text {
        font-size:19px;
    }
    .single-product .single-product-title-inside h3 {
        font-size:20px;
    }
    .nav-right-category {
        font-size:15px;
    }
    .nav-right-edge {
        padding:0px;
    }
    .home-container .container-deal {
        padding-left:6px;
        padding-right:6px;
    }
    
    .home-container .container-deal .content-product .row {
        margin-left:-3px;
        margin-right:-3px;
    }
    .home-container .container-deal .content-product .single-product {
        padding-left:3px;
        padding-right:3px;
    }

    .content-product-outside {
        margin-bottom: 0;
    }
    
    .checkbox-same {
        text-align: left;
        padding-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .product-summary .product-action {
        display:block;
    }
    .product-summary .product-action .product-attribute.col-xs-8 {
        margin-left:0px;
        width:100%;
    }
    .product-summary .product-action .product-attribute>div.col-md-4 {
        width: 33.33333333%;
        padding:0px;
        float:left;
    }
    .product-summary .product-action .product-attribute>div.col-md-6 {
        width: 50%;
        padding:0px;
        float:left;
    }
    .product-summary .product-action .container-qty.col-xs-12 {
        margin-left:0px;
        width: 100%;
    }
    .product-summary .product-action .form-horizontal .form-group {
        margin-left:0px;
        margin-right:0px;
        
    }
    .product-summary .product-action .container-qty>div {
        margin-left:0px;
        padding:0;
    }
    .product-summary .product-action .container-qty>div.col-md-5 {
        margin-top:5px;
        width: 33.33333333%;
        float:left;
    }
    .product-summary .product-action .container-qty>div.col-md-6 {
       width: 50%;
       float:left;
    }
    .product-summary .product-action .container-qty>div.col-md-6 input[type="text"] {
       width: 60px;
       margin-left:30px;
       margin-right:5px;
    }
    .product-summary .product-action .container-qty>div.col-md-6.qty-wrapper .bootstrap-touchspin-down {
        
        left: -70px;
        
    }
    
    .product-summary .product-action.detail-info-ongkir {
        clear:both;
    }
    
    .product-summary .product-action.detail-info-ongkir .ongkir>.col-md-3.freeong {
        width:46px;
        float:left;
    }
    .product-summary .product-action.detail-info-ongkir .ongkir>.col-md-9.detail-freeong {
        width: calc(100% - 46px);
        float:left;
        
    }
    .home-container .container-category {
        margin-bottom: 30px;
    }
    header {
        padding: 15px 0 0px 0;
    }
    .content-read .content-read-img img {
        width: 100%;
        height: auto;
    }
    .container-account .menu-xs-icon {
        padding: 0px 6px;
    }
    
    .container-account .account-container-menu .menu-xs-selected {
        
        min-height: 43px;
    }
}
@media (max-width: 480px) {
    footer .sosmed-group .sosmed-group-inner {
        margin-top: -4px;
    }
    
    header .mainbar {
        height: 66px;
    }
    .nav-main-category {
        font-size: 19px;
        font-weight: normal;
    }
    .nav-right-category a {
        padding: 0px;
    }
    .sortby-breadcrumb div.sort-price-btn-up {
        right: 5px;
        top: 1px;
       
    }

    .sortby-breadcrumb div.sort-price-btn-down {
        right: 5px;
        top: 17px;
       
       
    }
    .info-content span {
        font-size: 12px;
        display: block;
        padding-top: 10px;
    }
    
    .single-product-container .product-action .form-group select.select-62hallfamily.bootstrap-select {
        margin-left: 0px!important;
    }
    
    .single-product-container #tabs-horizontal #tabs-horizontal-tab-nav.nav {
        font-size: 20px;
    }
    .product-category-wrapper .sortby-price {
        margin: 20px 0 20px 0px;
        float:none;
    }
    .main-related .single-product {
        /*height: 260px;*/
    }
    .main-related .single-product.small .title-product {
        line-height: 28px;
        margin-top: -8px;
    }
    .product-category-wrapper .single-product .title-product {
        margin-top: -4px;
        line-height: 30px;
        
    }
    .check-order-container h2.title-check-order {
        margin-top:20px;
        font-size:20px;
    }
    
    .check-order-container input#booking_code {
        font-size:12px;
        margin-bottom:20px;
    }
    
    .product-category-wrapper .content-product {
        margin-top: 5px;
    }
    .ke {
        font-size: 13px;
        margin: 3px 9px 0px 8px;
        font-weight: 300;
    }
    .single-product-title-inside {
        background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -421px -696px;
        width: auto;
        height: 40px;
    }
    .single-product-title-inside h3 {
        font-size: 14px!important;
        margin: 0px 5px 0px 15px !important;
    }
    .nav-right-category {
        padding-top: 13px;
    }
    #head-top.row .col-xs-7.col-sm-3.col-md-5.col-lg-5 {
        padding-left:0px;
    }
    header .mainbar .main-form input#keyword {
        font-size: 11px;
        font-family: 'Arial' !important;
    }
    #tabs-horizontal-tab-widget {
        margin-top: -15px !important;
    }
    .product-name h3 {
        font-size: 30px;
        margin-top:30px;
    }
    
    .product-category-wrapper .price-input-group input {
        font-size:13px;
    }
    
    .main-product-info #tabs-product .nav {
        font-size: 22px;
    }
    .separate-dark {
        margin-top: 50px;
    }
    
    
    .main-product-info #tabs-product .nav > li.active > a {
        padding-bottom: 25px;
    }
    .main-product-info #tabs-product .nav > li > a {
        padding-bottom: 25px;
    }

    
    .main-product-info .side-nav-container .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 20px;
    }
    .product-category-wrapper .single-product {
        margin-top: -25px;
        height: 274px;
    }
    .product-summary .product-action .product-attribute>div.col-md-4 {

        margin-top: 10px;
    }
    .product-action .form-group .select-62hallfamily {
        margin-left:0px!important;
    }
    .container-qty > div {
        margin-right: 0px;
    }
    .ico-cart-button {
        background: url(../../img/Imparoparo/cart-72ppi.png) no-repeat;
        width: 61px;
        height: 61px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px;
    }
        
    
    .txt-title-contact {
        font-size: 22px;
    } 
    
    .contact-row > div.row {
        word-wrap: break-word;
    }
    .container-view-product .relate-title {
        text-align: left;
        margin-bottom:5px;
        font-size: 20px;
    }
    .text-shopcart {
        height: 52px;
    }
    .shoppingcart {
        height: 52px;
    }
    
    .txt-cart-button {
        width: 197px;
        font-size: 16px;
        padding: 16px;
    }
    #head-top {
        margin-top: -10px;
    }
    .im-navbar-right {
        bottom: -28px;
    }
    .main-logo img {
        display: block;
        max-width: 100%;
        height: 80px;
    }
    .nav-category {
        margin: 19px 0px 19px 0px;
    }
    .single-category .single-category-title-outside .single-category-title-inside {
        padding: 2px 0;
    }
    
    .home-container .content-product-outside {
        margin-top: 26px;
    }
    .title-product {
        margin-top:-11px;
    }
    .home-container .title-product {
        margin-top:-8px;
    }
    .container-deal .single-product-title-inside {
        width:auto;
    }
    .home-container .single-product {
        height: 240px;
    }
    .info_stok {
        display: none;
    }
    .single-product {
        height:256px;
        
    }
    .home-container .single-product-outside {
        height:199px;
    }
    .single-product-outside {
        height:199px;
    }
    
    .btn-imlasvegas-light {
        font-size: 12px;
        padding: 10px !important;
    }
    .home-container .single-product-title-outside {
        height:40px;
    }
    .single-product-title-outside {
        height:40px;
    }
    .single-product-title-inside {
        height:40px;
        margin-top: 0;
    }
    .main-related .single-product-inside {
        /*height:176px;*/
    }
    .single-product-inside {
        height:176px;
    }
    .home-container .single-product-inside {
        height:169px;
    }
    .home-container .container-deal .single-product-title-inside {
        height:40px;
    }
 
    .home-container .single-product .promo-price-text {
        font-size: 12px;
        margin-top: 2px;
    }
    .single-product .price-div {
        padding:1px 8px;
    }
    .container-deal .single-product-title-inside h3.discount-text {
        margin-top:5px!important;
    }
    .container-deal .single-product-title-inside h3.discount-text-off {
        margin-top:1px!important;
    }
    .price-text {
        font-size: 17px!important;
    }
    .product-category-wrapper .single-product {
        margin-bottom:11px;
    
    }
    .single-product {
        padding: 3px 6px;
    }
    .custom-single-product {
        margin:8px 0px;
        padding: 0px 5px
    }
    .home-container .container-deal .row {
        margin-right:-21px;
        margin-left:-21px;
    }

    .home-container .content-category .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .footer-deal {
        padding: 22px 0 45px;
    }
    
    
    .sortby-breadcrumb div.active::before,.sortby-breadcrumb div:hover::before {
        border-bottom: 3px solid #EE701B; 
        content: ' ';
        position: absolute;
        width: 100%;
        top: 45px;
        left: 0px;
    }
    .sortby-price .btn-pencarian-detail {
        padding: 3px 9px;
        font-size: 12px;
    }
    
    .sortby-price input {
        height: 23px;
    }
    
    
    .sortby-breadcrumb > div:nth-child(n+2) .btn-sortby-breadcrumb {
        border:none;
    }
    .sortby-breadcrumb > div:nth-child(n+2) .sort-btn {
        border-left:1px solid #999;
        
    }
    .sortby-breadcrumb div {
        text-align:center;
        padding:8px 0;
    }
    .sortby-breadcrumb div .sort-btn {
        width:100%;
        text-align:center;
        padding:5px 2px;
        display:inline-block;
    }
    .sortby-breadcrumb .btn-sortby-breadcrumb {
        font-size: 13px;
    }
    .sortby-breadcrumb div .sort-btn {
        width:100%;
    }
    
    .sortby-breadcrumb div .sort-btn .btn-sortby-breadcrumb {
        padding:0px;
    }
    .sortby-breadcrumb > div:nth-child(1) {
        width:22%;
    }
    .sortby-breadcrumb > div:nth-child(2) {
        width:22%;
    }
    .sortby-breadcrumb > div:nth-child(3) {
        width:34%;
    }
    .sortby-breadcrumb > div:nth-child(4) {
        width:22%;
    }
    
    .content-product-outside { 
        margin-top: 0px;
    }
    
    .product-name {
        margin-top: -30px ;
        margin-bottom:0px;
    }
    
    .product-single-image #product-carousel {
        display:none;
    }
    
    .single-img-detail {
        margin-bottom:25px;
    }
    
    .container-delete-cart {

        top: 36px;
    }
    .container-delete-cart .icon-trash-red {
        margin-right: 30px;
    }
    
    .info-col {
        height:40px;
    }
    .info-col div.info-icon, .info-col p{
        display:inline-block;
        float:left;
    }
    .eye-detail {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:0px;
        margin-bottom:0px;
    }
    
    .shop-detail {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:0px;
        margin-bottom:0px;
    }
    .tag-detail {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:0px;
        margin-bottom:0px;
    }
    .icon-eye-open {
        margin-left:auto;
        margin-right:auto;
        margin-top: 3px;
        margin-bottom:0px;
        
    }
    .icon-shop-cart {
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        margin-bottom:0px;
        
    }
    .icon-tag-cart {
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        margin-bottom:0px;
    }
    
    .detail-product .product-action.detail-info-ongkir {
        margin-top:0px;
    }
    .detail-product .product-action.detail-info-ongkir hr {
        margin-top:0px;
    }
    
    .row-update-contact-full .btn-payment-wrap {
        margin-top:0px;
    }
    .row-update-contact-full #submit_button {
        margin-top:0px;
        margin-bottom:25px;

    }
    .invoice-container .table-62hallfamily td {
        padding: 3px 8px;
        
    }
    .invoice-container  {
        font-size: 0.7em;
    }
    /* payment confirmation */
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact .form-control {
        width: 100%;
        float: left;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact .form-control#day_pay {
        width: 30%;
        margin-top: 0px;
        margin-left: -15px;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact .form-control#month_pay {
        width: 40%;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact .form-control#year_pay {
        width: 30%;
        margin-left: 5px;
        margin-top: -2px;
        margin-bottom: 10px;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact .control-label {
        width: 100%;
        float: none;
        padding-right: 10px;
        text-align: left;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact .width-40-percent {
        float:none;
        width: 100%!important;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact #account_number_from.width-40-percent {
        margin-bottom: 10px;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact .width-25-percent {
        float:none;
        margin-top:5px;
        width: 100%!important;
    }
    #form_payment_confirmation.form-62hallfamily.form-horizontal.form-gold-contact textarea {
        width: 100%;
    }
    div#div_bank > div {
        text-align: center;
    }
    div#div_bank > div .radio input[type="radio"]{
        margin-left: -15px;
    }
    .icon-mandiri, .icon-bca, .icon-bni, .icon-go-pay {
        width: 62px;
        height: 27px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
    }
    .icon-bca {
        background: url('../../img/Imparoparo/bank/bca.png');
        background-size: cover;
    }

    .icon-mandiri {
        background: url('../../img/Imparoparo/bank/mandiri.png');
        background-size: cover;
    }


    .icon-bni {
        background: url('../../img/Imparoparo/bank/bni.png');
        background-size: cover;
    }
    
    #custom_modal_login .modal-content {
        width:90%;
    }
    #custom_modal_register .modal-content {
        width:90%;
    }
    
    .button-shopping-cart {
        position: fixed;
        bottom: -7px;
        width: calc(100% + 26px);
        display: block;
        margin: 0px;
        left: 0px;
        z-index: 99999;
        right: 0px;
    }
    
    .shoppingcart {
        width: 120px;
        padding-left: 17px;
    }
    
    .button-shopping-cart .text-shopcart {
            width: calc(100% - 120px);
    }
    .product-category-wrapper .single-product .single-product-title-inside {
    
        padding: 4px 0;
    }
    
    .home-container .nav-main-category:before {
       
        border-bottom: 3px solid #27c1ff;
    }
    .home-container .single-category .single-category-title-outside {
        height: auto;
        padding: 0 3px 3px;
        width: 100%;
    }
    
    .btn-shoppingcart-footer {
        font-size: 12px;
        padding: 6px;
    }
    
    .shoppingcart-text-total {
        font-size: 12px;
        margin-left: 0px;
        margin-top: -40px;
        width: auto;
    }
    
    .txt-shopping-cart-price {
        font-size: 16px;
        margin-top: 10px;
        float: right;
        margin-left: -150px;
    }
    .row.shoppingcart-footer .container-footer-button .col-xs-4 {
        display:block;
        float:none;
        width:100%;
    }
    .row.shoppingcart-footer .container-footer-button .col-xs-5 {
        display:block;
        float:none;
        width:100%;
    }
    .row.shoppingcart-footer .container-footer-button .col-xs-3 {
        display:block;
        float:none;
        width:100%;
        
    }
    
    .btn-shoppingcart-footer.btn-shoppingcart-lanjutkan {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .invoice-container .invoice-action-row {
        padding-top: 6px;

    }
    
    .invoice-container .invoice-action-row a.btn-62hallfamily {
        font-weight: normal!important;

    }
    .invoice-container .col-md-12.padding-0.margin-bottom-40 a.btn-62hallfamily {
        font-weight: normal!important;
    }
    
   
    .invoice-container .attribute-table tr td:first-child {
        font-weight: bold;
    }
   
    .status-order-container .btn-status-order .btn.btn-62hallfamily {
        margin-top:10px;
        margin-bottom:50px;
    }
    
}

@media (max-width: 380px) {
    .container-view-product {
        margin-bottom: 0px;
    }
    .product-category-wrapper .single-product-inside, .main-related .single-product-inside {
        height: 176px;
    }

    .main-related .single-product.small .single-product-outside {
        height: 199px;
    }
    .icon-mandiri, .icon-bca, .icon-bni, .icon-go-pay {
        width: 50px;
        height: 20px;
        margin-left: -5px;
    }
    .nav-right-category {
        font-size: 12px;
    }
    .sortby-breadcrumb div.sort-price-btn-up {
        right: -5px;
        top: 1px;
       
    }

    .sortby-breadcrumb div.sort-price-btn-down {
        right: -5px;
        top: 17px;
    }
}
@media (max-width: 319px) {
    .container-qty .qty-wrapper {
        width: 100px;
        margin-left: 14px;
    }
    .txt-cart-button {
        font-size: 20px;
    }
   .nav-category {
        margin: 6px 0;
    }
    .home-container .container-category {
        margin-bottom: 20px;
    }
    
    .content-product {
        margin-top: 20px;
    }
    .info-content span {
        font-size: 12px;
        vertical-align: middle;
    }
    .single-category {
        height: 132px;
        padding: 2px;
    }
    .single-category .single-category-outside {
        height: calc(105.6px);
        padding: 0 4px;
        width: 100%;
    }
    .single-category .single-category-outside .single-category-inside {
        height: calc(105.6px);
        width: 100%;
        position: relative;
    }
    .single-category .single-category-title-outside {
        height: calc(26.4px);
        padding: 0 4px 4px;
        width: 100%;
    }
    .single-category .single-category-title-outside .single-category-title-inside {
        background: #fafafa none repeat scroll 0 0;
        height: 100%;
        width: 100%;
        padding: 5% 0;
    }
    header .mainbar .main-form input#keyword {
        font-size: 10px;
        font-family: 'Arial' !important;
    }
    .product-action .form-group .select-62hallfamily {
        margin-left: 15px !important;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .nav-main-category {
        font-size:25px;
    }
    .nav-right-category {
        font-size: 11px;
        display: block;
        float: none!important;
        position: relative;
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    .nav-right-edge {
        padding: 0px;
    }
    .nav-right-general {
        padding: 0px;
    }
    .single-category-title-inside span {
        font-size:12px;
    }
    .title-product {
        font-size: 11px;
    }
    .home-container .title-product {
        font-size: 17px;
    }
    #head-top {
        margin-top: -10px;
    }
   
    .nav-category {
        margin: 19px 0px 19px 0px;
    }
    .single-category .single-category-title-outside .single-category-title-inside {
        padding: 2px 0;
    }
    
    .home-container .content-product-outside {
        margin-top: 26px;
    }
    .title-product {
        margin-top:-8px;
    }
    .container-deal .single-product-title-inside {
        width:auto;
    }
    
    .single-product-title-inside h3.discount-text {
        margin-top: 0px;
    }
    
    .custom-single-product .single-product-title-inside h3 {
        font-size: 14px;
    }
    
    .custom-single-product .promo-price-text {
        font-size: 11px;
    }
    
    .category-breadcrumb swiper-container {
        padding:0px;
    }
    .single-product {
        height:256px;
        
    }
    .single-product-outside {
        height:199px;
    }
    .home-container .single-product-title-outside {
        height:40px;
    }
    .single-product-title-outside {
        height:40px;
    }
    .single-product-title-inside {
        height:40px;
        margin-top: 0;
    }
    .single-product-inside {
        height:176px;
    }
    .home-container .single-product-inside {
        height:169px;
    }

    .home-container .single-product-title-inside {
        background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -421px -696px;
        width: 49px;
        height: 40px;
    }
    .home-container .single-product .promo-price-text {
        font-size: 11px;
    }
    .home-container .single-product .price-text {
        margin-top: -2px;
    }
    .single-product .price-div {
        padding: 1px 3px;
    }
    .container-deal .single-product-title-inside h3.discount-text {
        margin-top:5px!important;
    }
    .container-deal .single-product-title-inside h3.discount-text-off {
        margin-top:1px!important;
    }
    .price-text {
        font-size: 14px!important;
    }
    .single-product {
        padding: 3px 6px;
    }
    .custom-single-product {
        margin:8px 0px;
        padding: 0px 5px
    }
    .home-container .container-deal .row {
        margin-right:-21px;
        margin-left:-21px;
    }
    .home-container .content-category .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .footer-deal {
        padding: 22px 0 45px;
    }
    
    
    
    .single-product-title-inside h3 {
        font-size: 14px;
        margin-right: 4px;
    }
    .footer-button-deal {
        width:auto;
    }
    header .mainbar .main-navigation li a {
        font-size: 10px;
    }
    .sortby-breadcrumb div:hover::before,.sortby-breadcrumb div.active::before {
        border-bottom: 3px solid #EE701B; 
        content: ' ';
        position: absolute;
        width: 100%;
        top: 27px;
        left: 0px;
    }
    
    .sortby-breadcrumb > div:nth-child(n+2) .btn-sortby-breadcrumb {
        border:none;
    }
    .sortby-breadcrumb > div:nth-child(n+2) .sort-btn {
        border-left:none;
        
    }
    .sortby-breadcrumb .btn-sortby-breadcrumb {
        font-size: 12px;
    }
    .sortby-price {
        font-family: "Open Sans", sans-serif;
        margin: 24px 10px 15px 10px;
        position: relative;
    }
    .sortby-breadcrumb div {
        text-align:center;
        padding:0;
        display:block;
        width:100%!important;
    }
    
    .sortby-price .btn-pencarian-detail {
        display: block;
        float: none;
        width: 100%;
    }
    .price-input-group {
            display: inline-flex;
            float: none;
            
            margin: 10px 0 0px 0px;
    }
    
    .sortby-min-price, .sortby-max-price {
        max-width: 120px;
    }
    
    .price-input-group input {
        font-size: 15px;
        width: 90px !important;
        font-weight: 300;
    }
    .ke {
        font-size: 15px;
    }
    
    .price-input-group .input-group-addon {
        font-size: 12px;
        padding: 0 5px;
        font-weight: 300;
    }
    
    .category-content {
        margin-top:10px;
    }

    .sortby-breadcrumb div .sort-btn {
        width:100%;
        text-align:left;
        padding:5px;
        display:inline-block;
    }
    
    .sortby-breadcrumb .btn-sortby-breadcrumb {
        font-size: 16px;
    }
    .sortby-breadcrumb div .sort-btn {
        width:100%;
    }
    
    .sortby-breadcrumb div .sort-btn .btn-sortby-breadcrumb {
        padding:0px;
    }
    
    
    .content-product-outside { 
        margin-top: 0px;
    }
    
    .product-name {
        margin-top: -30px ;
        margin-bottom:0px;
    }
    
    .product-single-image #product-carousel {
        display:none;
    }
    
    .single-img-detail {
        margin-bottom:25px;
    }
    
    
    
    .info-col {
        height:40px;
    }
    .info-col div.info-icon, .info-col p{
        display:inline-block;
        float:left;
    }
    
    .eye-detail {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:0px;
        margin-bottom:0px;
    }
    
    .shop-detail {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:0px;
        margin-bottom:0px;
    }
    .tag-detail {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:0px;
        margin-bottom:0px;
    }
    .icon-eye-open {
        margin-left:auto;
        margin-right:auto;
        margin-top: 3px;
        margin-bottom:0px;
        
    }
    .icon-shop-cart {
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        margin-bottom:0px;
        
    }
    .icon-tag-cart {
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        margin-bottom:0px;
    }
    
    .detail-product .product-action.detail-info-ongkir {
        margin-top:0px;
    }
    .detail-product .product-action.detail-info-ongkir hr {
        margin-top:0px;
    }
    .invoice-container table {
        font-size: 0.8em;
    }
    .freeong {
        float:left;
    }
}
