/*.flex-viewport {
    width: 378px;
}
.custom-single-product .title-product {
    font-size: 15px !important;
}
.title-product {
    margin-top: -10px !important;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    font-family: 'Roboto Regular';
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
    font-family: 'Arial Regular';
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item a span {
    font-size: 1.5rem;
}
.ke {
    margin: auto 10px;
}
.img-single-product {
    margin: 0;
    width: 100%;
}
.im-footer .widget-title:before {
    border-color: #0085be;
}
.im-footer p {
    font-family: 'Roboto Regular', sans-serif;
}
.im-footer h5 {
    font-size: 13px;
}
.container-deal .price-text {
    margin-top: -7px;
    margin-left: -8px;
}
.price-text {
    font-size: 28px;    
}
.container-deal .promo-price-text {
    margin-top: -6px;
    margin-left: -8px;
}
.promo-price-text {
    font-size: 19px;
}
.im-subscribe-group input[type="text"] {
    font-family: 'Roboto Regular', sans-serif;
}
*/
/*
@media (min-width: 320px) {
    .product-price-detail .product-discount-text-detail {
        margin-top: 8px;
    }
}
@media (min-width: 768px) {
    .footer-deal{
        padding-top: 55px;
        padding-bottom: 70px;
    }
}
@media (min-width: 992px) {
    .offer-text-top {
        font-size: 21px;
    }
    .offer-text-bottom {
        font-size: 16px;
    }
}
*/