/*
1. HEADER 
2. ICON
3. HELPER
4. BUTTON
5. PAGE
        5.1 HOME
        5.2 SHOW PRODUCT
        5.3 PRODUCT DETAIL
        5.4 SHOPPING CART
        5.5 ACCOUNT PAGE
        5.6 PAYMENT
        5.7 RESULT PAGE
6. CUSTOM BOOTSTRAP
7. MODAL
        7.1 LOGIN & REGISTER
8. RESPONSIVE
*/
@font-face {
  font-family: 'roboto regular';
  src: url('../../font/Roboto-Regular.ttf') format('truetype');
}
:root {
  --imlasvegas-primary: #DF3F49;
  --imlasvegas-secondary: #FC9E3C;
  --imlasvegas-secondary-hover: #e0801b;
  --imparoparo-text-hover: #27C3FF;
  --imparoparo-color-default: #212121;
  --imparoparo-button-primary: #27c1ff;
  --imparoparo-button-primary-hover: #1db7f6;
}
.font-red {
  color: var(--imlasvegas-primary) !important;
}
.loading {
  margin: auto;
  max-width: 1200px;
  height: 200px;
  background: url("../../img/Imparoparo/loader.gif") center;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  transition: none !important;
}
#div_payment_info.loading {
  display: none !important;
}
div#div_button.loading {
  display: none;
}
/*1. HEADER*/
/*header{
    height: 130px;
}*/
.im-header {
  background-color: #88EBD7;
  height: 45px;
}
.main-menu-wrap {
  margin-top: 0px !important;
  padding: 43px 0;
  background-color: #88ebd7;
  height: 100%;
  font-family: 'neoteric';
  /*font-family: 'CaponeW00-Light';*/
  /*color: var(--imparoparo-color-default);*/
}
#total_cart {
  font-family: 'Open Sans';
  display: block;
  position: absolute;
  background: #ed7117;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  padding: 0px;
  line-height: 20px;
  border-radius: 50%;
  margin-top: -12px;
  margin-left: 20px;
}
.im-nav-right {
  /*background-color: red;*/
  float: left;
  height: 35px;
  width: 35px;
}
.im-nav-right.im-notification {
  /*background:url('../../img/Imparoparo/130 dpi-01_resize.png') no-repeat -40px -231px;*/
  width: 35px;
  height: 35px;
}
.im-nav-right.im-mycart {
  /*background: url('../../img/Imparoparo/130 dpi-01_resize.png')  no-repeat -107px -231px;*/
  width: 34px;
  height: 35px;
}
.im-nav-right.im-daftar {
  /*background:url('../../img/Imparoparo/130 dpi-01_resize.png')  no-repeat -173px -231px;*/
  width: 34px;
  height: 35px;
}
.im-nav-right.im-login {
  /*background: url('../../img/Imparoparo/130 dpi-01_resize.png')  no-repeat -240px -231px;*/
  width: 34px;
  height: 35px;
}
.im-search-group {
  font-family: 'Open sans';
}
.im-search-group input[type="text"] {
  border-radius: 5px !important;
  height: 35px;
  width: 95%;
  font-size: 15px;
  color: #6d6e71;
  font-weight: 300;
}
.im-search-group .im-search-icon {
  background: #27c1ff;
  /*width: 32px;*/
  /*height: 30px;*/
  border-radius: 5px;
  cursor: pointer;
  float: right;
  height: 35px;
  position: absolute;
  right: 0;
  width: 35px;
  z-index: 2;
  padding: 2px;
}
.im-search-group .input-group {
  width: 95%;
}
.label-invoice {
  background-color: #fff9c5;
  color: #6d6e71;
  font-family: 'Open sans';
  font-size: 18px;
  padding: 18px;
  line-height: 30px;
  border: 1px solid #e4e5e6;
  margin-bottom: 35px;
  margin-top: 21px;
  word-wrap: break-word;
}
.container-info {
  border-bottom: 1px dashed #9ba1a8;
  border-top: 1px dashed #9ba1a8;
  font-family: 'neoteric';
  margin: 4px 0;
}
#main-content {
  /*margin-bottom: 50px;*/
}
.im-container {
  background: #FFF9C5;
}
.nav-main {
  display: table;
  list-style: outside none none;
  padding-left: 0;
  position: relative;
  left: 4%;
}
.nav-main li {
  float: left;
  position: relative;
  padding: 0 10px;
  font-size: 14px;
}
.nav-main li a {
  color: var(--imparoparo-color-default);
  font-size: 15px;
}
.search-icon {
  position: relative;
}
/*===== CATEGORY =====*/
.container-category {
  font-family: neoteric;
}
.content-category {
  /*    float: left;
        position: relative;*/
  width: 100%;
  display: table;
  margin: 0 auto;
}
.content-category-outside {
  width: 100%;
}
.single-category {
  background: transparent none repeat scroll 0 0;
  height: 420px;
  margin-top: 10px;
}
.single-category-outside {
  background: transparent none repeat scroll 0 0;
  /*height: 80%;*/
  height: calc(336px);
  padding: 0 10px;
  width: 100%;
}
.single-category-inside {
  background: white none repeat scroll 0 0;
  height: calc(336px);
  width: 100%;
  position: relative;
}
.single-category-title-outside {
  background: #e6e6e6 none repeat scroll 0 0;
  /*height: 20%;*/
  height: calc(84px);
  padding: 0 10px 10px;
  width: 100%;
}
.single-category-title-inside {
  background: #fafafa none repeat scroll 0 0;
  height: 100%;
  width: 100%;
  /*padding-top: 5%;*/
  padding: 5% 0;
}
.single-category-title-inside span {
  font-size: 24px;
  color: var(--imparoparo-color-default);
}
.single-category:hover .single-category-title-outside {
  background: #01FFFF;
}
.single-category:hover .single-category-title-inside {
  background: #CDFFFF;
}
/*.single-category-outside:hover + .single-category-title-outside{
    background: #01FFFF;
}
.single-category-outside:hover + .single-category-title-outside .single-category-title-inside{
    background: #CDFFFF;
}*/
/*===== DEAL WAJIB PUNYA =====*/
.container-deal {
  /*padding-top: 10px;*/
  /*background: @limitColor;*/
  background: #FFC7EA;
  margin-top: 55px;
  /*border-top: 12px solid @tabColorActive;*/
  font-family: 'CaponeW00-Light';
}
.content-product {
  /*    width: 100%;
        display: table;
        margin: 0 auto;*/
  margin-top: 46px;
}
.content-product-outside {
  width: 100%;
}
.single-product {
  background: transparent none repeat scroll 0 0;
  height: 480px;
  margin-top: 10px;
}
.single-product.small {
  height: 290px;
  margin: 10px;
}
.single-product.small .price-text {
  font-size: 16px;
}
.single-product.small .title-product {
  font-size: 16px;
  font-weight: normal;
}
.single-product.small .promo-price-text {
  font-size: 14px;
}
.single-product.small .single-product-title-inside {
  padding: 10px;
}
.single-product.small .single-product-title-inside h3 {
  font-size: 14px;
}
.single-product.small .single-product-tapered-div {
  border-bottom: 28px solid transparent;
  border-right: 15px solid #ed7117;
  border-top: 27px solid transparent;
}
.single-product.small .price-div {
  padding: 5px;
}
.single-product-outside {
  background: #e6e6e6 none repeat scroll 0 0;
  height: 80%;
  width: 100%;
  position: relative;
  border-top: 5px solid #7dc3f6;
}
.single-product-inside {
  background: white none repeat scroll 0 0;
  height: 87%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.single-product-title-outside {
  background: #e6e6e6 none repeat scroll 0 0;
  /*height: 18%;*/
  /*padding: 0 10px 10px;*/
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}
/*.single-product-title-inside{
    
}*/
/*.single-product-title-inside span{
    font-size: 2vw;
}*/
.discount-text {
  font-size: 30px;
  font-weight: 900;
}
.discount-text-off {
  font-size: 36px;
}
/*.single-product-tapered-div{
    border-bottom: 44px solid transparent;
    border-right: 35px solid #ed7117;
    border-top: 44px solid transparent;
    float: right;
    position: relative;
    height: 100%;
}*/
.price-div {
  padding: 10px 0 0 25px;
  position: absolute;
}
.price-div-no-promo {
  padding: 16px 0px 0px 0px;
}
.title-product {
  font-size: 22px;
  font-weight: 600;
  margin-top: 2%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  padding: 0px 10px;
  width: 100%;
}
.footer-deal {
  padding: 46px 0 54px;
  width: 100%;
}
.footer-button-deal {
  background: #fafafa none repeat scroll 0 0;
  border-bottom: 8px solid #e6e6e6;
  border-radius: 0;
  border-top: 8px solid #e6e6e6;
  font-size: 23px;
  height: 65px;
  margin: 0;
  width: 300px;
  /*font-family: "Open Sans",sans-serif;*/
  color: var(--imparoparo-color-default);
  font-family: 'neoteric';
  font-size: 27px;
  color: #212121;
}
.img-single-product,
.img-single-category {
  height: 100%;
  width: inherit;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.single-product-outside:hover + .single-product-title-outside {
  background: #01FFFF;
}
.single-product-outside:hover {
  border-top: 5px solid #01FFFF;
}
/*relate product*/
.relate-single-product {
  background: transparent none repeat scroll 0 0;
  height: 480px;
  margin-top: 35px;
}
.relate-single-product-outside {
  background: #eceff1 none repeat scroll 0 0;
  height: 80%;
  width: 100%;
  position: relative;
  border-top: 5px solid #7dc3f6;
}
.relate-title-product {
  font-size: 18px;
  font-weight: 600;
  margin-top: 2%;
  font-size: 'CaponeW00-Light';
}
.relate-single-product-inside {
  background: white none repeat scroll 0 0;
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.relate-single-product-title-outside {
  background: #e6e6e6 none repeat scroll 0 0;
  height: 45px;
  /*padding: 0 10px 10px;*/
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.relate-single-product-title-inside {
  /*background: #ed7117 none repeat scroll 0 0;*/
  background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -140px -794px;
  width: 58px;
  height: 46px;
  /*
    height: 100%;
    width: 100%;
    padding: 1vw 0;
    width: 22%;*/
  position: relative;
  float: right;
}
.relate-single-product-title-inside h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  margin: 3px 0px 2px 10px !important;
}
.relate-discount-text {
  font-size: 20px;
  font-weight: 900;
}
.relate-discount-text-off {
  font-size: 18px;
}
.relate-single-product-tapered-div {
  border-bottom: 44px solid transparent;
  /*border-right: 35px solid #ed7117;*/
  border-top: 44px solid transparent;
  float: right;
  position: relative;
  height: 100%;
}
.relate-price-div {
  padding: 0 10px 0 10px;
  position: absolute;
}
.relate-promo-price-text {
  color: #a5a7aa;
  font-size: 14px;
  margin-bottom: 0;
  text-decoration: line-through;
  /*margin-left: 10px;*/
  font-family: 'Open sans';
}
.relate-price-text {
  font-size: 20px;
  color: var(--imparoparo-color-default);
  font-weight: 700;
  margin-top: 0px;
  /*margin-left: 10px;*/
  font-family: 'Open sans';
}
.img-relate-single-product,
.img-relate-single-category {
  height: 100%;
  width: inherit;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.relate-single-product-outside:hover + .relate-single-product-title-outside {
  background: #01FFFF;
}
.relate-single-product-outside:hover {
  border-top: 5px solid #01FFFF;
}
.relate-price-div-no-promo {
  padding: 5px 10px 0 10px;
}
.relate-price-text-no-promo {
  text-align: center;
  font-family: 'Open sans';
  font-size: 20px;
  font-weight: 900;
  margin-top: 5px;
  color: var(--imparoparo-color-default);
  position: relative;
}
/*end relate product*/
/*CONTAINER OPTIONS*/
.container-options {
  background: #27c1ff none repeat scroll 0 0;
  padding: 20px 0;
  width: 100%;
  /*border-bottom: 6px solid #1aa0df;*/
  margin-bottom: 40px;
}
.im-subscribe-group {
  margin: 15px auto;
}
.im-subscribe-group input[type="text"] {
  border-radius: 5px !important;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  height: 35px;
  width: 100%;
  padding: 0 12px;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.im-subscribe-group .im-subscribe-icon {
  background: #27c1ff url("../../img/Imparoparo/sprite-05.png") repeat scroll -34px -91px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  height: 31px;
  margin-top: 2px;
  position: absolute;
  right: 2px;
  width: 38px;
  z-index: 2;
}
.im-subscribe-group .input-group {
  width: 100%;
}
.sosmed-group {
  float: right;
  /*bottom: 16px;*/
  position: relative;
}
.sosmed-group p {
  margin-bottom: 7px;
  color: white;
  text-align: center;
  font-family: 'BelleroseLight';
  font-size: 15px;
}
.sosmed-group-icon {
  text-align: center;
}
.option-fb-icon {
  background: #27c1ff url("../../img/Imparoparo/130 dpi-01_resize.png") repeat scroll -37px -24px;
  width: 27px;
  height: 27px;
  /*    height: 29px;
        width: 28px;*/
}
.option-ig-icon {
  background: #27c1ff url("../../img/Imparoparo/130 dpi-01_resize.png") repeat scroll -83px -24px;
  width: 27px;
  height: 27px;
  /*    height: 29px;
        width: 28px;*/
  margin: 0 5px;
}
.option-line-icon {
  background: #27c1ff url("../../img/Imparoparo/sprite-05.png") repeat scroll -128px -23px;
  height: 29px;
  width: 28px;
}
.sosmed-icon {
  display: inline-block;
}
.im-footer h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;
  color: var(--imparoparo-color-default);
  white-space: nowrap;
}
.im-footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #3d3d3d;
}
.list-unstyled li a {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #3d3d3d;
}
.im-footer .widget-title:before {
  border-bottom: 2px solid #27c1ff;
  content: "";
  height: 1px;
  position: absolute;
  top: 35px;
  width: 100px;
}
.menu-list-wrap > div {
  display: inline-block;
  vertical-align: middle;
}
.menu-list-wrap .menu-list-text {
  margin-left: 5px;
}
ul.main-menu > li {
  border: none;
  vertical-align: top;
}
ul.main-menu > li.active,
ul.main-menu > li:hover > a {
  background-color: #C1262A;
}
ul.main-menu > li.active,
ul.main-menu > li:hover > .shopping-cart {
  background-color: #C1262A;
}
ul.main-menu > li:nth-child(1) {
  border-left: none;
}
ul.main-menu > li > a {
  padding: 15px;
}
.dropdown-transaction-status {
  border-radius: 0px;
  width: 250px;
}
.dropdown-transaction-status .panel-heading {
  font-size: 18px;
}
.menu-list-container {
  position: relative;
}
.main-menu-right {
  position: absolute;
  right: 0px;
  top: 0px;
}
.dropdown-account {
  border-radius: 0px;
  padding: 0px;
  left: -90px !important;
  top: 45px !important;
  border: none;
}
.dropdown-account-new {
  border-radius: 0px;
  padding: 0px;
  left: 260px !important;
  top: 50px !important;
  border: none;
}
@media (max-width: 1200px) {
  .dropdown-account-new {
    left: 190px !important;
  }
}
@media (max-width: 992px) {
  .dropdown-account-new {
    left: 105px !important;
  }
}
@media (max-width: 768px) {
  .dropdown-account-new {
    left: inherit !important;
    right: 15px !important;
  }
}
.taper-div {
  border-bottom: 12px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  right: 10px;
  top: -12px;
  width: 20px;
}
.txt-account-link:nth-of-type(1) {
  margin-bottom: 10px;
}
.txt-account-link a:hover {
  color: var(--imparoparo-text-hover);
}
.main-menu .dropdown-account a:hover {
  background: none;
  color: #C63437;
}
.shopping-cart {
  padding: 15px 10px 11px 10px;
}
.shopping-cart:hover {
  cursor: pointer;
}
.shopping-cart .count {
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 0;
  width: auto;
  top: 5px !important;
}
.container-shopping-cart-icon {
  display: inline-block;
}
.container-login ul {
  padding-left: 0px;
}
.container-login ul li {
  display: inline-block;
}
.container-login ul > li > a {
  padding: 16px 10px;
  color: #fff;
}
.container-login ul > li > a:hover,
.container-login ul > li > a:active,
.container-login ul > li > a:focus {
  color: #fff;
  background-color: #C1262A !important;
  text-decoration: underline !important;
}
.container-login .menu-list-wrap {
  padding: 16px 7px 15px 0px;
  color: #fff;
}
.container-login .menu-list-wrap:hover {
  background-color: #C1262A;
}
.container-login .dropdown-account {
  left: auto;
  right: 0px;
}
.row-forgot-password {
  margin: 15px 0;
}
.shopping-cart .container-cart {
  border-top: 4px solid var(--imlasvegas-primary);
  border-bottom: 4px solid var(--imlasvegas-primary);
}
.shopping-cart .arrow-up {
  border-bottom: 10px solid var(--imlasvegas-primary);
}
ul.main-menu > li.active,
ul.main-menu > li:hover {
  background-color: transparent;
}
footer .social-media-bottom {
  margin-top: 51px;
  text-align: center;
}
.im-logo .brand-logo img {
  max-width: 140px;
  position: relative;
  left: 35px;
  top: -6px;
  max-height: 84px;
}
/*2. ICON*/
.ico-search {
  background: url("../../img/imlasvegas/sprite.png") -50px -197px;
  width: 21px;
  height: 21px;
}
.ico-home-menu {
  background: url("../../img/imlasvegas/sprite.png") -50px -257px;
  width: 25px;
  height: 21px;
}
.ico-help-menu {
  background: url("../../img/imlasvegas/sprite.png") -107px -257px;
  width: 21px;
  height: 21px;
}
.ico-status-transaction-menu {
  background: url("../../img/imlasvegas/sprite.png") -159px -257px;
  width: 19px;
  height: 21px;
}
.icon-shopping-cart {
  background: url("../../img/imlasvegas/sprite.png") -209px -257px;
  width: 21px;
  height: 21px;
}
.shopping-cart .dropdown .dropdown-toggle:hover {
  background: url("../../img/imlasvegas/sprite.png") -209px -257px !important;
  width: 21px;
  height: 21px;
}
.ico-media_fb {
  background: url("../../img/imlasvegas/sprite.png") -50px -656px;
  width: 51px;
  height: 51px;
}
.ico-media_tw {
  background: url("../../img/imlasvegas/sprite.png") -216px -656px;
  width: 51px;
  height: 51px;
}
.ico-media_ig {
  background: url("../../img/imlasvegas/sprite.png") -133px -656px;
  width: 51px;
  height: 51px;
}
.ico-media_gp {
  background: url("../../img/imlasvegas/sprite.png") -297px -656px;
  width: 51px;
  height: 51px;
}
.ico-cart-product {
  background: url("../../img/imlasvegas/sprite.png") -50px -510px;
  width: 31px;
  height: 31px;
}
.ico-sale-product {
  background: url("../../img/imlasvegas/sprite.png") -50px -746px;
  width: 71px;
  height: 71px;
}
.ico-cart-button {
  background: url("../../img/Imparoparo/130 dpi-01_resize.png") no-repeat -241px -787px;
  width: 61px;
  height: 61px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 7px;
}
.ico-cc {
  background: url("../../img/imlasvegas/sprite.png") -50px -446px;
  width: 70px;
  height: 20px;
}
.ico-cod {
  background: url("../../img/imlasvegas/sprite.png") -148px -446px;
  width: 31px;
  height: 21px;
}
.ico-bank-transfer {
  background: url("../../img/imlasvegas/sprite.png") -316px -442px;
  width: 29px;
  height: 29px;
}
/*3. HELPER*/
.im-field {
  border-radius: 0px;
}
.container-lasvegas {
  margin-top: 15px;
}
/*4. BUTTON*/
.btn-view-status-transaction {
  width: 100%;
}
.btn-imlasvegas {
  border-radius: 0px;
  background-color: #C1262A;
  color: #fff;
  border: none;
}
.btn-imlasvegas:hover {
  color: #fff;
}
.btn-paroparo-primary {
  background-color: var(--imparoparo-button-primary) !important;
  border: medium none;
  border-radius: 0;
  color: #fff !important;
  font-size: 1.6rem;
  padding: 9px 15px !important;
}
.btn-paroparo-primary:hover,
.btn-paroparo-primary:focus,
.btn-paroparo-primary:active {
  color: #fff;
  background-color: var(--imparoparo-button-primary-hover) !important;
}
/*5. PAGE*/
/*5.1 HOME*/
.home-slideshow .carousel-indicators {
  display: block;
  margin-left: -18% !important;
}
#home_slideshow-slider .carousel-control {
  display: none;
}
/*.carousel-indicators li:nth-child(1n) {
    background-color: #0071bc;
    border: none;
}
.carousel-indicators li:nth-child(2n) {
    background-color: #f15a24;
    border: none;
}
.carousel-indicators li:nth-child(3n) {
    background-color: #009245;
    border: none;
}
.carousel-indicators li:nth-child(4n) {
    background-color: #c1272d;
    border: none;
}*/
.carousel-indicators li.active {
  background-color: transparent;
  border-width: 3px;
  height: 17px;
  position: relative;
  top: 1px;
  width: 17px;
}
.carousel-indicators li {
  background: white;
  height: 13px;
  width: 13px;
}
.container-adds img {
  width: 100%;
  /*height: 300px;*/
  height: auto;
}
/*
.container-deal {
    margin-top: 20px;
}
.container-deal-content {
    margin-top: 10px;
}
.container-deal .container-deal-title {
    background-color: #E1E9EC;
    padding: 10px;
    position: relative;
}
.container-deal .container-deal-title .deal-title {
    font-size: 20px;
    padding-left: 10px;
}
.container-deal .container-deal-title .deal-view-all {
    position: absolute;
    right: 0px;
    top: 0px;
}*/
.btn-view-all-product {
  border: none !important;
  border-radius: 0px;
  height: 48px;
  width: 160px;
  outline: none !important;
  background-color: #FC9E3C;
}
.btn-view-all-product:hover {
  background-color: #C1262A;
}
.container-adds-bottom {
  margin-top: 10px;
}
.container-adds-bottom img {
  width: 100%;
}
/*.container-product {
    margin-top: 34px;
    border: 1px solid #DCDCDC;
    padding: 10px;
    margin-bottom: 14px;
    position: relative;

    .container-flag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    > .is-hot {
        background-color: orange;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        transform: rotate(-45deg);
        position: absolute;
        left: -26px;
        top: 8px;
        text-align: center;
        padding: 5px 35px;
        border-radius: 50px 50px 0 0;
    }

    > .is-hot:before {
        background-color: #fff;
        transform: rotate(-45deg);
        content: ' ';
        position: absolute;
        width: 50px;
        height: 9px;
        z-index: -1;
        left: -16px;
        bottom: 13px;
    }

    > .is-hot:after {
        background-color: #fff;
        transform: rotate(45deg);
        content: ' ';
        position: absolute;
        width: 50px;
        height: 9px;
        z-index: -1;
        top: 7px;
        right: -11px;
    }

    > .is-sale {
        background-color: red;
        border-radius: 50%;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 2.4;
        padding: 5px;
        position: absolute;
        right: 8px;
        text-transform: uppercase;
        top: 8px;
    }

    .container-sale {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .container-product-image {
        img {
            width: 100%;
            height: 250px;
        }
    }

    .container-product-price {
        position: relative;
    }

    .container-product-desc {
        color: #5C5C5C;
        font-size: 16px;
    }

    .product-price-normal {
        color: #AD2B2D;
        font-size: 16px;
        font-weight: bold;
    }

    .product-price-strike {
        font-size: 12px;
        text-decoration: line-through;
        height: 17px;
    }

    .container-cart-product {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    :hover {
        cursor: pointer;

        .ico-cart-product {
            background: url("../../img/imlasvegas/sprite.png") -110px -510px;
        }
    }

    .container-product-desc {
        height: 50px;
    }
}
*/
/*5.2 SHOW PRODUCT */
.txt-product-total {
  text-align: right;
  font-weight: bold;
}
.separate-show-product {
  border: 0px solid #DCDCDC;
  margin-bottom: 20px;
  margin-top: 10px;
}
.container-sort .content-show {
  text-align: right;
}
.content-sort-element {
  display: inline-block;
}
.cs-text-sortby,
.cs-text-show {
  font-weight: bold;
  margin-right: 10px;
}
.cs-text-show {
  margin-left: 20px;
}
.cs-control-sortby {
  width: 200px;
  position: relative;
}
.cs-control-sortby select {
  border-radius: 0;
}
.cs-control-sortby .control-caret,
.cs-control-show .control-caret {
  width: 42px;
  height: 32px;
  background-color: #DF3F49;
  position: absolute;
  right: 1px;
  top: 1px;
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.cs-control-show {
  width: 125px;
  position: relative;
}
.cs-control-show select {
  border-radius: 0;
}
.container-product-show {
  margin-top: 20px;
}
.select-imlasvegas {
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #df3f49, #df3f49);
  background-position: calc(80%) calc(1em), calc(88%) calc(1em), 100% 0;
  background-size: 8px 8px, 8px 8px, 2.8em 2.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/*5.3 PRODUCT DETAIL*/
.container-price .detail-normal-price {
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: 'Arial';
  font-size: 34px;
  font-weight: normal;
  color: #333333;
}
.product-summary {
  position: relative;
}
.btn-add-cart {
  position: absolute;
  margin-top: 10px;
  width: auto;
  left: 0px;
  /*    background-color: #ed7217 !important;
        border-color: #ed7217 !important;*/
  color: #fff;
}
.detail-product .product-action a {
  font-size: 14px;
  padding: 5px 23px;
  background-color: #009946;
  font-weight: normal;
}
.detail-product .product-action a:hover {
  background-color: #027939 !important;
}
.container-share {
  margin-top: 5px;
  border-top: none;
  border-bottom: 1px solid #929292;
}
.container-share .txt-share {
  margin-bottom: 10px;
}
.container-shipping > div {
  display: block;
}
.container-gallery {
  background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -123px -306px;
  width: 41px;
  height: 41px;
  display: table;
  /*width: 100%;*/
}
.gallery-list {
  width: 80px;
  display: table-cell;
  vertical-align: top;
}
.gallery-list-image {
  border: 1px solid #D0D2D1;
  padding: 2px;
}
.gallery-list-image img {
  width: 75px;
  height: 75px;
}
.gallery-list-image :hover {
  cursor: pointer;
}
.gallery-list-image.active {
  opacity: .5;
}
/*first edit using less*/
.gallery-image {
  /*display: table-cell;*/
  vertical-align: top;
}
.gallery-image img {
  /*max-height: @sizeWHimage;*/
  max-height: 470px;
  max-width: 470px;
  /*width: @sizeWHimage;*/
  width: auto;
  heigth: auto;
}
/*5.4 SHOPPING CART */
.container-table-wrap {
  background-color: #F3F3F3;
  color: #333;
  border: 1px solid #DADADA;
}
.product-bd-right,
.price-bd-right,
.qty-bd-right,
.sub-bd-right {
  /*border-right: 1px solid #DADADA;*/
  border-left: 1px solid #DADADA;
}
.container-table-content-wrap {
  background-color: #fff;
}
.btn-shoppingcart-pembayaran {
  margin-top: 28px;
  margin-bottom: 68px;
  background-color: #27c1fe;
  padding: 12px;
}
.icon-trash-red {
  background: url('../../img/Imparoparo/130 dpi-01_resize.png') no-repeat -432px -394px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 10px;
  right: 25px;
}
.element-register .span-register {
  font-size: 11px;
}
.element-register span a {
  font-size: 11px !important;
}
.btn-next-lasvegas {
  width: 100%;
}
/*5.5 ACCOUNT PAGE*/
.container-account .account-container-menu-border {
  background-color: var(--imlasvegas-primary);
}
.container-account .member-menu ul li:hover,
.container-account .member-menu ul li.active {
  background-color: #212121;
}
.table-62hallfamily-gray th {
  background-color: #F3F3F3 !important;
  border: 1px solid #E4E4E5 !important;
  color: #58595b !important;
}
/*5.6 PAYMENT */
.container-item .container-item-qty {
  position: relative;
  width: 100%;
  height: 12px;
}
.container-item .container-item-qty .product-cart-qty {
  position: absolute;
  right: -5px;
  background-color: #FAAF60;
  padding: 5px 10px;
  border-radius: 50%;
  top: 0px;
  color: #fff;
}
.container-item-right .content-item-right {
  padding-top: 10px;
  padding-left: 10px;
}
.container-price-qty {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.payment-list-contaner {
  display: table;
  width: 100%;
}
.payment-list-content {
  display: table-cell;
  vertical-align: middle;
}
.payment-list-content:nth-of-type(2) {
  padding-left: 10px;
  width: 40px;
}
.payment-list-content:nth-of-type(3) {
  padding-left: 10px;
  font-size: 15px;
}
.table-62hallfamily th {
  background: #F3F3F3;
  color: #333;
}
.table-62hallfamily td {
  border: 1px solid #dadada;
}
.price-list {
  width: 100%;
}
.price-list th {
  background: #F3F3F3;
  color: #333;
}
.price-list td {
  padding: 10px 15px !important;
}
.price-list .top-border {
  border-top: 1px solid #dadada !important;
}
.price-list .bottom-border {
  border-bottom: 1px solid #dadada !important;
}
.price-list .left-border {
  border-left: 1px solid #dadada !important;
}
.price-list .right-border {
  border-right: 1px solid #dadada !important;
}
.price-list .no-border {
  border: none;
}
.price-list .full-border {
  border: 1px solid #dadada !important;
}
.price-list .total-nominal {
  font-size: 16px;
  font-weight: bold;
  color: #ed7217;
}
/*5.7 RESULT PAGE*/
.title-result-page {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #888;
}
/*6. CUSTOM BOOTSRAP */
.row-ths {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
/*7. MODAL */
#custom_modal_login .modal-content {
  width: 325px;
  /*margin-left: 0px;*/
}
#custom_modal_register .modal-content {
  width: 325px;
  /*margin-left: 0px;*/
}
/*7.1 LOGIN & REGISTER*/
.icon-register-wrapper {
  background-color: #27c1fe;
}
.row-forgot-password a {
  color: #27c1fe;
}
.row-forgot-password div:first-child {
  float: left;
}
.div-login-fb .btn {
  background: #31589d none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  padding: 13px 0 !important;
  width: 100%;
  margin-top: 13px;
}
/*===== horizontal line with text in middle =====*/
.cross-line h5 {
  overflow: hidden;
  text-align: center;
  height: 20px;
}
.cross-line h5:before,
.cross-line h5:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.cross-line h5:before {
  right: 0.5em;
  margin-left: -50%;
}
.cross-line h5:after {
  left: 0.5em;
  margin-right: -50%;
}
/*.cross-line h5 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0;
}
.cross-line h5 span {
    background: #fff;
    padding: 0 5px;
}*/
/*.icon-bca {
    width: 143px;
    height: 48px;
    background: url(../../img/62hallfamily/sprite_icon.png) -23px -298px;
}
.icon-mandiri {
    width: 148px;
    height: 48px;
    background: url(../../img/62hallfamily/sprite_icon.png) -177px -298px;
}*/
.container-relate-product {
  padding: 29px;
  background: #a5a7aa;
  margin-top: 55px;
  border-top: 12px solid #27c1fe;
}
.container-view-product {
  margin-top: 48px;
  /*margin-bottom: 35px;*/
  font-family: 'Open Sans', sans-serif;
}
.container-view-product .relate-title {
  font-weight: 900;
  font-size: 24px;
  float: left;
  padding: 0px 20px;
}
.container-view-product .relate-view-all {
  float: right;
}
.container-view-product .relate-view-all a {
  color: #27c1fe;
  font-size: 21px;
  display: inline-block;
}
.container-view-product .relate-view-all .ico-arrow {
  background: url('../../img/Imparoparo/sprite 5-01.png') no-repeat -399px -391px;
  width: 10px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
}
/*Prodcut Category*/
.btn-category-breadcrumb {
  /*    font-family: neoteric;
        font-size: 32px;
        padding: 4px 0;
        width: 100%;
        color: #6d6e71;
        &:hover,
            &:active,
            &:focus
            {
            color:#FF2A00;
        }*/
}
.category-breadcrumb {
  /*margin: 13px 0;*/
}
.sortby-breadcrumb {
  background: #d5f3fe none repeat scroll 0 0;
  position: relative;
}
.sortby-breadcrumb .btn-sortby-breadcrumb {
  color: #6d6e71;
  font-family: neoteric;
  font-size: 26px;
  padding: 0 80px;
}
.sortby-breadcrumb div {
  padding: 14px 0;
  position: relative;
  float: left;
}
.sortby-breadcrumb div:nth-child(n+2) .btn-sortby-breadcrumb {
  border-left: 2px solid #6d6e71;
}
.sortby-breadcrumb div:hover::before {
  border-bottom: 5px solid #EE701B;
  content: ' ';
  position: absolute;
  width: 100%;
  top: 65px;
}
.sortby-breadcrumb div:hover a {
  color: #EE701B;
}
.sortby-breadcrumb div.active::before {
  border-bottom: 5px solid #EE701B;
  content: ' ';
  position: absolute;
  width: 100%;
  top: 65px;
}
.sortby-breadcrumb div.active a {
  color: #EE701B;
}
.sortby-price {
  font-family: "Open Sans", sans-serif;
  margin: 30px 0 15px 7px;
  position: relative;
}
.sortby-price .btn-pencarian-detail {
  background: #e7e7e7 none repeat scroll 0 0;
  border: medium none;
  color: #3d3d3d;
  font-size: 20px;
  padding: 3px 15px;
  font-weight: 300;
}
.btn-pencarian-detail {
  float: left;
}
.price-input-group {
  display: inline-flex;
  float: left;
  margin-left: 15px;
  position: absolute;
}
.price-input-group input {
  font-size: 20px;
  width: 100px !important;
  font-weight: 300;
}
.price-input-group .input-group-addon {
  font-size: 20px;
  padding: 0 10px;
  font-weight: 300;
}
.ke {
  font-size: 20px;
  margin: 0 10px;
  font-weight: 300;
}
.sortby-breadcrumb-row {
  background: #d5f3fe ;
}
.category-breadcrumb {
  /*    div:nth-child(1) a {
            background: #fff9c5 none repeat scroll 0 0;
        }
        div:nth-child(2) a {
            background: #FFC7EA;
        }
        div:nth-child(3) a {
            background: #86ECD7;
        }
        div:nth-child(4) a {
            background: #FFE471;
        }*/
}
.category-breadcrumb div a {
  border: none;
}
.sortby-min-price,
.sortby-max-price {
  max-width: 150px;
}
/* cek order*/
.div-title h2 {
  color: #009ee2;
  padding: 5px 0;
}
.div-title {
  border-bottom: 1px solid #d8dad9;
  margin-bottom: 20px;
}
input[name=booking_code] {
  border-radius: 0 !important;
}
.btn-check-status {
  background: #00A0E8;
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  padding: 7px 14px;
  color: #fff;
  cursor: pointer;
}
.btn-check-status:hover {
  color: #fff;
}
.div-input {
  position: relative;
}
#content-order {
  margin-bottom: 30px;
}
.main-related .slick-prev:before,
.main-related .slick-next:before {
  color: #27c1ff !important;
}
.main-related .slick-next {
  right: 15px;
  top: -10px;
}
.main-related .slick-prev {
  right: 45px;
  top: -10px;
  left: inherit;
}
.rosy-background {
  background-color: #F0DAE7 !important;
}
@media (max-width: 991px) {
  .sosmed-group {
    margin-top: 10px;
  }
}
.share-social {
  position: absolute;
  right: 15px;
  top: 20px;
  color: #9E9E9E;
  font-size: 18px;
}
@media screen and (max-width: 1199px) {
  .nav-main {
    left: 0;
  }
  .im-logo .brand-logo img {
    left: 0 !important;
  }
  .main-menu-wrap {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  /*    .im-navbar-right{
            bottom: -10px;
            left: 15px;
        }*/
  .im-nav-right-group span {
    padding: 0 6px;
  }
  /*    .im-logo .brand-logo img{
            left: 0 !important;
        }
        .main-menu-wrap{
            padding-bottom: 20px;
        }*/
}
@media (max-width: 768px) {
  /*    .im-search {
            margin-top: 0px;
        }*/
  ul.main-menu > li > a {
    display: block;
  }
  /*    .im-search .im-select-search {
            width: 140px;
        }*/
  /*    .main-menu-wrap {
            background-color: transparent;
        }*/
  .menu-list-container .visible-xs:nth-of-type(1) {
    background-color: #DF3F49;
  }
  .menu-list-container > ul.main-menu:nth-of-type(1) {
    background-color: #F3F3F3;
    width: 270px;
    position: absolute;
    top: 48px;
    z-index: 20;
    display: none;
  }
  ul.main-menu > li > a {
    color: #6D6D6D;
    text-align: left;
  }
  .icon-shopping-cart {
    background: url(../../img/imlasvegas/sprite.png) -209px -257px !important;
    width: 21px;
    height: 21px;
  }
  .container-product .container-product-image img {
    height: auto;
  }
  .ico-home-menu {
    background: url(../../img/imlasvegas/sprite.png) -117px -590px;
    width: 26px;
    height: 20px;
  }
  .ico-help-menu {
    background: url(../../img/imlasvegas/sprite.png) -178px -590px;
    width: 21px;
    height: 20px;
  }
  .ico-status-transaction-menu {
    background: url(../../img/imlasvegas/sprite.png) -235px -589px;
    width: 19px;
    height: 22px;
  }
  .ico-register-menu {
    background: url(../../img/imlasvegas/sprite.png) -290px -590px;
    width: 22px;
    height: 20px;
  }
  .ico-login-menu {
    background: url(../../img/imlasvegas/sprite.png) -348px -590px;
    width: 24px;
    height: 20px;
  }
  .container-qty .qty-wrapper {
    width: 67px;
  }
  .btn-add-cart {
    right: auto;
    left: 130px;
    width: 168px;
  }
  #tabs-horizontal .nav > li {
    /*display: block;*/
    display: inline-block;
  }
  #tabs-horizontal .nav > li > a {
    display: block !important;
    width: 100% !important;
  }
  .gallery-image img {
    height: auto;
  }
  #custom_modal_register .modal-content {
    width: 280px;
  }
  .container-gallery {
    position: relative;
  }
  .container-gallery .gallery-image {
    display: block;
    width: 100%;
  }
  .container-gallery .gallery-list {
    display: block;
    width: 100%;
    bottom: -90px;
    position: absolute;
  }
  .container-gallery .detail-product {
    padding-top: 80px;
  }
  /*CONFIM MEMBER*/
  .container-confirm {
    margin-bottom: 50px;
  }
  .content-text div:nth-child(1) {
    font-size: 21px;
    padding: 10px ;
  }
  .content-text div:nth-child(2) {
    font-size: 16px;
  }
  .content-text div:nth-child(2) a {
    color: #27C1FF;
  }
  .content-text a {
    font-size: 16px;
    padding: 0;
  }
  .home-button {
    background: #27C1FF;
    color: #fff;
    border-radius: 0;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
  }
}
.row-paro {
  width: 100%;
  padding: 0 15px !important;
}
.col-paro-xs,
.col-paro-sm,
.col-paro-md,
-col-paro-lg {
  float: left;
  position: relative;
  min-height: 1px;
}
.col-paro-xs {
  width: 20%;
}
@media (max-width: 768px) {
  .single-product.small .title-product {
    margin-top: 3px;
  }
  .col-paro-xs {
    width: 25%;
  }
}
@media (max-width: 500px) {
  .main-related .slick-next,
  .main-related .slick-prev {
    display: none;
  }
  .col-paro-xs {
    width: 50%;
  }
}

.share-social{
    position: absolute;
    right: 15px;
    top: 20px;
    color: #9E9E9E;
    font-size: 18px;
}

@media (max-width: 768px) {
  .home-button.btn-paroparo {
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 5px 15px !important;
  }
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item {
  height: 38px;
  border-radius: 5px;
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item a {
  font-size: 1.7rem;
  line-height: 1;
  font-family: "Arial";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item a span {
  text-align: center;
  width: 100%;
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item:nth-child(5n+1) {
  background-color: #fff9c5;
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item:nth-child(5n+2) {
  background-color: #ffc8ea;
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item:nth-child(5n+3) {
  background-color: #87ebd8;
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item:nth-child(5n+4) {
  background-color: #ffe471;
}
.category-breadcrumb .category-breadcrumb-inner .breadcrumb-item:nth-child(5n+5) {
  background-color: #d4c5ff;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .icon-trash-red {
    margin-left: 200px;
  }
}
@media (min-width: 320px) and (max-width: 749px) {
  #main-content {
    margin-top: -1px;
  }
  .content-product {
    margin-top: 10px;
  }
  .single-category {
    height: 132px;
    padding: 2px;
  }
  .single-category .single-category-outside {
    height: calc(105.6px);
    padding: 0 4px;
    width: 100%;
  }
  .single-category .single-category-outside .single-category-inside {
    height: calc(105.6px);
    width: 100%;
    position: relative;
  }
  .single-category .single-category-title-outside {
    height: calc(26.4px);
    padding: 0 4px 4px;
    width: 100%;
  }
  .single-category .single-category-title-outside .single-category-title-inside {
    background: #fafafa none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    padding: 5% 0;
  }
  .single-category .single-category-title-outside .single-category-title-inside span {
    font-size: 12px;
    color: var(--imparoparo-color-default);
  }
  .single-product {
    /*height: 180px;*/
    height: 249px;
    margin-top: 4px;
    padding: 3px;
  }
  .single-product.small {
    height: 290px;
    margin: 10px;
  }
  .single-product.small .title-product {
    font-size: 16px;
    font-weight: normal;
  }
  .single-product .price-div {
    padding: 1px 5px;
  }
  .single-product .promo-price-text {
    font-size: 12px;
    margin-top: 0px;
  }
  .single-product .price-text {
    font-size: 12px;
    margin-top: 0px;
  }
  .single-product .single-product-title-inside {
    padding: 0px;
  }
  .single-product .single-product-title-inside h3 {
    font-size: 14px;
  }
  .single-product .single-product-tapered-div {
    border-bottom: 17px solid transparent;
    border-right: 5px solid #ed7117;
    border-top: 17px solid transparent;
  }
  .single-product .price-div-no-promo {
    padding: 5px 5px;
  }
  .single-product .price-div-no-promo .price-text-no-promo {
    font-size: 14px;
  }
  .title-product {
    font-size: 14px;
    margin-top: 0px;
  }
  .sortby-breadcrumb .btn-sortby-breadcrumb {
    font-size: 13px;
    padding: 5px;
    text-align: center;
  }
  .sortby-price .btn-pencarian-detail {
    padding: 9px;
    font-size: 12px;
    /*margin-left: 8px;*/
  }
  .price-input-group .input-group-addon {
    font-size: 12px;
  }
  .price-input-group input {
    width: 50px !important;
    font-size: 12px;
  }
  .price-input-group {
    margin-left: 5px;
  }
  .price-input-group .input-group-addon {
    padding: 2px;
  }
  /*    .input-unstyled{
            width: 65px!important;
        }*/
  .sortby-min-price,
  .sortby-max-price {
    width: 50px;
  }
  .sortby-min-price input,
  .sortby-max-price input {
    width: 65px!important;
  }
  .ke {
    font-size: 12px;
    margin: 5px;
  }
  .footer-deal {
    padding: 35px 0 45px;
  }
  .footer-deal .footer-button-deal {
    height: 50px;
    width: 185px;
    font-size: 22px;
    border-bottom: 5px solid #e6e6e6;
    border-top: 5px solid #e6e6e6;
  }
  .im-subscribe-group .input-group input[type="text"] {
    font-size: 18px;
    font-weight: lighter;
  }
  .container-deal {
    margin-top: 25px;
  }
}
@media (min-width: 750px) and (max-width: 969px) {
  footer .im-subscribe-group {
    margin: 0px;
    /*width: 50%;*/
    float: right;
    /*margin-top: -55px;*/
  }
  footer .sosmed-group {
    width: 100%;
    overflow: inherit;
  }
  footer .sosmed-group .sosmed-group-inner {
    float: right;
    overflow: hidden;
    margin-top: -25px;
  }
  footer .sosmed-group .sosmed-group-inner p {
    float: left;
    padding: 6px 20px;
  }
  footer .sosmed-group .sosmed-group-inner .social-media {
    float: left;
  }
  .sortby-breadcrumb div {
    padding: 0px;
  }
  .sortby-breadcrumb div:nth-child(n+2) .btn-sortby-breadcrumb {
    border-left: 1px solid #6d6e71;
  }
  .sortby-breadcrumb .btn-sortby-breadcrumb {
    font-size: 21px;
    padding: 0px 20px 0px 20px;
    font-family: 'Neoteric';
    margin-left: 35px;
  }
  .sortby-price .btn-pencarian-detail {
    margin-left: 8px;
  }
  .sortby-breadcrumb div.active::before {
    border-bottom: 0px solid #EE701B;
  }
}
