@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../../font/OpenSans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../../font/OpenSans/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../../font/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
:root {
    --imlasvegas-primary: #00a79d;
}
body {
  font-family: 'OpenSansRegular';
  font-size: 14px;
}
.loading {
  max-width: 100% !important;
}
.loading #result_category-loading,
.loading #result_category-loading:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.search.form {
  margin-top: 0px;
}
.registration.form-62hallfamily {
  color: #333;
  font-size: 13px;
}
.loading #result_category-loading {
  margin: 0px auto;
  position: absolute;
  margin-top: 115px;
  margin-left: auto;
  margin-left: 50%;
  left: -60px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.icon-register-wrapper{
    background-color: var(--imlasvegas-primary);
}
#tabs-horizontal .nav .active a{
    background-color: var(--imlasvegas-primary);
}
#tabs-horizontal .nav li:not(.active) a:hover{
    color: var(--imlasvegas-primary);
}

.footer strong{
    font-weight: normal !important;
    font-family: 'OpenSansBold';
}

.container-product-code {
  display: none;
}
.dropdown-account .panel-body .txt-account-link a {
  color: #231f20;
}
.dropdown-transaction-status {
  min-width: 250px;
  color: #231f20;
  border-radius: 0px;
  border: none;
  margin-top: 8px !important;
}
@media (max-width: 767px) {
  .dropdown-transaction-status {
    background: #ffffff !important;
  }
}
.dropdown-transaction-status .panel-heading {
  font-size: 18px;
  font-weight: bold;
}
.dropdown-transaction-status .form-control {
  box-shadow: none;
}
.dropdown-transaction-status .form-control:hover,
.dropdown-transaction-status .form-control:active,
.dropdown-transaction-status .form-control:focus {
  box-shadow: none;
}
.dropdown-transaction-status .btn-imlasvegas {
  background: #00a79d;
  border-radius: 0px;
  color: #ffffff;
}
#menu-category {
  margin: 0px auto;
  width: calc(100% - 80px);
}
#result_category {
  background: #231f20;
  min-height: 350px;
  margin-top: -21px;
  width: 100%;
  z-index: 10;
  position: relative;
  padding: 0px 15px;
}
#result_category .result-category-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 30px;
}
#result_category .result-category-wrapper .view-all-btn {
  margin-bottom: 0px;
}
.shopping-cart {
  padding: 0px !important;
}
.shopping-cart .container-cart.dropdown-menu {
  margin-left: -190px;
}
.input-group-btn:first-child>.btn, 
.input-group-btn:first-child>.btn-group{
    margin-left: 1px;
}
#tabs-horizontal .nav > li{
    display: inline-block;
}
.detail-product .product-action a{
    background-color: #00a79d;
}
b,
strong{
    font-weight: normal !important;
    font-family: 'OpenSansBold' !important;
}
@media (max-width: 767px) {
  .shopping-cart-secondary {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .shopping-cart-secondary {
    position: absolute;
    right: 30px;
    margin-top: -50px;
  }
}
@media (min-width: 993px) {
  .shopping-cart-secondary {
    position: relative;
    right: 0px;
  }
  .input-group-btn:first-child>.btn, 
.input-group-btn:first-child>.btn-group{
    margin-left: 2px;
}
}
.shopping-cart-secondary .dropdown {
  display: flex;
}
.shopping-cart-small {
  float: none;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .shopping-cart-small {
    display: none !important;
  }
}
.uppercased {
  text-transform: uppercase !important;
}
.icon-shopping-cart {
  background: url(../../img/imgoldenrama/sprite/1.png) no-repeat !important;
  width: 25px;
  height: 25px;
}
.shopping-cart-wrapper .shopping-cart-secondary .count {
  display: inline-block;
  vertical-align: top;
  display: inherit;
}
.shopping-cart .count .lbl-item,
.shopping-cart-secondary .count .lbl-item{
    display:none;
}
.shopping-cart-wrapper .shopping-cart .count {
  color: #ffffff;
  padding: 0px 5px;
  font-size: 14px;
  top: 0px !important;
  background-color: transparent;
  left: 20px !important;
  text-align: center;
  border-radius: 10px;
  position: inherit !important;
  margin-left: -20px;
}
.shopping-cart-wrapper .shopping-cart .count:before {
  content: '( ';
}
.shopping-cart-wrapper .shopping-cart .count:after {
  content: ' )';
}
.category-deal {
  margin-left: -10px;
  margin-right: -10px;
}
.category-deal.category-deal.slick-initialized + .category-deal {
  display: none;
}
@media (max-width: 720px) {
  .category-deal {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.category-deal .product-wrapper {
  background: #ffffff;
  margin: 30px 15px;
  height: 350px;
  max-width: 263px;
}

.category-deal .product-wrapper--image {
  height: 100%;
  width: 100%;
  max-height: 225px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .category-deal .product-wrapper--image {
    max-height: 125px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .category-deal .product-wrapper--image {
    max-height: 125px;
  }
}
.menu-list-wrap .menu-list-text {
  margin-top: -5px;
}
.home-slideshow {
    margin-top:-20px;
  /*max-width: 100%;*/
}
/*.navbar{
    margin-bottom:0px;
    &.navbar-golden{
        background:#000;
        border-radius:0px;
        color:#ffffff;
        text-align:center;
        border-bottom: solid 25px #58595B;
        overflow:hidden;
        *,
        *:hover,
            *:active,
            *:focus{
            outline:none;
        }
        ul li a{
            font-size: 16px;
            @media(max-width: 993px){
                font-size: 14px;
            }
        }
        .navbar-brand{
            img{
                width: 200px;
                max-height: 80px;
                margin: 0 auto;
                display: inline-block;
            }
        }
        .col-menu{
            display:flex;
            margin-bottom: 10px;
            @media(max-width:992px){
                margin-top: 15px;
            }
        }
        .row-navbar{
            padding-top: 34px;
            padding-bottom: 34px;
        }
        .container-login{
            display:inline-block !important;
            position:relative;
            @media(max-width:969px){
                position: absolute;
                right: 75px;
                margin-top: -50px;
            }
            @media(max-width:767px){
                position:inherit;
                right: 0px;
                margin: 0 auto;
            }
            .caret-login-wrapper{
                @media(max-width:768px){
                    display:none;
                }
            }
            .menu-list-wrap{
                .menu-list-text{
                        margin-top: -5px;
                }
                padding: 0px;
                &:hover{
                    background:transparent;
                }
            }
            ul{
                margin-top: 0px;
                display:flex;
                li{
                    a{
                        padding:0px 5px;
                        font-size: 16px;
                        vertical-align: top;
                        line-height: 21px;
                        background-color:transparent !important;
                        &:hover{
                            background-color:transparent !important;
                        }
                    }
                }
            }
        }
        .container{
            display: flex;
            align-content: space-between;
            align-items: center;
            margin:32px auto;
        }
        a{
            &.navbar-brand{
                float:none;
                text-align:center;
                font-size:30px;
            }
        }
        .navbar-right{
            width: 200px;
            text-align:center;
            align-self: flex-start;

            ul,li,a{
                padding:0px;
            }
            a{
                margin:0 15px;
                font-size:16px;
            }
        }
        .navbar-nav{
            &.navbar-menu-container{
                text-align: center;
                flex-basis: 82%;
            }
            .open>a,
            .open>a:focus,
                .open>a:hover{
                background: transparent !important;
            }
            li{
                float:none;
                display:inline-block;
                a{
                    margin:0px 15px;
                    @media (max-width:1169px){
                        margin:0px 10px;
                    }
                    padding:0px;
                    &:hover,
                        &:active,
                        &:focus{
                        background: none;
                        color:#cccccc;
                    }
                }
            }
        }
        .navbar-search-container{
            @media(min-width:992px){
                max-width: 555px;
                margin: 0 auto;
            }
            input{
                @media(min-width:992px){
                    max-width: 460px;
                }
                height: 30px;
                border:solid 2px white;
                border-radius: 0px;
                background: transparent;
                padding:0px 10px;
                font-weight: normal;
                color:#ffffff;
                border-right:none;
            }
            .input-group-btn{
                .btn{
                    height: 30px;
                    padding:0px;
                    text-align: center;
                    width: 95px;
                    line-height: 0px;
                    border-radius: 0px;
                    border:solid 2px #ffffff;
                    border-left:none;
                    background:@blue_color;
                    color:#ffffff;
                    font-family: @font_bold;
                }
            }
        }
        .nav-center{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin:32px auto;
        }
    }
}*/
.navbar-golden {
  display: flex;
  justify-content: space-between;
  background: #231f20;
  padding-top: 48px;
  padding-bottom: 32px;
  border-radius: 0px;
  border: none;
}
.navbar-golden-center {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 555px;
}
.navbar-golden-center--top {
  flex-basis: 100%;
  display: flex;
  margin-bottom: 10px;
}
.navbar-golden-center--top li.open a:hover,
.navbar-golden-center--top li.open a:focus,
.navbar-golden-center--top li.open a:active,
.navbar-golden-center--top li.open a {
  background-color: transparent !important;
  color: #fff;
}
.navbar-golden-center--top li a:hover{
    padding: 0px 19px;
    font-size: 16px;
    background-color: transparent;
    color: #c5c5c5;
}
.navbar-golden-center--top li a:focus,
.navbar-golden-center--top li a:active,
.navbar-golden-center--top li a {
  padding: 0px 19px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  word-wrap: normal;
  white-space: nowrap;
}
.navbar-golden-right li a:hover{
    color: #C5C5C5;
    /*font-family: 'OpenSansBold';*/
}
.navbar-golden-center--bottom input {
  height: 30px;
  border: solid 2px white;
  border-radius: 0px;
  background: transparent;
  padding: 0px 10px;
  font-weight: normal;
  color: #ffffff;
  border-right: none;
}
.navbar-golden-center--bottom input:hover,
.navbar-golden-center--bottom input:active,
.navbar-golden-center--bottom input:focus {
  box-shadow: none;
  border-color: #fff;
}
.navbar-golden-center--bottom input::placeholder {
  color: #fff;
  font-weight: normal;
  font-family: 'OpenSansRegular';
}
.navbar-golden-center--bottom .input-group-btn .btn {
  height: 30px;
  padding: 0px;
  text-align: center;
  width: 95px;
  line-height: 0px;
  border-radius: 0px;
  border: solid 2px #ffffff;
  border-left: none;
  background: #00a79d;
  color: #ffffff;
  font-family: 'OpenSansBold';
}
.navbar-golden-right .container-login ul {
  margin-top: 0px;
}

.navbar-golden-right .container-login ul li a {
  padding: 0px 15px;
  font-size: 16px;
  color: #ffffff !important;
  background-color: #231f20 !important;
  text-decoration : none !important ;
}
.navbar-golden-right .container-login ul li a:hover,
.navbar-golden-right .container-login ul li a:active,
.navbar-golden-right .container-login ul li a:focus{
    color:#c5c5c5 !important;
}
.footer-newsletter {
  background: #e6e7e8;
  padding: 30px 0px;
  color: #58595b;
}
.footer-form {
  display: flex;
}
@media (max-width: 321px) {
  .footer-form {
    display: block;
  }
}
.footer-form input[type="text"] {
  margin-right: 15px;
  width: 553px;
  border-radius: 0px;
  color: #58595b;
  font-size: 14px;
  height: 30px;
  padding: 0px 10px;
  border-color: #bcbec0;
  box-shadow: none;
}
@media (max-width: 321px) {
  .footer-form input[type="text"] {
    margin-bottom: 20px;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 993px) and (min-width: 769px) {
  .footer-form input[type="text"] {
    width: 293px;
  }
}
.footer-form input[type="text"]:hover,
.footer-form input[type="text"]:focus,
.footer-form input[type="text"]:active {
  box-shadow: none;
}
.footer-form input[type="text"]::placeholder {
  color: #bcbec0;
  font-family: 'OpenSansLight';
  font-size: 14px;
}
#custom_modal_login .modal-content {
  color: #333;
}
.btn-imlasvegas-light {
  background-color: #00a79d !important;
}
.btn-imlasvegas-light:hover {
  background-color: #005b55 !important;
}
.btn.btn-newsletter {
  background: #00a79d;
  color: #ffffff;
  border-radius: 0px;
  width: 165px;
  height: 30px;
  padding: 0px 10px;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  border: solid 1px #00a79d;
}


.btn.btn-newsletter:hover,
.btn.btn-newsletter:focus,
.btn.btn-newsletter:active {
  outline: none;
  background: transparent;
  color: #00a79d;
}
.product-summary .product-name h3 {
  font-size: 20px;
}
.product-summary .product-name .detail-normal-price {
  font-size: 20px;
}
.product-name .container-qty {
  margin-left: 0px;
}
.product-tab #tabs-horizontal-tab-widget {
  margin-top: -28px !important;
  margin-bottom: 20px;
}
footer .social-media-bottom {
  margin-top: 30px;
}
@media (min-width: 992px) {
  footer .social-media-bottom {
    text-align: left;
  }
}
/*Carousel*/
.carousel.slide .carousel-control.right,
.carousel.slide .carousel-control.left{
    width: 30px;
    height: 30px;
    background: transparent;
}
.ico-media_fb {
  background: url("../../img/imgoldenrama/sprite/social_media.png") 0 0 no-repeat !important;
  width: 65px !important;
  height: 65px !important;
}
.ico-media_tw {
  background: url("../../img/imgoldenrama/sprite/7.png") no-repeat !important;
  width: 65px !important;
  height: 65px !important;
}
.ico-media_ig {
  background: url(../../img/imgoldenrama/sprite/social_media.png) -88px 0 no-repeat !important;
  width: 65px !important;
  height: 65px !important;
}
.ico-media_gp {
  background: url("../../img/imgoldenrama/sprite/social_media.png") -177px 0 no-repeat !important;
  width: 65px !important;
  height: 65px !important;
}
.footer-desc {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}
@media (max-width: 769px) {
  .footer-desc {
    text-align: center;
  }
}
.newsletter-title {
  color: #58595b;
  font-size: 18px;
  font-family: 'OpenSansBold';
}
@media (max-width: 769px) {
  .newsletter-title {
    text-align: center;
  }
}
.footer {
  background: #231f20;
}
footer {
  margin: 0px;
  padding: 0px;
  margin-top: 90px;
  background-color: #ffffff !important;
  overflow: hidden;
}
footer .copyright {
  padding: 15px;
  margin-top: 0px;
  background: #00a79d;
  text-align: center;
}
footer .menu-footer {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 14px !important;
}

form#goldenrama-search-form .form-control {
    border-radius: 0px;
    border: none;
    height: 40px;
}

form#goldenrama-search-form .btn {
    border-radius: 0px;
    border: none;
    height: 40px;
    background: #dedede;
    padding: 0px 15px;
}

footer .menu-footer .footer-col-small .widget-title {
  text-align: left;
}
footer .menu-footer .widget-title {
  font-family: 'OpenSansRegular';
  font-size: 18px !important;
  text-transform: uppercase;
  margin-top: 30px;
}
@media (max-width: 991px) {
  footer .menu-footer .widget-title {
    text-align: center;
  }
  footer{
      margin-top: 30px;
  }
}
.section-about {
  color: #58595b;
  margin-top: 60px;
  margin-bottom: 60px;
}
.banner-top {
  width: 100%;
  background: #dedede;
  margin-bottom: 60px;
}
.banner-top .banner-top-img {
  width: 100%;
  height: auto;
}
.banner-bottom {
  width: 100%;
  margint-top: 0px;
}
@media (max-width: 992px) {
  .banner-bottom {
    margin-bottom: 30px;
  }
}
.banner-bottom .banner-top-img {
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  height: auto;
}
.section-about-header {
  margin-bottom: 60px;
}
.section-about-title {
  font-family: 'OpenSansBold';
  font-size: 24px;
  color: #00a79d;
  margin-top: 0px;
  text-align: center;
}
.section-about-tagline {
  color: #58595b;
  font-size: 21px;
  font-style: italic;
  text-align: center;
}
.about-tile-image {
  text-align: center;
}
.tiles-item-title {
  font-family: 'OpenSansBold';
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
#main-content .home-slideshow .item img {
  height: auto !important;
}
.container-qty .qty-wrapper{
    width: 125px;
}
.tiles-item-desc {
  margin-top: 15px;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  text-align: center;
  margin-bottom: 0px;
}
.container-account .member-menu .content-menu a {
  color: #231f20;
}
.container-deal {
  margin-top: 0px;
}
.container-deal .page-title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.container-deal .page-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  border: solid 2px #58595b;
  margin-top: -17px;
}
.container-deal .page-title span {
  font-family: 'OpenSansBold';
  font-size: 24px;
  color: #00a79d;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  position: relative;
  z-index: 1;
  padding: 0px 100px;
}
@media (max-width: 480px) {
  .container-deal .page-title span {
    padding: 0px 15px;
  }
  .slick-next{
      margin-right: 15px;
  }
  .slick-prev{ 
      left:-10px !important;
  }
  
}
.product-wrapper a:hover,
.product-wrapper a:focus,
.product-wrapper a:active,
.product-wrapper a{
    outline: none !important;
}
.product-wrapper .promo-price-text{
    display: none;
}
.menu-category {
  background: #231f20;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: -42px;
  position: relative;
  z-index: 10;
  width: calc(100% - 80px);
}
@media (max-width: 480px) {
  .menu-category {
    width: 100%;
  }
}
.menu-category a {
  color: #fff;
  padding: 9px 20px;
  display: block;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: solid 5px transparent;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-category a:hover,
.menu-category a:active,
.menu-category a:focus {
  outline: none;
  color: #ccc;
}
.menu-category a:hover,
.menu-category a.active {
  border-color: #00a79d;
}
.menu-category .slick-slider {
  padding-left: 0px;
}
.navbar.navbar-golden .btn.ico-search-goldenrama {
  display: inline-block !important;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .navbar.navbar-golden .btn.ico-search-goldenrama {
    display: none !important;
  }
}
.ico-new {
  width: 35px;
  height: 34px;
  display: inline-block;
  position: absolute;
}
.product-wrapper {
  border: solid 1px #ccc;
  padding: 15px;
  margin: 10px;
}
.product-wrapper:hover {
  border-color: #00a79d;
}
.product-wrapper.goldenrama-deal .product-wrapper--description-price {
  bottom: 25px;
}
.product-wrapper--description {
  height: 65px;
  margin-top: 15px;
}
.product-wrapper--image {
  height: 225px;
  max-width: 225px;
  overflow: hidden;
  box-sizing: content-box;
  margin: 0 auto;
}
.product-wrapper--image img {
  width: 100% !important;
  height: 100% !important;
}
.product-wrapper--description-price {
  color: #00a79d;
  font-size: 18px;
}
.product-wrapper--description-price-promo {
  color: #00a79d;
  font-size: 18px;
}
.product-wrapper--description-price-discount{
  text-decoration: line-through;
}
.product-wrapper--description-title {
  color: #777;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#goldenrama-search-form {
  display: none;
}
#main-content #home_slideshow-slider .carousel-control{
    display: block;
    height: 100%;
}
#main-content #home_slideshow-slider .carousel-control.left{
    margin-left: 30px;
    color: #ffffff;
    opacity: 1;
}
#main-content #home_slideshow-slider .carousel-control.right{
    margin-right: 30px;
    color: #ffffff;
    opacity: 1;
}
#main-content #home_slideshow-slider .carousel-control > span{
    font-size: 18px;
}
#goldenrama-search-form #close-search {
  z-index: 13;
  position: absolute;
  color: #ffffff;
  top: 10px;
  right: 10px;
}
#goldenrama-search-form.active {
  display: block;
}
#goldenrama-search-form .bg-drop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 11;
}
#goldenrama-search-form .input-group {
  position: absolute;
  z-index: 11;
  width: 90%;
  margin: 0 auto;
  left: 5%;
  margin-top: -125px;
}
.view-all-wrapper {
  width: 100%;
}
.view-all-btn {
  width: 100%;
  max-width: 260px;
  background: #231f20;
  color: #ffffff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  padding: 0px;
  height: 45px;
  line-height: 40px;
  margin: 0 auto;
  border: solid 2px #ffffff;
  border-radius: 0px;
  margin-bottom: 60px;
  font-size: 18px;
  box-sizing: border-box;
}
.view-all-btn:hover {
  background: #ffffff;
  border-color: #000000;
  color: #000000 !important;
}
@media (max-width: 480px) {
  .view-all-btn {
    max-width: 290px;
  }
}
.view-all-btn:hover,
.view-all-btn:active,
.view-all-btn:focus {
  color: #ffffff;
}
.menu-category *,
.menu-category *:focus,
.menu-category *:active,
.menu-category *:hover {
  outline: none !important;
}
.menu-category .slick-prev,
.menu-category .slick-next {
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  font-family: FontAwesome;
  background: transparent;
  display: block !important;
  color: #00a79d;
  font-weight: bold;
}
.menu-category .slick-prev:before,
.menu-category .slick-next:before {
  font-family: FontAwesome;
  color: #00a79d !important;
  font-size: 16px;
}
.menu-category .slick-prev:hover,
.menu-category .slick-next:hover {
  color: #00a79d;
}
.menu-category .slick-prev:hover:before,
.menu-category .slick-next:hover:before {
  color: #00a79d !important;
}
.menu-category .slick-next {
  right: -30px !important;
}
@media (max-width: 780px) {
  .menu-category .slick-next {
    /*right: 0px !important;*/
  }
}
.menu-category .slick-next:before {
  content: "\f105";
}
.menu-category .slick-prev {
  left: -30px !important;
}
@media (max-width: 780px) {
  .menu-category .slick-prev {
    /*left: 0px !important;*/
  }
}
.menu-category .slick-prev:before {
  content: "\f104";
}
.goldenrama-deal *,
.goldenrama-deal *:focus,
.goldenrama-deal *:active,
.goldenrama-deal *:hover {
  outline: none !important;
}
.goldenrama-deal .slick-prev,
.goldenrama-deal .slick-next {
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  font-family: FontAwesome;
  background: transparent;
  display: block !important;
  color: #00a79d;
}
.goldenrama-deal .slick-prev:before,
.goldenrama-deal .slick-next:before {
  font-family: FontAwesome;
  color: #00a79d !important;
  font-size: 16px;
}
.goldenrama-deal .slick-prev:hover,
.goldenrama-deal .slick-next:hover {
  color: #00a79d;
}
.goldenrama-deal .slick-prev:hover:before,
.goldenrama-deal .slick-next:hover:before {
  color: #00a79d !important;
}
.goldenrama-deal .slick-next {
  right: -20px !important;
}
@media (max-width: 780px) {
  .goldenrama-deal .slick-next {
        right: -28px !important;
  }
}
.goldenrama-deal .slick-next:before {
  content: "\f105";
}
.goldenrama-deal .slick-prev {
  left: -14px !important;
}
@media (max-width: 780px) {
  .goldenrama-deal .slick-prev {
    /*left: 0px !important;*/
  }
}
.goldenrama-deal .slick-prev:before {
  content: "\f104";
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

.navbar-golden-right {
    margin-top:-40px;
    display:flex;
}

.shoping-cart-wrapper {
    margin-top:auto;
    min-width:25px;
    margin-bottom:auto;
}
.shopping-cart .count {
    position: absolute;
    color: #fff;
    padding: 0px 5px;
    font-size: 13px;
    background-color: transparent;
    top: 0px !important;
    left: 29px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

.shopping-cart .count:before {
    left:-1px;
    position: absolute;
    content:'(';
}
.shopping-cart .count:after {
    left:15px;
    position: absolute;
    content:')';
    top:0px;
}

.golden-login-register-wrapper {
    margin-top:auto;
    margin-bottom:auto;
}
.golden-login-register-wrapper .container-login {
    position:relative;
    margin-right: 12px;
}
.navbar-golden-center--top li:first-child a {
    padding-left:0px !important;
}

.navbar-golden-center--top li:last-child a {
    padding-right:0px !important;
}
.navbar-golden-left {
    display:flex;
}
.navbar-golden-left .navbar-golden-logo {
    margin-top:auto;
    margin-bottom: auto;
    
}
.navbar-golden-leftest {
    display:none;
}

.navbar-golden .btn:focus, .navbar-golden .btn.focus, .navbar-golden .btn:active{
    color: #fff;
    text-decoration: none;

}
.navbar-golden .btn.btn-modal.btn-login:after {
    content: "|";
    padding-left: 5px;
}

.navbar-golden-right .container-login ul li a.btn-login:hover,
.navbar-golden-right .container-login ul li a.btn-login:active,
.navbar-golden-right .container-login ul li a.btn-login:focus,
.navbar-golden-right .container-login ul li a.btn-login {
  padding-right:0px;
}
.navbar-golden-right .container-login ul li a.btn-register:hover,
.navbar-golden-right .container-login ul li a.btn-register:active,
.navbar-golden-right .container-login ul li a.btn-register:focus,
.navbar-golden-right .container-login ul li a.btn-register {
  padding-left:0px;
}
.navbar-golden-wrapper {
    background-color:#585858;
}

/*5.2 SHOW PRODUCT */
.txt-product-total {
  text-align: right;
  font-weight: bold;
}
.separate-show-product {
  border: 1px solid #DCDCDC;
  margin-bottom: 20px;
  margin-top: 10px;
}
.container-sort .content-show {
  text-align: right;
}
.content-sort-element {
  display: inline-block;
}
.cs-text-sortby,
.cs-text-show {
  font-weight: bold;
  margin-right: 10px;
}

.cs-text-show {
  margin-left: 20px;
}
.cs-control-sortby {
  width: 200px;
  position: relative;
}
.cs-control-sortby select {
  border-radius: 0;
}
.cs-control-sortby .control-caret,
.cs-control-show .control-caret {
  width: 42px;
  height: 32px;
  background-color: #DF3F49;
  position: absolute;
  right: 1px;
  top: 1px;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
}
.cs-control-show {
  width: 125px;
  position: relative;
}
.cs-control-show select {
  border-radius: 0;
}
.container-product-show {
  margin-top: 20px;
}
.select-imlasvegas {
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #df3f49, #df3f49);
  background-size: 8px 8px, 8px 8px, 2.8em 2.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/*5.2 END SHOW PRODUCT */
.btn-forgot-password  {
    color:#000;
}

@media (max-width: 1199px) {
    .product-wrapper--image {
        height: 183px;
    }
    .container-qty .qty-wrapper{
        width: 75px;
    }
}

@media (max-width: 991px) {
    .navbar-golden {
        flex-wrap: wrap;
    }
    .navbar-golden-left {
        flex-basis: 50%;
        order:1;
        text-align:left;
        padding-left: 15px;
        
    }
    .navbar-golden-center {
        flex-basis: 100%;
        order:3;
        padding: 20px 15px 0px 15px;
        
       
    }
    .navbar-golden-center .navbar-nav {
        margin:0px 0px 10px 0px;
    }
    .navbar-golden-right {
        flex-basis: 50%;
        order:2;
    }
    .navbar-golden-right .golden-login-register-wrapper {
        margin-left:auto;
    }
    .navbar-golden-right .shoping-cart-wrapper {
        padding-right: 50px;
    }
    .menu-category {
        max-width: 100%;
        margin-left:0px;
        margin-right:0px;
        width:100%;
    }
    .section-about {
        margin-bottom: 60px;
    }
    .product-wrapper--image {
        height: 128px;
    }
    .category-deal .product-wrapper--image {
        max-height: 125px;
    }
    .category-deal .product-wrapper {
   
        height: 235px !important;
        max-width: 100% !important;
    }
    .footer-newsletter .newsletter-title {
        text-align: center;
    }
    .footer-newsletter .footer-desc {
        text-align: center;
    }
    .footer-newsletter .footer-form input[type="text"] {
        width:533px;
    }
    .btn.btn-newsletter {
        width: 132px;
    }
    footer .social-media-bottom {
        text-align:left;
    }
        .navbar-golden-right {
    margin-top: 0px;
}

}
.shopping-cart .container-shopping-cart-icon{
    padding-top: 10px;
}
@media (max-width: 767px) {
    .navbar-golden {
        padding-bottom: 85px;
        
    }
    .navbar-golden.mobile-menu-show {
        padding-bottom:0px;
    }
   .navbar-golden-leftest {
        display:flex;
        order:1;
        flex-basis: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;        
    }
    .navbar-golden-left {
        flex-basis: auto;
        order:2;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .navbar-golden-center {
        flex-basis: 100%;
        order:4;
        padding: 20px 0px 0px 0px;
        display:none;
       
    }
    
    .navbar-golden-center ul.nav {
        display:block;
        margin-top:55px;
        border-top:1px solid #ccc;
    }
    .navbar-golden-center ul.nav.navbar-golden-center--top li {
        padding-left:45px;
        padding-top:5px;
        padding-bottom:5px;
    }
    .navbar-golden-center ul.nav.navbar-golden-center--top a {
        padding-left:0px;
    }
    .navbar-golden-center .navbar-golden-center--bottom {
        display:none;
       
    }
    
    .navbar-golden-right {
        flex-basis: 100px;
        order:3;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;        
    }
    #btn-search.btn , #btn-bar.btn, .container-shopping-cart-icon .icon-shopping-cart {
        font-size:20px;
    }
    
    .golden-login-register-wrapper  .container-login.hidden-xs {
        display:block!important;
    }
    
    
    .golden-login-register-wrapper .container-login.hidden-xs {
        display: block!important;
        position: absolute;
        width: 100%;
        left: 0;
        top: 120px;
        text-align: center;
    }
    .golden-login-register-wrapper .container-login.hidden-xs .caret-login-wrapper {
        display:none;
    }
    
    
    .btn.btn-newsletter {
        width: 157px;
        
    }
    .product-wrapper--image {
        height: auto;
    }
    .category-deal .product-wrapper--image {
        max-height: 100%;
    }
    .category-deal .product-wrapper {
        max-width:100%!important;
        height:auto!important;
    }
    .category-deal .product-wrapper .product-wrapper--description {
        position:relative;
    }
    .category-deal .product-wrapper .product-wrapper--description-price {
        bottom: 0px;
    }
}

@media (max-width: 480px) {
    #main-content #home_slideshow-slider .carousel-control.left{
        margin-left: 5px;
    }
    #main-content #home_slideshow-slider .carousel-control.right{
        margin-right: 5px;
    }
    .tiles-item-desc {
        margin-bottom: 50px;
    }
    .section-about {
        margin-bottom: 10px;
    }
}


@media (max-width: 320px) {
    .btn.btn-newsletter {
    margin: 0 auto;
    display: block;
    width: 130px;
  }
}

.btn-imlasvegas-light:hover, .btn-imlasvegas-light:focus, .btn-imlasvegas-light:active{
    background-color: #286090 !important;
}
.el-box-message-container{

    clear: both;
    max-height: 100%;
    margin-bottom: 5px;
}
.el-box-message-container.el-right .el-box-message{
    float: none;   
}
.el-box-message-container .el-box-message{
    float: right;   
}

.el-box-message .ico-user-wrap img {
    width: 55px;
    border-radius: 50%;
    margin-right: 10px;
}

.carousel-indicators  {
    display: none !important;
}
