/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2016, 7:04:31 PM
    Author     : Hery
*/


@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/media/font/opensans/OpenSans-SemiboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/media/font/opensans/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/media/font/opensans/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/media/font/opensans/OpenSans-Regular.woff) format('woff');
}

.container-floor {
    font-family: 'Open Sans';

}

.container-floor .menu .container {
    /*
    margin-left:-15px;
    margin-right:-15px;
    */
}
/*
.container-floor .menu ul#menu-categories {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
}
*/

.container-floor .slide.slide-show img {
    height:475px;
}


.container-floor .slide.slide-show ol.carousel-indicators li {
    width:18px;
    height:18px;
    background-color: #d1d3d4;
    border-color: #d1d3d4;
}    

.container-floor .slide.slide-show ol.carousel-indicators li.active {
    background-color: #939598;
    border-color: #939598;
}


@media all and (max-width: 992px) {


    .container-floor li.categories.category-menu {

    
        position: absolute !important;
    }
    .container-floor .slide.slide-show img {
        width:100%;
        max-height:auto;
        height:auto;
    }
    
    .container-floor .slide.slide-show ol.carousel-indicators li {
        width:9px;
        height:9px;

    }  
    
    .container-floor .container container-menu {
        padding-left:0px;
        padding-right:0px;
    }
    
    .container-floor ul.categories {
        
        position: absolute !important;
        top: 44px !important;

    }
    
    
    .container-floor ul.categories li a:after {
        display:block !important;
        content:" ";

    }
  
    .container-floor ul.categories li.open > ul {
        display: block !important;
    }
    .container-floor ul.categories li.dropdown-submenu.open > a:after {

        border-color: transparent;
        border-top-color: #fff;
        border-style: solid;
        border-width: 5px 5px 0px 5px;

    }
    
    .container-floor ul.categories li.dropdown-submenu > a:after {

        
        border-left-color: #fff;

    }
    

    
    .container-floor ul.categories li.open > ul {
      display:block !important;
    }
    
    .container-floor #nav-side-bar.padding-0 {
        padding:5px !important;
    }
    .container-floor #nav-side-bar , .container-floor #nav-side-bar i.font-red, .container-floor #nav-side-bar .nav-side-bar-label{
        background-color: #fe0100;
        color:#fff !important;
        cursor:pointer;
    }
    .container-floor #nav-side-bar .nav-side-bar-label {
        margin-top:8px;
    }
    .container-floor #nav-side-bar i.font-red {
        font-size:22px !important;
    }
    
   
}
@media all and (max-width: 768px) {
    .container-floor li.categories.category-menu {

    
        position: relative !important;
    }
}

.container-floor .deal-border {
    border-top:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
}


.container-floor .deal-border .deal-control {
}

.container-floor .deal-border .deal-control.deal-control-left {
    float:left;
}
.container-floor .deal-border .deal-control.deal-control-right {
    float:right;
}

.container-floor .bg-white.hidden-sm.hidden-xs {
    display:block !important;
}

.container-floor .deal-border .link-deal, .container-floor .deal-border .link-deal.active {
    display:block;
    float: none;
    border:1px solid #fe0100 !important;
    background-color: #fe0100;
    color:#fff !important;
    width:100% !important;
    font-weight:bold;
    font-size:23.5px;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;

    
}

.container-floor .deal-border .carousel.slide .row {
    margin-left:0px;
    margin-right:0px;
    
}

.container-floor .deal-border .carousel.slide .carousel-indicators {
    display:none;
}
.container-floor .deal-border .product-container {
    border:1px solid #ccc;
}
.container-floor .deal-border .box-product {
    border:1px solid #ccc;
    height:auto !important;
    margin-bottom:0px;
}

.container-floor .deal-border .owl-controls {
    display:none !important;
}

.container-floor .deal-border br {
    height:0px !important;
    display:none;
}

.container-floor .bg-gray.banner {
    background-color:#fff !important;
}

.container-floor .bg-gray.banner > .container{

    padding-right: 0px;
    padding-left: 0px;
}


.container-floor .menu-product > .container{

    padding-right: 0px;
    padding-left: 0px;
}

.container-floor .menu-product #product-line1-container .box-product {
    border:1px solid #ccc;
    height:auto !important;
    margin-bottom:30px;
}

.container-floor .menu-product #product-line1-container .box-product .product.margin-bottom-10 {
    
    margin-bottom: 0px !important;
}

.container-floor .menu-product #product-line1-container .box-product .product-bottom-container {
    background-color: #fe0100;
    
    margin-left: -10px;
    margin-right: -10px;
    padding-left:10px;
    padding-right:10px;
    

}

.container-floor .menu-product #product-line1-container .box-product .product-bottom-container .font-gray,
.container-floor .menu-product #product-line1-container .box-product .product-bottom-container .font-black {
    
    color:#fff !important;
}

.container-floor .menu-product #product-line1-container .box-product .product .name {
    border-bottom:0px;
    text-align:center;
    height:25px;
    font-size:10px;
    font-weight:bold;
}

.container-floor .menu-product #product-line1-container .box-product .product-price-container {
    margin:auto;
}

.container-floor .menu-product #product-line1-container .box-product .product-price-container.pull-right {
    float:none !important;
    text-align: center;
}

.container-floor .menu-product #product-line1-container .box-product .product-price-container.pull-right .text-right{
    text-align:left;
    display:inline;
    font-size:10px !important;
    line-height: 12px;
}

.container-floor .menu-product #product-line1-container .product img{
    height:202.5px;
}


.container-floor .menu-product #product-line1-container .box-product .product-bottom-container .flag-yellow,
.container-floor .menu-product #product-line1-container .box-product .product-bottom-container .flag-red {

    display:none;
}

.container-floor .menu-product #product-line1-container .box-product .product-price-container.pull-right .text-right.bottom-product-price-promo{
    font-size:10px !important;
}

.container-floor .menu-product #product-line1-container .box-product .product-price-container.pull-right .text-right.bottom-product-price-promo:before{
    
}


.container-floor .menu-product #product-line1-container {
    padding-left:30px !important;
}


/* product line container 2 */

.container-floor .menu-product #product-line2-container .box-product {
    border:1px solid #ccc;
    height:auto !important;
    margin-bottom:30px;
}

.container-floor .menu-product #product-line2-container .box-product .product.margin-bottom-10 {
    
    margin-bottom: 0px !important;
}

.container-floor .menu-product #product-line2-container .box-product .product-bottom-container {
    background-color: #fe0100;
    
    margin-left: -10px;
    margin-right: -10px;
    padding-left:10px;
    padding-right:10px;
    

}

.container-floor .menu-product #product-line2-container .box-product .product-bottom-container .font-gray,
.container-floor .menu-product #product-line2-container .box-product .product-bottom-container .font-black {
    
    color:#fff !important;
}

.container-floor .menu-product #product-line2-container .box-product .product .name {
    border-bottom:0px;
    text-align:center;
    height:25px;
    font-size:10px;
    font-weight:bold;
}

.container-floor .menu-product #product-line2-container .box-product .product-price-container {
    margin:auto;
}

.container-floor .menu-product #product-line2-container .box-product .product-price-container.pull-right {
    float:none !important;
    text-align: center;
}

.container-floor .menu-product #product-line2-container .box-product .product-price-container.pull-right .text-right{
    text-align:left;
    display:inline;
    font-size:10px !important;
    line-height: 12px;
}

.container-floor .menu-product #product-line2-container .product img{
    height:202.5px;
}


.container-floor .menu-product #product-line2-container .box-product .product-bottom-container .flag-yellow,
.container-floor .menu-product #product-line2-container .box-product .product-bottom-container .flag-red {

    display:none;
}

.container-floor .menu-product #product-line2-container .box-product .product-price-container.pull-right .text-right.bottom-product-price-promo{
    font-size:10px !important;
}

.container-floor .menu-product #product-line2-container .box-product .product-price-container.pull-right .text-right.bottom-product-price-promo:before{
    
}


.container-floor .menu-product #product-line2-container {
    padding-left:30px !important;
}


.container-floor .product .promo {
    right: 0px;
}


.container-floor .container-category .category-header {
    
}



.container-floor .container-category.container-category-1 .category-header-background,
.container-floor .container-category.container-category-1 .category-header-title {
    background-color:#2b3990;
}
.container-floor .container-category.container-category-2 .category-header-background,
.container-floor .container-category.container-category-2 .category-header-title {
    background-color:#1c75bc;
}
.container-floor .container-category.container-category-3 .category-header-background,
.container-floor .container-category.container-category-3 .category-header-title {
    background-color:#8f53a1;
}
.container-floor .container-category.container-category-4 .category-header-background,
.container-floor .container-category.container-category-4 .category-header-title {
    background-color:#75bee9;
}
.container-floor .container-category.container-category-5 .category-header-background,
.container-floor .container-category.container-category-5 .category-header-title {
    background-color:#f598a4;
}
.container-floor .container-category.container-category-6 .category-header-background,
.container-floor .container-category.container-category-6 .category-header-title {
    background-color:#9e1f63;
}
.container-floor .container-category.container-category-7 .category-header-background,
.container-floor .container-category.container-category-7 .category-header-title {
    background-color:#594a42;
}
.container-floor .container-category.container-category-8 .category-header-background,
.container-floor .container-category.container-category-8 .category-header-title {
    background-color:#f7941e;
}
.container-floor .container-category.container-category-9 .category-header-background,
.container-floor .container-category.container-category-9 .category-header-title {
    background-color:#c49a6c;
}
.container-floor .container-category.container-category-10 .category-header-background,
.container-floor .container-category.container-category-10 .category-header-title {
    background-color:#603913;
}


.container-floor .container-category.container-category-1 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #2b3990; 
    border-bottom:6px solid #2b3990; 
}
.container-floor .container-category.container-category-2 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #1c75bc; 
    border-bottom:6px solid #1c75bc; 
}
.container-floor .container-category.container-category-3 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #8f53a1; 
    border-bottom:6px solid #8f53a1; 
}
.container-floor .container-category.container-category-4 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #75bee9; 
    border-bottom:6px solid #75bee9; 
}
.container-floor .container-category.container-category-5 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #f598a4; 
    border-bottom:6px solid #f598a4; 
}
.container-floor .container-category.container-category-6 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #9e1f63; 
    border-bottom:6px solid #9e1f63; 
}
.container-floor .container-category.container-category-7 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #594a42; 
    border-bottom:6px solid #594a42; 
}
.container-floor .container-category.container-category-8 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #f7941e; 
    border-bottom:6px solid #f7941e; 
}
.container-floor .container-category.container-category-9 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #c49a6c; 
    border-bottom:6px solid #c49a6c; 
}
.container-floor .container-category.container-category-10 .category-header .category-header-title:after {
    border:6px solid transparent; 
    border-left:6px solid #603913; 
    border-bottom:6px solid #603913; 
}


.container-floor .container-category .category-header-background {
    position:absolute;
    width:100%;
    height:37px;
    bottom:0px;
    
}

.container-floor .container-category .category-control {
    float:right;
    padding:5px;
    cursor:pointer;
}
.container-floor .container-category {
    margin-bottom:18px;
    margin-top:18px;
}

.container-floor .category-header {
    height:48px;
    color:#fff;
    font-size:18px;
    font-weight:bold;

    position:relative;
}



.container-floor .category-header .category-header-title {
   
    padding-top:10px;
    padding-left:10px;
    height:48px;
    width:400px;
    position:absolute;
    left:0px;
    top:0px;
}


.container-floor .category-header .category-header-title a {
    color:#fff;
}
.container-floor .category-header .category-header-title a:hover {
    color:#fff;
}

.container-floor .category-body .box-product {
    height:auto !important;
    margin-bottom:0px;
}


@media (max-width:500px) {
    .container-floor .category-header .category-header-title {
        width:96%;
    }
    .container-floor .category-header .category-header-title {
        font-size:12px;
    }

}

@media (max-width:768px) {

    .container-floor .category-body .box-product {
        margin-top:10px;
    }
}

.container-floor .category-header .category-header-title:after {
    position:absolute;
    width:0px;
    height:0px;
    content:"";
    left: 100%;
    top: 0px;
}

.container-floor .category-header .category-no {
    border:1px solid #fff;
    width:30px;
    height:30px;
    display:inline-block;
    padding:2px;
    text-align:center;
    border-radius:15px;
    border:4px solid #fff;
    padding-top:0px;
    font-size:16px;
}

.container-floor .category-header .category-name {
    margin-left:15px;
}


.container-floor .category-header .category-space {
   height:11px;
   width:100%;
   display:inline-block;
       
    
}

.container-floor .category-body {
    background-color:#f1f2f2;
    min-height:461px;
    padding-left:15px;
    padding-right:15px;
}

.container-floor .category-body .col-category-image {

   padding-left:0px !important;
   padding-right: 0px !important;
   
}

.container-floor .category-body img.category-image {
   width:100%;

   
}

.container-floor .category-body .product {
    margin-bottom: 3px !important;
}

.container-floor .category-body .product .product-image-container {
    background-color:#fff;
}
.container-floor .category-body .product img {
    width: 120px !important;
    max-width: 100% !important;
    height: 155px !important;
    display: inline-block !important;
}

.container-floor .category-body .product .name {
    height:35px;
    display: block;
    overflow: hidden;
}
.container-floor .category-body .col-category-right-cloned {
    display:none;
}

.container-floor .category-body .col-category-right.active {
    display:block;
}
.container-floor .category-body .col-category-right.inactive {
    display:none;
}

/* Line-On-Sides Headers */



.line-side-header {
  text-align: center;
  overflow:hidden;
}
.line-side-header span {
  display: inline-block;
  position: relative;  
  height:50px;
  font-size:36px;
  color:#000;
}
.line-side-header span:before,
.line-side-header span:after {
    content: "";
    position: absolute;
    height: 22px;
    border-bottom: 2px solid #ccc;
    border-top: 1px solid white;
    top: 0;
    width: 220%;
}
.line-side-header span:before {
  right: 100%;
  margin-right: 45px;
}
.line-side-header span:after {
  left: 100%;
  margin-left: 45px;
}
@media all and (max-width: 992px) {
    
}

/* carousel */
.carousel-showsixmoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showsixmoveone .carousel-control.left {
  margin-left: 15px;
}
.carousel-showsixmoveone .carousel-control.right {
  margin-right: 15px;
}
.carousel-showsixmoveone .cloneditem-1,
.carousel-showsixmoveone .cloneditem-2,
.carousel-showsixmoveone .cloneditem-3,
.carousel-showsixmoveone .cloneditem-4,
.carousel-showsixmoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showsixmoveone .carousel-inner > .active.left,
  .carousel-showsixmoveone .carousel-inner > .prev {
    left: -33.333%;
  }
  .carousel-showsixmoveone .carousel-inner > .active.right,
  .carousel-showsixmoveone .carousel-inner > .next {
    left: 33.333%;
  }
  .carousel-showsixmoveone .carousel-inner > .left,
  .carousel-showsixmoveone .carousel-inner > .prev.right,
  .carousel-showsixmoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showsixmoveone .carousel-inner .cloneditem-1,
  .carousel-showsixmoveone .carousel-inner .cloneditem-2 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showsixmoveone .carousel-inner > .item.active.right,
  .carousel-showsixmoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.333%, 0, 0);
            transform: translate3d(33.333%, 0, 0);
    left: 0;
  }
  .carousel-showsixmoveone .carousel-inner > .item.active.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.333%, 0, 0);
            transform: translate3d(-33.333%, 0, 0);
    left: 0;
  }
  .carousel-showsixmoveone .carousel-inner > .item.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev.right,
  .carousel-showsixmoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showsixmoveone .carousel-inner > .active.left,
  .carousel-showsixmoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showsixmoveone .carousel-inner > .active.right,
  .carousel-showsixmoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showsixmoveone .carousel-inner > .left,
  .carousel-showsixmoveone .carousel-inner > .prev.right,
  .carousel-showsixmoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showsixmoveone .carousel-inner .cloneditem-3,
  .carousel-showsixmoveone .carousel-inner .cloneditem-4,
  .carousel-showsixmoveone .carousel-inner .cloneditem-5 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showsixmoveone .carousel-inner > .item.active.right,
  .carousel-showsixmoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
            transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showsixmoveone .carousel-inner > .item.active.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
            transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showsixmoveone .carousel-inner > .item.left,
  .carousel-showsixmoveone .carousel-inner > .item.prev.right,
  .carousel-showsixmoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}



@media (max-width:600px) {
    .testing.mboko {
        display:none;
    }
    .testing.hery {
        display:block;
    }
}