/*      Adapt 62hallfamily.css (only need)  */
@import url("62hallfamily.css");
/*
Theme Name: hallmall
Version: 1.0.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global variable
# Components
# Normalize
# Typography
# Elements
# Forms
# Navigation
        ## Links
        ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
        ## Product
        ## Posts and pages
        ## Comments
# Infinite scroll
# Media
        ## Captions
        ## Galleries
        ## Animations
# Responsive
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global Variable
--------------------------------------------------------------*/
:root {
    --link: #6C6C6C;
    --linkhover: #1A3555;
    --darkbluegradient: #204065;
    --darkblue: #132944;
    --white: #ffffff;
    --red-maroon: #953735;
    --red-maroon-dark: #832523;
    --main-bg: #ECECEC;         /* #F2F2F2; */
    --footer-bg: #254061;
    --product-hover: #FDEADA;
    --dark-border: #DADADA;
    --deep-dark: #989898;
    --dark-yellow: #FAAF40;
    --orange : #F7941E;
    --green: #449D44;
    --cyan: #365e90;
    --light-green: #8dd344;
    --dark-green: #5b8a29;
}
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
a { color: var(--link); }
a:hover, a:visited { color: var(--linkhover); }

.label-dropdown {}
.label-dropdown::after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    float: right;
    margin-left: 5px;
}
ul.social-media {}
/*    ul.social-media li {
        background-image: url(../../img/62hallmall/social-media-icons.png);
        margin-right: 7px;
        border-radius: 7px;
        background-size: 600px;
    }
        ul.social-media li a {
            height: 54px;
            display: block;
            width: 44px;
            text-indent: -9999px;
        }
    ul.social-media li.media_fb {
         background-position: -10px -8px;
    }
        ul.social-media li.media_fb:hover {
            background-position: -10px -362px;
        }
    ul.social-media li.media_tw {
        background-position: -75px -8px ;
    }
        ul.social-media li.media_tw:hover {
            background-position: -75px -362px;
        }
    ul.social-media li.media_ig {
        background-position: -404px -8px;
    }
        ul.social-media li.media_ig:hover {
            background-position: -404px -362px;
        }
    ul.social-media li.media_gp {
        background-position: -207px -8px ;
    }
        ul.social-media li.media_gp:hover {
             background-position: -207px -362px;
        }
    ul.social-media li.media_yt {
        background-position: -536px -8px ;
    }
        ul.social-media li.media_yt:hover {
             background-position: -536px -361px;
        }*/
    ul.social-media li {
        background-image: url(../../img/62hallmall/social-media-icons.png);
        margin-right: 7px;
        border-radius: 7px;
        background-size: 410px;
    }
        ul.social-media li a {
            height: 35px;
            display: block;
            width: 26px;
            text-indent: -9999px;
        }
    ul.social-media li.media_fb {
         background-position: -7px -6px;
    }
        ul.social-media li.media_fb:hover {
            background-position: -7px -248px;
        }
    ul.social-media li.media_tw {
        background-position: -52px -6px ;
    }
        ul.social-media li.media_tw:hover {
            background-position: -52px -248px;
        }
    ul.social-media li.media_ig {
        background-position: -277px -6px;
    }
        ul.social-media li.media_ig:hover {
            background-position: -277px -248px;
        }
    ul.social-media li.media_gp {
        background-position: -142px -6px;
    }
        ul.social-media li.media_gp:hover {
             background-position: -142px -248px;
        }
    ul.social-media li.media_yt {
        background-position: -536px -8px ;
    }
        ul.social-media li.media_yt:hover {
             background-position: -536px -361px;
        }    
    
        
ul.mobile-apps {}
    ul.mobile-apps li {
        background-image: url(../../img/62hallmall/app-icon.png);
        background-size: 190px;
    }
        ul.mobile-apps li a {
            display: block;
            height: 54px;
            text-indent: -9999px;
            width: 167px;
        }
    ul.mobile-apps li.playstore {
         background-position: -7px -72px;
    }
    ul.mobile-apps li.appstore {
         background-position: -7px -13px;
    }
    ul.mobile-apps li.playstore.coming-soon {
         background-position: -7px -190px;
    }
    ul.mobile-apps li.appstore.coming-soon {
         background-position: -7px -131px;
    }
ul.payment-method {}
    ul.payment-method li {
        width: 100px;
        height: 50px;
        margin-bottom: 5px;
        margin-right: 5px;
        overflow: hidden;
        text-align: center;
    }
    ul.payment-method li:before {
        content: ' ';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    ul.payment-method li:last-child {
        margin-right: 0px;
    }
    ul.payment-method li > img {
        vertical-align: middle;
        display: inline-block;
    }
    
    ul.payment-method li.bank-transfer {
        background-image: url("../../img/62hallmall/kinerjamall/banktt.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 38px;
        text-indent: -9999px;
        width: 100%;
    }
    ul.payment-method li.kinerjapay {
        background-image: url("../../img/62hallfamily/kinerjawallet.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 48px;
        margin-right: 20px;
        text-indent: -9999px;
        width: 120px;
    }
    ul.payment-method li.paypal {
        background-image: url("../../img/62hallfamily/paypal.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 48px;
        margin-right: 20px;
        text-indent: -9999px;
        width: 120px;
    }
    ul.payment-method li.bitcoin {
        background-image: url("../../img/62hallfamily/bitcoin.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 48px;
        margin-right: 20px;
        text-indent: -9999px;
        width: 120px;
    }
    ul.payment-method li.permata-va {}
    ul.payment-method li.mandiri-ib {}
    ul.payment-method li.speedcash {}
    
ul.expedition-list {}
    ul.expedition-list li {
        width: 100px;
        height: 50px;
        margin-bottom: 5px;
        margin-right: 5px;
        overflow: hidden;
        text-align: center;
    }
    
    ul.expedition-list li:before {
        content: ' ';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    ul.expedition-list li:last-child {
        margin-right: 0px;
    }
    ul.expedition-list li > img {
        vertical-align: middle;
        display: inline-block;
    }
    
    ul.expedition-list li.jne {
        background-image: url("../../img/62hallmall/kinerjamall/ekspedisi.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 38px;
        text-indent: -9999px;
        width: 100%;
    }
    
ul.verified-list {}
    ul.verified-list li {
        width: 200px;
        height: 100px;
        margin-bottom: 5px;
        margin-right: 5px;
        overflow: hidden;
        text-align: center;
    }
    
    ul.verified-list li:before {
        content: ' ';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    ul.verified-list li:last-child {
        margin-right: 0px;
    }
    ul.verified-list li > img {
        vertical-align: middle;
        display: inline-block;
    }
    
    ul.vefiried-list li.geo-trust {
        background-image: url("../../img/62hallmall/kinerjamall/geo-trust.png");
        background-repeat: no-repeat;
        text-indent: -9999px;
        /*background-size: 100% auto;*/
        height: 70px;
        width: 141px;
        /*width: 100%;*/
    }
    
.carousel-title-icon {
    background-image: url("../../img/62hallmall/sprite.png");
    width: 33px;
    height: 33px;
    display: inline-block;
    text-indent: -9999px;
    margin-right: 10px;
    background-size: 600px;
    line-height: 1.3;
}
    .carousel-title-icon.today-deal {
        background-position: -209px -6px;
    }
    .carousel-title-icon.popular {
        background-position: -253px -6px;
    }

/*  Custom owl carousel */
.custom-carousel .owl-controls {
    position: absolute;
    width: 100%;
    top: 45%;
}

    /* Styling Next and Prev buttons */
    .custom-carousel .owl-controls .owl-buttons div{
        background: #B2B2B2;
        zoom: 1;
        display: inline-block;
        *display: inline;/*IE7 life-saver */
        opacity: 0.5;
        filter: Alpha(Opacity=50);/*IE7 fix*/
        border-radius: 4px;
        font-size: 26px;
        transform: scale(1,2);
        -webkit-transform:scale(1,2); /* Safari and Chrome */
        -moz-transform:scale(1,2); /* Firefox */
        -ms-transform:scale(1,2); /* IE 9 */
        -o-transform:scale(1,2); /* Opera */
        font-weight: lighter;
        padding: 0px 4px;
    }
        .custom-carousel .owl-controls .owl-buttons .owl-prev {
            position: absolute;
            left: -10px;
        }
        .custom-carousel .owl-controls .owl-buttons .owl-next {
            right: -10px;
            position: absolute;
        }
    /* Clickable class fix problem with hover on touch devices */
    /* Use it for non-touch hover action */
    .custom-carousel .owl-controls.clickable .owl-buttons div:hover{
        filter: Alpha(Opacity=100);/*IE7 fix*/
        opacity: 1;
        text-decoration: none;
    }

    /* Styling Pagination*/
    .custom-carousel .owl-controls .owl-page{
        display: inline-block;
        zoom: 1;
        *display: inline;/*IE7 life-saver */
    }
        .custom-carousel .owl-controls .owl-page span{
            display: block;
            width: 12px;
            height: 12px;
            margin: 5px 7px;
            filter: Alpha(Opacity=50);/*IE7 fix*/
            opacity: 0.5;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #869791;
        }

        .custom-carousel .owl-controls .owl-page.active span,
        .custom-carousel .owl-controls.clickable .owl-page:hover span{
            filter: Alpha(Opacity=100);/*IE7 fix*/
            opacity: 1;
        }
        /* If PaginationNumbers is true */
        .custom-carousel .owl-controls .owl-page span.owl-numbers{
            height: auto;
            width: auto;
            color: #FFF;
            padding: 2px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
        }
/*  Newsticker OwlCarousel */

.newsticker-wrapper {
    /*height: 22px;*/
}
.newsticker-carousel {}
    .newsticker-wrapper .p-newsticker {
        display: none;
    }
    .newsticker-wrapper .owl-carousel .p-newsticker {
        display: block;
    }
    
    .newsticker-carousel .item {
        /*display: none;*/
    }
    .newsticker-carousel .owl-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.hallmall-cart-dialog {}
    .hallmall-cart-dialog .modal-content {
        border: 0 none;
        border-radius: 8px;
        padding: 10px;
    }
        .hallmall-cart-dialog .modal-content .modal-header {
            background-color: var(--dark-yellow);
            border: 0 none;
            color: #000;
            padding: 0;
        }
            .hallmall-cart-dialog .modal-content .modal-header .modal-title {
                color: unset;
                font-size: 16px;
                padding: 7px;
                text-transform: uppercase;
            }
            .hallmall-cart-dialog .modal-content .modal-header button.close {
                color: unset;
                right: 20px;
                top: 18px;
            }
        .hallmall-cart-dialog .modal-content .modal-body {
            padding: 10px 0;
        }
        .hallmall-cart-dialog table {}
        .hallmall-cart-dialog table thead tr th {
            background-color: var(--main-bg);
        }
        .hallmall-cart-dialog table tbody tr td {}
        .hallmall-cart-dialog table tfoot tr td {
            background-color: var(--main-bg);
        }
/*  Buttons */
.btn-flex {
    border-radius: 0;
}
.btn-auth {
    background-color: var(--red-maroon);
    color: var(--white);
    padding: 4px 10px !important;
}
    .btn-auth:hover {
        background-color: var(--red-maroon-dark);
        color: var(--white);
    }
.btn.btn-buy {
    background-image: url("../../img/62hallmall/kinerjamall/kinerja-btn.jpg");
    background-repeat: no-repeat;
    background-size: 137px auto;
    width: 139px;
    height: 45px;
    text-indent: -9999px;
    margin: 0 auto;
    display: block;
}
/*  Inputs */
.form-control {
    border-radius: 0;
}
.featured-image {
    /*width: 100%;*/
    width: calc(100% - 115px);
    height: 400px;
    position: absolute;
}
.featured-image > img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.floor-navigation {
/*    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    width: 100px;
}
    .floor-navigation .floor-navigation-item {
        /*border-bottom: 1px solid #ccc;*/
        height: 100px;
        text-align: center;
        padding: 6px;
    }
    .floor-navigation .floor-navigation-item a {
        color: var(--white);
        padding: 17px 0;
        border-radius: 50%;
        width: 86px;
        height: 86px;
        font-weight: bold;
        border: 3px solid #fff;
        opacity: 0.7;
    }
    .floor-navigation .floor-navigation-item.active a {
        opacity: 1;
    }
        .floor-navigation .floor-navigation-item .top-seller {
            background-color: var(--darkbluegradient);
            box-shadow: 0px 0px 1px 1px var(--darkbluegradient);
        }
        .floor-navigation .floor-navigation-item .top-discount {
            background-color: var(--orange);
            box-shadow: 0px 0px 1px 1px var(--orange);
        }
        .floor-navigation .floor-navigation-item .time-sale {
            background-color: var(--green);
            box-shadow: 0px 0px 1px 1px var(--green);
        }
        .floor-navigation .floor-navigation-item .promo-cicilan, .floor-navigation .floor-navigation-item .new-arrival {
            background-color: var(--red-maroon);
            box-shadow: 0px 0px 1px 1px var(--red-maroon);
        }

.list-category-sidebar {}
    .list-category-sidebar li {}
        .list-category-sidebar li a {
            padding: 0;
            line-height: 1;
        }
        .list-category-sidebar li a::after {
            content: "\f0da";
            margin-left: 5px;
            font-family: 'FontAwesome';
        }
        .list-category-sidebar li a:hover,
        .list-category-sidebar li a:visited{
            text-decoration: underline;
            color: #337ab7;
        }
        .list-category-sidebar li a.active {
            color: #337ab7;
            background-color: #FFF;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
.varian-list {}        
.varian-list li {
    height: 30px;
}        
.brand-image-list {
    /*border-right: 1px solid #ccc;*/
    /*border-left: 1px solid #ccc;*/
    /*width: 100px;*/
}
    .brand-image-list .brand-image-item {
        /*border-bottom: 1px solid #ccc;*/
        height: 100px;
        text-align: center;
        font-size: 0px;
        /*padding: 6px;*/
    }
    .brand-image-list .brand-image-item:before {
        content: ' ';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .brand-image-list .brand-image-item img {
        margin: 0 auto;
/*        max-height: 100%;
        max-width: 100%;*/
        max-height: 90%;
        max-width: 90%;
        display: inline-block;
        vertical-align: middle;
    }


.banner {
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 0px;
}
.banner > img,
.banner > a > img  {
    border: 1px solid #ccc;
}

.usermenu {
    margin: 27px auto;
}
    .usermenu .btn-register {}
        .usermenu .btn-register:hover {}
    .usermenu .btn-login {}
        .usermenu .btn-login:hover {}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
    /*background-color: var(--main-bg);*/
    position: relative;
}
#home {
    background-color: var(--main-bg);
}
header {}
    header #headtop {
        background-color: var(--main-bg);
        border-bottom: 1px solid var(--dark-border);
        box-shadow: 1px 1px 4px 0px var(--dark-border);
        margin-bottom: 5px;
        height: 44px;
        padding: 12px 0;
        font-size: 13px;
    }
        ul.top-navigation {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            float: right;
        }
        ul.top-navigation .font-white{
            color:var(--link) !important;
            font-size:14px !important;
        }
        ul.top-navigation .font-white:hover{
            color:var(--linkhover) !important;
        }
            ul.top-navigation > li {
                display: inline-block;
                text-align: center;
                margin-left: 10px;
            }
                ul.top-navigation > li > a {
                    text-transform: uppercase;
                }

    
    header #header {}
        a.brand-logo {
            display: block;
            margin: 10px auto;
        }
        a.brand-logo > img {
/*            max-width: 100%;
            max-height: 100%;*/
            max-width: 165px;
            max-height: 65px;
        }
        
        .main-search {
            margin: auto 20px;
            padding: 25px 0;
        }
            .main-search form {
/*                display: flex;
                align-content: space-around;*/
                border: 1px solid var(--red-maroon);
                padding: 0px;
                overflow: hidden;
            }
                .main-search form > label {
                    margin: 0;
                    font-weight: normal;
                    float:left;
                }
                .main-search form > label#category-select {
                    min-width: 50px;
                    width: auto;
                    text-align: center;
                    padding: 7.5px 3px;
                    background-color: #E6B9B8;
                    border-right: 1px solid #953735;
                    cursor: pointer;
                }
                    .main-search form #category-select .dropdown-search{
                        border-radius: 0;
                        left: 35px;
                        top: 59px;
                    }
                    
                    .main-search form #category-select .dropdown-search li a:hover {
                        background: var(--red-maroon) !important;
                    }
                    .main-search form > label#category-select > span {}
                .main-search form > label#keyword-search {
                    /*width: 100%;*/
                }
                    .main-search form > label#keyword-search > input {
                        width: 100%;
                        height: 35px;
                        border: none;
                        padding: 0px 10px;
                        outline:none;
                    }
                .main-search form > label#submit-search {
                    width: 100px;
                    float: right;
                }
                    .main-search form > label#submit-search > button {
                        width: 100%;
                        border: none;
                        padding: 7.5px 0;
                        background-color: #953735;
                        color: #fff;
                        text-transform: uppercase;
                }
                
#header.sticky {
    background-color: var(--white);
    box-shadow: 0 -2px 8px #a1a1a1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
#header.sticky .main-search {
    padding: 15px 0;
}
#header.sticky a.brand-logo {
    margin: 5px auto;
}
#header.sticky .usermenu {
    margin: 17px auto;
}

#pre-content {
    margin-top: 10px;
}        
#main-content {
 	/*background-color: var(--main-bg);*/
    padding-bottom: 20px;
}
    .main-menu {
        background-color: var(--white);
    }
    
#bottom-area {
    background-color: var(--white);
    border-top: 1px solid var(--dark-border);
    padding-bottom: 20px;
}
#bottom-area .title {
    text-transform: uppercase;
    font-size: 16px;
}

footer {
    background-color: var(--footer-bg);
    padding: 10px 0 30px 0;
}
    footer ul li a {
        font-size: 13px;
    }
    footer a,
    footer a:visited { color: #b9b9b9; }
    footer a:hover { color: #fff; }
    footer .widget-title {
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 13px;
        margin: 40px auto 15px auto;
        color: var(--white);
    }
    footer .widget-content {
         color: #b9b9b9;
         font-size: 13px;
    }
    footer .widget-content p {
        text-align: justify;
        line-height: 1.3;
    }
    footer .widget-content table {}
    footer .widget-content table tbody tr td {
        padding-right: 20px;
        vertical-align: top;
    }
    footer .widget-content table tbody tr td:last-child {
        padding-right: 0;
    }
    footer .newsletter-form {}
        footer .newsletter-form input {
            border: none;
            border-radius: 0;
            background-color: #365E90;
        }
        footer .newsletter-form input:focus {
            box-shadow: none;
            border: 1px solid #4971a3;
            color: var(--white);
        }
    footer .newsletter-form .btn-area {}
    footer .newsletter-form .btn-area > .btn {
        /*width: 48%;*/
        border-radius: 0;
    }
/*--------------------------------------------------------------
# Navigations
--------------------------------------------------------------*/
.navbar-custom {
    border-bottom: 4px solid var(--darkblue);
    border-radius: 0;
    height: 40px;
    font-size: 13px;
}
.navbar-custom .navbar-collapse {
    padding: 0;
}
.navbar-custom ul.nav {}
.navbar-custom ul.nav li {}
.navbar-custom ul.nav > li.active {
    /*background-color: var(--darkblue);*/
    color: var(--white);
    background: var(--darkblue);
    background: -moz-linear-gradient(top,  var(--darkbluegradient) 0%, var(--darkblue) 70%, var(--darkblue) 100%);
    background: -webkit-linear-gradient(top,  var(--darkbluegradient) 0%,var(--darkblue) 70%,var(--darkblue) 100%);
    background: linear-gradient(to bottom,  var(--darkbluegradient) 0%,var(--darkblue) 70%,var(--darkblue) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--darkbluegradient)', endColorstr='var(--darkblue)',GradientType=0 );

}
.navbar-custom ul.nav > li.active a {
    color : var(--white);
}
.navbar-custom ul.nav li a.dropdown-toggle::after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    float: right;
    margin-left: 10px;
}
.navbar-custom ul.nav li > a,
.navbar-custom ul.nav li > a:visited {
    color: var(--darkblue);
    /*text-transform: capitalize;*/
    padding: 6px 15px;
}
/*    .navbar-custom ul.nav > li a:visited {
        background: var(--darkblue);
    }*/
    .navbar-custom ul.nav > li.active a:visited,
    .navbar-custom ul.nav > li a:focus,
    .navbar-custom ul.nav li > a:hover {
        color: var(--white);
        background: var(--darkblue);
        background: -moz-linear-gradient(top,  var(--darkbluegradient) 0%, var(--darkblue) 70%, var(--darkblue) 100%);
        background: -webkit-linear-gradient(top,  var(--darkbluegradient) 0%,var(--darkblue) 70%,var(--darkblue) 100%);
        background: linear-gradient(to bottom,  var(--darkbluegradient) 0%,var(--darkblue) 70%,var(--darkblue) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--darkbluegradient)', endColorstr='var(--darkblue)',GradientType=0 );
    }
    
    .navbar-custom ul.nav li ul.dropdown-menu {
        border-radius: 0;
    }
    .navbar-custom .dropdown > ul.dropdown-menu {
        background-color: rgba(143, 55, 33, 0.8);
        /*min-height: 400px;*/
    }
        .navbar-custom .dropdown > ul.dropdown-menu > li > a {
            color: var(--white) !important;
        }
        .navbar-custom ul.nav li ul.dropdown-menu li {}
            .navbar-custom ul.nav li ul.dropdown-menu li.dropdown-submenu {
                position: static;
            }
            .navbar-custom ul.nav li ul.dropdown-menu li a {
                color: var(--darkblue);
                text-transform: uppercase;
            }
            ul[class*='child-'] > li > a {
                text-transform: capitalize !important;
            }
            .navbar-custom ul.nav li ul.dropdown-menu li a:hover {
                color: var(--white);
                /*background: var(--darkblue) !important;*/
            }
            .navbar-custom li.categories-submenu ul.dropdown-menu {
                min-width: 290px;
                min-height: 400px;
                left: 100%;
                margin: -1px 0 0 0;
                box-shadow: none;
            }

.floor-elevator-block {
    display: none;
    position: fixed;
    bottom: 20px;
    width: 35px;
    z-index: 99;
}
.floor-elevator-bar {
    left: 30px;
    position: absolute;
    bottom: 0;
    width: 35px;
}
.floor-elevator-bar ul.floor-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.floor-elevator-bar ul.floor-menu > li {
    height: 35px;
    vertical-align: middle;
}
.floor-elevator-bar ul.floor-menu > li > a {
    background-color: var(--dark-yellow);
    color: #fff;
    display: block;
    font-size: 18px;
    padding-bottom: 10px;
    padding: 5px;
    text-align: center;
}
/*.floor-elevator-bar ul.floor-menu > li > a:focus,*/ 
.floor-elevator-bar ul.floor-menu > li > a:hover,
.floor-elevator-bar ul.floor-menu > li.active > a {
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none;
    background-color: var(--red-maroon);
}
.floor-elevator-bar ul.floor-menu > li > a > span {
    display: inline-block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.floor-elevator-bar ul.floor-menu > li > a > span:hover {
    animation-iteration-count: 2;
    transform-origin: 50% 50% 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*--------------------------------------------------------------
    # Icons
--------------------------------------------------------------*/
.icon-shopping-cart{
    width: 45px;
    height: 34px;
    background-image: url("../../img/62hallmall/sprite_icon.png");
    background-position: -7px -70px;
    background-repeat: no-repeat;
    background-size: 500px;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    ## Product
--------------------------------------------------------------*/
.brand-image-container.loading {
    min-height: 400px;
}
.product-floor-container.loading {
    min-height: 400px;
}
li.shopping-cart.loading {
    min-height: 34px;
    width: 45px;
}
.deal-container , .deal-container.loading{
    min-height: 453px;
}
.deal-new-products.loading {
    min-height: 191px;
}

/* Remove default padding of bootstrap, custom by condition     */
.product-floor-container {
    padding-left: 0px;
}
.featured-image-container {
    padding-right: 0px;
}

.deal-container > .slide-header > h3 {
    font-size: 22px;
    line-height: 1.6;
}
.slide-header {
    text-transform: uppercase;
    color: #000;
    margin-top: 30px;
}
.slide-wrapper {
    background-color: var(--white);
    box-shadow: 0px 4px 4px #ccc;
}
    .slide-wrapper .item {
        display: none;
    }
    .slide-wrapper .owl-carousel .item {
        display: block;
    }
.product.product-bar {
    background-color: var(--white);
    margin: 15px 7px 0 0;
    height: 176px;
    box-shadow: inset 0px 0px 1px 1px var(--dark-border);
}
.product.product-bar.last {
    margin: 15px 0px 0 0;
}

.product {
    position: relative;
    padding: 10px 15px;
    transition: background-color 0.5s ease;
}

.product:hover {
    background-color: var(--product-hover);
    box-shadow: inset 0px 0px 1px 1px var(--dark-border);
    /*cursor: pointer;*/
}

.container .product-container{
    transition: background-color 0.5s ease;
}
.container .product-container:hover{
    background-color: var(--product-hover);
    box-shadow: inset 0px 0px 1px 1px var(--dark-border);
}
    .product .product-flag {
        position: absolute;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        top: 0;
        left : 0;
        height: 70px;
        z-index: 1;
    }
        .product .product-flag .promo {
            background-image: url("../../img/62hallmall/sprite.png");
            display: block;
            width: 60px;
            height: 60px;
            background-position: -4px 0px;
            background-size: 350px;
            color: var(--white);
            padding: 18px 20px ;
            text-align: center;
            font-weight: bold;
            transform: rotate(32deg);
            margin-left: -1px;
            left: 0;
        }
        .product .product-flag .guaranted {
            background: url("../../img/62hallmall/sprite.png");
            background-position: -79px -6px;
            background-size: 350px auto;
            height: 40px;
            width: 40px;
            text-indent: -9999px;
            position: absolute;
            top: 12px;
            right: 0px;
        }
        
    .product.product-bar .product-img {
        min-height: 100px;
        height: 100px;
        position: relative;
    }
    .product.product-bar .product-img:before {
        display: unset;
    }
    .product .product-img {
        min-height: 260px;
        height: 260px;
        text-align: center;
    }
        .product .product-img:before {
            content: ' ';
            display: inline-block;
            font-size: 0px;
            height: 100%;
            vertical-align: middle;
        }
    .product .product-img a {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        max-width: calc(100% - 5px);
    }
        .product .product-img a img {}
    .product .product-summary {}
        .product .product-summary .product-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .product .product-summary .product-price {}
            .product .product-summary .product-price .promo-price {
                color: var(--red-maroon);
                font-size: 18px;
            }
            .product .product-summary .product-price .normal-price {
                text-decoration: line-through;
                height: 20px;
            }
        .product .product-summary .product-action {
            margin-top: 10px;
            min-height: 45px;
        }
            .product .product-summary .product-action .time-left {
                text-align: center;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: normal;
            }
                .product .product-summary .product-action .time-left .time {
                    color: green;
                }
.main-product {
    background-color: var(--white);
    border-bottom: 1px solid var(--main-bg);
    border-top: 5px solid var(--dark-yellow);
    margin-top: -4px;
    padding: 30px 0;
}
.main-product-info {
    border-top: 1px solid var(--white);
    padding: 30px 0;
}
.main-related {
    background-color: var(--white);
    border-bottom: 1px solid var(--main-bg);
}
.detail-product {}
    .detail-product .product-summary {
        min-height: 200px;
    }
        .detail-product .product-summary .product-name {}
            .detail-product .product-summary .product-name > .title {
                color: var(--cyan);
                margin: 10px 0;
            }
        .detail-product .product-summary .product-price {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
        }
            .detail-product .product-summary .product-price .normal-price {
                /*text-decoration: line-through;*/
            }
            .detail-product .product-summary .product-price .normal-price .promo-value {
                margin-left: 10px;
            }
            .detail-product .product-summary .product-price .promo-price {
                color: var(--red-maroon);
            }
        .detail-product .product-summary .product-variation {}
            .detail-product .product-summary .product-variation > .title {
                color: var(--cyan);
                font-weight: bold;
                margin: 0;
            }
        .detail-product .product-stock {
            border-top: 1px solid var(--dark-border);
            border-bottom: 1px solid var(--dark-border);
            padding: 10px 0;
            margin: 10px 0;
        }
        .detail-product .product-stock .stock {
            color: var(--red-maroon);
            font-size: 24px;
        }
    .detail-product .product-action {}
    #form-detail-product .btn-green {
        background: var(--light-green); /* Old browsers */
        background: -moz-linear-gradient(top,  var(--light-green) 0%, var(--dark-green) 79%, var(--dark-green) 100%); 
        background: -webkit-linear-gradient(top,  var(--light-green) 0%,var(--dark-green) 79%,var(--dark-green) 100%);
        background: linear-gradient(to bottom,  var(--light-green) 0%,var(--dark-green) 79%,var(--dark-green) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dd344', endColorstr='#5b8a29',GradientType=0 );
        border: 1px solid #00B050;
        border-radius: 0;
        color: #fff;
        font-weight: bold;
        padding: 7px 80px;
    }
    
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    ## Animations
--------------------------------------------------------------*/
.loading {
    margin: auto;
    position: relative;
    min-height: 200px;
}
    .loading div {
        border: 4px solid #fe0100;
        height: 29px;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        vertical-align: middle;
        width: 29px;
        
        animation: cssload-loader 2.3s infinite ease;
        -o-animation: cssload-loader 2.3s infinite ease;
        -ms-animation: cssload-loader 2.3s infinite ease;
        -webkit-animation: cssload-loader 2.3s infinite ease;
        -moz-animation: cssload-loader 2.3s infinite ease;
        vertical-align: middle;
    }
        .loading div i {
            background-color: #fe0100;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            animation: cssload-loader-inner 2.3s infinite ease-in;
            -o-animation: cssload-loader-inner 2.3s infinite ease-in;
            -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
            -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
            -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
        }
@keyframes cssload-loader {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes cssload-loader {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

@-ms-keyframes cssload-loader {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes cssload-loader {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes cssload-loader {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

@keyframes cssload-loader-inner {
    0% { height: 0%; }	
    25% { height: 0%; }
    50% { height: 100%; }
    75% { height: 100%; }
    100% { height: 0%; }
}

@-o-keyframes cssload-loader-inner {
    0% { height: 0%; }	
    25% { height: 0%; }
    50% { height: 100%; }
    75% { height: 100%; }
    100% { height: 0%; }
}

@-ms-keyframes cssload-loader-inner {
    0% { height: 0%; }	
    25% { height: 0%; }
    50% { height: 100%; }
    75% { height: 100%; }
    100% { height: 0%; }
}

@-webkit-keyframes cssload-loader-inner {
    0% { height: 0%; }	
    25% { height: 0%; }
    50% { height: 100%; }
    75% { height: 100%; }
    100% { height: 0%; }
}

@-moz-keyframes cssload-loader-inner {
    0% { height: 0%; }
    25% { height: 0%; }
    50% { height: 100%; }
    75% { height: 100%; }
    100% { height: 0%; }
}




/* goDown */
.owl-slideUp-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-slideUp-in {
  -webkit-animation: goUp .6s ease both;
  -moz-animation: goUp .6s ease both;
  animation: goUp .6s ease both;
}

@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goUp {
  from { -webkit-transform: translateY(+100%); }
}
@-moz-keyframes goUp {
  from { -moz-transform: translateY(+100%); }
}
@keyframes goUp {
  from { transform: translateY(+100%); }
}

/*.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

         Center slide text vertically 
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }*/
    .swiper-container-vertical .swiper-wrapper .swiper-slide {
        margin-bottom: 0px;
    }
    .swiper-container-vertical .swiper-wrapper .swiper-slide.swiper-slide-active {
        margin-bottom: 15px;
    }

    
    
/*
    Mobile
*/
/*#header-mobile {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}*/
#header-mobile .navbar {
    border-bottom: 5px solid var(--dark-yellow);
    margin-bottom: 0px;
}
#header-mobile .navbar-header {
    background:#fff;
}
#header-mobile .navbar-toggle.custom-navbar-toggle {
    float:left !important;
    border:0;
}

#header-mobile .navbar-toggle.custom-navbar-toggle,#header-mobile .navbar-toggle.custom-navbar-toggle:active {
    
    background:#fff;
}


#header-mobile .navbar-toggle.custom-navbar-toggle .icon-bar {
    background-color: #23527c;
}


#header-mobile a.brand-logo {
    display:inline-block;
    max-height: 90% !important;
}

#header-mobile ul.header-mobile-nav {
    float:right;
    margin-bottom:0px;
}
#header-mobile ul.header-mobile-nav li {
    display:inline-block;
}
#header-mobile ul.header-mobile-nav li a {
    display: inline-block;
    font-size: 21px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #23527c;
}

.side-search {
    display: none;
}

.category-header-more {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 1;
    font-size: 14px;
}
    .category-header-more > a {
        color: #fff;
    }
@media (max-width: 320px) {
    a.brand-logo {
        margin: 0;
        height: 30px;
    }
    a.brand-logo > img {
        max-width: 133px;
        max-height: 33px;
    }
    .product-floor-container {
        padding-left: 15px;
    }
    .featured-image-container {
        padding-right: 15px;
    }
}
.category-header-background .floor_see_all{
    color:#ffffff;
    font-weight: bold;
}
@media (max-width: 770px) {
/*    #main-content {
        margin-top: 56px;
    }*/
    ol.carousel-indicators {
       display: none;
    }
    #pre-content { 
        margin-top: 0px;
    }
    a.brand-logo {
        margin: 0;
        height: 50px;
    }
    a.brand-logo > img {
        max-width: 150px;
        max-height: 50px;
    }
    .featured-image {
        height: 200px;
        width: 100%;
    }
    .brand-image-list .brand-image-item {
        height: 50px;
    }
    
    .floor-elevator-block {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .floor-elevator-bar {
        left: 0;
        width: 100%;
    }
    .floor-elevator-bar ul.floor-menu {
        
    }
    .floor-elevator-bar ul.floor-menu > li {
        display: inline-block;
        width: calc(100%/13);
    }
    .floor-elevator-bar ul.floor-menu > li > a {
        background-color: var(--dark-yellow);
        color: #fff;
        display: block;
        font-size: 18px;
        padding-bottom: 10px;
        padding: 5px;
        text-align: center;
    }
    .floor-elevator-bar ul.floor-menu > li > a > span {
        
    }
    .main-menu {
        display:none;
    }
    
    .container-floor .category-header .category-header-title {
        min-width:0px;
        width: 100%;
    }
    
    .container-floor .container-category.container-category-1 .category-header .category-header-title:after {
        display: none;
    }
    .featured-image {
        position: unset;
        width: 100%;
    }
    
    .main-product {
        border-top: 0;
    }
    #tabs-horizontal ul.nav li {
        display:inline-block ;
        width:100%;
    }
    
    
    #tabs-horizontal ul.nav a {
        display:inline-block !important;
        width:100%;
        border:1px solid var(--deep-dark);
    }
    #tabs-horizontal ul.nav .active a {
          
        border:1px solid var(--red-maroon);
    }
    
    #form-detail-product .btn-green {
        width:100%;
    }
    
    a.search-mobile-trigger.active {
        background-color: var(--darkblue);
    }
    a.search-mobile-trigger.active > i {
        color: var(--white);
    }
    .side-search {
        background-color: var(--darkblue);
        display: none;
    }
        .side-search form {
            margin: 10px auto;
        }
            .side-search form input {
                height: 33px;
            }
            .side-search form button {
                border-radius: 0;
            }
    .mobile-side-menu {
        background-color: rgba(0,0,0, 0.8);
        color: #fff;
        width: 260px;
        height: 100%;
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        left: -260px;
        padding-top: 60px;
        display: block;
    }
    .mobile-side-menu ul.side-menu {
        list-style: none;
        padding: 0;
    }
    .mobile-side-menu ul.side-menu > li {}
    .mobile-side-menu ul.side-menu > li > a {
        color: #fff;
        display: block;
        line-height: 1.7;
        padding: 3px 10px;
        text-transform: uppercase;
    }
    .mobile-side-menu ul.side-menu > li > a:hover,
    .mobile-side-menu ul.side-menu > li > a:visited {
        background-color: var(--red-maroon);
    }
    #header-mobile ul.dropdown-menu {
        border-radius: 0;
    }
    #header-mobile ul.dropdown-menu li {
        display: block;
    }
    #header-mobile ul.dropdown-menu li a {
        font-size: 14px;
        line-height: 1;
		width:100%;
		color: var(--darkblue) !important;
    }
	#header-mobile ul.dropdown-menu li a:hover{
        background:var(--red-maroon) !important;
		color:#fff !important;
    }
    .banner {
        padding: 0;
    }
    .banner > img,
    .banner > a > img {
        height: 200px;
        width: 100%;
        border: 1px solid #ccc;
    }
    .product {}
        .product.product-bar {
            margin: 0;
            height: auto;
        }
        .product .product-img {
            min-height: 150px;
        }
/*        .owl-item {
        margin-left: 10px;
      }
      .owl-item:first-child {
        margin-left: 0;
      }*/

    table#table-shoppingcart {
       width:100%;
    }
    table#table-shoppingcart tr:nth-of-type(1)  {display: none;}
    table#table-shoppingcart tbody td {display: block;  text-align:center; border:0px}
    table#table-shoppingcart tbody tr {border:1px solid #000}
    table#table-shoppingcart tbody tr td:nth-of-type(2):before { 
        content: 'Harga : '; 
      }
   
    table#table-shoppingcart tbody tr td:nth-of-type(3) .input-group { 
        width:60px;
      }
    table#table-shoppingcart tbody tr td:nth-of-type(4):before { 
        content: 'Total : '; 
      }
    .font-size24.shoppingcart-text-total {
        font-size:20px !important;
    }
    .font-size18.shoppingcart-text-total-info {
        font-size:12px !important;
    }
    .btn-shoppingcart-lanjutkan,.btn-shoppingcart-pembayaran {
        width:100%;
    }
    .btn-shoppingcart-lanjutkan {
        margin-bottom:5px;
    }
    .product .product-img a {
        position: absolute;
        left: 0;
        text-align: center;
        vertical-align: middle;
    }
    .product img { 
        width:100%;
    }
    .product-container {
        min-height:267px;
    }
    
    #bottom-area h3 {
        margin-top: 30px;
    }
    
/*    .truncate-mobile {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }*/
    .product-floor-container {
        padding-left: 15px;
    }
    .featured-image-container {
        padding-right: 15px;
    }
    
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    ul.social-media {
        text-align: center;
    }
    ul.mobile-apps {
        text-align: center;
    }
        ul.mobile-apps li {
            margin-bottom: 10px
        }
    .product-floor-container {
        padding-left: 15px;
    }
        
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  

}
@media (min-width: @screen-lg-min) { 

}
