/* 
    Created on : Mar 18, 2016, 12:43:11 AM
    Author     : Raymond Sugiarto
 */

/**
 * TABLE OF CONTENT
 * 1. GLOBAL
 * 2. SECTION
 *      2.1 HEADER
 *      2.2 FOOTER
 * 3. ELEMENT & CONTROL
 *      3.1 DROPDOWN MENU
 *      3.2 SLIDER
 *      3.3 MEDIA
 *      3.4 MODAL
 *      3.5 BOOTSTRAP DROPDOWN
 *      3.6 CARD
 *          3.6.1 PRODUCT CARD
 *          3.6.2 GOLD CARD
 *      3.7 LOADING SCREEN
 *      3.8 LOGIN & REGISTER
 *      3.9 RESPONSIVE TAB
 *      3.10 FORM REQUEST PRODUCT
 * 4. HELPER
 *      4.1 GENERAL
 *      4.2 TYPOGRAPHY
 *      4.3 FORM
 *          4.3.1 GENERAL
 *          4.3.2 JQUERY VALIDATION
 *      4.4 BUTTON
 *      4.5 ICON
 *      4.6 POPOVER
 *      4.7 WIDGET
 *      4.8 TABLE
 *      4.9 SELECT2
 *      4.10 PAGE NOT FOUND
 *      4.11 PAGINATION
 *      4.12 DATATABLE
 *      4.13 BREADCRUMB
 * 5. SPECIFIC PAGE
 *      5.1 HOME
 *          5.1.1 HOME PRODUCT
 *          5.1.2 HOME SERVICE
 *          5.1.3 HOME GOLD
 *      5.2 PRODUCT SEARCH 
 *      5.3 MEMBER
 *          5.3.1 REGISTER MEMBER
 *      5.4 PRODUCT DETAIL 
 *      5.5 NEWS ARTICLE
 *      5.6 MYORDER
 *          5.6.1 MYORDER DETAIL
 *      5.7 CART
 *          5.7.1 MODAL
 *          5.7.2 CART SUMMARY
 *          5.7.3 CART at ICON
 *          5.7.4 CART PAGE
 *      5.8 CHECKOUT
 *      5.9 INVOICE
 *      5.10 STATUS ORDER
 *      5.11 PAYMENT
 *      5.12 RESET PASSWORD
 *      5.13 PAYMENT CONFIRMATION
 *      5.14 READ PAGE
 *      5.15 REGISTER SUBSCRIBER
 *      5.16 ERROR PAGE
 *          5.16.1 PRODUCT NOT FOUND
 *      5.17 PAGE REQUEST PRODUCT
 *          
 *      
 **/

/* 1.GLOBAL */
body {

}
.os-cmsg {
    margin-top: 15px;
}
    .os-cmsg .alert {
        margin-bottom: 0px;
    }

/* 2. SECTION */

/* 2.1 HEADER */
header {}
    header #top-wrapper {
        background-color: #000;
    }
    header .logo.brand {
        width: 235px;
    }
    header #middle-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .shopping-cart-nav {
        width: 48px;
        height: 38px;
        margin: auto;
    }
    header .head-navbar {
        color: #FFF;
        margin-top: 5px;
    }
    header .head-navbar .head-navbar-item {
        margin-left: 10px;
        vertical-align: top;
    }
    header .os.os-shopping-cart .cart-total-item {
        position: relative;
        top: 12px;
        right: 16px;
        color: #FFF;
    }
    header #cart .os-popover-content {
        min-width: 100px;
    }
    header #popover-account {
        vertical-align: top;
    }
    
    header #popover-status-order, header #popover-account, header #popover-auth {
        display: inline-block;
    }
    header .os-popover .os-popover-label.active .ost-navbar-btn-link {
        background-color: #FF0000;
        color: #FFF;
        text-decoration: none;
    }
    header #popover-status-order .os-popover-content {
        top: 25px;
        right: -50%;
        color: #000;
        width: 250px;
    }
    header #popover-status-order .os-popover-content h4.ost-title {
        margin-top: 0px;
    }

    header #popover-account .os-popover-content, header #popover-auth .os-popover-content {
        top: 25px;
        right: 0;
        color: #000;
        width: 125px;
        padding: 0px;
    }
    header #popover-account .os-popover-content ul, header #popover-auth .os-popover-content ul {
        list-style-type: none;
        margin-bottom: 0px;
        padding: 0px;
    }
    header #popover-account .os-popover-content ul li a, header #popover-auth .os-popover-content ul li a {
        text-decoration: none;
        color: #000;
        padding: 3px;
        padding-left: 10px;
        display: block;
    }
    header #popover-account .os-popover-content ul li a:hover, header #popover-auth .os-popover-content ul li a:hover {
        color: #FFF;
        background-color: #FF0000;
    }
    header .link-status-order {
        cursor: pointer;
    }
    header .link-btn-auth {
        cursor: pointer;
    }
    
/* 2.2 FOOTER */
footer {
    background-color: #FF0000;
}
    footer .container {
        color: #fff;
    }
.body-footer {
    background-color: #EEEEEE;
    padding-bottom: 15px;
    padding-top: 15px;
}    
    .body-footer .footer-title {
        color: #424242;
    }
    .body-footer .footer-content {
        color: #808285;
    }
    .body-footer .footer-content ul.cust-service li,.body-footer .footer-content ul.store-footer-list li {
        margin-top: 5px;
    }
    .body-footer .footer-content ul.cust-service li a, .body-footer .footer-content ul.store-footer-list li a{
        color: #808285;
        text-decoration: none;
    }
    .body-footer .footer-content ul.cust-service li a:hover, .body-footer .footer-content ul.store-footer-list li a:hover {
        color: #FF0000;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .body-footer .cust-service-container {
            min-height: 182px;
        }
    }




/* 3. ELEMENT & CONTROL */   
/* 3.1 DROPDOWN MENU */
header {}
    header .dropdown-submenu:hover > .dropdown-menu {
        display: none;
    }
    header .nav-store-def.navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .nav-store-def.navbar-nav > li {
        float: left;
    }
    header .nav-store-def .dropdown-menu {
        position: absolute;
        top: 95%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    @media (max-width: 767px){
        header .nav-store-def.navbar-nav .open .dropdown-menu {
            position: absolute;
            float: left;
            width: auto;
            margin: 2px 0 0;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
    header .nav-store-def .open>.dropdown-menu {
        display: block;
    }
    header .nav-store-def .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    @media (max-width: 768px) {
        header .nav-store-def .dropdown-submenu > .dropdown-menu {
            top: -3px;
        }
    }
    
    header .nav-store-def.navbar-nav {
        margin: 0px 15px;
    }
    @media (min-width: 768px) {
        header .nav-store-def.navbar-nav {
            float: left;
            margin: 0px 0px;
        }
    }

    header .top-navbar {
        background-color: #dddddd;
        font-size: 18px;
        margin-bottom: 0px;
        border: 0px;
        border-radius: 0px;
    }
    header .navbar {
        min-height: auto;
    }
    header .navbar-header-ostore {
        margin-right: 0px;
        margin-left: 15px;
    }
    header .navbar-header-ostore button.navbar-toggle {
        border-color: #FF0000;
        background-color: #FF0000;
        border-radius: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #FFF;
    }
    header .nav-store-def .icon-bar{
        background-color: #FFF;
        color: #FFF;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    header .nav-store-def .glyphicon-th-list {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #FFF;
        font-size: 18px;
    }

    header .top-navbar .nav-store-def {
        padding-left: 0px;
    }
    header .top-navbar .nav-store-def.navbar-nav li a.main-nav-ostore {
        color: #59595b;
    }
    header .top-navbar .nav-store-def.navbar-nav li a.main-nav-ostore:hover,
        header .top-navbar .nav-store-def.navbar-nav li a.main-nav-ostore:focus {
        color: #FF0000;
        background-color: #dddddd;
    }
    header .top-navbar .nav-store-def li.category a.main-nav-ostore{
        background-color: #FF0000;
        color: #fff;
    }
    header .top-navbar .nav-store-def li.category a.main-nav-ostore:hover,  
        header .top-navbar .nav-store-def li.category a.main-nav-ostore:focus {
        background-color: #FF0000;
        color: #fff;
    }
    header .nav-store-def ul.dropdown-menu {
        background-color: #000000;
        box-shadow: none;
        padding: 0px;
        border: 0px;
    }
    header .nav-store-def ul.dropdown-menu a{
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
    }
    @media (max-width: 767px) {
        header .nav-store-def.navbar-nav .open .dropdown-menu .dropdown-header, 
            header .nav-store-def.navbar-nav .open .dropdown-menu>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    header .nav-store-def .dropdown-submenu > .dropdown-menu {
        margin-top: 0px;
        margin-left: 0px;
    }
    header .nav-store-def.navbar-nav > li > .dropdown-menu {
        border-radius: 0px;
    }
    header .nav-store-def .dropdown-submenu:hover > .dropdown-menu {
        border-radius: 0px;
    }
    header .nav-store-def.nav li.open ul.dropdown-menu.child-1 {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7) !important;
    }
    header .nav-store-def ul.dropdown-menu li {
        position: static;
    }
    header .nav-store-def ul.dropdown-menu.child-1 li a {
        color: #FFFFFF;
        background: none;
    }
    header .nav-store-def ul.dropdown-menu.child-1 > li > a:hover, header .nav-store-def ul.dropdown-menu.child-1 li > a:visited {
        color: #FFFFFF;
        background: none;
        background-color: #BB1E2D !important;
    }
    header .nav-store-def .dropdown-submenu .dropdown-menu.child-2, 
        header .nav-store-def ul.dropdown-menu.child-2 li,
        header .nav-store-def ul.dropdown-menu.child-2 li a{
        background: none;
        background-color: #EEEEEE;
        color: #231F20;
        min-width: 250px;
    }
    header .nav-store-def ul.dropdown-menu.child-2 li a:hover, header .nav-store-def ul.dropdown-menu.child-2 li a:visited {
        background: none;
        background-color: #EEEEEE !important;
        color: #FF0000;
    }
    header .nav-store-def ul.dropdown-menu.child-2 .dropdown-submenu:hover > a:after {
        border-left-color: #FF0000;
    }

    header .nav-store-def .dropdown-submenu .dropdown-menu.child-3, 
        header .nav-store-def ul.dropdown-menu.child-3 li,
        header .nav-store-def ul.dropdown-menu.child-3 li a{
        background: none;
        background-color: #FFFFFF;
        color: #231F20;
        min-width: 250px;
    }
  
    
    header .nav-store-def .category .dropdown-menu.child-1 {
        min-height: 400px;
    }
    header .nav-store-def .category .dropdown-submenu .dropdown-menu.child-2 {
        min-height: 400px;
    }
    header .nav-store-def .category .dropdown-submenu .dropdown-menu.child-3 {
        min-height: 400px;
    }

    header .nav-store-def ul.dropdown-menu.child-3 li a:hover, header .nav-store-def ul.dropdown-menu.child-3 li a:visited {
        background: none;
        background-color: #FFFFFF !important;
        color: #FF0000;        
    }
    header .nav-store-def ul.dropdown-menu.child-3 .dropdown-submenu:hover > a:after {
        border-left-color: #FF0000;
    }

    
    @media (min-width: 992px) {
        header .top-navbar .nav-store-def .category, header .top-navbar .category .dropdown-menu.child-1 {
            width: 359px;
        }
        header .top-navbar .nav-store-def .nav-gold .category, header .top-navbar .nav-gold .category .dropdown-menu.child-1 {
            width: auto;
        }
    }
        
    @media (min-width: 768px) and (max-width: 991px) {
        header .top-navbar .nav-store-def .category, header .top-navbar .category .dropdown-menu.child-1 {
            width: 359px;
        }
    }
    
    @media (max-width: 768px) {
        header .nav-store-def.navbar-nav .open .dropdown-submenu .dropdown-menu {
            position: relative !important;
            min-height: auto;
            left: 0px ;
        }
    }
    
    header .nav-store-def.navbar-nav .dropdown-open.dropdown-submenu {
        color: #FFFFFF;
        background: none;
        background-color: #BB1E2D !important;
    }
    header .nav-store-def.navbar-nav .dropdown-open.dropdown-submenu > .dropdown-menu {
        display: block;
    }


/* 3.2 SLIDER */
.def-slider .slick-slide h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.def-slider .slick-prev:before, .slick-next:before {
    color: #FF0000 !important;
}
.def-slider .slick-prev {
    left: 25px !important;
    z-index: 999;
}
.def-slider .slick-next {
    right: 25px !important;
    z-index: 999;
}
.def-slider .slick-prev:before, .slick-next:before {
    font-size: 25px !important;
}
.def-slider .slick-dots {
    bottom: 10px !important;
}
.def-slider .slick-dots li button:before {
    font-size: 12px !important;
    color: #FF0000 !important;
}

/* 3.3 MEDIA */
header .socmed-wrapper {
    min-height: 31px;
}
header .social-media {
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    margin: 3px;
    background: #fff;
    color: #000;
    border-radius: 50%;
}

/* 3.4 MODAL */
.os-modal{

}
    .os-modal .modal-header {
        background-color: #FF0000;
        padding: 0px;
        min-height: 25px;
        border-bottom: 0px;;
    }
    .os-modal .modal-header .close {
        margin-right: 10px;
        margin-top: 2px;
        color: #FFF;
        opacity: 1;
    }
    .os-modal .modal-body {
        padding: 15px 30px;
    }
    .os-modal .modal-content {
        border-radius: 0px;
    }
    .os-modal .modal-footer {
        border-top: 0px;
        border-bottom: 25px solid #FF0000;
        padding: 0px 30px 15px 30px;
    }
    
    @media (max-width: 768px) {
        .os-modal .modal-footer {
            text-align: center;
        }
    }
    
    .os-modal .os-modal-title {
        font-size: 28px;
        color: #FF0000;
        margin-bottom: 16px;
        font-weight: bold;
    }

/* 3.5 BOOTSTRAP DROPDOWN */
.os-dropdown {
    width: 100%;
}
    .os-dropdown ul.dropdown-menu {
        border-radius: 0px;
        box-shadow: none;
        background-color: #FFF;
        border: 1px solid #FF0000;
        padding: 0px;
        top: 92%;
        width: 100%;
    }
    .os-dropdown a.dropdown-toggle {
        border: 1px solid #ccc;
    }
    .os-dropdown.open > .dropdown-toggle:hover, 
    .os-dropdown.open > .dropdown-toggle:focus, .os-dropdown.open > .dropdown-toggle:visited, 
    .os-dropdown.open > .dropdown-toggle:active {
        border: 1px solid #FF0000 !important;
    }
    .os-dropdown a.dropdown-toggle, .os-dropdown.open > .dropdown-toggle:hover, 
    .os-dropdown.open > .dropdown-toggle:focus, .os-dropdown.open > .dropdown-toggle:visited, 
    .os-dropdown.open > .dropdown-toggle:active {
        background: none !important;
        border-radius: 0px;
        box-shadow: none !important;
        background-color: #FFF;
        width: 100%;
    }
    .os-dropdown a.dropdown-toggle:after {
        font-family: 'FontAwesome';
        content: '\f0dd';
        position: absolute;
        right: 3px;
        top: -5px;
        font-size: 20px;
        color: #FF0000;
    }

    .os-dropdown .dropdown-menu > li > a:hover, .os-dropdown .dropdown-menu > li > a:focus, 
    .os-dropdown .dropdown-submenu:hover > a, .os-dropdown .dropdown-submenu:focus > a {
        background: #FF0000;
        color: #FFF !important;
        outline: none;
    }
    @media (min-width: 992px) {
        .os-dropdown.menu-open a.dropdown-toggle {
            display: none;
        }
        .os-dropdown.menu-open ul.dropdown-menu {
            position: static;
            display: block;
            border: 0px !important;
        }
    }

    @media (max-width: 768px) {
        .os-dropdown.menu-open .dropdown-menu > li > a:hover, .os-dropdown.menu-open .dropdown-menu > li > a:focus, 
        .os-dropdown.menu-open .dropdown-submenu:hover > a, .os-dropdown.menu-open .dropdown-submenu:focus > a {
            background: #FF0000;
            color: #FFF !important;
        }
    }

/* 3.6 CARD */

/* 3.6.1 PRODUCT CARD */
.os-product-card {
    position: relative;
    margin: 7px;
    padding: 2px;
    border: 1px solid #FFF;
    min-height: 297px;
}
    .os-product-card:hover {
        border: 1px solid #FF0000;
        cursor: pointer;
    }
    .os-product-card .image img {
        height: 213px;
    }
    .os-product-card a.product-item, .os-product-card a.product-item:hover
    ,.os-product-card a.product-item:focus {
        outline: none;
        color: #FF0000;
        text-decoration: none;
    }
    .os-product-card .name {
        border-bottom: 1px solid #6D6E70;
        color: #808285;
        font-size: 13px;
        min-height: 38px;
    }
    .os-product-card:hover a {
        text-decoration: none !important;
    }
    .os-product-card:hover a:hover{
        text-decoration: none !important;
    }
    .os-product-card .disc {
        font-size: 12px;
        text-align: right;
        color: #231F20;
    }
    .os-product-card .detail{
        position: relative;
        color: #231F20;
        height: 40px;
    }
    .os-product-card .price {
        top: 0;
        right: 0;
        position: absolute;
        text-align: right;
        color: #231F20;
        height: 40px;
        width: 129px;
    }
    .os-product-card .price span {
        float: right;
    }
/* 3.6.2 GOLD CARD */
.os-gold-card {
    margin: 7px;
    padding: 15px;
    border: 1px solid #FFF;
}

    .os-gold-card .header {
        font-weight: bold;
    }
    .os-gold-card .header .name {
        text-align: center;
        font-size: 15px;
    }
    .os-gold-card .header .sell-price {
        color: #39b54a;
    }
    .os-gold-card .header .buy-price {
        color: #FF0000;
    }
    .os-gold-card .btn-wrapper {
        margin-top: 6px;
    }
    .os-gold-card .btn-wrapper .left-wrapper {
        padding-right: 3px;
    }
    .os-gold-card .btn-wrapper .right-wrapper {
        padding-left: 3px;
    }
    .os-gold-card .btn-wrapper .btn-sell {
        background-color: #39b54a;
        border-color: #39b54a;
    }
    .os-gold-card .btn-wrapper .btn-sell:hover {
        color: #39b54a !important;
        border-color: #39b54a !important;
    }
    .os-gold-card .btn-wrapper .btn-sell:active, .os-gold-card .btn-wrapper .btn-sell:focus {
        background-color: #39b54a !important;
        border-color: #39b54a !important;
        color: #FFF !important;
    }
    .os-gold-card .btn-wrapper .btn-sell, .os-gold-card .btn-wrapper .btn-buy {
        padding: 3px 0px;
        width: 100%;
    }
    .os-gold-card .btn-wrapper .sold-out {
        padding: 3px 0px;
        color: #FFF;
        border: 1px solid #FF0000;
        background-color: #FF0000;
        font-weight: bold;
    }
    
/* 3.7 LOADING SCREEN */
#backdropLoading {
    display: block;
    background-color: rgba(0, 0, 0, 0.7) !important;
    text-align: center;
}
    #backdropLoading img {
        position: fixed;
        top: 40%;
        width: 50px;
    }
img.os-loading {
    width: 50px;
    margin: auto;
}

.loading {
    margin: auto;
    position: relative;
}
.loading div {
    position: relative;
    top: 20%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    background: url(../../img/asset/loading.gif) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

/* 3.8 LOGIN & REGISTER */
.modal#modal-login-trx {
    z-index: 1049;
}
    .modal#modal-login-trx .link-reg-member { 
        font-weight: bold;
    }
    
    .modal#modal-login-trx a.btn-open-reg-dialog {
        text-decoration: none;
        color: #FF0000;
    }
    
.modal.modal-login {} 
@media (min-width: 768px) {
    .modal.modal-login .modal-dialog {
        width: 450px;
    }
}

    .modal.modal-login .btn-login-wrapper {
        margin-top: 10px;
    }
    .modal.modal-login .btn-login-store, .modal.modal-login .btn-login-guest {
        width: 100%;
    }
    
    .modal.modal-login .line-wrapper {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .modal.modal-login .line-wrapper .line {
        position: absolute;
        height: 1px;
        width: 100%;
        border-top: 1px solid #ddd;
        top: 10px;
    }
    .modal.modal-login .line-label {
        margin: auto;
        position: relative;
    }
    .modal.modal-login .line-text {
        background-color: #FFF;
        display: inline;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .modal.modal-login .btn-login-fb {
        width: 100%;
        font-size: 16px;
        background-color: #1d75bd;
        border: 1px solid #1d75bd;
        padding: 10px 5px 10px 8px;
        border-radius: 0px;
        color: #FFF;
    }
    .modal.modal-login .btn-login-fb:hover {
        background-color: #FFF;
        border: 1px solid #1d75bd;
        color: #1d75bd;
    }
    .modal.modal-login .btn-login-fb:active {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .modal.modal-login .btn-login-fb .fa.social-media {
        margin-right: 10px;
        font-size: 20px;
    }
    
/* 3.9 RESPONSIVE TAB */
.ost-resp-tabs {
    
}
    .ost-resp-tabs .nav.nav-tabs {
        border-bottom: 1px solid #BBBBBB;
    }
    .ost-resp-tabs .nav.nav-tabs a[data-toggle="tab"]{
        color: #000;
        border-radius: 0px;
    }
    .ost-resp-tabs .nav.nav-tabs li.active a[data-toggle="tab"]{
        color: #FF0000;
        border: 1px solid #BBBBBB;
        border-bottom-color: transparent;
        font-weight: bold;
    }
    .ost-resp-tabs .tab-content {
        border-left: 1px solid #BBBBBB !important;
        border-right: 1px solid #BBBBBB !important;
        border-bottom: 1px solid #BBBBBB !important;
    }

/* 3.10 FORM REQUEST PRODUCT */    
.form-request {
    text-align: center;
    padding: 0px 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    margin-left: 25px;
}
    @media (max-width: 991px) {
        .form-request {
            margin-left: 0px;
        }
    }
    .form-request .form-request-info {
        margin-bottom: 10px;
    }
    .form-request .btn-request {
        padding: 6px 36px;
    }

.request-success {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
}
    .request-success .lbl-txt-request {
        font-weight: bold;
        font-size: 24px;
    }
    .request-success .txt-request {
        font-weight: bold;
        font-size: 20px;
    }
    .request-success .txt-content {
        font-size: 18px;
    }

/* 4.HELPER */

/* 4.1 GENERAL */
.clear-both {
    clear: both;
}
.no-padding-side {
    padding: 0px !important;
}
.no-margin-side {
    margin: 0px !important;
}
.pl-15 {
    padding-left: 15px;
}
.pl-0 {
    padding-left: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.prl-0 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.mrl-0 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


/* 4.2 TYPOGRAPHY */
.txt-right {
    text-align: right !important;
}
.txt-center {
    text-align: center !important;
}
.txt-left {
    text-align: left !important;
}
h4.ost-title {
    color: #FF0000;
    font-weight: bold;
    font-size: 16px;
}
.red {
    color: #FF0000;
}
.os-link, .os-link:visited, .os-link:focus {
    color: #808285;
    text-decoration: underline;
}
    .os-link:hover {
        color: #FF0000;
        text-decoration: underline;
    }

/* 4.3 FORM */
/* 4.3.1 GENERAL */
.ost-form {

}
    .ost-form input[type=text], .ost-form input[type=password], .ost-form input[type=search], .ost-form select{
        border-radius: 0px;
        box-shadow: none;
    }
    .ost-form .form-control:focus {
        border-color: #FF0000;
        box-shadow: none;
    }
    .ost-form .lbl-form-group {
        font-weight: normal;
        font-size: 14px;
        color: #000;
    }	
    .ost-form .ost-date-dropdown .day,.ost-form .ost-date-dropdown .month ,
    .ost-form .ost-date-dropdown .year   {
        margin-right:15px;
    }
    .ost-form .ost-date-dropdown .day a.select2-choice,.ost-form .ost-date-dropdown .month  a.select2-choice,
    .ost-form .ost-date-dropdown .year a.select2-choice  {
        padding-right:10px;
        box-shadow:none;
        border:1px solid rgb(204, 204, 204);
    }

    .ost-form .ost-date-dropdown .day a.select2-choice:hover,.ost-form .ost-date-dropdown .month  a.select2-choice:hover,
    .ost-form .ost-date-dropdown .year a.select2-choice:hover,
    .ost-form .ost-date-dropdown .day a.select2-choice:focus,.ost-form .ost-date-dropdown .month  a.select2-choice:focus,
    .ost-form .ost-date-dropdown .year a.select2-choice:focus {
        border:1px solid #FF0000;
    }

    .ost-form input[type=checkbox]{
        position:absolute;
        visibility:hidden;
    }
    .ost-form label.control-label label.checkbox-label {
        cursor: pointer;
    }
    .ost-form label.control-label > input[type=checkbox] + label.checkbox-label span{
        display:inline-block;
        width: 15px;
        height: 15px;
        background: url(../../img/62hallfamily/sprite_icon.png) -148px -89px !important;
    }

    .ost-form label.control-label > input[type=checkbox]:checked + label.checkbox-label span{
        display:inline-block;
        width: 15px;
        height: 15px;
        background: url(../../img/62hallfamily/sprite_icon.png) -125px -89px !important;
    }

    .ost-form input[type=radio]{
        position:absolute;
        visibility:hidden;
    }
    .ost-form label.control-label > input[type=radio] + label.radio-label span{
        display:inline-block;
        width: 15px;
        height: 15px;
        background: url(../../img/62hallfamily/sprite_icon.png) -101px -89px !important;
    }

    .ost-form label.control-label > input[type=radio]:checked + label.radio-label span{
        display:inline-block;
        width: 15px;
        height: 15px;
        background: url(../../img/62hallfamily/sprite_icon.png) -78px -89px !important;
    }
    .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up, 
    .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
        border-radius: 0px;
    }
    .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up:hover, 
        .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up:focus,
        .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up:active,
        .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:hover,
        .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:active,
        .ost-form .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:focus {
        color: #FFF;
        outline: none;
        background-color: #FF0000;
        border-color: #FF0000;
    }
    .ost-form .bootstrap-touchspin .input-group-btn-vertical i {
        left: 7px;
    }

    .ost-form select.ost-select {
        border: 1px solid #FF0000;
        border-radius: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ost-form select.ost-select option:hover {
        background-color: #FF0000;
    }
    .ost-form textarea {
        border-radius: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ost-form textarea:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
/* 4.3.2 JQUERY VALIDATION */
    .ost-form .formError .formErrorContent {
        background: #FF0000;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
    }
    .ost-form .formError .formErrorArrow div {
        box-shadow: none;
        -webkit-box-shadow: none;
        background: #FF0000;
    }
    .ost-form .formError .formErrorArrow .line10, .ost-form .formError .formErrorArrow .line9 {
        border-left: 2px solid #ddd;
        border-right: 2px solid #ddd;
    }
    

/* 4.4 BUTTON */
.btn-primary.ost-btn-submit, .ost-btn-submit, .ost-btn-submit:visited, .ost-btn-submit:focus, .ost-btn-submit:active {
    color: #FFF;
    background-color: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 0px !important;
    font-weight: bold;
    box-shadow: none;
    outline: none;
    text-decoration: none;
}
.ost-btn-submit:hover {
    background-color: #FFF !important;
    border: 1px solid #FF0000 !important;
    color: #FF0000 !important;
    text-decoration: none;
}
.ost-btn-submit:active, .ost-btn-submit:focus{
    background-color: #FF0000 !important;
    border: 1px solid #FF0000 !important;
    color: #FFF !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    text-decoration: none;
}
.ost-btn-link, .ost-btn-link:visited, .ost-btn-link:focus {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}
.ost-btn-link:hover {
    color: #FF0000;
    text-decoration: none;
}
.ost-navbar-btn-link, .ost-navbar-btn-link:visited, .ost-navbar-btn-link:focus {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    padding: 7px 5px;
}
.ost-navbar-btn-link:hover {
    background-color: #FF0000;
    color: #FFF;
    text-decoration: none;
}
.ost-link {
    color: #FF0000;
}

/* 4.5 ICON */
.os {
    display: inline-block;
}
    .os-visa-mastercard {
        width: 120px;
        height: 48px;
        background: url(../../img/62hallfamily/visa-master-card.png) no-repeat;
    }
    .os-shopping-cart {
        cursor: pointer;
        margin-top: 15px;
        width: 48px;
        height: 38px;
        background: url(../../img/62hallfamily/sprite_icon.png) -8px -74px !important;
    }
    .os-product-card-new {
        position: relative;
        margin-right: 2px;
        width: 24px;
        height: 28px;
        background: url(../../img/62hallfamily/sprite_icon.png) -38px -35px !important;
    }
    .os-product-card-hot {
        position: relative ;
        margin-right: 2px;
        width: 24px;
        height: 28px;
        background: url(../../img/62hallfamily/sprite_icon.png) -8px -35px !important;
    }
    .os-product-card-disc {
        position: absolute;
        top: 0px;
        right: -2px;
        width: 50px;
        height: 50px;
        background: url(../../img/62hallfamily/sprite_icon.png) -5px -132px !important;
        text-align: right;
        padding-top: 3px;
        padding-right: 3px;
        font-size: 12px;
        font-style: italic;
        color: #FFF;
    }
    .os-trash {
        width: 25px;
        height: 27px;
        background: url(../../img/62hallfamily/sprite_icon.png) -21px -255px;
    }
    .os-bank-transfer {
        width: 48px;
        height: 48px;
        background: url(../../img/62hallfamily/sprite_icon.png) -159px -132px;
    }
    .os-address {
        width: 24px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -331px -5px;
    }
    .os-phone {
        width: 24px;
        height: 24px;
        background: url(../../img/62hallfamily/sprite_icon.png) -363px -5px;
    }
    .os-bbm {
        width: 24px;
        height: 20px;
        background: url(../../img/62hallfamily/sprite_icon.png) -395px -6px;
    }
    .os-whatsapp {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -428px -5px;
    }
    .os-email {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -460px -5px;
    }
    .os-status-order {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -296px -83px;
    }
    .os-status-order:hover {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -371px -83px;
    }
    .os-help {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -269px -83px;
    }
    .os-help:hover {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -344px -83px;
    }
    .os-auth {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -246px -83px;
    }
    .os-auth:hover {
        width: 23px;
        height: 23px;
        background: url(../../img/62hallfamily/sprite_icon.png) -321px -83px;
    }
    .os-facebook{
        width: 48px;
        height: 48px;
        background : url(../../img/62hallfamily/sprite_icon.png) -311px -132px;
    }    
    .os-twitter{
        width: 48px;
        height: 48px;
        background : url(../../img/62hallfamily/sprite_icon.png) -386px -132px;
    }    
    
    .os.os-nav-icon {
        margin-right: 6px;
    }
/* 4.6 POPOVER */
.os-popover {
    position: relative
}
    .os-popover .os-popover-content {
        display: none;
        position: absolute;
        top: 55px;
        right: 0px;
        border: 1px solid #DDDDDD;
        border-top: 5px solid #FF0000;
        border-bottom: 5px solid #FF0000;
        z-index: 900;
        background-color: #FFF;
        padding: 10px;
    }
    
/* 4.7 WIDGET */
.os-box-widget {}
    .os-box-widget.box {
        border: 1px solid #FF0000;
        /*border: 1px solid #DDDDDD;*/
    }
    .os-box-widget .glyphicon{
        top: 6px;
        left: 6px;
        color: #FFF;
    }
    .os-box-widget .box-header {
        background-color: #FF0000;
    }
    .os-box-widget .box-title {
        padding-left: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 17px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: #FFF;
    }
    .os-box-widget .box-body {
        padding: 7px;
    }
    .os-box-widget .box-tools .btn[data-widget="collapse"] {
        margin-top: 3px;
        margin-right: 5px;
        border-radius: 0px;
        border: 1px solid #FFF;
        background-color: #FFF;
        outline: none;
        padding: 2px 10px;
    }
    .os-box-widget .box-tools .btn[data-widget="collapse"] i.fa {
        color: #FF0000;
    }
    
/* 4.8 TABLE */
.ost-table {}
    .ost-table thead tr td, .ost-table thead tr th {
        background: #FF0000;
        font-size: 18px;
        color: #FFF;
        border: 1px solid #FF0000;
    }
    .ost-table tbody tr td {
        border: 1px solid #6D6E70;
    }
    
    
/* 4.9 SELECT2 */
.ost-select2 {}
    .ost-select2 a.select2-choice {
        border: 1px solid #ccc;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ost-select2 a.select2-choice:hover, .ost-select2 a.select2-choice:focus {
        border: 1px solid #FF0000;
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ost-select2.select2-container .select2-choice:hover .select2-arrow b {
        border-top-color: #FF0000;
    }
    .ost-select2.select2-container-active.select2-dropdown-open a.select2-choice {
        border-color: #FF0000;
    }
    .ost-select2.select2-container.select2-drop-above .select2-choice {
        border-radius: 0px;
    }
    .ost-select2.select2-dropdown-open.select2-drop-above .select2-choice {
        border-color: #FF0000;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #FF0000));
        background-image: -webkit-linear-gradient(center top, #fff 0%, #FF0000 50%);
        color: #FFF;
    }
    .ost-select2.select2-dropdown-open.select2-drop-above .select2-choice .select2-arrow b {
        border-top-color: #FFF;
    }
    
    .ost-select2.select2-drop-active {
        border-color: #FF0000;
    }
    .ost-select2.select2-drop-active input.select2-input {
        border-color: #FF0000;
    }
    .ost-select2.select2-drop-active .select2-results .select2-highlighted {
        background: #FF0000;
    }
    
.ost-select2-dropdown {}
    .ost-select2-dropdown.select2-drop-active {
        border-color: #FF0000;
    }
    .ost-select2-dropdown.select2-drop-active input.select2-input {
        border-color: #FF0000;
    }
    .ost-select2-dropdown.select2-drop-active .select2-results .select2-highlighted {
        background: #FF0000;
    }
    
/* 4.10 PAGE NOT FOUND */
.page-not-found {
    margin-top: 50px;
    margin-bottom: 50px;
}
    .page-not-found .lbl-page-not-found-name {
        font-weight: bold !important;
        font-size: 30px !important;
    }
    
    .page-not-found .lbl-page-not-found {
        font-size: 20px !important;
    }
    
/* 4.11 PAGINATION */
.pagination-wrapper {
    text-align: center;
}
    .pagination-wrapper .item {
        padding: 2px 8px;
        color: #424242 !important;
        margin: auto 3px;
    }
    .pagination-wrapper .item:hover {
        color: #FF0000 !important;
        background: none;
    }
    .pagination-wrapper .item:focus {
        background: none;
    }
    .pagination-wrapper .active .item {
        color: #FFFFFF !important;
        background: #ff0000 !important;
        border-radius: 50%;
        border-color: #ff0000 !important;
        
    }
    .pagination-wrapper .active .item:hover {
        color: #000000 !important;
    }
    .pagination-wrapper .pagination>li>a, .pagination>li>span {
        border: 0px;
    }
    
/* 4.12 DATATABLE */
.os-datatable-container {}
 
    .os-datatable-container .os-datatable thead tr th {
        color: #FFF;
        background-color: #acacac;
    }
    .os-datatable-container .os-datatable thead tr th[data-align="align-center"], .os-datatable tbody tr td.align-center {
        text-align: center;
    }
    .os-datatable-container .os-datatable thead tr th[data-align="align-left"], .os-datatable tbody tr td.align-left {
        text-align: left;
    }
    .os-datatable-container .os-datatable thead tr th[data-align="align-right"], .os-datatable tbody tr td.align-right {
        text-align: right;
    }
    .os-datatable-container .os-show-entry label, .os-datatable-container .os-search-entry label {
        display: block;
    }
    .os-datatable-container .os-search-entry label input.form-control {
        width: 82%;
    }
    .os-datatable-container ul.pagination {}
    .os-datatable-container ul.pagination li.paginate_button a {
        border: 1px solid #FFF;
        border-radius: 50%;
        padding: 2px 8px;
        color: #424242;
        margin: auto 3px;
    }
    .os-datatable-container ul.pagination li.paginate_button.active a {
        background-color: #FF0000;
        border: 1px solid #FF0000;
        color: #FFF;
    }
    .os-datatable-container ul.pagination li.paginate_button a:hover {
        color: #FF0000;
        background-color: #FFF;
    }
    .os-datatable-container ul.pagination li.paginate_button a:focus {
        outline: none;
        background-color: #FFF;
        color: #FF0000;
    }
    .os-datatable-container ul.pagination li.paginate_button.active a:hover {
        background-color: #FF0000;
        border: 1px solid #FF0000;
        color: #FFF;
    }
    .os-datatable-container ul.pagination li.paginate_button.disabled a:hover {
        background-color: #FFF;
        color: #424242;
    }
/* 4.13 BREADCRUMB */
.breadcrumb-container {}
    .breadcrumb-container .active {
        text-decoration: none;
        color: #FF0000;
        font-weight: bold;
    }

/* 5. SPECIFIC PAGE */

/* 5.1 HOME */
/*.home-slide.slick-initialized {*/
.home-no-slide {
    min-height: 401px;
}
/* 5.1.1 HOME PRODUCT */
#main-slide h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.deals-content {
    padding-top: 25px;
}
    .deals-content .product-deals-container {
        position: relative;
        border-top: 2px solid #FF0000;
    }
    .deals-content .product-deals-container .product-deals-item {
        position: static;
        padding-left: 0px;
        padding-right: 0px;
    }
    .deals-content .product-deals-container .product-deals-item h4.ost-title {
        color: #808285;
    }
    .deals-content .product-deals-container .product-deals-item.active h4.ost-title {
        color: #FF0000;
    }
    @media (max-width: 768px) {
        .deals-content .product-deals-container .product-deals-item {
            position: static;
            padding-left: 0px;
            padding-right: 15px;
        }
    }
    .deals-content .product-deals-container .product-deals-item:first-child {
        padding-left: 15px;
    }
    .deals-content .product-deals-container .product-deals-item:last-child {
        padding-right: 15px;
    }
    .deals-content .product-deals-container .product-deals-item .title {
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        cursor: pointer;
        color: #000000;
        font-weight: 700;
    }
    .deals-content .product-deals-container .product-deals-item.active .title {
        color: #FF0000;
    }
    .deals-content .product-deals-container .product-deals-item:first-child .title {
        border-left: 1px solid #DDDDDD;
    }
    .deals-content .product-deals-container .product-deals-item .content-deals{
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .deals-content .product-deals-container .product-deals-item.active .content-deals {
        position: relative;
    }
    @media (min-width: 1200px) {
        .deals-content .product-deals-container .product-deals-item.active .content-deals {
            width: 1141px;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .deals-content .product-deals-container .product-deals-item.active .content-deals {
            width: 937px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .deals-content .product-deals-container .product-deals-item.active .content-deals {
            width: 720px;
        }
    }

    .deals-content .product-deals-container #item-get_weekly_deals.product-deals-item.active .content-deals {
        left: -185px;
    }
    .deals-content .product-deals-container #item-get_new_products.product-deals-item.active .content-deals {
        left: -380px;
    }
    .deals-content .product-deals-container #item-get_bestselling_products.product-deals-item.active .content-deals {
        left: -575px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .deals-content .product-deals-container #item-get_bestselling_products.product-deals-item.active .content-deals {
            left: -470px;
        }
        .deals-content .product-deals-container #item-get_new_products.product-deals-item.active .content-deals {
            left: -309px;
        }
        .deals-content .product-deals-container #item-get_weekly_deals.product-deals-item.active .content-deals {
            left: -147px;
        }
    }
    @media (max-width: 768px) {
        .deals-content .product-deals-container .product-deals-item.active .content-deals {
            left: 0px !important;
        }
        
    }
    
.content-wrapper {}
    .content-wrapper .ost-advertise {
        background-color: #F8F8F8;
        min-height: 135px;
    }
    .content-wrapper .ost-advertise .container .ost-advertise-item{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .content-wrapper .ost-advertise img {
        width: 100%;
    }

    .content-wrapper .suggestion {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .content-wrapper .suggestion .title {
        text-align: right;
        color: #FF0000;
        font-weight: 700;
        padding: 3px 20px;
    }
    @media (max-width: 768px) {
        .content-wrapper .suggestion .title {
            text-align: center;
        }
    }
    .content-wrapper .suggestion .sg-content-item {
        position: relative;
        top: 0px;
        left: 0px;
        min-height: 400px;
    }

    .content-wrapper .suggestion .os-dropdown .dropdown-menu > li > a:hover, 
    .content-wrapper .suggestion .os-dropdown .dropdown-menu > li > a:focus, 
    .content-wrapper .suggestion .os-dropdown .dropdown-submenu:hover > a,
    .content-wrapper .suggestion .os-dropdown .dropdown-submenu:focus > a {
        background: none;
        color: #FF0000 !important;
    }
    .content-wrapper .suggestion .os-dropdown ul.dropdown-menu {
        border-radius: 0px;
        box-shadow: none;
        background-color: #FFF;
        border: 1px solid #FF0000;
        padding: 0px;
        top: 92%;
        width: 100%;
    }
    @media (min-width: 992px) {
        .content-wrapper .suggestion .os-dropdown a.dropdown-toggle {
            display: none;
        }
        .content-wrapper .suggestion .os-dropdown ul.dropdown-menu {
            position: static;
            display: block;
            border: 0px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .content-wrapper .suggestion .os-dropdown a.dropdown-toggle {
            display: none;
        }
        .content-wrapper .suggestion .os-dropdown ul.dropdown-menu {
            position: static;
            display: block;
            border: 0px;
        }
    }
    @media (max-width: 768px) {
        .content-wrapper .suggestion .os-dropdown .dropdown-menu > li > a:hover, 
        .content-wrapper .suggestion .os-dropdown .dropdown-menu > li > a:focus, 
        .content-wrapper .suggestion .os-dropdown .dropdown-submenu:hover > a, 
        .content-wrapper .suggestion .os-dropdown .dropdown-submenu:focus > a {
            background: #FF0000;
            color: #FFF !important;
        }
    }
    .content-wrapper .suggestion .dropdown-menu-list-link {
        color: #231F20;
    }
    .content-wrapper .suggestion .dropdown-menu-list-link:hover, 
    .content-wrapper .suggestion .dropdown-menu-list-link:focus {
        color: #FFF;
    }
    .content-wrapper .suggestion .dropdown-menu-list-link .item {
        text-align: right;
    }
    @media (max-width: 768px) {
        .content-wrapper .suggestion .col-image {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

.picked-for-you-content .title {
    border-bottom: 1px solid #6D6E70;
}
/* 5.1.2 HOME SERVICE */
.service-container {
    
}
    .service-container .register-wrapper {
        border: 2px solid #DDDDDD;        
    }
    .service-container .image-container {
        width: 100%;
        padding: 0px;
    }
    .service-container .div-service-info.image {
        padding-right: 0px;
    }
    .service-container .div-service-info.content {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px !important;
    }    
    .service-container .div-service-info.content .lbl-service {
        color: #FF0000;
        font-weight: bold;
    }
    .service-container .row-service-info {
        margin-bottom: 15px;
        border: 2px solid #DDDDDD;
    }
    
/* 5.1.3 HOME GOLD */
.gold-container {
    
}
    .gold-container .search-container {
        background-color: #FF0000;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .gold-container .search-container .label-container {
        color: #FFF;
        font-size: 20px;
    }
    .gold-container .search-container .gold-form-container {
        margin-top: 11px;
    }
    .gold-container .search-container .search-gold-form .ost-btn-submit {
        background-color: #f8ad40;
        color: #FFF;
        width: 100%;
    }
    @media (max-width: 768px) {
        .gold-container .search-container .search-gold-form .ost-btn-submit {
            margin-top: 15px;
        }
    }
    .gold-container .search-container .search-gold-form .ost-btn-submit:hover,
        .gold-container .search-container .search-gold-form .ost-btn-submit:active {
        color: #f8ad40 !important;
        border: 1px solid #f8ad40 !important;
        background-color: #FFF !important;
    }
    .gold-container .search-container .search-gold-form .ost-btn-submit:focus {
        background-color: #f8ad40 !important;
        color: #FFF !important;
    }
    .gold-container .subscriber-container {
        background-color: #F8F8F8;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .gold-container .subscriber-container .ost-title {
        margin-top: 0px;
        font-size: 24px;
        color: #FF0000;
    }
    .gold-container .subscriber-container .ost-subtitle {
        font-size: 23px;
    }
    .gold-container .subscriber-container .form-subscribe {
        margin-top: 15px;
    }
    .gold-container .gold-content .gold-home-tab {
        border: 1px solid #BBBBBB;
        padding: 3px;
    }
    .gold-container .gold-content .gold-home-tab .ost-title {
        background-color: #FF0000;
        color: white;
        text-align: center;
        margin: 0px;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .gold-container .gold-content {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .gold-container .gold-content .right-container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .gold-container .gold-content .price-list-content .body {
        overflow-y: scroll;
        height: 350px;
    }
    .gold-container .gold-content .price-list-content table.table {
        font-size: 12px;
        position: relative;
        margin-bottom: 0px;
    }
    .gold-container .gold-content .price-list-content .header table.table tr td {
        background-color: #F8F8F8;
        border: 2px solid white;
        font-weight: bold;
        font-size: 14px;
    }
    .gold-container .gold-content .price-list-content .body table.table tr:nth-of-type(odd){
        background-color: #F8F8F8;
    }
    .gold-container .gold-content .price-list-content .body table.table tr:nth-of-type(odd) td{
        border: 2px solid white;
    }
    .gold-container .gold-content .price-list-content .header table.table tr td.col-gram {
        width: 30%;
    }
    .gold-container .gold-content .price-list-content .header table.table tr td.col-sell {
        width: 35%;
    }
    .gold-container .gold-content .price-list-content .body table.table tr td.col-gram {
        width: 31.5%;
    }
    .gold-container .gold-content .price-list-content .txt-sold-out {
        padding: 5px 5px 5px 5px;
        background: #ff0000;
        color: #FFF;
    }
    .gold-container .gold-content .price-list-content .body table.table tr td.col-sell {
        width: 36.5%;
    }
    .gold-container .gold-content .contact-container {
        margin-top: 10px;
    }
    @media (min-width: 992px) {
        .gold-container .gold-content .contact-container {
            margin-top: 10px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .gold-container .gold-content .contact-container {
            margin-top: 0px;
        }
    }
    .gold-container .gold-content .contact-container .contact-content {
        padding: 7px;
    }
    .gold-container .gold-content .contact-container .contact-content .store {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .gold-container .gold-content .contact-container .contact-content .store .gold-name {
        color: #FFD100;
    }
    .gold-container .gold-content .contact-container .contact-info table tr td{
        font-size: 14px;
        padding: 3px;
    }
    .gold-container .gold-content .contact-container .contact-info .os{
        margin-right: 3px;
    }

/* 5.2 PRODUCT SEARCH */
.product-container {
    margin-top: 15px;
}
    .product-container .header-result {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 7px;
        padding-bottom: 3px;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 2px solid #DDDDDD;
    }
    .product-container .header-result.header-category {
        margin-top: 0px;
    }
    .product-container .header-result .header-result-title {
        margin-top: 5px;
    }
    .product-container .header-result .filter-per-page-wrapper {
        font-weight: normal;
    }
    .product-container .header-result .filter-per-page-wrapper .lbl-wrapper{
        margin-top: 7px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: normal;
    }
    .product-container .filter, .product-container .category {
        margin-top: 10px;
    }
    .product-container .filter {
        margin-bottom: 20px;
    }
    .product-container .advertise-category {
        margin-top: 10px;
    }
    .product-container .result-container {
        margin-top: 3px;
    }
    .product-container .filter .filter-content {
        border: 1px solid #DDDDDD;
        padding: 10px;
    }
    .product-container .filter .filter-content .title {
        font-size: 18px;
    }
    .product-container .filter .filter-content .title .fa.link-toggle-filter-header {
        cursor: pointer;
    }
    .product-container .filter .filter-content .item-title .fa.link-toggle {
        cursor: pointer;
    }
    .product-container .filter .filter-content .os-filter-item-container {
        margin-bottom: 10px
    }
    .product-container .filter .filter-content .os-filter-item-container .item-list label.checkbox{
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: normal;
    }
    .product-container .filter .filter-content .item-title {
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 5px;
        position: relative;
    }
    .product-container .filter .filter-content .item-title h4 {
        margin-bottom: 5px;
    }
    .product-container .filter .filter-content .os-filter-price-container .price {
        font-weight: bold;
    }
    .product-container .filter .filter-content .os-filter-price-container .slider.slider-horizontal {
        width: 100%;
        margin-left: 5px;
    }
    @media (max-width: 768px) {
        .product-container .filter .filter-content .os-filter-price-container .slider.slider-horizontal {
            width: 100%;
            margin-left: 11px;
        }
    }
    .product-container .filter .filter-content .os-filter-price-container .slider.slider-horizontal .slider-track {
        height: 6px;
        width: 96%;
    }

    .product-container .os-filter-item-container .os-dropdown .dropdown-menu > li > a:hover,
    .product-container .os-dropdown .dropdown-menu > li > a:focus, 
    .product-container .os-dropdown .dropdown-submenu:hover > a, 
    .product-container .os-dropdown .dropdown-submenu:focus > a {
        background: none;
        color: #FF0000 !important;
    }
    .product-container .os-filter-item-container .os-dropdown ul.dropdown-menu {
        border-radius: 0px;
        box-shadow: none;
        background-color: #FFF;
        border: 1px solid #FF0000;
        color: #FF0000;
        padding: 0px;
        top: 92%;
        width: 100%;
    }
    .product-container .os-filter-item-container .os-dropdown ul.dropdown-menu a.dropdown-menu-list-link {
        padding: 0px 20px;
    }
    .product-container .os-filter-item-container .os-dropdown ul.dropdown-menu a.dropdown-menu-list-link label.control-label,
    .product-container .os-filter-item-container .os-dropdown ul.dropdown-menu a.dropdown-menu-list-link label.checkbox-label{
        margin-bottom: 0px;
    }

    .product-container .category .category-content{
        border: 1px solid #DDDDDD;
        padding: 10px;
    }
    .product-container .category .category-content .dropdown-menu-list.selected a.dropdown-menu-list-link{
        color: #FF0000;
    }
    .product-container .category .os-dropdown .dropdown-menu > li > a:hover, 
    .product-container .os-dropdown .dropdown-menu > li > a:focus, 
    .product-container .os-dropdown .dropdown-submenu:hover > a, 
    .product-container .os-dropdown .dropdown-submenu:focus > a {
        background: none;
        color: #FF0000 !important;
    }
    @media (max-width: 768px) {
        .product-container .category .os-dropdown .dropdown-menu > li > a:hover,
        .product-container .os-dropdown .dropdown-menu > li > a:focus, 
        .product-container .os-dropdown .dropdown-submenu:hover > a, 
        .product-container .os-dropdown .dropdown-submenu:focus > a {
            background: #FF0000;
            color: #FFF !important;
        }
    }
    .product-container .category .ost-title a, .product-container .category .ost-title a:hover,
    .product-container .category .ost-title a:visited, .product-container .category .ost-title a:active{
        text-decoration: none;
        color: #FF0000;
    }
    
    .slider-selection {
        position: absolute;
        background-color: #fe0100;
        /* background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); */
        /* background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); */
        /* background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); */
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .slider-handle {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #fe0100;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
        filter: none;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        border: 0px solid transparent;
    }

/* 5.3 MEMBER */
.member-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.member-navbar-wrapper {
    border: 1px solid #DDDDDD;
}
    .member-navbar-wrapper .image {
        margin: 10px;
    }
    .member-navbar-wrapper .user-right-info{
        min-height: 150px;
    }
    .member-navbar-wrapper .user-right-info-content {
        margin-top: 20px;
    }

    .member-navbar-wrapper.nav.nav-member li a, .nav.nav-member li a:visited, .nav.nav-member li a:active {
        color: #000;
        background-color: #FFF;
        text-decoration: none;
    }
    .member-navbar-wrapper .nav.nav-member li a:hover {
        color: #FF0000;
        background-color: #FFF;
    }
    .member-navbar-wrapper .nav.nav-member li a.active {
        color: #FF0000;
        font-weight: 700;
    }

.member-address-container  {
    margin-bottom:20px;
}


.member-address-container .title {
    font-size:24px;
}

.member-address-container .member-address-header {
    border-bottom: 1px solid #ccc;
    padding-left:10px;
}

.member-address-container .member-address-body .member-address-item {
    padding-left:10px;
    border-bottom: 1px solid #ccc;
    padding-top:10px;
    padding-bottom:10px;
    line-height:24px;
    
}

.member-address-container .member-address-body .member-address-item .main-address-action-container {
    height:35px;
}


.main-address-action-container a {
    color:red;
}

.member-address-btn-container .col-md-6 {
    text-align:center;
}

.member-confirm-container {
    margin-top: 30px;
}
    .member-confirm-container .left-content {
        
    }
    .member-confirm-container .right-content .top .large {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
    }
    .member-confirm-container .right-content .top .middle {
        font-size: 20px;
    }        
    .member-confirm-container .right-content .top .middle.link {
        color: #fe0100;
    }       
    .member-confirm-container .right-content .top .large .org-name {
        text-transform: uppercase;
        color: #fe0100;
    }
    
    .member-confirm-container .right-content .bottom {        
        padding-top: 5%;
        padding-left: 20%;
        padding-bottom: 3%;
    }
    
    .member-confirm-container .right-content .bottom a {
        text-transform: uppercase;
        font-size: 20px;        
    }

/* 5.3.1 REGISTER MEMBER */
.verify-success {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
}
    .verify-success .lbl-txt-verifikasi {
        font-weight: bold;
        font-size: 24px;
    }
    .verify-success .txt-verifikasi {
        font-size: 20px;
    }
    .verify-success .txt-store {
        color: #ff0000;
    }


/* 5.4 PRODUCT DETAIL */ 
.prod-detail-container {
    margin-top: 15px;
    margin-bottom: 15px;
}
    @media (max-width: 768px) {
        .prod-detail-container .img-display {
            text-align: center;
        }
    }
    .prod-detail-container .breadcrumb-container {
        margin-bottom: 15px;
    }
    .prod-detail-container .img-display img {
        width: 359px;
        height: 500px;
    }
    .prod-detail-container .img-gallery .img-item {
        float: left;
        width: 70px;
        height: 80px;
        margin: 2px;
        cursor: pointer;
    }
    .prod-detail-container .img-gallery .img-item img {
        width: 100%;
        padding: 5px;
        background: #FFFFFF;
        border: 1px solid #BBB;
        -webkit-opacity: 0.5;
        -moz-opacity: 0.5;
        -ms-opacity: 0.5;
        -o-opacity: 0.5;
    }
    .prod-detail-container .img-gallery .img-item img.active, .prod-detail-container .img-gallery .img-item:hover img {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
    }
    .prod-detail-container .product-overview, .prod-detail-container .product-price, .prod-detail-container .product-stock { 
        margin-top: 10px;
        margin-bottom: 17px;
    }
    .prod-detail-container h3.os-title { 
        font-weight: bold;
        margin-top: 0px;
    }
    .prod-detail-container .product-related-wrapper h3.os-title { 
        margin-top: 20px;
        color: #FF0000;
        padding-bottom: 4px;
        border-bottom: 1px solid #BBBBBB;
    }
    .prod-detail-container h4.os-subtitle {
        font-weight: 700;
    }
    .prod-detail-container .input-group #product-qty.form-control {
        z-index: 0;
    }
    .prod-detail-container .product-price {
        font-size: 20px;
        font-weight: 700;
        color: #FF0000;
    }
    .prod-detail-container .product-price .disc-wrapper {
        font-size: 14px;
        color: #000;
        font-weight: normal;
    }
    .prod-detail-container .stock-empty {
        font-size: 18px;
        font-weight: bold;
    }
    .prod-detail-container .info-wrapper .ost-btn-submit {
        padding: 6px;
    }
    .prod-detail-container .info-wrapper .ost-btn-submit .fa{
        margin-right: 7px;
    }
    .prod-detail-container .product-tab {
        margin-top: 30px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .prod-detail-container .additional-info-container {
            margin-top: 15px;
        }
    }
    @media (max-width: 768px) {
        .prod-detail-container .right-content {
            margin-top: 15px;
        }
        .prod-detail-container .additional-info-container {
            margin-top: 15px;
        }
    }
    .prod-detail-container .additional-info-container .os-box-widget {
        margin-bottom: 10px;
    }
.table-address thead, .table-address tr {
    border-bottom: 1px solid #ddd;
}

.table-address .table td, .table th {
    border: none !important;
}

.table-address .align-center {
    text-align: center !important;   
    vertical-align: middle;    
}

/* 5.5 NEWS ARTICLE */
.category-wrapper {}
    .category-wrapper .categ-title {
        font-size: 20px;
    }
    .category-wrapper .categ-content-item {
        border: 1px solid #d5d5d5;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .category-wrapper .categ-post-title {
        font-weight: 500;
        margin: 10px;
        color: #424242 !important;
    }
    .category-wrapper .categ-content-author {
        margin: 10; 
        padding-top: 20px; 
        border-top: 1px solid #d5d5d5;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
/* 5.6 MYORDER */
.myorder-wrapper {}
    .myorder-wrapper .ost-title {
        font-weight: bold;
    }
    .myorder-wrapper .btn-detail-order {
        color: #FFF;
        background-color: #00acf0;
        border: 1px solid #00acf0;
        margin-bottom: 5px;
    }
    .myorder-wrapper .btn-detail-order:hover {
        background-color: #FFF;
        color: #00acf0 !important;
        border: 1px solid #00acf0 !important;
    }
    .myorder-wrapper .btn-detail-order:focus {
        background-color: #FFF !important;
        color: #00acf0 !important;
        border: 1px solid #00acf0 !important;
        outline: none;
        font-weight: normal;
    }
    .myorder-wrapper .btn-detail-order:active {
        background-color: #FFF !important;
        color: #00acf0 !important;
        border: 1px solid #00acf0 !important;
        font-weight: normal;
    }
    .myorder-wrapper .btn-status-order {
        color: #FFF;
        background-color: #39b54a;
        border: 1px solid #39b54a;
    }
    .myorder-wrapper .btn-status-order:hover {
        color: #39b54a !important;
        background-color: #FFF;
        border: 1px solid #39b54a !important;
    }
    .myorder-wrapper .btn-status-order:focus {
        background-color: #FFF !important;
        color: #39b54a !important;
        border: 1px solid #39b54a !important;
        outline: none;
        font-weight: normal;
    }
    .myorder-wrapper .btn-status-order:active {
        background-color: #FFF !important;
        color: #39b54a !important;
        border: 1px solid #39b54a !important;
        font-weight: normal;
    }
    .myorder-wrapper .os-datatable-container .os-datatable .head-info {
        margin-bottom: 10px;
    }
    
    @media (max-width: 768px) {
        .myorder-wrapper .os-datatable-container .os-datatable thead tr th:nth-child(3),
            .myorder-wrapper .os-datatable-container .os-datatable tbody tr td:nth-child(3){
            display: none;
        }
        .myorder-wrapper .os-datatable-container .os-datatable thead tr th:nth-child(1),
            .myorder-wrapper .os-datatable-container .os-datatable tbody tr td:nth-child(1){
            display: none;
        }
        .myorder-wrapper .os-datatable-container .os-datatable thead tr th:nth-child(6),
            .myorder-wrapper .os-datatable-container .os-datatable tbody tr td:nth-child(6){
            display: none;
        }
        .myorder-wrapper .os-datatable-container .os-datatable thead tr th:nth-child(2),
            .myorder-wrapper .os-datatable-container .os-datatable tbody tr td:nth-child(2){
            display: none;
        }
    }
    
    
    /* 5.6.1 MYORDER DETAIL */
    .myorder-wrapper-detail {}
        .myorder-wrapper-detail .myorder-wrapper-detail-title {
            font-size: 18px;
        }
        .myorder-wrapper-detail .myorder-table-detail table.table.table-bordered thead th {
            background: #f60100;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            padding: 5px 10px;
        }
        .myorder-wrapper-detail .btn-back-detail-myorder {
            color: white;
            background: #f60100 !important;
        }
        .myorder-wrapper-detail .btn-back-detail-myorder:hover  {
            background-color: #EEEEEE !important;
            color: red;
        }
        .myorder-wrapper-detail .btn-back-detail-myorder:focus  {
            color: white;
        }
        
/* 5.7 CART */
/* 5.7.1 MODAL */
.cma-container {}
    .cma-container .cma-title {
        color: #FF0000;
    }
    .cma-container .message {
        padding-bottom: 20px;
        word-wrap: break-word;
    }

/* 5.7.2 CART SUMMARY */
.cart-summary{}
    .cart-summary .cart-item {
        font-size: 11px;
        padding-bottom: 7px;
        padding-top: 7px;
        border-bottom: 1px solid #6D6E70;
    }
    .cart-summary .cart-item .item-name {
        font-weight: bold;
    }
    .cart-summary .cart-item .item-price, .cart-summary .cart-item .item-qty { 
        font-style: italic;
    }
    .cart-summary .cart-item img {
        width: 100%;
        height: 80px;
    }
    .cart-summary .cart-item .subtotal {
        color: #FF0000;
        font-weight: bold;
    }
    .cart-summary #cart-footer {
        padding-top: 7px;
        font-size: 11px;
    }
    .cart-summary #cart-footer .total-product, .cart-summary #cart-footer .total-price {
        font-weight: bold;
    }
    .cart-summary #cart-footer .total-price {
        color: #FF0000;
    }
    .cart-summary #cart-footer .delivery-info {
        font-style: italic;
    }
    
/* 5.7.3 CART at ICON */
.cart-wrapper {
    width: 300px;
}
    .cart-wrapper h4.ost-title { 
        margin-top: 0px;
    }
    .cart-wrapper #cart-body {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 180px;
        width: 100%;
        word-wrap: break-word;
    }
    .cart-wrapper .ost-btn-submit {
        padding: 3px 6px;
    }
    
/* 5.7.4 CART PAGE */
.form-cart {}
    .form-cart .table-cart tbody tr.cart-item td {
        vertical-align: middle;
    }
    .form-cart .table-cart tbody .cart-item-name .img-product {
        width: 75px;
        display: inline-block;
        margin-right: 15px;
    }
    .form-cart .table-cart tbody .cart-item-name .product-qty-wrapper {
        width: 100px;
        display: inline-block;
        margin-top: 10px;
        margin-right: 20px;
    }
    .form-cart .table-cart tbody .cart-item-name .btn-remove,
        .form-cart .table-cart tbody .cart-item-name .btn-remove .os-trash {
        margin-top: 12px;
        vertical-align: top;
    }
    .form-cart .cart-footer-summary {
        background-color: #EEEEEE;
        padding: 20px;
        margin-bottom: 15px;
    }
    .form-cart .cart-footer-summary .lbl-info-total-shopping, .form-cart .cart-footer-summary .total-price-content {
        color: #424242;
        font-size: 18px;
        font-weight: bold;
        min-height: 47px;
    }
    .form-cart .cart-footer-summary .total-price-content{
        padding-top: 10px;
    }
    .form-cart .cart-footer-summary .ost-btn-submit {
        margin-top: 7px;
    }
    .form-cart .cart-footer-summary .lbl-info-delivery {
        font-size: 16px;
        color: #808285;
    }
    @media (max-width: 768px) {
        .form-cart .table-cart thead tr td.col-total {
            width: 125px;
        }
    }
      


 /* 5.8 CHECKOUT */
 .checkout-container {
     margin-top: 15px;
     margin-bottom: 15px;
 }
    .checkout-container .payment-address-wrapper, .checkout-container .shipping-address-wrapper, 
        .checkout-container .shipping-method-wrapper {
        border: 1px solid #BBBBBB;
        padding: 15px;
    }
    .checkout-container .shipping-address-wrapper, .checkout-container .shipping-method-wrapper {
        margin-top: 10px;
    }
    .checkout-container .shipping-same-info {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -15px;
        padding: 15px;
        background-color: #FF0000;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    .modal-change-address .shipping-same-info {
        padding: 7px;
        margin-bottom: 10px;
        background-color: #FF0000;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    .checkout-container .shipping-address-wrapper .same-address-wrapper .checkbox-label {
        font-weight: normal;
        font-size: 12px;
    }
    .checkout-container h3.title,  .modal-change-address h3.title {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .checkout-container .btn-order-checkout {
        width: 100%;
        font-size: 20px;
    }
    .checkout-container .cart-checkout {
        border-top: 5px solid #FF0000;
        border-bottom: 5px solid #FF0000;
        border-right: 1px solid #BBBBBB;
        border-left: 1px solid #BBBBBB;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    .checkout-container .cart-checkout .cart-item {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 13px;
    }
    .checkout-container .cart-checkout .ost-title {
        color: #FF0000;
    }
    .checkout-container .cart-checkout #cart-footer {
        font-size: 14px;
    }

    
/* 5.9 INVOICE */
.invoice-wrapper {
    margin-top: 30px; 
    margin-bottom: 30px;
}
    .invoice-wrapper .lbl-invoice-not-found {
        font-weight: bold;
        font-size: 24px;
    }
    /* Invoice Not Found*/
    .invoice-not-found-wrapper {
        margin-top: 15px;
        margin-bottom: 50px;
    }
        .invoice-not-found-wrapper .lbl-invoice-not-found {
            font-weight: bold;
            font-size: 20px;
            margin: 0px auto 15px auto;
        }

        .invoice-not-found-wrapper .line-wrapper {
            position: relative;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 25px;
        }
        .invoice-not-found-wrapper .line-wrapper .line {
            position: absolute;
            height: 1px;
            width: 100%;
            border-top: 1px solid #ddd;
            top: 10px;
        }
        .invoice-not-found-wrapper .line-label {
            margin: auto;
            position: relative;
        }
        .invoice-not-found-wrapper .line-text {
            background-color: #FFF;
            display: inline;
            padding-right: 10px;
            padding-left: 10px;
        }
        .invoice-not-found-wrapper .btn-back-to-home {
            padding: 6px 36px;
        }
        @media (max-width: 991px) {
            .invoice-not-found-wrapper .left-container img {
                width: 400px;
                margin: auto;
            }
            .invoice-not-found-wrapper .line-wrapper {
                margin-left: 0px;
            }
        }
    /* Invoice Found*/
    .invoice-container-wrapper {
        margin-top: 30px;
    }
        .invoice-container-wrapper .lbl-invoice {
            padding: 0px;
            font-weight: bold;
            font-size: 24px;
        }
        .invoice-container-wrapper .invoice-content {
            padding: 0px;
            margin-top: 20px;
        }
        .invoice-container-wrapper .table-62hallfamily-invoice table.table.table-bordered thead th {
            background: #f60100;
            color: #fff;
            text-align: left;
            vertical-align: middle;
            padding: 5px 10px;
        }
        .invoice-container-wrapper .invoice-content-40 {
            padding: 0px;
            margin-top: 40px;
        }
    .invoice-container-wrapper .order-table .order-title {
        background: #FF0000;
        font-size: 18px;
        color: #FFF;
        border: 1px solid #FF0000;
        padding: 7px 9px;
        font-weight: bold;
    }
    .invoice-container-wrapper .order-table .order-body {
        border: 1px solid #6D6E70;
        border-top: 0px;
        padding: 7px 9px;
    }
    
    @media (min-width: 768px) {
        .invoice-container-wrapper .order-table .invoice-left-detail {
            padding-right: 0px;
        }
        .invoice-container-wrapper .order-table .invoice-right-detail {
            padding-left: 0px;
        }
        .invoice-container-wrapper .order-table .invoice-right-detail .order-body {
            border-left: 0px;
        }
    }
    @media (max-width: 768px) {
        .invoice-container-wrapper .order-table.invoice-address-wrapper .invoice-right-detail
            ,.invoice-container-wrapper .order-table.invoice-payment-method-wrapper .invoice-right-detail {
            margin-top: 15px
        }
    }
    
    .invoice-wrapper .btn-inv-confirmation {
        padding: 4px;
        margin-left: 10px;
    }
    .invoice-wrapper .invoice-button-wrapper .ost-btn-submit {
        margin-left: 5px;
        margin-bottom: 5px;
    }
    @media (max-width: 768px) {
        .invoice-wrapper .invoice-button-wrapper {
            text-align: center;
        }
    }
    
    
/* 5.10 STATUS ORDER */
.status-order-wrapper {}
    .status-order-wrapper .status-order-content {
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .status-order-wrapper .ost-table thead tr td {
        background-color: #acacac;
        font-size: 16px;
        border: 1px solid #acacac;
    }
    .status-order-wrapper h3.ost-title {
        font-weight: bold;
    }
    .status-order-wrapper .lbl-status-order {
        font-weight: bold;
        font-size: 24px;
        margin-top: 30px; 
        margin-bottom: 10px;
    }
    .status-order-wrapper .footer {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .status-order-wrapper .margin-right-10 {
        margin-right: 10px;
    }
    @media (min-width: 768px) {
        .status-order-wrapper .order-table .order-left-detail {
            padding-right: 0px;
        }
        .status-order-wrapper .order-table .order-right-detail {
            padding-left: 0px;
        }
        .status-order-wrapper .order-table .order-right-detail .order-body {
            border-left: 0px;
        }
    }
    
    .status-order-wrapper .btn-order-confirmation {
        padding: 4px;
        margin-left: 10px;
    }
    .status-order-wrapper .order-button-wrapper .ost-btn-submit {
        margin-left: 5px;
        margin-bottom: 5px;
    }
    @media (max-width: 768px) {
        .invoice-wrapper .order-button-wrapper {
            text-align: center;
        }
    }
    

    
/* 5.11 PAYMENT */
.payment-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}
    .payment-wrapper .ost-title {
        margin-top: 0px;
    }
    .payment-wrapper .payment-method-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
    .payment-wrapper .payment-method-wrapper .item {
        border: 1px solid #BBBBBB;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .payment-wrapper .payment-method-wrapper .item label.item-wrap{
        width: 100%;
        cursor: pointer;
        position: relative;
        min-height: 100px;
        margin-bottom: 0px;
    }
    .payment-wrapper .payment-method-wrapper .payment-name {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .payment-wrapper .payment-method-wrapper .payment-name.no-name {
        margin-top: 18px;
    }
    .payment-wrapper .payment-method-wrapper .payment-radio {
        position: absolute;
        bottom: -12px;
        left: 45%;
    }
    .payment-wrapper #payment-method-information {
        margin-top: 10px;
    }
    .payment-wrapper #payment-method-information .payment-useful-info {
        border-top: 1px solid #BBBBBB;
        padding-top: 10px;
    }
    .payment-wrapper #payment-method-information .op-content .pm-info-container {
        background-color: #EEEEEE;
        padding: 15px;
        margin-bottom: 15px;
    }
    .payment-wrapper #payment-method-information .op-content .pm-info-container .payment-online-content {
        margin-bottom: 10px;
    }
    .payment-wrapper #payment-method-information .op-content .pm-info-container .payment-online-content .payment-label{
        font-size: 16px;
    }
    .payment-wrapper #payment-method-information .op-content .pm-info-container .payment-online-content .payment-amount {
        font-size: 16px;
        color: #FF0000;
    }
    .payment-wrapper #payment-method-information .op-content .pm-info-container .payment-online-content .lbl-grand-total
        ,.payment-wrapper #payment-method-information .op-content .pm-info-container .payment-online-content .amount-grand-total
    {
        font-weight: bold;
    }
    .payment-wrapper #payment-method-information .bank-wrapper .bank-item {
        border: 1px solid #BBBBBB;
        padding-top: 7px;
        padding-bottom: 7px;
        min-height: 85px;
    }
    .payment-wrapper #payment-method-information .bank-wrapper .bank-item .bank-item-wrap {
        cursor: pointer;
    }
    .payment-wrapper #payment-method-information .bank-wrapper .bank-item label {
        margin-bottom: 0px;
    }
    .payment-wrapper #payment-method-information .bank-wrapper-information {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        position: relative;
        background-color: #EEEEEE;
    }
    .payment-wrapper #payment-method-information .bank-wrapper-information .bank-item-detail-info{
        position: static;
        display: none;
        top: 0px;
    }
    .payment-wrapper #payment-method-information .bank-wrapper-information .bank-item-detail-info.active{
        display: block;
    }
    
    .payment-wrapper .address-wrapper .address-content {
        border: 1px solid #BBBBBB;
        padding: 10px;
        margin-bottom: 10px;
    }
    .payment-wrapper .address-wrapper .address-content .name {
        font-weight: bold;
    }
    .payment-wrapper .address-wrapper .address-content .email {
        margin-bottom: 7px;
    }
    .payment-wrapper .address-wrapper .btn-change-address {
        padding: 3px 7px;
        font-size: 12px;
    }
    
    .payment-wrapper .order-detail-wrapper {
        border: 1px solid #BBBBBB;
    }
    .payment-wrapper .order-detail-wrapper .detail-head,
        .payment-wrapper .order-detail-wrapper .detail-body,
        .payment-wrapper .order-detail-wrapper .detail-subtotal {
        border-bottom: 1px solid #BBBBBB;
        padding: 10px;
    }
    .payment-wrapper .order-detail-wrapper .detail-head h3.ost-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .payment-wrapper .order-detail-wrapper .detail-body .tbl-order-detail {
        margin-bottom: 0px;
    }
    .payment-wrapper .order-detail-wrapper .detail-body .tbl-order-detail tr td {
        font-size: 12px;
    }
    .payment-wrapper .order-detail-wrapper .detail-grand-total{
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
    }
    .payment-wrapper .order-detail-wrapper .detail-grand-total .amount {
        color: #FF0000;
    }
    .payment-wrapper .order-detail-wrapper .detail-grand-total .tax-info {
        font-size: 12px;
    }
    
    
/* 5.12 RESET PASSWORD */
.reset-password-wrapper {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}
    .reset-password-wrapper h2.ost-title {
        color: #FF0000;
        font-weight: bold;
        font-size: 30px;
    }
    .reset-password-wrapper .reset-contents {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 60%;
    }
    .reset-password-wrapper .ost-btn-submit {
        font-size: 20px;
    }
    
.reset-password-wrapper-popup {
    margin-top: 10px;
    margin-bottom: 10px;
}
    .reset-password-wrapper-popup h4.ost-title {
        color: #FF0000;
        font-weight: bold;
        font-size: 20px;
    }
.ost-title-reset-password{
    font-weight: bold;
    font-size: 24px;
    color: #FF0000;
}

/* 5.13 PAYMENT CONFIRMATION */
.pay-confirm-container {
    
}
    .pay-confirm-container .title {
        margin-bottom: 15px;
    }
    .pay-confirm-container .acc-number {
        display: inline;
        width: 59.5%;
    }
    .pay-confirm-container .acc-bank {
        display: inline-block;
        width: 39.5%;
        height: 34px !important;
        vertical-align: top;
    }
    .pay-confirm-container .acc-bank.select2-container .select2-choice {
        height: 34px;
    }
    .pay-confirm-container .pay-confirm-btn-wrapper {
        margin-bottom: 15px;
    }

/* 5.14 READ PAGE */
.read-page-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}
    .read-page-wrapper .read-page-container .read-page-navbar-wrapper {
        border: 1px solid #DDDDDD;
    }
        .read-page-wrapper .read-page-container .read-page-navbar-wrapper .title-area {
            margin-left: 10px;
            margin-right: 10px;
            border-bottom: 1px solid #d5d5d5;
        }
        .read-page-wrapper .read-page-container .read-page-navbar-wrapper .title {
            margin-left: 5px;
            margin-top: 15px;
            font-size: 24px;
            font-weight: bold;
        }
        .read-page-wrapper .read-page-container .read-page-navbar-wrapper .nav.nav-page li a {
            color: #000000;
            background: none;
        }
        .read-page-wrapper .read-page-container .read-page-navbar-wrapper.nav.nav-page li a, .nav.nav-page li a:visited, .nav.nav-page li a:active {
            color: #000;
            background-color: #FFF;
            text-decoration: none;
        }
        .read-page-wrapper .read-page-container .read-page-navbar-wrapper .nav.nav-page li a:hover {
            color: #FF0000;
            background: none;
        }
        .read-page-wrapper .read-page-container .read-page-navbar-wrapper .nav.nav-page li a.active {
            color: #FF0000;
            font-weight: 700;
        }
        
    .read-page-wrapper .read-page-content {
        margin-top: 15px;
        margin-bottom: 15px;
    }

/*  5.15 REGISTER SUBSCRIBER  */
.register-subscribe-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}
    .register-subscribe-wrapper .lbl-header {
        font-size: 24px;
        font-weight: bold;
    }
    .register-subscribe-wrapper .lbl-content {
        font-size: 20px;
    }
/* 5.16 ERROR PAGE */

/* 5.16.1 PRODUCT NOT FOUND */
.product-not-found-wrapper {
    margin-top: 15px;
    margin-bottom: 25px;
}
    .product-not-found-wrapper .lbl-product-not-found {
        font-weight: bold;
        font-size: 20px;
        margin: 0px auto 15px auto;
    }
    
    .product-not-found-wrapper .line-wrapper {
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 25px;
    }
    .product-not-found-wrapper .line-wrapper .line {
        position: absolute;
        height: 1px;
        width: 100%;
        border-top: 1px solid #ddd;
        top: 10px;
    }
    .product-not-found-wrapper .line-label {
        margin: auto;
        position: relative;
    }
    .product-not-found-wrapper .line-text {
        background-color: #FFF;
        display: inline;
        padding-right: 10px;
        padding-left: 10px;
    }
    .product-not-found-wrapper .btn-back-to-home {
        padding: 6px 36px;
    }
    @media (max-width: 991px) {
        .product-not-found-wrapper .left-container img {
            width: 400px;
            margin: auto;
        }
        .product-not-found-wrapper .line-wrapper {
            margin-left: 0px;
        }
    }
    
/* 5.17 PAGE REQUEST PRODUCT */
.page-request-wrapper {
    margin-top: 30px;
    margin-bottom: 25px;
}
    
    .page-request-wrapper .right-container {
        margin-top: 0px;
    }
    @media (max-width: 991px) {
        .page-request-wrapper .left-container img {
            width: 400px;
            margin: auto;
        }
        .page-request-wrapper .right-container {
            margin-top: 25px;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .page-request-wrapper .right-container {
            margin-top: 0px;
        }
    }
 
/* WHEN SEARCH NO RESULT */
.product-no-result {
    margin-bottom: 20px;
}
    .product-no-result .form-request { 
        width: 70%;
        margin: auto;
    }
    