@font-face {
    font-family: 'Android-62Hall';
    src:    url('../../font/android62hall/Android-62Hall.eot?xwdhlg');
    src:    url('../../font/android62hall/Android-62Hall.eot?xwdhlg#iefix') format('embedded-opentype'),
        url('../../font/android62hall/Android-62Hall.ttf?xwdhlg') format('truetype'),
        url('../../font/android62hall/Android-62Hall.woff?xwdhlg') format('woff'),
        url('../../font/android62hall/Android-62Hall.svg?xwdhlg#Android-62Hall') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Android-62Hall' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-aRadioButton-ON:before {
    content: "\61";
}
.icon-bRadioButton-OFF:before {
    content: "\62";
}
.icon-ccheckboxon:before {
    content: "\63";
}
.icon-dcheckboxoff:before {
    content: "\64";
}
.icon-eMenu:before {
    content: "\65";
}
.icon-fKembali:before {
    content: "\66";
}
.icon-gUp:before {
    content: "\67";
}
.icon-hSearching:before {
    content: "\68";
}
.icon-iOke:before {
    content: "\69";
}
.icon-jEdit:before {
    content: "\6a";
}
.icon-kPanahBawah:before {
    content: "\6b";
}
.icon-lKategori:before {
    content: "\6c";
}
.icon-mFilter:before {
    content: "\6d";
}
.icon-nUrutkan:before {
    content: "\6e";
}
.icon-oShare:before {
    content: "\6f";
}
.icon-pPengiriman:before {
    content: "\70";
}
.icon-qDetails:before {
    content: "\71";
}
.icon-rperingatan:before {
    content: "\72";
}
.icon-sShoppingCart:before {
    content: "\73";
}
.icon-tTandaSilang:before {
    content: "\74";
}
.icon-AMember-Daftar-Masuk-NamaLengkap:before {
    content: "\41";
}
.icon-BHome:before {
    content: "\42";
}
.icon-CGold:before {
    content: "\43";
}
.icon-DJasa:before {
    content: "\44";
}
.icon-EKategori:before {
    content: "\45";
}
.icon-FStatusOrder:before {
    content: "\46";
}
.icon-GBantuan:before {
    content: "\47";
}
.icon-HHubungiKami:before {
    content: "\48";
}
.icon-IKeluar:before {
    content: "\49";
}
.icon-JSemuaKategori:before {
    content: "\4a";
}
.icon-KHandphone:before {
    content: "\4b";
}
.icon-LKomputer:before {
    content: "\4c";
}
.icon-MFashion:before {
    content: "\4d";
}
.icon-NMainandanBayi:before {
    content: "\4e";
}
.icon-OKesehatandanKecantikan:before {
    content: "\4f";
}
.icon-PElektronikdanPeralatanRumah:before {
    content: "\50";
}
.icon-QOtomotifdanHobi:before {
    content: "\51";
}
.icon-RMakanandanMinuman:before {
    content: "\52";
}
.icon-SPerkantoran:before {
    content: "\53";
}
.icon-TLainnya:before {
    content: "\54";
}
.icon-UIconkeSubKategori:before {
    content: "\55";
}
.icon-VEmail:before {
    content: "\56";
}
.icon-WPassword:before {
    content: "\57";
}
.icon-XUlangiPassword:before {
    content: "\58";
}
.icon-YTanggal:before {
    content: "\59";
}
.icon-ZGender:before {
    content: "\5a";
}

