/* 
Created on : Apr 27, 2016, 9:23:18 AM
Author     : Raymond Sugiarto
*/

/**
 *  TABLE OF CONTENTS
 *
 *  1. GLOBAL
 *      1.1 GENERAL
 *      1.2 HEADER
 *  2. HELPER
 *  3. ELEMENT & CONTROL
 *  4. SPECIFIC PAGE
 *      4.1 HOME
 *          4.1.1 HOME PRODUCT
 **/

/* 1. GLOBAL */

/* 1.1 GENERAL */

/* 1.1 HEADER */
    
    @media (min-width: 768px) {
        header .navbar-home.nav-store-def.nav li ul.dropdown-menu.child-1 {
            display: block !important;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7) !important;
        }
    }
    
/* 4. SPECIFIC PAGE */

/* 4.1 HOME */
/* 4.1.1 HOME PRODUCT */
.home-content {
    margin-bottom: 15px;
}
    
    .home-content .deals-content {
        padding-top: 0px;
    }
    .home-content .deals-content .product-deals-container {
        border-top: 0px;
    }
    .home-content .deals-content .product-deals-container h3.ost-title {
        background-color: #FF0000;
        color: #FFF;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px 0px;
        text-align: center;
    }
    .home-content .deals-content .def-slider h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .home-content .deals-content .def-slider .os-product-card {
        border: 1px solid #A7A9AC;
        margin: 0px;
        padding: 9px;
    }
    .home-content .deals-content .def-slider .os-product-card:hover {
        border: 1px solid #A7A9AC;
    }
    .home-content .deals-content .def-slider .slick-next, 
        .home-content .deals-content .def-slider .slick-prev {
        top: -25px;
    }
    .home-content .deals-content .def-slider .slick-prev:before,
        .home-content  .deals-content .def-slider .slick-next:before {
        color: #FFF !important;
    }
    .home-content .picked-for-you-content .title {
        border: 0px;
    }
    
    .home-content .picked-for-you-content .title .ost-title {
        text-align: center;
        font-size: 20px;
        color: #000000;
    }
    .home-content .picked-for-you-content .title .ost-title span {
        display: inline-block;
        position: relative;
        font-size: 36px;
        color: #000;
        font-weight: normal;
    }
    .home-content .picked-for-you-content .title .ost-title span:before,
        .home-content .picked-for-you-content .title .ost-title span:after {
        content: "";
        position: absolute;
        height: 20px;
        border-bottom: 2px solid #ccc;
        border-top: 1px solid white;
        top: 0;
        width: 80%;
    }
    .home-content .picked-for-you-content .title .ost-title span:before {
        right: 100%;
        margin-right: 45px;
    }
    .home-content .picked-for-you-content .title .ost-title span:after {
        left: 100%;
        margin-left: 45px;
    }
    @media (max-width: 768px) {
        .home-content .picked-for-you-content .title .ost-title span:before,
            .home-content .picked-for-you-content .title .ost-title span:after {
            width: 40%;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .home-content .picked-for-you-content .title .ost-title span:before,
            .home-content .picked-for-you-content .title .ost-title span:after {
            width: 45%;
        }
    }
    @media (min-width: 1200px) {
        .home-content .picked-for-you-content .title .ost-title span:before,
            .home-content .picked-for-you-content .title .ost-title span:after {
            width: 110%;
        }
    }
    
    .home-content .suggestion .os-product-card {
        border: 1px solid #A7A9AC;
        padding: 0px;
        min-height: auto;
    }
    .home-content .suggestion .os-product-card .content {
        background-color: #FF0000;
    }
    .home-content .suggestion .os-product-card .content .name {
        padding: 3px;
    }
    .home-content .suggestion .os-product-card .content .name, .home-content .suggestion .os-product-card .content .price {
        text-align: center;
        color: #FFF;
        border: 0px;
        float: none !important;
        margin: auto;
        min-height: 42px;
    }
    .home-content .suggestion .os-product-card .content .os {
        top: 0px;
    }
    .home-content .suggestion .os-product-card .detail, .home-content .suggestion .os-product-card .price {
        height: 25px;
    }
    .home-content .suggestion .os-product-card .detail .price {
        width: 100%;
    }
    .home-content .suggestion .os-product-card .detail .price span {
        float: none;
        color: #FFF;
    }
    .home-content .suggestion .os-product-card .detail .disc {
        position: relative;
    }
    .home-content .suggestion .os-product-card .detail .os-product-card-hot {
        left: 23px;
    }
    .home-content .suggestion .os-product-card .detail .os-product-card-new {
        left: -1px;
    }
    
    .home-content .floor-container .floor-content {
        background-color: #f1f2f2;
        min-height: 461px;
    }
    .home-content .floor-container .title {
        height: 37px;
        padding-left: 0px;
        color: #FFF;
        font-size: 18px;
        font-weight: bold;
    }
    .home-content .floor-container .title .floor-number {
        position: absolute;
        width: 30px;
        height: 30px;
        text-align: center;
        border: 4px solid #FFF;
        border-radius: 18px;
        bottom: 0;
        z-index: 10;
        margin-bottom: 7px;
        margin-left: 8px;
    }
    .home-content .floor-container .title .title-wrap {
        display: inline;
        position: absolute;
        height: 48px;
        width: 400px;
        padding-left: 52px;
        padding-top: 12px;
        bottom: 0px;
    }
    .home-content .floor-container .title .title-wrap a.link-category {
        color: #FFF;
    }
    .home-content .floor-container .title .title-wrap:after {
        position: absolute;
        width: 0px;
        height: 0px;
        content: "";
        left: 100%;
        top: 0px;
        border: 6px solid transparent;
        border-left: 6px solid #000;
        border-bottom: 6px solid #000;
    }
    .home-content .floor-container .floor {
        margin-bottom: 30px; 
    } 
    @media (min-width: 992px) {
        .home-content .floor-container .floor .left-cloned {
            display: none !important;
        }
        .home-content .floor-container .floor .right-side, .home-content .floor-container .floor .right-side.hidden {
            display: block !important;
        }
    }
    .home-content .floor-container .floor .floor-nav-button {
        margin-top: 8px;
    }
    .home-content .floor-container .floor .middle-content img {
        width: 100%;
    }
    .home-content .floor-container .floor .os-product-card img {
        width: 120px;
        max-width: 100%;
        height: 155px;
        margin: auto;
    }
    .home-content .floor-container .floor .os-product-card .image {
        text-align: center;
        background-color: #fff;
    }
    .home-content .floor-container .floor.floor-1 .title,
    .home-content .floor-container .floor.floor-1 .title-wrap {
        background-color: #2b3990;
    }
    .home-content .floor-container .floor.floor-1 .title-wrap:after {
        border-left-color: #2b3990;
        border-bottom-color: #2b3990;
    }
    .home-content .floor-container .floor.floor-2 .title,
    .home-content .floor-container .floor.floor-2 .title-wrap {
        background-color: #1c75bc;
    }
    .home-content .floor-container .floor.floor-2 .title-wrap:after {
        border-left-color: #1c75bc;
        border-bottom-color: #1c75bc;
    }
    .home-content .floor-container .floor.floor-3 .title,
    .home-content .floor-container .floor.floor-3 .title-wrap {
        background-color: #8f53a1;
    }
    .home-content .floor-container .floor.floor-3 .title-wrap:after {
        border-left-color: #8f53a1;
        border-bottom-color: #8f53a1;
    }
    .home-content .floor-container .floor.floor-4 .title,
    .home-content .floor-container .floor.floor-4 .title-wrap {
        background-color: #75bee9;
    }
    .home-content .floor-container .floor.floor-4 .title-wrap:after {
        border-left-color: #75bee9;
        border-bottom-color: #75bee9;
    }
    .home-content .floor-container .floor.floor-5 .title,
    .home-content .floor-container .floor.floor-5 .title-wrap {
        background-color: #f598a4;
    }
    .home-content .floor-container .floor.floor-5 .title-wrap:after {
        border-left-color: #f598a4;
        border-bottom-color: #f598a4;
    }
    .home-content .floor-container .floor.floor-6 .title,
    .home-content .floor-container .floor.floor-6 .title-wrap {
        background-color: #9e1f63;
    }
    .home-content .floor-container .floor.floor-6 .title-wrap:after {
        border-left-color: #9e1f63;
        border-bottom-color: #9e1f63;
    }
    .home-content .floor-container .floor.floor-7 .title,
    .home-content .floor-container .floor.floor-7 .title-wrap {
        background-color: #594a42;
    }
    .home-content .floor-container .floor.floor-7 .title-wrap:after {
        border-left-color: #594a42;
        border-bottom-color: #594a42;
    }
    .home-content .floor-container .floor.floor-8 .title,
    .home-content .floor-container .floor.floor-8 .title-wrap {
        background-color: #f7941e;
    }
    .home-content .floor-container .floor.floor-8 .title-wrap:after {
        border-left-color: #f7941e;
        border-bottom-color: #f7941e;
    }
    .home-content .floor-container .floor.floor-9 .title,
    .home-content .floor-container .floor.floor-9 .title-wrap {
        background-color: #c49a6c;
    }
    .home-content .floor-container .floor.floor-9 .title-wrap:after {
        border-left-color: #c49a6c;
        border-bottom-color: #c49a6c;
    }
    .home-content .floor-container .floor.floor-10 .title,
    .home-content .floor-container .floor.floor-10 .title-wrap {
        background-color: #603913;
    }
    .home-content .floor-container .floor.floor-10 .title-wrap:after {
        border-left-color: #603913;
        border-bottom-color: #603913;
    }
    
    .home-content .floor-container .floor .os-product-card {
        border: 0px;
        margin: 0px;
        min-height: auto;
    }