
.icon-visa-mastercard{
    width: 120px;
    height: 48px;
    background : url(../../img/62hallfamily/visa-master-card.png) no-repeat;
}

.icon-visa{
    width: 72px;
    height: 48px;
    background : url(../../media/img/62hallfamily/sprite_icon.png) -164px -616px;
}

.icon-mastercard{
    width: 78px;
    height: 46px;
    background : url(../../media/img/62hallfamily/sprite_icon.png) -242px -616px;
}

.icon-bca-klikpay{
    width: 222px;
    height: 48px;
    background : url(../../media/img/62hallfamily/sprite_icon.png) -22px -487px;
}

.icon-mandiri{
    width: 148px;
    height: 48px;
    background : url(../../media/img/62hallfamily/mandiri.png) no-repeat;
}

.icon-bca{
    width: 140px;
    height: 48px;
    background : url(../../media/img/62hallfamily/bca.png) no-repeat;
}

.icon-kinerjawallet{
    width: 120px;
    height: 48px;
    background: url(../../media/img/62hallfamily/kinerjawallet.png) no-repeat;
}

.icon-permata-va{
    width: 120px;
    height: 48px;
    background: url(../../media/img/62hallfamily/permatabank.jpg) no-repeat;
}

.icon-permata{
    width: 150px;
    height: 48px;
    background: url(../../media/img/62hallfamily/permatabank.jpg) no-repeat;
}

.icon-bukopin{
    width: 148px;
    height: 48px;
    background: url(../../media/img/62hallfamily/bukopin.png) no-repeat;
}

.icon-danamon{
    width: 148px;
    height: 48px;
    background: url(../../media/img/62hallfamily/danamon.png) no-repeat;
}

.icon-cimb-niaga{
    width: 148px;
    height: 48px;
    background: url(../../media/img/62hallfamily/cimb_niaga.png) no-repeat;
}

.icon-bii{
    width: 148px;
    height: 48px;
    background: url(../../media/img/62hallfamily/bii.png) no-repeat;
}

.icon-bri{
    width: 150px;
    height: 48px;
    background : url(../../media/img/62hallfamily/bri.png) no-repeat;
}

.icon-uob{
    width: 148px;
    height: 48px;
    background : url(../../media/img/62hallfamily/uob.png) no-repeat;
}


.icon-verified-visa{
    width: 98px;
    height: 43px;
    background : url(../../media/img/62hallfamily/sprite_icon.png) -22px -425px;
}

.icon-mastercard-securecode{
    width: 112px;
    height: 43px;
    background : url(../../media/img/62hallfamily/sprite_icon.png) -126px -425px;
}

.icon-mandiri-ib{
    width: 120px;
    height: 48px;
    background: url(../../media/img/62hallfamily/mandiri_ib.png) no-repeat;
}

.icon-paypal{
    width: 120px;
    height: 48px;
    background: url(../../media/img/62hallfamily/paypal.png) no-repeat;
}

.icon-speedcash{
    width: 120px;
    height: 48px;
    background: url(../../media/img/62hallfamily/speedcash.png) no-repeat;
}

.icon-deposit{
    width: 120px;
    height: 48px;
    background: url(../../media/img/62hallfamily/deposit.png) no-repeat;
}

.icon-deposit-lucky{
    width: 120px;
    height: 48px;
    background: url(../../media/img/62hallfamily/deposit_lucky.png) no-repeat;
}

