/* 
Created on : Apr 20, 2016, 8:43:43 AM
Author     : Raymond Sugiarto
*/

/**
 * TABLE OF CONTENT
 * 1. ICON
 *  1.1 BANK
 *  1.2 PAYMENT METHOD
 */

/* 1. ICON */
.it {
    display: inline-block;
    /*border: 1px solid black;*/
}
/* 1.1 BANK */
    .it-bca {
        width: 75px;
        height: 46px;
        background: url(../img/bank.png) -18px -213px;
    }
    .it-mandiri {
        width: 75px;
        height: 46px;
        background: url(../img/bank.png) -116px -213px;
    }
    .it-bri {
        width: 97px;
        height: 46px;
        background: url(../img/bank.png) -217px -213px;
    }
    .it-bukopin {
        width: 120px;
        height: 46px;
        background: url(../img/bank.png) -391px -250px;
    }
    .it-bii {
        width: 47px;
        height: 46px;
        background: url(../img/bank.png) -212px -359px;
    }
    .it-cimb-niaga {
        width: 130px;
        height: 46px;
        background: url(../img/bank.png) -17px -249px;
    }
    .it-danamon {
        width: 88px;
        height: 46px;
        background: url(../img/bank.png) -18px -285px;
    }
/* 1.2 PAYMENT METHOD */
    .it-visa-mastercard {
        width: 133px;
        height: 40px;
        background: url(../img/payment.png) -119px -385px;
    }
    .it-mandiri-ib {
        width: 100px;
        height: 40px;
        background: url(../img/payment.png) -237px -222px;
    }
    .it-paypal {
        width: 133px;
        height: 40px;
        background: url(../img/payment.png) -890px -319px;
    }