/**
 *      GLOBAL STYLE
 *      TABLE OF CONTENT
 *
 *  1.0 - GLOBAL
 *  2.0 - DHTMLXGANTCHART
 *      2.1 - LIGHTBOX
*/

/* 1.0 GLOBAL */
h1, h2, h3, h4, h5{
    color:#005AAC;
}

/* 2. DHTMLXGANTCHART */
.gantt_selected {
    background-color: blue;
}
.red .gantt_cell, .odd.red .gantt_cell,
.red .gantt_task_cell, .odd.red .gantt_task_cell{
    background-color: #FDE0E0;
}
.green .gantt_cell, .odd.green .gantt_cell,
.green .gantt_task_cell, .odd.green .gantt_task_cell {
    background-color: #BEE4BE;
}
.yellow .gantt_cell, .odd.yellow .gantt_cell,
.yellow .gantt_task_cell, .odd.yellow .gantt_task_cell {
    background-color: #FFFF7F;
}

.weekend{ 
    background: #f4f7f4 !important;
}

.gantt_task_cell.weekend{
        background-color: #f4f7f4 !important;
    }
.gantt_task_row.gantt_selected .gantt_task_cell.weekend{
    background-color: #F8EC9C !important;
}

.dhx_calendar_cont input {
    width: 96px;
    padding: 0;
    margin: 3px 10px 10px 10px;
    font-size: 11px;
    height: 17px;
    text-align: center;
    border: 1px solid #ccc;
    color: #646464;
}

.dhtmlxcalendar_dhx_skyblue, .dhtmlxcalendar_dhx_web, .dhtmlxcalendar_dhx_terrace {
    z-index: 999999 !important;
}

.datepicker .datepicker-inline {
  display: none !important;
}
.dhx_calendar_cont {
    width: 350px;
}
#duration {
    float: right;
}
.gantt_grid_head_cell.icon-trash:hover {
    cursor: pointer;
    color: #3DB9D3;
    opacity: 1;
}
.gantt_grid_head_cell.icon-trash {
    color: #3DB9D3;
    font-size: 1.4em;
    border-right: 0px;
    opacity: 0.5;
    border-right:0px !important;
}
.gantt_grid_head_cell.icon-search {
    color: #3DB9D3;
    font-size: 1.4em;
    border-right: 0px;
    opacity: 0.5;
    border-right:0px !important;
}
.gantt_grid_head_cell.icon-search:hover {
    cursor: pointer;
    color: #3DB9D3;
    opacity: 1;
}

/* 2.1 LIGHTBOX */
.notary-lightbox{
    width: 800px !important;
}
    .notary-lightbox-header {
        font-size: 14px;
        font-weight: bold;
    }
    .notary-gantt_cal_larea {
        min-height: 330px !important;
        height: auto !important;
    }
    .notary-lightbox-datepicker {
        padding: auto !important;
        margin: 3px 2px 0px 10px !important;
        width: 88px !important;
        padding: 3px 2px !important;
    }
