@font-face {
  font-family: 'Bellerose';
  src: url('Bellerose.eot');
  src: url('Bellerose.woff2') format('woff2'),
       url('Bellerose.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BelleroseLight';
  src: url('BelleroseLight.woff') format('woff'),
       url('BelleroseLight.ttf') format('truetype'),
       url('BelleroseLight.svg#BelleroseLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

